

			<link rel="stylesheet" type="text/css" href="assets/css/linearicons.css">
			<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="assets/css/jquery.DonutWidget.min.css">
			<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
			<link rel="stylesheet" type="text/css" href="assets/css/main.css">
            <link rel="stylesheet" type="text/css" href="assets/css/footer.css">
			<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">




			<!-- Start Header Area -->
			<header class="default-header" style="background-color: rgba(92,86,107, 1);">
				<nav class="navbar navbar-expand-lg  navbar-light">
					<div class="container">
						  <a class="navbar-brand" href="index">
						  	<img src="assets/img/suite1.png" alt="" style="width: 92%;margin-top: -12%;margin-left: -80%;">
						  </a>
						  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-icon"></span>
						  </button>

						  <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
						    <ul class="navbar-nav" style="font-size: 129%;margin-left: -19%;">
								<li class="dropdown"><a href="#home">Solutions</a>
                                <div class="dropdown-menu">
							        <a class="dropdown-item" href="generic.html" style="color:#000">Generic</a>
							        <a class="dropdown-item" href="elements.html"style="color:#000">Elements</a>
							      </div>
                                </li>
								<li class="dropdown"><a href="#service">Enterprise</a>
                                <div class="dropdown-menu">
							        <a class="dropdown-item" href="generic.html"style="color:#000">Generic</a>
							        <a class="dropdown-item" href="elements.html"style="color:#000">Elements</a>
							      </div>
                                </li>
								<li class="dropdown"><a href="#project">Join the project</a>
                                <div class="dropdown-menu">
							        <a class="dropdown-item" href="generic.html"style="color:#000">Generic</a>
							        <a class="dropdown-item" href="elements.html"style="color:#000">Elements</a>
							      </div>
                                </li>
								<li class="dropdown"><a href="#blog">Resources</a>
                                <div class="dropdown-menu">
							        <a class="dropdown-item" href="generic.html"style="color:#000">Generic</a>
							        <a class="dropdown-item" href="elements.html"style="color:#000">Elements</a>
							      </div>
                                </li>
								<li class="dropdown"><a href="#team">About</a>

                                <div class="dropdown-menu">
							        <a class="dropdown-item" href="generic.html"style="color:#000">Generic</a>
							        <a class="dropdown-item" href="elements.html"style="color:#000">Elements</a>
							      </div>
                                </li>
							   <!-- Dropdown -->
							    <li class="dropdown">


							      <button   id="navbardrop" data-toggle="dropdown" style="background-color: #dc6254;border-radius:5px;height: 35px; border-style:none;margin-top: -12%;" >
							        Demo
                    </button>
							    </li>
                                <li>
                                <button  href="#" id="navbardrop" data-toggle="dropdown" style="background-color: #dc6254;border-radius:5px;height: 35px;width: 120%; border-style:none;margin-top: -12%;margin-left: 28%" >
							        Download
							      </button>
                                </li>
						    </ul>
						  </div>
					</div>

				</nav>
            </header>
                <div style="font-size: 188%;">Get started with a Free Online Demo</div>
            <div style="font-size:100%;">Want to test SuiteCRM right now? Simply create your instant Free SuiteCRM account, and get access to the demo and the support forum.</div>

            <div><img src="assets/img/1a.png" alt="" style="width:100%">
</div>
<a routerLink="/reg"><button id="navbardrop" data-toggle="dropdown" style="margin-left: 29%;background-color: #dc6254;border-radius:5px;text-align: center;height: 45px;width:35%; border-style:none;" >
							        GET YOUR ONLINE DEMO
							      </button></a><br><br>

              <footer role="contentinfo" class="fusion-footer-widget-area fusion-widget-area">
		<div class="fusion-row">

			<div class="fusion-columns fusion-columns-4 fusion-widget-area">

<div class="fusion-column col-lg-3 col-md-3 col-sm-3" style="margin-left: 8%;">
							<section id="nav_menu-2" class="fusion-footer-widget-column widget widget_nav_menu"><h4 class="widget-title" style="color:#fff">Solutions</h4><div class="menu-footer-solutions-container"><ul id="menu-footer-solutions" class="menu"><li id="menu-item-1099" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1099"><a href="https://suitecrm.com/solutions/role/sales/"style="color:#fff">Sales</a></li>
<li id="menu-item-1100" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1100"><a href="https://suitecrm.com/solutions/role/marketing/"style="color:#fff">Marketing</a></li>
<li id="menu-item-1098" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1098"><a href="https://suitecrm.com/solutions/role/service/"style="color:#fff">Service</a></li>
<li id="menu-item-1102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102"><a href="https://suitecrm.com/solutions/compare-with-salesforce/"style="color:#fff">Compare with Salesforce</a></li>
<li id="menu-item-448" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-448"><a href="https://suitecrm.com/solutions/compare-with-microsoft-dynamics/"style="color:#fff">Compare with Microsoft Dynamics</a></li>
                                </ul></div><div style="clear:both;"></div></section>																					</div></div>
<div class="fusion-column col-lg-3 col-md-3 col-sm-3" style="margin-left: 33%;margin-top: -7.5%;">
							<section id="nav_menu-4" class="fusion-footer-widget-column widget widget_nav_menu"><h4 class="widget-title" style="color:#fff">Resources</h4><div class="menu-footer-resources-container"><ul id="menu-footer-resources" class="menu"><li id="menu-item-434" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-434"><a href="https://suitecrm.com/download/" style="color:#fff">Download</a></li>
<li id="menu-item-645" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-645"><a href="http://docs.suitecrm.com/user" style="color:#fff">User Guide</a></li>
<li id="menu-item-647" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-647"><a href="http://docs.suitecrm.com/developer" style="color:#fff">Developer Guide</a></li>
<li id="menu-item-646" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-646"><a href="http://docs.suitecrm.com/admin" style="color:#fff">Administrator Guide</a></li>
<li id="menu-item-1338" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1338"><a href="https://github.com/salesagility/SuiteCRM" style="color:#fff">GitHub</a></li>
</ul></div><div style="clear:both;"></div></section>																					</div>
<div class="fusion-column col-lg-3 col-md-3 col-sm-3" style="margin-left: 58%;margin-top: -8%;margin-top: -150;">
							<section id="nav_menu-3" class="fusion-footer-widget-column widget widget_nav_menu"><h4 class="widget-title" style="color:#fff">Interact</h4><div class="menu-footer-interact-container"><ul id="menu-footer-interact" class="menu"><li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-118 current_page_item menu-item-427"><a href="https://suitecrm.com/demo/" style="color:#fff">Demo</a></li>
<li id="menu-item-648" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-648"><a href="https://suitecrm.com/suitecrm/forum" style="color:#fff">Forum</a></li>
<li id="menu-item-828" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-828"><a href="https://suitecrm.com/join-the-project/participate/" style="color:#fff">Participate</a></li>
<li id="menu-item-433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-433"><a href="https://suitecrm.com/about/about-us/contact/" style="color:#fff">Contact</a></li>
<li id="menu-item-650" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-650"><a href="https://suitecrm.com/suitecrm/download/index.php?option=com_users&amp;view=registration&amp;Itemid=1292" style="color:#fff">Login</a></li>
</ul></div><div style="clear:both;"></div></section>																					</div>
<div class="fusion-column fusion-column-last col-lg-3 col-md-3 col-sm-3" style="margin-left: 80%;margin-top: -8%;margin-top: -150;">
							<section id="nav_menu-5" class="fusion-footer-widget-column widget widget_nav_menu"><h4 class="widget-title" style="color:#fff">About</h4><div class="menu-footer-about-container"><ul id="menu-footer-about" class="menu"><li id="menu-item-441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-441"><a href="https://suitecrm.com/about/about-us/salesagility/" style="color:#fff">SalesAgility</a></li>
<li id="menu-item-442" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-442"><a href="https://suitecrm.com/enterprise/suiteassured/" style="color:#fff">SuiteAssured</a></li>
<li id="menu-item-443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-443"><a href="https://suitecrm.com/about/about-us/facts-and-numbers/" style="color:#fff">Facts and Numbers</a></li>
<li id="menu-item-445" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-445"><a href="https://suitecrm.com/about/newsroom/case-studies/" style="color:#fff">Case Studies</a></li>
<li id="menu-item-446" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-446"><a href="https://suitecrm.com/about/newsroom/news/" style="color:#fff">News</a></li>
                                </ul></div><div style="clear:both;"></div></section>																					</div>		</div>



            </footer>
			<!-- End Header Area -->

			<!-- start banner Area -->

