<!DOCTYPE html>
<html lang="en">
<head>
  <title>Store Front</title>
<link rel="shortcut icon" href="logo.png" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .s1
  {
	background-color: #f5f5f7;
  }
  .s2
  {
	width:90%;
	margin-left:50px;
  }
  .s3
  {
	width:78%;
  }
  .s4
  {
	float: right;
    margin-top: -29px;
    width: 71px;
  }
  .s5
  {
	background-color: #363636;
	color:white;
  }
  .s6
  {
	    height: 44px;
  }
  .s7
  {
      box-shadow: -1px 3px 12px -2px #cac6c6;
  }
  .s8
  {
	background-color: #e2dede;
    width: 211px;
    margin-left: 1px;
    height: 36px;
  }
  .s9
  {
	    margin-top: 10px;
  }
  .s10
  {
	    margin-top: 13px;
  }
  .s11
  {
	font-size: 19px;
	padding: 0px 4px;
  }
  .s12
  {
	    height: 37px;
  }
  .s13
  {
	    height: 420px;
  }
  .navbar-inverse 
  {
    background-color: #0a9fe4;
	border:none;
  }
  .navbar-inverse .navbar-nav>li>a 
  {
    color: #f7f4f4;
  }
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
	}

	.price {
	  color: grey;
	  font-size: 22px;
	}

	.card button {
	  border: none;
	  outline: 0;
	  padding: 12px;
	  color: white;
	  background-color: #000;
	  text-align: center;
	  cursor: pointer;
	  width: 100%;
	  font-size: 18px;
	}

	.card button:hover {
	  opacity: 0.7;
	}
    .buttonsDiv>button{display: block;float: left;border:1px solid #ddd; background-color: #eee;color: #888;line-height: 38px;font-weight: 700;}
  </style>
  
</head>
<body class="s2">

<div class="container s1">
  <div class="row s6">
		<div class="col-sm-9"><strong>$</strong></div>
		<div class="col-sm-3 s10">
			<i class="fa fa-phone s11"></i>
			<i class="fa fa-user s11"></i>
			<i class="fa fa-heart s11"></i>
			<i class="fa fa-shopping-cart s11"></i>
            <a href="/Empty" style="text-decoration: none">Logout</a>
		</div>
  </div>
</div><br>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3"><a href=""><h2>Your Store</h2></a></div>
		<div class="col-sm-5"><input type="text" placeholder="Search.." class="form-control s3">
			<button type="submit" class="s4"><i class="fa fa-search" ></i></button>
		</div>
		<!--<div class="col-sm-4"><button type="submit" class="form-control s5">
			<i class="fa fa-shopping-cart"></i>
			items(0)</button>
		</div>-->
			<div class="container">
			  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" style='display:none'>
				<i class="fa fa-shopping-cart"></i>items
			</button>
			  <div id="demo" class="collapse" style="border:1px solid #dcdcdc; width:34%;float:right;background-color:#f5f5f7;">
				<div id = 'details' ></div>
				<form action="Cart" method="post" id="cartForm">
                    <input type="text" id='array' name='abc' value='{"selectedProducts":[],"quantity":[]}' style='display:none'> 
					<!--<input type="submit" value="cart">-->
			    </form>
			  </div>
			</div>
	</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Desktops<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
		 <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Laptops and Nootebooks<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
		 <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Components<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Tablets</a></li>
        <li><a href="#">Software</a></li>
		<li><a href="#">Phones and PDA's</a></li>
        <li><a href="#">Cameras</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>

    <p id='cartPara' class='alert-success' style="padding: 10px;border-radius: 5px;display:none;margin: 0px 38px 12px;"><span id='span1'></span> <button type="submit" form="cartForm" style='border:none;background:none;color:#23a1d1'>Shopping Cart!!</button><span id='span2'></span></p>

<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner s7">
      <div class="item active">
        <img src="iPhone6-1140x380.jpg" alt="Los Angeles">
      </div>

      <div class="item">
        <img src="MacBookAir-1140x380.jpg" alt="Chicago" style="width:100%;">
      </div>
    
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><br>
<div class="row">
    <% products.forEach((product)=>{ %>
    <div class="col-sm-3">
        <div style="border: 1px solid #ddd;overflow: auto;">
            <div style="text-align:center"> <img style="height: 200px;width:200px" src = <%=product.image %>> </div>    
            <div style="padding:20px">
                <label style="color: #23a1d1;"><%= product.productName %></label><br>
                
                <% product.productName%>
                <% if(product.description.length>61){ %>
                <% var str = product.description; %>
                <% var str = str.substring(0,61); %>
                <%=str+'...' %>
                <% }else{ %>
                <div style="height: 40px;"><%= product.description %></div>
                <% } %>
                <label> &#8377; <%= product.price %></label>
            </div>
            <div class="buttonsDiv">
                <button type="button" style="width:60%;" onclick=" update('<%= product.productName %>')"><i class="fa fa-shopping-cart"></i>ADD TO CART</button>
                <button type="button" style="width:20%;"><i class="fa fa-heart-o"></i></button>
                <button type="button" style="width:20%;"><i class="fa fa-exchange"></i></button>
            </div>
        </div>
    </div>
    <% }); %>
</div>
</div><br><br>  
<script>
    var count=1;
    var cartProducts = {};
    cartProducts.selectedProducts = [];
    cartProducts.quantity = [];
    function update(productName){
        var index=cartProducts.selectedProducts.indexOf(productName);
        if(index === -1)
        {
            cartProducts.selectedProducts.push(productName);
            cartProducts.quantity.push(1);
        }
        else
        {
            cartProducts.quantity[index]=cartProducts.quantity[index]+1;
        }
        let jsonString = JSON.stringify(cartProducts);
        document.getElementById('array').value=jsonString;
        
        document.getElementById('cartPara').style.display='block';
        document.getElementById('span1').innerHTML='You have added '+productName+' to your' 
        document.getElementById('span2').innerHTML='<b>Total :'+ count +'</b> items.';
        count += 1;
    }
</script>
    <div class = 'container' style = 'text-align:center;height: 22%;'>
        <a href = '#'>opencart</a>
        &copy;2009-2018 All Rights Reserved.
    </div>
</body>
</html>
