<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
    background-color:#f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  padding: 10px 16px;
  background: white;
  color: white;
   box-shadow: 5px 2px 8px 2px #ddd;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
a:hover{
    color: red;
}
* {box-sizing: border-box;}

   .button {
    color: #666;
    padding:0.7% 25%;
    text-align:block;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #b41c4f;
    color: white;
    border: 2px solid;
}

.button1:hover {
    background-color: #666;
    color: white;
}

</style>
</head>
<body>



<div class="header" id="myHeader" style="background-color:#747474">
  <a href="index"><img src="assets/img/1b.png" alt="" style="width:12%" ></a>
</div>
<div>
<br>
<br>
<hr>
</div>
<div>
    <p style="margin-left:30px;">Already have an account? <a routerLink="/login">Login here</a></p>
</div>
<div style="margin-left:600px; "><p style="color:gray;"><b>User Registration</b></p></div><br>
<div style="margin-left:25px;">
  <div class="form-group">
    {{messege}}
    <form class="form-signin" [formGroup]="registerForm" method="POST">

    <p>Name*</p><br>
    <input type="text" formControlName="userName1"  [(ngModel)]="model.userName1"  class="form-control" name="username"style="padding: 10px 250px;" required/>
    <p>Username*</p><br>
    <input type="text" name="accntName" class="form-control"  style="padding: 10px 250px;" required/>
    <p>Email Address*</p><br>
    <input type="text" name="email" class="form-control"  style="padding: 10px 250px;" required/>
    <p>Confirm Email Address*</p><br>
    <input type="text" name="confirmationemail"  formControlName="userEmail1" [(ngModel)]="model.userEmail1" class="form-control"  style="padding: 10px 250px;" required/>
    <p>Password*</p><br>
    <input type="password" name="password"    class="form-control"  style="padding: 10px 250px;" required/>
    <p>Confirm Password*</p><br>
    <input type="password" name="confirmationPassword" formControlName="userPassword1" [(ngModel)]="model.userPassword1" class="form-control"  style="padding: 10px 250px;" required/>








<div style="margin-left:50px;">
<br>
<br>

  <p style="margin-left:50%;font-size:25px;color:#747474;">Fields</p>
  <p>I've read and accept the Private Policy*</p>
  <input type="checkbox">Yes
  <p>I wish to get monthly up-to-date info about SuiteCRM releases, security patches and other SuiteCRM news</p>
  <input type="checkbox">Yes
  <p>I wish to get monthly up-to-date info about SuiteCRM releases, security patches and other SuiteCRM news</p>
  <input type="checkbox">Yes
  <br>
  <br>
  <br>

      <div style="margin-top: -2%;"><button class="button button1" (click)="register()" style="margin-left:0px;border-radius: 5px;margin-bottom:25px;"><a style="color:white;"><u>Sign up</u></a></button></div>
	  <p style="font-size:17px;">For further details on our data protection policy, including how we use and store your details or our policies regarding the collection, use or disclosure of your personal data please <a href="#">click here</a>

</p>

</div>
</form>
</div>
<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
