


<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#">
          <img src='assets/images/spider.png' style=" height:50px; "/>
        </a>
      </mdb-navbar-brand>
      
      <links class="collapse" style="margin-left:56">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light active" style="padding-top: -1px;" mdbWavesEffect>
            
            <a class="nav-link" style="padding-left: 40px;">Home
              <span class="sr-only">(current)</span>
            </a>
          
          </li>
          <li class="nav-item dropdown btn-group" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect style="padding-left: 40px;">
                    Events
                </a>
                <div class="dropdown-menu dropdown-primary dropdown-menu-right" style="background-color: black; color:white;" role="menu">
                    <a class="dropdown-item" style="color:white;" routerLink="login">Add Event</a>
                    <a class="dropdown-item"  style="color:white;" routerLink="/showEvents">Show Events</a>
                    
                </div>

            </li>
               <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" style="padding-left: 40px;">About</a>
          </li>
        </ul>
      </links>
   
    </mdb-navbar>
    <!-- Main -->
    <div class="view intro-2" >
      <div class="full-bg-img">
        
          <div class="container text-center white-text wow fadeInUp">
            <div class="row">
              <div class="col-sm-9"></div>
              <div class="col-sm-3"><div style="margin-top: 120px;"><h2 class="focus-title"><b>Life is in Your Hands</b></h2><p class="info-focus"><span>Personal Assistant that helps millions of people all over the world to boost their productivity. It’s an easy-to-use and yet super powerful  that puts everything related to your schedule in one place: your
</span><span style="color:black;font-weight:bold">CALENDAR, TO-DO LIST, NOTES&nbsp;</span><span>and Personal Accounts. 24me saves you time for the things that matter most in your life.</span></p></div></div>
            </div>
            

          </div>
        </div>
      </div>
    
    <!-- /.Main -->
</header>
<!-- start content --><div style="padding-top:75px; padding-bottom:0px" class="features content clearfix"><!-- info-left --><!-- image --><div class="column_one_half last"><div class="thumb feature right"><img src="/assets/images/phone.png" alt="" ></div></div></div><div style="padding-top:50px; padding-bottom:0px" class="content clearfix"><!-- video --></div>
  <!--Main Navigation-->

  <!--Main Layout-->
 
  <!--Main Layout-->