.view {
    background : url("/assets/images/background.jpg");
    background-size: cover;
    height: 100vh;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: ;
    }
}
.collapse
{
	margin-left: 578px;
}
/*a:active { 
    color: yellow;
}*/

a:hover {
    background-color: red;
}
.nav-item .waves-light .active .nav-link>a:active,a:hover { 
    background-color: red;
}
