<input id="text1" type="text" name="email1"  [(ngModel)]="warnMessege"><br/>

<div>
  <label><button type="button" class="btn btn-primary btn-sm" id="butn" (click)="addWarn()">Warning</button></label>

</div>
<p *ngFor="let mes of warnMes" id="pp">{{mes}}</p>


