


p {
    padding: 7px 0 7px 0;
    font-weight: 500;
    font-size: 10pt;
}
a {
    color: #0a84e6;
    text-decoration:none;
}
a:hover{
    color: #abda0f;
    text-decoration: none;
}
h1 {
    FONT-WEIGHT: normal;
    FONT-SIZE: 20px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    padding-left:37px;
    margin:7px 5px 8px 8px;
}
h4 {
    padding:1px;
    color: #ACACAC;
    font-size:9pt;
    font-weight:100;
    text-transform:uppercase;
}
form.register{
    width:900px;
    margin: 50px;
    height:100%;
    background-color:#fff;
    padding:5px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
form p{
    
    clear:both;
    margin: 0;
    color:gray;
    padding:4px;
}
form.register fieldset.row1
{
    width:inherit;
    padding:5px;
    float:left;
    border-top:2px solid #e8e8e8;
    border-right: 1px solid #F1F1F1;
    margin-bottom:15px;
}
form.register fieldset.row1 label{
    
    
    width:140px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.register fieldset.row2
{  
    border-top:2px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    width: inherit;
    padding:5px;
    float:left;
}
form.register fieldset.row3
{
    border-top:2px solid #F1F1F1;
    border-right: 1px solid #F1F1F1;
    padding:5px;
    float:left;
    margin-bottom:15px;
    width: inherit;
   
}
form.register fieldset.row4
{
    border-top:2px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    padding:5px;
    float:left;
    clear:both;    
    width: inherit;
    margin-bottom: 40px;
}
form.register .infobox{
    margin-top: 20px;
    border: 2px solid #F1F1F1;
    padding: 20px;
    width: 677px;
    height: 265px;
    font-size: 12px;
    
}
form.register legend
{
     color: #656565;
    padding: 20px;
    margin-left: 47px;
    font-weight: bold;
    font-size: 17px;
    font-weight: 100;
}
form.register label{
    color:#444;
    width: 142px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.register label.optional{
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
    color: #A3A3A3;
}
form.register label.obinfo{
    float:right;
    padding:3px;
    font-size: 13px;
    font-style:italic;
}
form.register input{
    width: 250px;
    color: #505050;
    float: left;
    margin-right: 8px;
}
form.register input.long{
    width: 247px;
    color: #505050;
}
form.register input.short{
    width: 40px;
    color: #505050;
}
form.register input[type=radio]
{
    float:left;
    width:15px;
}
form.register label.gender{
    margin-top:-1px;
    margin-bottom:2px;
    width:34px;
    float:left;
    text-align:left;
    line-height:19px;
}
form.register input[type=text]
{   margin-bottom: 3px;
    margin-top: 3px;
    border: 1px solid #ACD4ED;
    height: 25px;
}
form.register input[type=email]
{   margin-bottom: 3px;
    margin-top: 3px;
    border: 1px solid #ACD4ED;
    height: 25px;
}

  
form.register input[type=password]
{   margin-bottom: 3px;
    margin-top: 3px;
    border: 1px solid  #ACD4ED;
    height: 25px;
}
.button
{
    background: #199DE0;
    padding: 8px 20px 8px;
    color: #fff;
    text-decoration: none;
   
    cursor: pointer;
    float:left;
    height: 35px;

    border: 1px solid #199DE0;
    
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    
    margin-bottom: 40px;
    margin-left:-305px;
}
.button1
{
    background:white;
    padding: 8px 20px 8px;
    color: #199DE0;
    text-decoration: none;
  
    cursor: pointer;
    float:left;
    font-size:18px;
    margin-bottom: 40px;
margin-left:-197px;
height: 35px;

border: 1px solid #199DE0;

display: inline-block;
font-size: 13px;
font-weight: 300;
}
.button2
{
    background: rgb(255, 255, 255);
    padding: 8px 20px 8px;
    color: #199DE0;
    text-decoration: none;
   
    cursor: pointer;
    
    height: 35px;

    border: 1px solid rgb(255, 255, 255);
    
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    
    
}








form.register input[type=text].year
{
    border: 1px solid #ACD4ED;
    height: 23px;
    width: 48px;
}
form.register input[type=checkbox] {
    width:14px;
    margin-top:4px;
}
form.register select
{   height: 25px;
    border: 1px solid  #ACD4ED;
    width: 170px;
    float:left;
    margin-bottom:5px;
    color: #505050;
    margin-right:5px;
    margin-bottom: 3px;
    margin-top: 3px;
}
form.register select.date
{
    width: 40px;
}
input:focus, select:focus{
    background-color: #efffe0;
}
p.info{
    font-size:7pt;
    color: gray;
}
p.agreement{
    margin-left:15px;
}
p.agreement label{
    width:390px;
    text-align:left;
    margin-top:3px;
}





.header {
  overflow: hidden;
  background-color: #003147;
  padding: 12px 18px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 18px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 3em;
  font: Arial, Verdana, sans-serif;
  
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
hr {
   
  border: 0;
  clear:both;
  display:block;
  width: 138%;              
  background-color:#D7D7D7;;
  height: 2px;
}

.sgnfooterwrapper {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.paddingTop5 {
    padding-top: 5px;
}
.sgnfooteritem {
    font-size: 11px;
    margin: 0 0 0 20px;
}
.sgnfootercopyright {
    float: right;
    color: #a4a4a4;
    font-size: 11px;
}
 .img
{   border-top: 0;
        margin-left: 1055px;
    margin-top: -1643px;
    float: left;
    padding: 5px;
    
}
.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }



    .container {
        position: relative;
        width: 100%;
        max-width: 400px;
         margin-left: 1055px;
        margin-top: -1643px;
    }
    
    .container img {
        height: 100ox;
        width: 30%;
        height: auto;
    }
    
    .container .btn {
        position: absolute;
        ;
        
        
        top: 125px;
        left: 38px;
        color: #00679E;
        font-family: Arial;
        background-color: #f7f7f7;
       
        font-size: 16px;
        
        border: none;
        cursor: pointer;
       
        text-align: center;
    }
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
    .panel
    {   
        width: 70%;
        background-color: #98d0ff !important;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #355a9f;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #f8f8f8;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 75px;
        font-size: 36px;
        margin-left: 0px;
    }
    
    #main {
        transition: margin-right .5s;
        
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    .panel1 .panel
    {   width: 90%; 
        margin-left: 15px;
        margin-right: 5px;
    }
    .panel2 .panel-body a
    {
         cursor: pointer;
        font-size: 45px;
        font-size: 16px;
    }
    .panel2 .panel
    {  
        width: 90%; 
        margin-left: 15px;
        margin-right: 5px;
    }
    .panel1 .panel-heading
    {
       background-color: #eee !important;
    }
    .panel1 .panel-body{
        height: 300px;
        padding: 4px !important;
        
    }
    .panel1 .panel-body a
    {
    
    background-color: #fff;
    color: blue;
    font-size: 12px;
    }
    .panel1 .panel-body a:hover
    {cursor: pointer;
    color: black;    
    }
    