<html ng-app="myApp">
  <head>
  <title>password validation using angular js</title>
  <style>
  .button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
  </style>
  <script src="angular.js"></script>
  </head>
  <body ng-controller="test">
       <h1 align=center>Registration Form</h1>
	       <div class="container-fluid body1" style="width:70%;height:100%;background-color: black;align:center;margin-left:190; ">

       <form name="registration">
	   <br>
	   <div style="text-align: center;">
	   		  <div><h3><span style="font-size:28px;color:white;">UserName :</span>
<input type="text" name="UserName" placeholder=" Enter UserName" style="font-size : 35px;padding:1 0;align : center;margin-left:112" required></div>

					<marquee style="color:blue;font-size:60;">{{password}}</marquee>

		  <h3><span style="font-size:28px;color:white;">Password :</span>

       <input type="password" name="password" placeholder="Enter Password"
	          ng-model="password"
			  required
			  ng-init="password_error_show=0"
			  ng-focus="password_eror_show=1"
			  ng-change="password_error_show = password_error_show + 1;changepassword()"
			  style="font-size : 35px;padding:1 0;margin-left:125;border-radius:15;">

       <div style="color:#ff0000;"
	       ng-show="!passValidation && password_error_show > 0">
		  <div>Please enter right password.</div>
		   <div style="margin-left: 19em;">
		      Password must be alphanumeric, one lower & upper latter & one special character (!@#$%^&*).
			  </div>
			  <div style="margin-left: 2em;">
			   Password length must be 8 to 12.
              </div>
           </div>
		   <br>
		   <h3><span style="font-size:28px;color:white;">Confirm Password:</span>
		   <input type="password" name="cpassword" placeholder="Confirm Password"
		          ng-model="cpassword"
				  required
				  ng-init="cpassword_error_show = 0"
				  ng-focus="cpassword_error_show = 1"
				  ng-change="cpassword_error_show = cpassword_error_show + 1;changepassword()"
				  style="font-size:35px;margin-left:20">
			<p>
			<span style="color:#ff0000;margin-left: -0.5em;" ng-show="cpassword_error_show > 0 && password !== cpassword">Password Miss-match</span>
			<span style="color:#3c823f;margin-left: -2.5em;" ng-show="cpassword_error_show > 0 && password === cpassword && passValidation">Password Matched</span>
			</p>
			</h3>
			</div>
			<div class="checkbox head1">
      <label style="color:white;margin-left:350;margin-top:100;"><input type="checkbox" name="terms" class="head2" checked> Terms and Conditions applied</label>
    </div>
	<p class="head1" style="color:white;margin-left:400;margin-top:50;font-size:200;"><input class="button" type="submit" value="Register"></p>
			</form>
			</div>
			</body>

			<script>
			    var app = angular.module('myApp', []);
				app.controller("test", function($scope){
					$scope.passValidation = false;
					$scope.changepassword = function()
					{
						var regexp=/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,12}$/;
						if (regexp.test($scope.password) == false)
						{
							$scope.passValidation = false;
						}
						else
						{
							$scope.passValidation = true;
						}
					};
				    });
					</script>
             </html>