*/*Set's border, padding and margin to 0 for all values*/
{
    padding: 0;
    margin: 0;
    border: 0;
}
body, html {
    color: #373C40;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    height: 100%;
    margin-bottom: 40px;
    
}
body {    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
}

p {
    padding: 7px 0 7px 0;
    font-weight: 500;
    font-size: 10pt;
}
a {
    color: #0a84e6;
    text-decoration:none;
}
a:hover{
    color: #abda0f;
    text-decoration: none;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eee !important;
}
h1 {
    font-family:monospace;
    font-weight:200;
    color: #888888;
    font-size:22pt;
    padding-left:37px;
    margin:7px 5px 8px 8px;
}
h4 {
    padding:1px;
    color: #ACACAC;
    font-size:9pt;
    font-weight:100;
    text-transform:uppercase;
}
h5 {
    font-size: 16px !important;
}
.inlineDescriptionText {
    font-size: 11px;
    COLOR: #767676;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}
form.register{
    width:850px;
    margin: 50px;
    height:100%;
    background-color:#fff;
    padding:5px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
form p{
    
    clear:both;
    margin: 0;
    color:gray;
    padding:4px;
}
 fieldset.row1
{
    width:inherit;
    padding:5px;
    
    border-top:2px solid #d8d8d8;
    border-right: 1px solid#d8d8d8;
    margin-bottom:15px;
}
 fieldset.row1 label{
    
    
    width:140px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
 fieldset.row2
{  
    border-top:2px solid #d8d8d8;
    border-right:1px solid #d8d8d8;
    width: inherit;
    padding:5px;
    
}
fieldset.row3
{
    border-top:2px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    padding:5px;
   
    margin-bottom:15px;
    width: inherit;
   
}
 fieldset.row4
{
    border-top:2px solid #d8d8d8;
    border-right:2px solid #d8d8d8;
    padding:5px;
    
    clear:both;    
    width: inherit;
    margin-bottom: 40px;
}
 .infobox{
    margin-top: 20px;
    border: 2px solid #F1F1F1;
    padding: 20px;
    width: 677px;
    height: 265px;
    font-size: 12px;
    background: #FDFEFA url(../img/bg_infobox.gif) repeat-x top left;
}
 legend
{
     color: #656565;
    padding: 20px;
    margin-left: 47px;
    font-weight: bold;
    font-size: 17px;
    font-weight: 100;
}
 label{
    color:#444;
    width: 142px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
label.optional{
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
    color: #A3A3A3;
}
 label.obinfo{
    float:right;
    padding:3px;
    font-size: 13px;
    font-style:italic;
}
 input{
    width: 250px;
    color: #505050;
    float: left;
    margin-right: 8px;
}
 input.long{
    width: 247px;
    color: #505050;
}
 input.short{
    width: 40px;
    color: #505050;
}
input[type=radio]
{
    float:left;
    width:15px;
}
 label.gender{
    margin-top:-1px;
    margin-bottom:2px;
    width:34px;
    float:left;
    text-align:left;
    line-height:19px;
}
 input[type=text]
{   margin-bottom: 3px;
    margin-top: 3px;
    border: 1px solid #ff296b;
    height: 25px;
    width: 310px;
}
input[type=date]
{   margin-bottom: 3px;
    margin-top: 3px;
    border: 1px solid #ff296b;
    height: 25px;
    width: 310px;
}
 input[type=email]
{   margin-bottom: 3px;
    margin-top: 3px;
    border: 1px solid #ff296b;
    height: 25px;
}

  
 input[type=password]
{   margin-bottom: 3px;
    margin-top: 3px;
    border: 1px solid  #ff296b;
    height: 25px;
}
.button
{
    background: #5ab9ff;
    padding: 8px 20px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(62, 181, 255, 0.96);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
    font-size:18px;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 40px;
}
.button:hover
{
    background: #0070c3;
    padding: 8px 20px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(62, 181, 255, 0.96);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
    font-size:18px;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 40px;
}
.button1
{
    background: #fff;
    padding: 8px 20px 8px;
    color: #5ab9ff;
    text-decoration: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(62, 181, 255, 0.96);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
    font-size:18px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 40px;
}
.button1:hover
{
    background: #ff6767;
    padding: 8px 20px 8px;
    color: #3c3c3c;
    text-decoration: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(62, 181, 255, 0.96);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
    font-size:18px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 40px;
}
.buttonadd
{  
    background: white;
    padding: 8px 20px 8px;
    color:  #204bff;
    text-decoration: none;
    
    -moz-box-shadow: 0 1px 3px #003bff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 39, 255, 0.9);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
        font-size: 11px;
    margin-bottom: 5px
}
.buttonadd:hover
{  
    background:#204bff ;
    padding: 8px 20px 8px;
    color: white ;
    text-decoration: none;
    
    -moz-box-shadow: 0 1px 3px rgba(0, 59, 255, 0.92);
    -webkit-box-shadow: 0 1px 3px rgba(0, 39, 255, 0.9);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
        font-size: 11px;
    margin-bottom: 5px
}
 textarea
{
  border: 1px solid #ff296b;   
}
 input[type=text].year
{
    border: 1px solid #ff296b;
    height: 23px;
    width: 48px;
}
 input[type=checkbox] {
    width:14px;
    margin-top:4px;
}
 select
{   height: 25px;
    border: 1px solid  #ff296b;
    width: 170px;
    float:left;
    margin-bottom:5px;
    color: #505050;
    margin-right:5px;
    margin-bottom: 3px;
    margin-top: 3px;
}
 select.date
{
    width: 40px;
}
input:focus, select:focus{
    background-color: #efffe0;
}
p.info{
    font-size:7pt;
    color: gray;
}
p.agreement{
    margin-left:15px;
}
p.agreement label{
    width:390px;
    text-align:left;
    margin-top:3px;
}





.header {
  overflow: hidden;
  background-color: #003147;
  padding: 12px 18px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 18px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 21px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
hr {
   
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#505050;
  height: 2px;
}

.sgnfooterwrapper {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.paddingTop5 {
    padding-top: 5px;
}
.sgnfooteritem {
    font-size: 11px;
    margin: 0 0 0 20px;
}
.sgnfootercopyright {
    float: right;
    color: #a4a4a4;
    font-size: 11px;
}
 .img
{   border-top: 0;
    margin-left: 1020px;
    margin-top: -1753px;
    float: left;
    padding: 5px;
    
}
.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
h3
{
    padding-left: 20px;
    
}
.nav-tabs {
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 1px solid #dd;
    width: 1140px;
}
.sidenavbox 
{
    margin-left: 970px;
  
    text-align: center;
    width: 250px;
    height: 400px;
    border: 1px solid #7b7b7b;
}
.sidenavi {
    
    padding: 15px;
    padding-bottom: 30px;
    float: right;
    width: 210px;
    top: 20px;
    left: 10px;
    background: #fff;
    text-align: center;
    margin-left: 300%;
    margin-top: -350%;

    border: 1px solid #eee
}

.sidenavi a {
    padding: 10px;
   margin-left: 10px;
       text-decoration: none;
    font-size: 14px;
    color: #2196F3;
    display:list-item;
    list-style: none;
}

.sidenavi a:hover {
    color: #064579;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.panel
{   
    width: 70%;
    background-color: #98d0ff !important;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #355a9f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 75px;
    font-size: 36px;
    margin-left: 0px;
}

#main {
    transition: margin-right .5s;
    
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.panel1 .panel
{   width: 90%; 
    margin-left: 15px;
    margin-right: 5px;
}
.panel2 .panel-body a
{
     cursor: pointer;
    font-size: 16px;
}
.panel2 .panel
{  
    width: 90%; 
    margin-left: 15px;
    margin-right: 5px;
}
.panel1 .panel-heading
{
   background-color: #eee !important;
}
.panel1 .panel-body{
    height: 380px;
    padding: 4px !important;
    
}
.panel1 .panel-body a
{

background-color: #fff;
color: blue;
font-size: 12px;
}
.panel1 .panel-body a:hover
{cursor: pointer;
color: black;    
}
