<ngb-carousel >
  <ng-template ngbSlide>
    <img src="assets/images/cr1.jpeg" alt="Random first slide" width="100%" height="30%">
    <div class="carousel-caption">
     </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/cr2.jpg" alt="Random second slide" width="100%" height="30%">
    <div class="carousel-caption">
    
    </div>
  </ng-template>
  
  <ng-template ngbSlide>
    <img src="assets/images/cr3.jpg" alt="Random third slide"  width="100%" height="30%">
    <div class="carousel-caption">
     
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/cr4.jpg" alt="Random third slide" width="100%" height="30%" >
    <div class="carousel-caption">
     
    </div>
  </ng-template>
</ngb-carousel>
