<input type="text" name="err" id="err2" [(ngModel)]="warnMessege"><br>
<div><button type="button" class="btn btn-warning" id="but3" (click)="addWarn()" >Warning</button></div>
<p *ngFor="let mes of warnMes" id="pp">{{mes}}</p> 