<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .btn{
            padding:15px 15px 15px 15px;
            background-color: coral;
            border-style: none;
            border-radius: 50 50 50 50;
            
        }
            
            .collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  height: 5%;
  text-align: left;
  outline: none;
  font-size: 15px;
}
            .active, .collapsible:hover {
                background-color: #555;
                     }

           .collapsible:after {
             content: '\002B';
             color: white;
             font-weight: bold;
             
                 width: 100%;
                margin-left: 85%;
            }

          .active:after {
        content: "\2212";
       }
            .content {
                padding: 0 18px;
                  max-height: 0;
                  overflow: hidden;
             transition: max-height 0.2s ease-out;
                background-color: white;
               }
            select {
            background: url(../../../../../themes/SuiteP/images/forms/select.ico) no-repeat right #fff; 
               background-color: #fff;
                background-size: 52px 52px;
              color: #534d64;
               padding: 0 50px 0 55px;
                margin-left: 5%;
    border-color: #a5e8d6;
    border-style: solid;
    border-radius: 4px;
    line-height: 28px;
    outline: 0;
    height: 33px;
    width: 30px;            
    -webkit-appearance: none;
    appearance: none;
    scrollbar-base-color: #a5e8d6;
    scrollbar-arrow-color: #a5e8d6;
    border-size: 1px;
    -moz-appearance: none;
}
        </style>
    </head>
    <body>
        <div><h2>CREATE ACCOUNT</h2></div>
        <input type="button" class="btn" name='saveButton' value="SAVE">
        <input type="button" class="btn" name='cancelButton' value="CANCEL"><br><br><br>
        <div>
        <div style="background-color: aliceblue"><button class="collapsible" style=""> ACCOUNT__DETAILS</button>

          <div class="content">
           <form action="/create" method="post">
               <br>
               <div class="div1">
                   <label style="margin-left: 1.5%"> Name:</label>
                           
                  
               <input type="text" name="name" value="" style="border-style: groove;margin-left: 10%;border-radius:                               5px; height:5%;width: 12.5%;background-color:aliceblue;">
                   
                   <label style="margin-left: 20%"> Office Phone:</label><input type="text" name="officephone" value="" style="border-style: groove;margin-right: 15%; float: right; border-radius: 5px; height:5%;width: 25%;background-color:aliceblue;"> <br><br>
               
                   <label style="margin-left: 1.5%">Website: </label>
                   <input type="text" name="website" value="" placeholder="http://" style="border-style: groove;margin-left: 9%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;">
                   
                   <label style="margin-left: 8%;">Fax:</label><input type="text" name="fax" value="" style="border-style: groove;margin-right:15%; float: right; border-radius: 5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
                   
                   <label style="margin-left: 1.5%">Email Address:</label>
               <input type="text" name="email" value="" style="border-style: groove;margin-left: 5.7%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
                   
                   <label style="margin-left: 1.5%">Billing Address</label>:
               <input type="text" name="billing_address" value="" style="border-style: groove;margin-left: 5.1%;border-radius:                               5px; height:15%;width: 25%;background-color:aliceblue;"><br><br>
                  <br>    
                
                   <label style="margin-left: 1.5%"> City:</label>
               <input type="text" name="city" value="" style="border-style: groove;margin-left: 10.7%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
        
                   <label style="margin-left: 1.5%">State:</label>
               <input type="text" name="state" value="" style="border-style: groove;margin-left: 10.3%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
        
                   
                   <label style="margin-left: 1.5%">Postal Code:</label>
                <input type="text" name="postal_code" value="" style="border-style: groove;margin-left: 6.7%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
        
                   <label style="margin-left: 1.5%">Country:</label>
                <input type="text" name="country" value="" style="border-style: groove;margin-left: 8.5%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
                
                   
                  
                   <label style="margin-left: 1.5%"> Description:</label>
                   <textarea type="text" name="description" value="" style="border-style: groove;margin-left: 6.7%;border-radius:                               5px; height:15%;width: 75%;background-color:aliceblue;"></textarea><br><br>
                  <br>  
                   <input type="submit" class="btn" name='saveButton' value="SAVE">
                <input type="button" class="btn" name='cancelButton' value="CANCEL"><br><br><br>
               </div> 
               
        
    </form>
            </div></div></div>
            <br>
        <div style="background-color: aliceblue;"><button class="collapsible" style="">MORE_INFORMATION</button> 
          <div class="content">
                 <form action="/create" method="post">
                   
                    <br>
                    <div class="div1">
                        <label style="margin-left: 5%"> Type:</label>
                    <select name="account_type" id="account_type" title="">
                      <option label="" value=""></option>
                       <option label="Analyst" value="Analyst">Analyst</option>
                       <option label="Competitor" value="Competitor">Competitor</option>
                       <option label="Customer" value="Customer">Customer</option>
                       <option label="Integrator" value="Integrator">Integrator</option>
                       <option label="Investor" value="Investor">Investor</option>
                       <option label="Partner" value="Partner">Partner</option>
                       <option label="Press" value="Press">Press</option>
                       <option label="Prospect" value="Prospect">Prospect</option>
                      <option label="Reseller" value="Reseller">Reseller</option>
                        <option label="Other" value="Other">Other</option>
                   </select>
                        <label style="margin-left: 30%">Industry:</label>
                        <select name="industry" id="industry" title="">
<option label="" value=""></option>
<option label="Apparel" value="Apparel">Apparel</option>
<option label="Banking" value="Banking">Banking</option>
<option label="Biotechnology" value="Biotechnology">Biotechnology</option>
<option label="Chemicals" value="Chemicals">Chemicals</option>
<option label="Communications" value="Communications">Communications</option>
<option label="Construction" value="Construction">Construction</option>
<option label="Consulting" value="Consulting">Consulting</option>
<option label="Education" value="Education">Education</option>
<option label="Electronics" value="Electronics">Electronics</option>
<option label="Energy" value="Energy">Energy</option>
<option label="Engineering" value="Engineering">Engineering</option>
<option label="Entertainment" value="Entertainment">Entertainment</option>
<option label="Environmental" value="Environmental">Environmental</option>
<option label="Finance" value="Finance">Finance</option>
<option label="Government" value="Government">Government</option>
<option label="Healthcare" value="Healthcare">Healthcare</option>
<option label="Hospitality" value="Hospitality">Hospitality</option>
<option label="Insurance" value="Insurance">Insurance</option>
<option label="Machinery" value="Machinery">Machinery</option>
<option label="Manufacturing" value="Manufacturing">Manufacturing</option>
<option label="Media" value="Media">Media</option>
<option label="Not For Profit" value="Not For Profit">Not For Profit</option>
<option label="Recreation" value="Recreation">Recreation</option>
<option label="Retail" value="Retail">Retail</option>
<option label="Shipping" value="Shipping">Shipping</option>
<option label="Technology" value="Technology">Technology</option>
<option label="Telecommunications" value="Telecommunications">Telecommunications</option>
<option label="Transportation" value="Transportation">Transportation</option>
<option label="Utilities" value="Utilities">Utilities</option>
<option label="Other" value="Other">Other</option>
</select>
                        
                        
                        
                        
                        
                        
                        <br><br>
                        <label style="margin-left: 5%">Annual Revenue: </label>
                   
               <input type="text" name="annualRevenue" value="" placeholder="00000" style="border-style: groove;margin-left: 4.5%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;">
                   
                   <label style="margin-left: 8%;">Employees:</label><input type="text" name="employees" value="" style="border-style: groove;margin-right: 180px; float: right; border-radius: 5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
                   
                        
                        
                        
                        <label style="margin-left: 5%;"> Member of:</label>
                    <input type="text" name="memberof" value="" style="border-style: groove;margin-left: 7.3%;border-radius:                               5px; height:5%;width: 13%;background-color:aliceblue;"><br><br>
                   <label style="margin-left: 5%">Campaign: </label>
                   
               <input type="text" name="campaign" value="" placeholder="" style="border-style: groove;margin-left: 7.8%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
                    <input type="submit" class="btn" name='saveButton' value="SAVE">
                <input type="button" class="btn" name='cancelButton' value="CANCEL"><br><br><br>
              </form>
            </div>
            </div>
        </div>
            
    <script>
     var coll = document.getElementsByClassName("collapsible");
       var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
           var content = this.nextElementSibling;
           if (content.style.maxHeight){
           content.style.maxHeight = null;
           } else {
          content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
    
    
</script>        
        
    </body>
</html>