<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .btn{
            padding:15px 15px 15px 15px;
            background-color: coral;
            border-style: none;
            border-radius: 50 50 50 50;
            
        }
            
            .collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  height: 5%;
  text-align: left;
  outline: none;
  font-size: 15px;
}
            .active, .collapsible:hover {
                background-color: #555;
                     }

           .collapsible:after {
             content: '\002B';
             color: white;
             font-weight: bold;
             
                 width: 100%;
                margin-left: 90%;
            }

          .active:after {
        content: "\2212";
       }
            .content {
                padding: 0 18px;
                  max-height: 0;
                  overflow: hidden;
             transition: max-height 0.2s ease-out;
                background-color: white;
               }
            select {
            background: url(../../../../../themes/SuiteP/images/forms/select.ico) no-repeat right #fff; 
               background-color: #fff;
                background-size: 52px 52px;
              color: #534d64;
               padding: 0 50px 0 55px;
                margin-left: 5%;
    border-color: #a5e8d6;
    border-style: solid;
    border-radius: 4px;
    line-height: 28px;
    outline: 0;
    height: 33px;
    width: 30px;            
    -webkit-appearance: none;
    appearance: none;
    scrollbar-base-color: #a5e8d6;
    scrollbar-arrow-color: #a5e8d6;
    border-size: 1px;
    -moz-appearance: none;
}
        </style>
    </head>
    <body>
        <div><h2>CREATE CONTACT</h2></div>
        <input type="button" class="btn" name='saveButton' value="SAVE">
        <input type="button" class="btn" name='cancelButton' value="CANCEL"><br><br><br>
        <div>
        <div style="background-color: aliceblue"><button class="collapsible" style="">OVERVIEW</button>

          <div class="content">
           <form action="/createContacts" method="post">
               <br>
               <div class="div1">
                   <label style="margin-left: 1.5%"> FirstName:</label>
                           <select name="salutation" id="salutation" style="margin-left: 5.8%;">
                               <option label="" value="" selected="selected"></option>
                               <option label="Mr." value="Mr.">Mr.</option>
                               <option label="Ms." value="Ms.">Ms.</option>
                               <option label="Mrs." value="Mrs.">Mrs.</option>
                               <option label="Miss" value="Miss">Miss</option>
                               <option label="Dr." value="Dr.">Dr.</option>
                               <option label="Prof." value="Prof.">Prof.</option>
                           </select>
                  
               <input type="text" name="firstname" value="" style="border-style: groove;margin-left: 3.9%;border-radius:                               5px; height:5%;width: 12.5%;background-color:aliceblue;">
                   
                   <label style="margin-left: 12%"> LastName:</label><input type="text" name="lastname" value="" style="border-style: groove;margin-right: 180px; float: right; border-radius: 5px; height:5%;width: 25%;background-color:aliceblue;"> <br><br>
                   
               <label style="margin-left: 1.5%">Office Phone: </label>
               <input type="text" name="officephone" value="" style="border-style: groove;margin-left: 4.5%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;">
                   
                   <label style="margin-left: 13.5%;"> Mobile:</label><input type="text" name="mobileNo" value="" style="border-style: groove;margin-right: 180px; float: right; border-radius: 5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
                   <label style="margin-left: 1.5%">Title:</label>
               <input type="text" name="title" value="" style="border-style: groove;margin-left: 8.7%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;">
                   <label style="margin-left: 13%;"> Department:</label><input type="text" name="department" value="" style="border-style: groove;margin-right: 180px; float: right; border-radius: 5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
                   <label style="margin-left: 1.5%"> Account Name:</label>
               <input type="text" name="accountname" value="" style="border-style: groove;margin-left: 3.7%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;">
                   <label style="margin-left: 13%;"> Fax:</label><input type="text" name="fax" value="" style="border-style: groove;margin-right: 180px; float: right; border-radius: 5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
                   <label style="margin-left: 1.5%"> Email Address:</label>
               <input type="text" name="email" value="" style="border-style: groove;margin-left: 3.9%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
                  <br>
                   
                   <label style="margin-left: 1.5%">Address:</label>
               <input type="text" name="address" value="" style="border-style: groove;margin-left: 7.3%;border-radius:                               5px; height:15%;width: 25%;background-color:aliceblue;"><br><br>
                  <br>    
                
                   <label style="margin-left: 1.5%"> City:</label>
               <input type="text" name="city" value="" style="border-style: groove;margin-left: 9.3%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
        
                   <label style="margin-left: 1.5%">State:</label>
               <input type="text" name="state" value="" style="border-style: groove;margin-left: 8.95%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
        
                   
                   <label style="margin-left: 1.5%">Postal Code:</label>
                <input type="text" name="postalCode" value="" style="border-style: groove;margin-left: 5.5%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
        
                   <label style="margin-left: 1.5%">Country:</label>
                <input type="text" name="country" value="" style="border-style: groove;margin-left: 7.5%;border-radius:                               5px; height:5%;width: 25%;background-color:aliceblue;"><br><br>
                <input type="submit" class="btn" name='saveButton' value="SAVE">
                <input type="reset" class="btn" name='cancelButton' value="CANCEL"><br><br><br>
               </div> 
               
        
    </form>
            </div></div></div>
            <br>
        <div style="background-color: aliceblue;"><button class="collapsible" style="">MORE_INF</button> 
          <div class="content">
            <form action="/createContacts" method="post">                    <br>
                    <div class="div1">
                    Lead Source:
                    <select name="lead_source" id="lead_source" title="">
                      <option label="" value=""></option>
                       <option label="Cold Call" value="Cold Call">Cold Call</option>
                       <option label="Existing Customer" value="Existing Customer">Existing Customer</option>
                       <option label="Self Generated" value="Self Generated">Self Generated</option>
                       <option label="Employee" value="Employee">Employee</option>
                       <option label="Partner" value="Partner">Partner</option>
                       <option label="Public Relations" value="Public Relations">Public Relations</option>
                       <option label="Direct Mail" value="Direct Mail">Direct Mail</option>
                       <option label="Conference" value="Conference">Conference</option>
                       <option label="Trade Show" value="Trade Show">Trade Show</option>
                       <option label="Web Site" value="Web Site">Web Site</option>
                       <option label="Word of mouth" value="Word of mouth">Word of mouth</option>
                       <option label="Email" value="Email">Email</option>
                       <option label="Campaign" value="Campaign">Campaign</option>
                       <option label="Other" value="Other">Other</option>
                     </select><br><br>
                    Reports To:
                    <input type="text" name="firstrname" value="" style="border-style: groove;margin-left: 3.9%;border-radius:                               5px; height:5%;width: 13%;background-color:aliceblue;">
                   <label style="margin-left: 17.2%"> Campaign:</label><input type="text" name="lastname" value="" style="border-style: groove;margin-right: 180px; float: right; border-radius: 5px; height:5%;width: 25%;background-color:aliceblue;"> <br><br>
                    <input type="submit" class="btn" name='saveButton' value="SAVE">
                <input type="button" class="btn" name='cancelButton' value="CANCEL"><br><br><br>
              </form>
            </div>
            </div>
        </div>
            
    <script>
     var coll = document.getElementsByClassName("collapsible");
       var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
           var content = this.nextElementSibling;
           if (content.style.maxHeight){
           content.style.maxHeight = null;
           } else {
          content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
    
    
</script>        
        
    </body>
</html>