<!DOCTYPE html>
<html>

<head>
    <title>
        Sign-In Form
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container-fluid body1" style="width:60%;">
        <h3 class="head1">Login</h3>
        <br>
        <form method="POST" action="/login">
            <div class="row">
                <div class="col-sm-6 head2">username :</div>
                <div class="col-sm-6">
                    <input type="text" class="inp" required name="username">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 head2">Password :</div>
                <div class="col-sm-6">
                    <input type="password" class="inp" name="pass" >
                </div>
            </div>
            <br>
            <div class="checkbox head1">
                <label>
                    <input type="checkbox" name="remember" class="head2"> Remember me
                </label>
            </div>
            <p class="head1">
                <input type="submit" value="Sign up">
            </p>
        </form>
    </div>
</body>

</html>