<!DOCTYPE html>
<html>
<head>
<title>Sign Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
   
</head>
<body >

  <div class="container-fluid body1" style="width:42%; margin-left:420px;">  
  <h3 class="header">Register</h3><br><hr/>
      
<form name="myForm" method="POST" class="head1" action="/register" enctype="multipart/form-data">
  
  <div class="row">
    <div class="col-sm-3 head2">Name :</div>
    <div class="col-sm-3"><input type="text" class="inp" name="firstname" placeholder="Fullname"required  ></div>
  </div><br>

  <div class="row">
    <div class="col-sm-3 head2">Username :</div>
    <div class="col-sm-3"><input type="text" class="inp" name="username" ></div>
    </div><br>

  <div class="row">
    <div class="col-sm-3 head2">Gender :</div>
    <div class="col-sm-3">
	<input type="radio" class="inp" name="gender" value="male" checked> Male<br>
	<input type="radio" class="inp" name="gender" value="female"      > Female<br></div>
  </div><br>
    
	<div class="row">
    <div class="col-sm-3 head2">ContactNumber:</div>
	<div class="col-sm-3"><input type="tel" placeholder="10-digit MobNo." class="inp" maxlength="10" pattern="[0-9]{10}" />
	</div>
        
	</div><br>
	
	<div class="row">
    <div class="col-sm-3 head2">Enter email :</div>
    <div class="col-sm-3"><input type="email" class="inp" name="email"   placeholder="example@mail.com" required></div>
	</div><br>
    
    <div class="row">
    <div class="col-sm-3 head2">Password :</div>
    <div class="col-sm-3">
        <input type="password"  class="myForm-control inp" name="Password" id="Password" required />
                <br/>
	</div>
	</div><br>
    <div>
    <label>Upload Image:<br>
<input type="file" name='uimg' placeholder="Select file"/></label>
    </div>
	
	<div class="checkbox head1">
      <label><input type="checkbox" class="inp" name="terms" class="head2">I accept the Terms and Conditions</label>
    </div>
    
	 
      
      <center>     
                <input  type="submit" class="inp" value="Submit"  >
      </center>

      
</form>
</div>
</body>
</html>
