    input[type="submit"]{ background: #31ff17; border: 0; cursor: pointer; color: #3e3d3d;width:20%;margin-bottom: 20px;}
    input[type="submit"]:hover{ background: #38af29; transition: .6s; }
    
    .inp
    {
        color: #3e3d3d;
        font-family:sans-serif;
    }
    body
    {
        background:url(3.jpg);
        font-family: 'Titillium Web', sans-serif;
        background-size:cover;
    }
    
    .header
	{   font-family: fantasy;
        font-weight:50;
        font-size: 40px;
		text-align:center;
        margin-top: 30px;
	    letter-spacing: 3px;
	}
  
	.head1
	{   font-family: monospace;
		text-align:center;
	
	}
	.head2
	{
		text-align:center;

	}
	
	.body1
	{   	width:42%;
		margin-top: 40px;
		box-shadow: 1px 2px 8px 8px; 
        color: #fff;
        background-color: dimgrey;
        transition: .5s ease;
	}
  
    .form 
    {
        padding: 40px;
        max-width: 600px;
        margin: 40px auto;
        border-radius: 4px;
        transition: .5s ease;
    }

    .body1:hover 
    {
        opacity: 1;
        transition-duration: 0.1s;
	   box-shadow: 0px 0px 40px 16px ;
	}
    ::placeholder{color: #9b8e8e;}
