<div>
    <input type="text" id='text' class="form-control" [(ngModel)]='serverName'>
</div>
<button id='btn1' class="btn btn-primary" (click)='createServer()'>Add Server</button>
<app-server *ngFor="let i of serv" [someName]="i"></app-server>

