*/*Set's border, padding and margin to 0 for all values*/
{
    padding: 0;
    margin: 0;
    border: 0;
}
body, html {
    color: #373C40;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    height: 100%;
    margin-bottom: 40px;
    
}
body {    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
}

p {
    padding: 7px 0 7px 0;
    font-weight: 500;
    font-size: 10pt;
}
a {
    color: #0a84e6;
    text-decoration:none;
}
a:hover{
    color: #abda0f;
    text-decoration: none;
}
h1 {
    font-family:monospace;
    font-weight:200;
    color: #888888;
    font-size:22pt;
    padding-left:37px;
    margin:7px 5px 8px 8px;
}
h4 {
    padding:1px;
    color: #ACACAC;
    font-size:9pt;
    font-weight:100;
    text-transform:uppercase;
}
form.register{
    width:850px;
    margin: 50px;
    height:100%;
    background-color:#fff;
    padding:5px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
form p{
    
    clear:both;
    margin: 0;
    color:gray;
    padding:4px;
}
form.register fieldset.row1
{
    width:inherit;
    padding:5px;
    float:left;
    border-top:2px solid #e8e8e8;
    border-right: 1px solid #F1F1F1;
    margin-bottom:15px;
}
form.register fieldset.row1 label{
    
    
    width:140px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.register fieldset.row2
{  
    border-top:2px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    width: inherit;
    padding:5px;
    float:left;
}
form.register fieldset.row3
{
    border-top:2px solid #F1F1F1;
    border-right: 1px solid #F1F1F1;
    padding:5px;
    float:left;
    margin-bottom:15px;
    width: inherit;
   
}
form.register fieldset.row4
{
    border-top:2px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    padding:5px;
    float:left;
    clear:both;    
    width: inherit;
    margin-bottom: 40px;
}
form.register .infobox{
    margin-top: 20px;
    border: 2px solid #F1F1F1;
    padding: 20px;
    width: 677px;
    height: 265px;
    font-size: 12px;
    background: #FDFEFA url(../img/bg_infobox.gif) repeat-x top left;
}
form.register legend
{
     color: #656565;
    padding: 20px;
    margin-left: 47px;
    font-weight: bold;
    font-size: 17px;
    font-weight: 100;
}
form.register label{
    color:#444;
    width: 142px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.register label.optional{
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
    color: #A3A3A3;
}
form.register label.obinfo{
    float:right;
    padding:3px;
    font-size: 13px;
    font-style:italic;
}
form.register input{
    width: 250px;
    color: #505050;
    float: left;
    margin-right: 8px;
}
form.register input.long{
    width: 247px;
    color: #505050;
}
form.register input.short{
    width: 40px;
    color: #505050;
}
form.register input[type=radio]
{
    float:left;
    width:15px;
}
form.register label.gender{
    margin-top:-1px;
    margin-bottom:2px;
    width:34px;
    float:left;
    text-align:left;
    line-height:19px;
}
form.register input[type=text]
{   margin-bottom: 3px;
    margin-top: 3px;
    border: 1px solid #ff296b;
    height: 25px;
}
form.register input[type=text]
{   margin-bottom: 3px;
    margin-top: 3px;
    border: 1px solid #ff296b;
    height: 25px;
}
form.register input[type=email]
{   margin-bottom: 3px;
    margin-top: 3px;
    border: 1px solid #ff296b;
    height: 25px;
}

  
form.register input[type=password]
{   margin-bottom: 3px;
    margin-top: 3px;
    border: 1px solid  #ff296b;
    height: 25px;
}
.button
{
    background: #abda0f url(../img/overlay.png) repeat-x;
    padding: 8px 20px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
    font-size:18px;
    
    margin-bottom: 40px;
}
.button1
{
   background: #1a40f8 url(../img/overlay.png) repeat-x;
    padding: 9px 30px 10px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float: right;
    font-size: 18px;
    margin-bottom: 40px;
}
form.register input[type=text].year
{
    border: 1px solid #ff296b;
    height: 26px;
    width: 190px !important;
}
input[type=text]
{
    border: 1px solid #ff296b;
    height: 23px;
    width: 48px;
}
form.register input[type=checkbox] {
    width:14px;
    margin-top:4px;
}
form.register select
{   height: 25px;
    border: 1px solid  #ff296b;
    width: 170px;
    float:left;
    margin-bottom:5px;
    color: #505050;
    margin-right:5px;
    margin-bottom: 3px;
    margin-top: 3px;
}
form.register select.date
{
    width: 40px;
}
input:focus, select:focus{
    background-color: #efffe0;
}
p.info{
    font-size:7pt;
    color: gray;
}
p.agreement{
    margin-left:15px;
}
p.agreement label{
    width:390px;
    text-align:left;
    margin-top:3px;
}





.header {
  overflow: hidden;
  background-color: #003147;
  padding: 12px 18px;
  height: 88px;
}

.header a {
    color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 18px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 26px;
  font-weight: bold;
    padding: 26px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
        margin-top: -83px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
hr {
   
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#505050;
  height: 2px;
}

.sgnfooterwrapper {
    margin-top: 15px;
    width: 100%;
    height: 100px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.paddingTop5 {
    padding-top: 5px;
}
.sgnfooteritem {
    font-size: 11px;
    margin: 0 0 0 20px;
}
.sgnfootercopyright {
    float: right;
    color: white;
    font-size: 11px;
}
 .img
{   border-top: 0;
    margin-left: 1020px;
    margin-top: -1753px;
    float: left;
    padding: 5px;
    
}
.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
.lightAccountText {
    color: #FF9900;
}
ul li {
    display: inline;
    list-style: none;
    
    text-align: right;
    margin: 0px;
    padding: 0px;
}
.paddingLeft15 {
    padding-left: 15px;
}
.header-center
    {
    padding-right: 60px !important;
    padding-top: 18px !important;
}
.supp-SGNF-mainPanelFooter { 
    position:absolute;
   bottom:0;
   width: 80%;
   height:60px;
    bottom: 0;
    padding-top: 80px;
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 55px;
    
}

.ADMainPanelFooterHorizDiv {
    background-image: none;
    height: 60px;
}
.sgnFooterLogo {
    background-image: url(https://service.ariba.com/an/58204908/p/Ariba/footer_SAP_Ariba_pos_blugld.png) !important;
    background-repeat: no-repeat;
    height: 24px;
    padding-bottom: 2px;
    background-position: left top;
}
.sgnfooteritem {
    font-size: 11px;
    margin: 0 0 0 20px;
    color: #ff0000;
}
.sgnfooterwrapper {
    color: #ff0000;
    width: 100%;
    height: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    
    background-color: inherit;
    font-family: inherit;
    margin-left: 10px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #8560ff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border:1px solid black;
    box-shadow: 0px 8px 16px 0px rgba(255, 37, 37, 0.2);
    z-index: 2;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.w-btn, .w-btn:visited {
    background: #003147;
    color: #199DE0;
    border: 1px solid #ff6504;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
   
    line-height: 35px;
    min-width: 100px;
    opacity: 1;
    outline: none;
    overflow: visible;
    padding: 0px 20px;
    position: relative;
    
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.panel
{   
    width: 70%;
    background-color: #98d0ff !important;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #355a9f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 75px;
    font-size: 36px;
    margin-left: 0px;
}

#main {
    transition: margin-right .5s;
    
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.panel1 .panel
{   width: 90%; 
    margin-left: 15px;
    margin-right: 5px;
}
.panel2 .panel-body a
{
     cursor: pointer;
    font-size: 16px;
}
.panel2 .panel
{  
    width: 90%; 
    margin-left: 15px;
    margin-right: 5px;
    
}
.panel1 .panel-heading
{
   background-color: #eee !important;
}
.panel1 .panel-body{
    
    padding: 4px !important;
    
}
.panel1 .panel-body a
{

background-color: #fff;
color: blue;
font-size: 12px;
}
.panel1 .panel-body a:hover
{cursor: pointer;
color: black;    
}
.white .play{
    float: right;
    margin-right: 30px;
    margin-top: 80px;
    margin-bottom: 40px;
    
}
.white .play1{
    float: right;
    margin-top: 300px !important;
    margin-right: -175px !important;
    font-size: 14px;
    position:sticky;
    
}


.midcontent .panel
{   margin-top: 80px;
    color: black;
    margin-left: 40px !important;
    width: 70%; 
    margin-left: 15px;
    margin-right: 5px;
}
.midcontent .panel-body a
{
    cursor: pointer;
    font-size: 16px;
}
.midcontent .panel-heading
{  
height: 40px;    
   background-color: white !important;
}
.midcontent .panel-body
{
    height: 80px;
    background-color: #F1F1F1 !important;
    padding: 4px !important;
    
}
.midcontent .panel-footer{
    height: 30px;
    padding: 4px !important;
    background-color: white !important;
    
}
.midcontent .panel-body a
{
background-color: #fff;
color: blue;
font-size: 12px;
}
.midcontent .panel-body a:hover
{cursor: pointer;
color: black;    
}
.frp .dropdown {
    color: black;
    float: right;
    overflow: hidden;
}

.frp .dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: black;
    
    background-color: inherit;
    font-family: inherit;
    margin-left: 10px;
}

.frp .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #8560ff;
}

.frp .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border:1px solid black;
    box-shadow: 0px 8px 16px 0px rgba(255, 37, 37, 0.2);
    z-index: 2;
}

.frp .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.frp .dropdown-content a:hover {
    background-color: #cbe3ff;
}

.frp .dropdown:hover .dropdown-content {
    display: block;
}
.midcontent h3
{   margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 60px;
    line-height:45px !important; 
    font-size: 20px !important;
}
.midcontent h4
{
     margin-top: 20px;
    margin-left: 60px;
    line-height:55px !important; 
    font-size: 18px !important;
}
.midcontent hr
{
    margin-left: 60px;
    width: 90%;
    height: 2px;
    background-color: darkgray;
}
.text
{  
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 35px;
    margin-left: 60px;
    width: 90%;
    font-family: sans-serif;
    font-size: 14px;
}
.exitbtn
{
    margin-right: 70px;
}