

@import url('https://fonts.googleapis.com/css?family=Numans');

.form-control {
    font-size: 2rem;
}


html,body{
background-image: url('background.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}



.topul {
    list-style-type: none;
    margin: -10;
    padding: 8;
    overflow: hidden;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    background-color:White;
    height: 60px;

}
.topli {
    float: left;
  text-align: center;
  margin-top: -10px;

}
.toplia {
    display: block;
    color: rgb(15, 14, 14);
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 18.2px;
    margin-top: -5px;
}


.container-fluid{
height: 100%;
float: left;

}

.card{
    

height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: transparent !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
font-size: 42px;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}


.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: #199DE0;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}