<html>
<head>
    <title>SignUp form</title>
    <link rel="stylesheet" type="text/css" href="signUpAngular.css"/>
    <meta http-equiv="content-type" content="text/html"; charset=utf-8">
    <script src="angular.js"></script>
    
</head>
<script>
    var app = angular.module('myApp', []);

app.controller("confirm", function($scope) {
    
});

app.directive('pwCheck', function () {
    return {
        require: 'ngModel',
        link: function (scope, elem, attrs, ctrl) {
            scope.$watch(attrs.pwCheck, function (confirmPassword) {
                var isValid = ctrl.$viewValue === confirmPassword;
                ctrl.$setValidity('pwmatch', isValid);
            });
        }
    }
});</script>
<style>
    .error {
        color: orange;
    }
</style>

 <body ng-app="myApp">
        <div class="signupbox">
         <img src="face.png" class="d"/>
          <h1>Signup</h1>
                <form  name="signUp" ng-controller="confirm" action="signUpSuccess.html">
                           <p>User Name </p>
                           <div>
                     <input type="email" name="email" placeholder="Enter Email/User Name" ng-model="user.email" required>
                     <span ng-show="signUp.email.$dirty && signUp.email.$error.required" style="color:orange;">Enter Email</span>
                     <span ng-show="signUp.email.$dirty && signUp.email.$error.email" style="color:orange">!Inavlid Email</span>
                       </div>
                     <p>Enter Password</p> 
                        <input type="password" name="password"
                                                  ng-model="password" placeholder="New Password"   pw-check="confirmPassword" required ng-minlength="5" ng-maxlength="8"/> 
                                                  <span ng-show="signUp.password.$dirty && signUp.password.$error.required" style="color:orange;">Required</span>
                                                  <span ng-show="signUp.password.$dirty && signUp.password.$error.minlength" style="color:orange;">Password Should be mininmum 4 character</span>
                                                  <span ng-show="signUp.password.$dirty && signUp.password.$error.maxlength" style="color:orange;">Password Shouldnt exceed 8 char</span>
        
                    <p>Re-Enter Password</p> 
                        <input type="password" name="confirmPassword" placeholder="Confirm Password" ng-model="confirmPassword"/> 
        <br/> 
        <span class="error" ng-show="signUp.password.$error.pwmatch"> Please type Proper Password </span>
                     
                     <div class="lower"> <input type="checkbox" checked/>
                        <label>I agree to the terms and conditions</label></div>
                     
                      <button style="background-color: red; border-radius:5px; " ng-disabled="signUp.$invalid">Submit</button>
                  </form>
                  
        </div> 
 </body>     
</html>
