<html>
<head>
</head>
<body>
<form action="/login" method="POST" enctype="multipart/form-data" >
<label>NAME</label>
<input type="text" name="uname"/>
<label>EMAIL</label>
<input type="email" name="email" />
<label>PASS</label>
<input type="password" name="pass"/>
upload img <input name="userImage" type="file"/>
<input type="submit" value="submit"/>
</form>
</body>
</html>
