<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="coll1.js" type="text/javascript"></script>
    <style>
        .entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}
        body{
         
        }
        .btn{
            padding:15px 15px 15px 15px;
            background-color: coral;
            border-style: none;
            border-radius: 50 50 50 50;
            
        }
        .div1{
            font-size: 20px;
        }
        
        .c{
            background-color: coral;
            padding:8px 8px 8px 8px;
            border-style: none;
            display:inline;
            float:left;
            border-width: 4;
        }
        h2{
            color: coral;
            font-family:Helvetica;
            font-size: 35;
            
        }
    
    </style>
<style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}
    
</style>
</head>
<body>
    

<input type="button" class="btn" value="SAVE">

<input type="button" class="btn" value="CANCEL">
    
<input type="button" class="btn" value="RESET USER PERFERENCES">

<input type="button" class="btn" value="RESET HOMEPAGE">
<br>
    <br> 


<div style="background-color: aliceblue"><button class="collapsible">USER PROFILE</button>
<div class="content">
  <p><form action="profile" method="POST" >
    <div class="div1">Username*: <input type="text" name="username" placeholder="username" style="margin-left: 1%;font-size: 78%;"><span style="margin-left:28%">First Name:<input type="text" name="fname"  style="border-style: groove;margin-left: 3.9%;border-radius: 5px; height:15%;width: 15%;background-color:aliceblue;"></span></div> <br>
    
    <div class="div1">Status*: <input type="Status" name="Active" placeholder="Active" style="margin-left: 3.5%;font-size: 78%;"><span style="margin-left:28%">email*:<input type="text" name="lname" placeholder="email" style="border-style: groove;margin-left: 3.6%;border-radius: 5px; height:15%;width: 15%;background-color:aliceblue;"></span></div> <br>
    
    <div class="div1">USER TYPE:<input type="text" name="Status" value="Regular User User can access modules and records based on roles." style="margin-left:0.6%;border-style: none;border-radius: 5px;font-size: 78%;height:15%;width: 30%;"></div><br>
    
    <div class="div1">PHOTO:<input type="file" name="userImage" value="Active" style="margin-left:8.5%;margin-top:-1.5%; border-style: none;font-size: 78%;"></div>
    
    
    
    <center><input type="submit" value="SAVE" style="
        color: black;
    background-color: coral;
    width: 87px;
    height: 47px;
    border-style: none;
    border-radius: 5px;">
        <input type="button" value="CANCEL" style="
        color: black;
    background-color: coral;
    width: 87px;
    height: 47px;
    border-style: none;
    border-radius: 5px;">
    </form></p>
    </div></div>

<div style="background-color: aliceblue"><button class="collapsible" >EMPLOYEE INFORMATION</button>
    <div class="content">
    
        <form action="#" method="POST"><br>
            
            <div class="div1">Employee Status:<input type="text" name="ename" value="Will" style="margin-left: 1%;border-style: none;font-size: 78%;"><span style="margin-left: 25.3%">Work Phone:<input type="text" name="wphone" value="" style="border-style: groove;margin-left: 3.9%;border-radius: 5px; height:15%;width: 15%;background-color:aliceblue;"></span></div> <br>
            
            <div class="div1">Title:<input type="text" name="title" value="title" style="    margin-left: 8.7%;border-style: none;font-size: 78%;"><span style="margin-left: 25.4%">Mobile:<input type="text" name="mobile" value="" style="border-style: groove;margin-left: 7.2%;border-radius: 5px; height:15%;width: 15%;background-color:aliceblue;"></span></div> <br>
            
            <div class="div1">Department:<input type="text" name="dept" value="dept" style="margin-left: 3.9%;border-style: none;font-size: 78%;"><span style="margin-left: 25.3%">Other Phone:<input type="text" name="ophone" value="" style="border-style: groove;margin-left: 3.9%;border-radius: 5px; height:15%;width: 15%;background-color:aliceblue;"></span></div> <br>
            
            <div class="div1">Reports to:<input type="text" name="report" value="report" style="margin-left: 4.8%;border-style: none;font-size: 78%;"><span style="margin-left: 25.3%">Fax:<input type="text" name="fax" value="" style="border-style: groove;margin-left: 9.2%;border-radius: 5px; height:15%;width: 15%;background-color:aliceblue;"></span></div> <br>
            
            <div class="div1"><input type="text" name="field" value="" style="margin-left: 9.2%;border-style: none;font-size: 78%;"><span style="margin-left: 27.3%">Home Phone:<input type="text" name="hphone" value="" style="border-style: groove;margin-left: 3.9%;border-radius: 5px; height:15%;width: 15%;background-color:aliceblue;"></span></div> <br>
            
            <div class="div1"><input type="text" name="field1" value="" style="margin-left: 9.2%;border-style: none;font-size: 78%;"><span style="margin-left: 27.3%">IM Name:<input type="text" name="iname" value="" style="border-style: groove;margin-left: 6.5%;border-radius: 5px; height:15%;width: 15%;background-color:aliceblue;"></span></div> <br>
            
            
            <div class="div1">IM Type:<select name="imname" style="margin-left:98px;border-style: groove;background-color: aliceblue;width: 14%;border-radius: 5px;height:30px;">
            <option></option>
            <option>MSN</option>
			<option>Yahoo!</option>
			<option>AOL</option>
		    </select><span style="margin-left: 23.7%">Address City:<input type="text" name="city" value="" style="border-style: groove;margin-left: 4.5%;border-radius: 5px; height:15%;width: 15%;background-color:aliceblue;"></span></div> <br>
            
            <div class="div1">Address Street:<input type="text" name="street" value="" style="margin-left: 2%;border-style: groove;background-color: aliceblue;border-radius: 5px;font-size: 78%;width:15%"><span style="margin-left: 22.7%">Address Postal Code:<input type="text" name="postal" value="" style="border-style: groove;border-radius: 5px; height:15%;width: 15%;background-color:aliceblue;"></span></div> <br>
            
            
            
            <div class="div1">Address State:<input type="text" name="state" value="" style="margin-left: 2.3%;border-style: groove;background-color: aliceblue;border-radius: 5px;font-size: 78%;width:61.2%"></div><br>
            
            <div class="div1">Address Country:<input type="text" name="country" value="" style="margin-left: 1%;border-style: groove;background-color: aliceblue;border-radius: 5px;font-size: 78%;width:61.2%"></div><br>
            
            <div class="div1">Description:<textarea name="text1"rows="15"  id="comment" style="width:1660px;margin-left: 174px;border-radius: 5px;background-color: aliceblue;"></textarea></div><br>
            
            <div class="div1">Reports to:<input type="text" name="report1" value="" style="margin-left:86px;border-style: groove;background-color: aliceblue;width: 22%;border-radius: 5px;height:30px;border-radius: 5px;"></div><br>
            <center><input type="submit" value="SAVE" style="
        color: black;
    background-color: coral;
    width: 87px;
    height: 47px;
    border-style: none;
    border-radius: 5px;">
        <input type="button" value="CANCEL" style="
        color: black;
    background-color: coral;
    width: 87px;
    height: 47px;
    border-style: none;
    border-radius: 5px;">
                </form></form></div></div>
    
            

    <div><form action="#" method="POST"><br><br>
    <div><p style="margin-left: 20px;font-size:16px;"><b>Email Settings</b></p><hr>
    <div style="font-size:14px;margin-left: 2%"><b>Email Address:</b></div>
    <div class="container" style="margin-top: -1.8%;margin-left:9%;">
	<div class="row">
        <div class="control-group" id="fields">
            <div class="controls"> 
                <form role="form" autocomplete="off">
                    <div class="entry input-group col-xs-3">
                        <input class="form-control" name="fields[]" type="text" name="email11" style="height: 50px;" placeholder="Type something" />
                    	<span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </form>
            <br>
            </div>
        </div>
	</div>
</div>

    <div style="font-size: 102%;margin-left: 2%;"><b>Email Clients:</b><select name="element1" style="margin-left:2.2%;border-style: groove;background-color: aliceblue;width: 14%;border-radius: 5px;height:40px">
            <option><b>SuiteCRM Email Client</b></option>
            <option><b>External Email Client</b></option>
			</select></div><br>
    
    <div style="font-size: 102%;margin-left: 2%;"><b>Editor:</b><select name="element2" style="margin-left:4.8%;border-style: groove;background-color: aliceblue;width: 8%;border-radius: 5px;height:40px">
            <option><b>Direct HTML</b></option>
            <option><b>TinyMCE</b></option>
			<option><b>Mozaik</b></option>
			
		    </select></div><br><center><input type="submit" value="SAVE" style="
        color: black;
    background-color: coral;
    width: 87px;
    height: 47px;
    border-style: none;
    border-radius: 5px;">
        <input type="button" value="CANCEL" style="
        color: black;
    background-color: coral;
    width: 87px;
    height: 47px;
    border-style: none;
    border-radius: 5px;"></center><br>
    
    <div style="font-size: 102%;margin-left: 2%;"><input type="button" class="btn" value="Settings"></div><br><br>
    
    

    <input type="button" class="btn" value="CANCEL">

    <input type="button" class="btn" value="RESET USER PERFERENCES">

    <input type="button" class="btn" value="RESET HOMEPAGE"></div>
    <br>
        </form></div>
    
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
    </script>
    

</body>
</html>