<div class = 'row' style = 'font-family:Open Sans,sans-serif; padding-bottom: 5%;'>
	<div class = 'col-sm-offset-4 col-sm-4' style ='margin-left: 33.33333333%;border: 1px solid #dcdcdc;
	border-radius: 8px; width: 32%;padding: 0px; margin-top: 50px;'>
		<div style = 'padding:15px;background-color: white;'>
			<form [formGroup]='loginForm' (ngSubmit)='login()'>
				<div style = 'padding-top: 15px;padding-bottom: 15px; border-bottom: 1px solid #dcdcdc;'>
					<label>Enter your Username</label><br>
					<!-- <label class= '	glyphicon glyphicon-user' style = 'font-size: 20px;'></label> -->
					<input class = 'form-control' type = 'userName' formControlName='userName' placeholder="Enter your username"><br>
				</div>
				<div style = 'padding-top: 15px;padding-bottom: 15px;'>
					<label>Enter the password</label><br>
					<!-- <span class = 'glyphicon glyphicon-lock' style = 'font-size: 20px;'></span> -->
					<input class = 'form-control' type= 'password' formControlName='password' placeholder="Enter password"><br>
				</div>
				<div style = 'text-align:right'>
					<button type= 'submit' style = 'color: #fff;background-color: #1e91cf;border-color: #197bb0;border: 1px;height: 38px;width: 86px;border-radius: 3px;'>Login</button>
				</div>
			</form>
		</div>
	</div>
</div>