<div class="container-fluid">
	<button (click)='getLogin()'>Login</button>
</div>
<table class="table">
	<tbody>
		<tr>
			<th>Sun</th>
			<th>Mon</th>
			<th>Tue</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
			<th>Sat</th>
		</tr>
		<tr>

		</tr>
	</tbody>
</table>
<div>
	<span class="alert-danger" style="border-radius:3px"> Notification bar </span>
</div>
<button (click)='displayAddEvent()'>Create Event</button>
<div style="width: 30%" *ngIf = 'show'>
	<form [formGroup]='eventForm' (ngSubmit)='addEvent()' enctype="multipart/form-data">
	Add Title<input class="form-control" type= 'text' formControlName='title' placeholder="Add title"><br>
	set Date<input class="form-control" type="datetime-local" formControlName='eventDateTime'><br>
	Upload the appropriate file<input class="form-control" type="file" formControlName="file"><br><br>
	<button type = 'submit'>Add event</button>
	</form>
</div>
{{eventsData}}