<input id="email2" type="text" name="email2"  [(ngModel)]="someMessege"><br/>

<div>
  <label><button type="button" class="btn btn-primary btn-sm" id="butn2" (click)="addErr()">Error</button>
  </label>
</div>
<p *ngFor="let er of errMes" id="pp1">{{er}}</p>
