    <div style="float:right;">
        <p>Trial / Subscription expired?</p>
        <p><a class="aa" href="login">login</a><span> </span><a class="aa" href="register">register</a></p>
    </div>
    <br>
    <br>
    <div  style="padding:22px;padding-right: 30px;top:0px;width: 100%">
        <img src="assets/images/web-logo..png">
        <nav>
            <ul>
                <li class="abc"><a href="#">Features</a></li>
                <li class="abc"><a href="#">Pricing</a></li>
                <li class="abc"><a href="#">Download</a></li>
                <li class="abc"><a href="#">FAQ</a></li>
                <li class="abc"><a href="#">Contact US</a></li>
            </ul>
        </nav>
    </div>



    <!--corosel-->
   
   <div>
       <app-carousel></app-carousel>
   </div>
    <!--apple-->
    <p class="aligncenter" style="width:170px;height:60px;margin-left: 104px; margin-top:50px;">
        <img src="assets/images/apple.png" alt="book keeper iOS logo"></p>
    <p class="aligncenter" style="

            margin-left: 544px;
            margin-top: -83px;
            height: 10px;">

        <img src="assets/images/belowcr2.png" alt="logo" width="192" height="70"></p>
    <p class="aligncenter" style="    margin-top: -8px;
              margin-left: 1081px;
        ">
        <img src="assets/images/belowcr3.png" alt="logo" width="162" height="50"></p>


    <div class="columns" style="font-size: 14px;">
        <ul class="price">
            <li class="header">Free</li>
            <img style="margin-left: 103px;" alt="Free" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/darefest_icon_set-e1495607201467.png">
            <li class="grey">Completly Free</li>
            <li>30 days FREE trial period</li>
            <li>No signup/credit card required</li>
            <li>Download and start using</li>
            <li>No limitations</li>

            <li class="grey"><a href="#" class="button">Sign Up</a></li>
        </ul>
    </div>

    <div class="columns" style="font-size: 14px;">
        <ul class="price">
            <li class="header" style=" font-size:20px;">Yearly Subscription</li>
            <img style="    height: 67px;
    margin-left: 123px;" alt="Yearly Subscription" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/3.png">


            <li class="grey">Starts at ₹ 2000 or $50 yearly</li>
            <li>Fully Functional</li>
            <li>Plan available for 1 to 5 devices</li>
            <li class="lo">Sync across devices</li>
            <li>FREE updates</li>


            <li class="grey"><a href="#" class="button">Sign Up</a></li>
        </ul>
    </div>

    <div class="columns" style="font-size: 14px;">>
        <ul class="price">
            <li class="header">Lifetime Plan(10yr)</li>
            <img style="    width: 140px;
    margin-left: 134px;" alt="Lifetime Plan (10 Years)" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/42.png">
            <li class="grey">Starts at ₹ 8000 or $200</li>
            <li>Plan available for 1 to 5 devices</li>
            <li>Sync across devices</li>
            <li>FREE updates</li>
            <li>FREE 24×7 customer support</li>
            <li class="grey"><a href="#" class="button">Sign Up</a></li>
        </ul>
    </div>
    <div class="container" style="font-size: 14px;">
        <div class="row">
            <div class="col-sm-4">
                <img style="border-radius:10%;" src="#" />
                <h3>bhagya</h3>
                <p>Web Designer</p>
            </div>
            <div class="col-sm-4">
                <img style="border-radius:50%;" src="#" />
                <h3>shaik</h3>
                <p>Web Designer</p>
            </div>
            <div class="col-sm-4" style="margin-top: -106px;">
                <img style="border-radius:50%;" src="#" />
                <h3>sampreeth</h3>
                <p>Web Designer</p>
            </div>
        </div>
    </div>

    <!--dfghjk-->
    <div id="features" class=" " style="background-color: #e5e5e5;     height: 207px;">

        <div class="heading2">
            <h2 class="title" style="text-align: center;">Featured In</h2>
        </div>
        <p></p>

        <div class="row">
            <div class="col-sm-3">

                <img style="margin-left:53px;" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/grey-logo12.png"
                    alt="grey logo1" width="118" height="75">

            </div>
            <div class="col-sm-3">
                <img src="https://bookkeeperapp.net/wp-content/uploads/2014/07/grey-logo22.png" alt="grey logo2" width="118"
                    height="75"></div>
            <div>

                <img src="https://bookkeeperapp.net/wp-content/uploads/2014/07/grey-logo31.png" alt="grey logo3" width="118"
                    height="75">
            </div>
            <div class="col-sm-3" style="margin-top:20px; margin-left:1000px;">
                <img class="col-sm-3" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/grey-logo61.png" alt="grey logo6"
                    width="268" height="85" style="    margin-top: -85px;
    width: 133px;
    margin-left: 99px;">
            </div>
            <div class="clear"></div>
            <p></p>

        </div>
    </div><!-- .segment-->



    <!--fsss-->
    <div class="row">
        <div class="col-sm-4">
            <img style="     margin-left: 94px;" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/icon-2.png"
                alt="icon 2" width="250" height="150">
            <p></p>
            <h4 class="title" align="center">Complete Accounting Package</h4>
            <div class="feature-description" align="center">Invoicing, taxation, receipts/payments, comprehensive
                financial reports and much more.</div>
        </div>

        <div class="col-sm-4">
            <img style="    margin-left: 124px;" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/icon-32.png"
                alt="icon 3" width="150" height="150">
            <p></p>
            <h4 class="title" align="center">Works offline</h4>
            <div class="feature-description" align="center">Manage accounts on the go without any Internet connection.</div>
        </div>
        <div class="col-sm-4"><img style="    margin-left: 135px;" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/icon-3-new.png"
                alt="icon 3 new" width="150" height="150">
            <p></p>
            <h4 class="title" align="center">Easy to use</h4>

            <div class="feature-description" align="center">Provides a simple interface which anyone can understand. No
                prior accounting know-how needed.</div>
        </div>
        <div class="clear"></div>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <img style="    margin-left: 137px;" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/icon-inventory.png"
                alt="icon 5" width="150" height="150">
            <p></p>
            <h4 class="title" align="center">Inventory Management</h4>
            <div class="feature-description" align="center">Manage inventory efficiently; get real time visibility of
                stock, reduce damages, order optimum quantities</div>
        </div>
        <div class="col-sm-4"><img style="    margin-left: 136px;" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/icon-5.png"
                alt="icon 5" width="150" height="150">
            <p></p>
            <h4 class="title" align="center">Sync across 3 platforms</h4>
            <div class="feature-description" align="center">Sync your company data across three platforms: Android,
                iOS, Windows PC. Auto sync via Dropbox</div>
        </div>

        <div class="col-sm-4"><img style="    margin-left: 134px;" src="https://bookkeeperapp.net/wp-content/uploads/2014/08/icon-tally.png"
                alt="icon 1" width="150" height="150">
            <p></p>
            <h4 class="title" align="center">Tally™ compatible</h4>
            <div class="feature-description" align="center">Sync your company accounts with Tally™, import existing
                Tally™ Masters into Book Keeper, export Masters and Transactions from Book Keeper to Tally™</div>
            <p style="text-align: center;"></p>
        </div>
        <div class="clear"></div>
        <div style="text-align:center;float:center;">
        </div>
        <!--<div style="font-size:25px;color:white; text-align:center;"><p>Explore More Features</p>
</div>-->
    </div>





    <!--after currosel-->
    <div class="heading2">
        <h2 style="font-size:40px; color:green; text-align:center;">Check out our other Apps</h2>
        <div style="text-align:center;">We specialize in Mobile App design and development.</div>
    </div>
    <div style="    margin-left: 262px;">
        <img src="assets/images/foo.jpg">
        <p>Teacher/Tutor Earnings Manager</p>
    </div>
    <div>
        <img style="  margin-left: 788px;
        margin-top: -284px;" src="assets/images/foo2.jpg">
        <p style="    margin-left: 843px;margin-top: -53px;">cheque printing</p>

    </div>
    <!--footer-->
    <footer >
        <nav>

            <div>

                <div class="container-fluid footerColor">
                    <div class="col-sm-3 class1 class3">
                        <p>Information</p>
                        <p class="class2" style="margin-left:127px;">
                            AboutUs<br><br>
                            Terms&Conditions<br><br>
                            PrivacyPolicy<br><br>
                            CareerswithUs<br><br>
                            Sitemap<br><br>
                        </p>

                    </div>
                    <div class="col-sm-3 class1 ">

                        <p>Contact us


                            <p class="class2" style="text-align:justify;">
                                JustAppsPvt.Ltd.<br><br>
                                ConnaughtPlaceNew<br>Delhi110001<br><br>
                                BlockCompanies<br><br>
                                support@bookkeeperapp.net<br><br>
                                ReportProblem<br><br>
                                Blogs<br><br>






                            </p>
                    </div>
                    <div class="col-sm-3 class1">
                        <p> Resources</p>
                        <p class="class2">
                            TermsofService<br><br>
                            PrivacyPolicy<br><br>
                            RefundPolicy<br><br>
                            License<br><br>


                        </p>

                    </div>
                    <div class="col-sm-3 class1">
                        <p>Employers</p>
                        <div>
                            <div class="class2">
                                PostJobs<br><br>
                                AccessDatabase<br><br>
                                RecruitersfromUSA,call<br><br>
                                TollFree#18665573340<br><br>

                                <a style="padding-bottom:5px;     vertical-align: middle;
                    width: 17px;"
                                    target="_blank">FollowUs</a>
                            </div>
                            <div class="row">
                                <!--Facebook-->

                                <button type="button"><a class="aa btn btn-fb" href="https://en-gb.facebook.com/login/"
                                        target="_blank"><i class="fa fa-facebook"></i></a></button>
                                <!--Twitter-->
                                <button type="button"><a class=" btn btn-fw" href="https://twitter.com/" target="_blank"><i
                                            class="fa fa-twitter"></i></a></button>
                                <!--Google +-->
                                <button type="button"><a class=" btn btn-gplus" href="https://plus.google.com/discover"
                                        target="_blank"><i class="fa fa-google-plus"></i></a></button>
                                <!--Linkedin-->
                                <button type="button"><a class="btn btn-li" href="https://www.linkedin.com/" target="_blank"><i
                                            class="fa fa-linkedin"></i></a></button>
                                <!--Instagram-->

                            </div>

                        </div>
                    </div>
                </div>
            </div>

          
        </nav>
    </footer>

