doctype html
html
  head
    title Sign Form
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      .head1
      {
      text-align:center;
      }
      .head2
      {
      text-align:center;
      }
      .body1
      {
      width:41%;
      margin-top:121px;
      box-shadow: 1px 0px 7px 3px #ececec;
      }
  body(background='img1.jpg')
    .container-fluid.body1
      h4.head1(style='color:orange;') Sign Up
      br
      form(action='/login', method='post')
        .row
          .col-sm-6.head2 Enter email :
          .col-sm-6
            input(type='email', pattern='[^ @]*@[^ @]*', required='', placeholder='Enter your email')
        br
        .row
          .col-sm-6.head2 Password :
          .col-sm-6
            input(type='password', name='pass', title='Password must be 8 characters including 1 uppercase letter, 1 lowercase letter and numeric characters', required='', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}')
        br
        p.head1
          input(type='submit', value='Sign up')
