doctype html
html
  head
    title Sign Form
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      .head1
      {
      text-align:center;
      }
      .head2
      {
      text-align:center;
      }
      .body1
      {
      width:60%;
      margin-top: 29px;
      box-shadow: 1px 0px 7px 3px #ececec;
      }
      .animation{
      width: 100px;
      height: 100px;
      background-color: red;
      -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
      animation-name: example;
      animation-duration: 6s;
      }
      /* Safari 4.0 - 8.0 */
      @-webkit-keyframes example {
      from {background-color: orange;}
      to {background-color: yellow;}
      }
      /* Standard syntax */
      @keyframes example {
      from {background-color: red;}
      to {background-color: yellow;}
      }
  body(background='img1.jpg')
    .container-fluid.body1
      h4.head1(style='color:orange;') Register
      br
      form(action='Reg_Success.html')
        .row
          .col-sm-6.head2 First name :
          .col-sm-6
            input(type='text', required='', name='firstname')
        br
        .row
          .col-sm-6.head2 Last name :
          .col-sm-6
            input(type='text', name='lastname')
        br
        .row
          .col-sm-6.head2 Gender :
          .col-sm-6
            input(type='radio', name='gender', value='male', checked='')
            |  Male
            br
            input(type='radio', name='gender', value='female')
            |  Female
            br
        br
        .row
          .col-sm-6.head2 Password :
          .col-sm-6
            input(type='password', name='pass', title='Password must be 8 characters including 1 uppercase letter, 1 lowercase letter and numeric characters', required='', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}')
        br
        .row
          .col-sm-6.head2 PhoneNumber :
          .col-sm-6
            input(type='text')
        br
        .row
          .col-sm-6.head2 Enter email :
          .col-sm-6
            input(type='email', pattern='[^ @]*@[^ @]*', required='', placeholder='Enter your email')
        br
        .checkbox.head1
          label
            input.head2(type='checkbox', name='remember')
            |  Remember me
        p.head1
          input(type='submit', value='Register')
