<input id="text1" type="text" name="email1" class="form-control" [(ngModel)]="serverMessege"><br/>

<div>
  <label><button id="h3" type="button" class="btn btn-primary btn-sm"  (click)="addServer()">Add Server</button></label>
</div>




<app-server  *ngFor="let mes of serverName" [serName]='mes'></app-server>