<input type="text" name="warn" id="warn1" [(ngModel)]="warnMessege"><br>
<div><button type="button" class="btn btn-danger" id="butn1" (click)="addError()" >Error</button></div>
<p *ngFor="let mes of errMes" id="pp">{{mes}}</p> 