doctype html
html
  head
    title Login
    style.
      body{background: #ecf1f4; font-family: sans-serif;}
      .form-wrap{align:center;width: 320px; background: #3e3d3d;padding: 40px 20px;padding: 40px 20px;margin-left:500px;margin-top:50px;}
      h1{text-align: center; color: #fff; font-weight: normal; margin-bottom: 20px;}
      input{width: 100%; background: none; border: 1px solid #fff; border-radius: 3px; padding: 6px 15px; box-sizing: border-box; margin-bottom: 20px; font-size: 16px; color: #fff;}
      .button{ margin: 4px 120px;}
  body
    .form-wrap
      form
        h1 Login
        input(type='text', placeholder='Username')
        input(type='password', placeholder='Password')
        button.button Login
