<html>
	<head>
		<link rel="shortcut icon" href="logo.png" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<link rel="stylesheet" type="text/css" href="bootstrap.min.css">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
			input{
			    width: 94%;
			    height: 35px;
			    border-radius: 3px;
  				border: 1px solid #dcdcdc;
  				padding-left: 15px;
			}
		</style>
	</head>
	<body>
		<div class = 'containeer-fluid' style = 'border-bottom: 1px solid #dcdcdc;'>
			<div class = 'container'>
				<div class = 'row'>
					<div class = 'col-lg-2 nav navbar-header' style = 'padding-top: 10px;border-right:1px solid #dcdcdc'>
						<a href="https:www.google.co.in"><img style='width:auto; height:36px' src = 'opencart-logo.png'></a>
					</div>
				</div>
			</div>
		</div>
		<div class = 'container-fluid'  style = 'background-color:#f6f6f6'>
			<div class = 'row' style = 'font-family:Open Sans,sans-serif; padding-bottom: 5%;'>
				<div class = 'col-sm-offset-4 col-sm-4' style = 'border: 1px solid #dcdcdc; width: 32%;padding: 0px; margin-top: 50px;'>
					<div style = 'padding:12px 15px; border-bottom: 1px solid #dcdcdc;background-color:#f6f6f6;'>
						<span class ='glyphicon glyphicon-lock'></span>
						<span style = 'font-size: 16px;'>Please enter your login details.</span>
					</div>
					<div style = 'padding:15px;background-color: white;'>
						<form action = 'Dashboard.ejs' method = 'post'>
							<div style = 'padding-top: 15px;padding-bottom: 15px; border-bottom: 1px solid #dcdcdc;'>
								<label>username</label><br>
								<span class= '	glyphicon glyphicon-user' style = 'font-size: 20px;'></span>
								<input type = 'text' name='user' value ='demo'><br>
							</div>
							<div style = 'padding-top: 15px;padding-bottom: 15px;'>
								<label>password</label><br>
								<span class = 'glyphicon glyphicon-lock' style = 'font-size: 20px;'></span>
								<input type= 'password' name = 'pwd' value = 'demo'><br>
								<a href = '#' style = 'text-decoration:none'>Forgotten password</a>
							</div>
							<div style = 'text-align:right'>
								<button type= 'submit' style = 'color: #fff;background-color: #1e91cf;border-color: #197bb0;border: 1px;height: 38px;width: 86px;border-radius: 3px;'>Login</button>
							</div>
						</form>
					</div>
				<div>
			</div>
		</div>
		</div>
		<div class = 'container' style = 'text-align:center;height: 22%;'>
			<a href = '#'>opencart</a>
			&copy;2009-2018 All Rights Reserved.
		</div>
	</body>
</html>