<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .c1{
        height: 36px;
        width: auto;
        }
        .c2{
            background-color:white;
        }
        .c3{
            background-color:black;
            height:200px;
            color:white;
            text-align:center;
        }
        .cont{
            position: relative;
            text-align: center;
            color: white;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
		<style>
			.footerBody
			{
			background-color:#242d37;
			color:#fff;
			}
			.anchor
			{
			text-decoration: none;
			color:white;
			text-decoration: none;
			}
			.anchor:hover
			{
			text-decoration: none;
			color:#01afe8;
			}
		</style>
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top">
<div class="container c2">

	<div class="navbar-header">
		<button type="button" data-toggle="collapse" data-target="#navbar-collapse-header" class="navbar-toggle collapsed">
			<span class="icon-bar"></span> <span class="icon-bar"></span> 
			<span class="icon-bar"></span>
		</button>
		<a href="#" class="navbar-brand">
		<img src="opencart-logo.png" alt="image" class="c1"></a>
	</div>
	
<div class="collapse navbar-collapse" id="navbar-collapse-header">
	<ul class="nav navbar-nav">
	<li><a href="#">Features</a></li>
	<li><a href="#">Demo</a></li>
	<li><a href="#">Marketplace</a></li>
	<li><a href="#">Blog</a></li>
	<li><a href="#">Showcase</a></li>
	<li class="dropdown"><a href="#" data-toggle="dropdown">Resources <span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="#">Download</a></li>
		<li><a href="#">OpenCart Cloud</a></li>
		<li><a href="#">OpenCart Partners</a></li>
		<li><a href="#">Community Forums</a></li>
		<li><a href="#">OpenCart Documentation</a></li>
		<li><a href="#">OpenCart Books</a></li>
		<li><a href="#">Github Bug Tracker</a></li>
		<li><a href="#">Developer</a></li>
	</ul>
	</li>
	<li class="visible-xs"><a href="#">Login</a></li>
	<li class="visible-xs"><a href="#">Register</a></li>
	</ul>
	<div class="navbar-right hidden-xs">
		<a href="/Login.ejs" class="btn btn-link navbar-btn">Login</a> 
		<a href="/Register.ejs" class="btn btn-black navbar-btn">Register</a>
	</div>
</div>
</div>
</nav><br><br>

<div class="container c3"><br><br><br><h3><b>Login to your OpenCart account</b></h3></div>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
		<h3><b>Login</b></h3><br>
			<form action="StoreFront.ejs" method = "post">
				<div class="form-group">
				  <label for="email">Email:</label>
				  <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
				</div>
				<div class="form-group">
				  <label for="pwd">Password:</label>
				  <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
				</div>
				<div class="form-group form-check">
				  <label class="form-check-label">
					<input class="form-check-input" type="checkbox" name="remember"> Remember me
				  </label>
				</div>
				<button type="submit" class="btn btn-primary" style="background-color: #01afe8;">Submit</button>
				<a href="">Forgot your password?</a>
			</form>
		</div>
		<div class="col-sm-6">
			<h3><b>Do not have an account?</b></h3>
			<br>
			<p><a href="Register.ejs">Create an OpenCart account</a>
				By creating an account with our store, 
				you will be able to download more features 
				through marketplace, uploading showcase 
				and become Partner and Seller.
			</p><br>
			<div class="cont">
				<img src="bg_ds.png" alt="Snow">
					<div class="centered">
							Looking for professional support for your project?
							OpenCart now offers dedicated technical support.
							<a href="">Learn more about Dedicated Support</a>
					</div>
			</div>
		</div>
	</div><br><br>
</div>
        <div class ="container-fluid footerBody" style = 'padding : 50px 10px; margin: 70px 0 0;'>
		<div class="container row">
			<div class = "col-lg-2">
				<h4>OPEN CART</h4>
				<a class='anchor' href="#">Features</a><br>
				<a class='anchor' href="#">OpenCart Cloud</a><br>
				<a class='anchor' href="#">ShowCase</a><br>
				<a class='anchor' href="#">Demo</a><br>
				<a class='anchor' href="#">Download</a><br>
				<a class='anchor' href="#">marketplace</a><br>
				<a class='anchor' href="#">Login</a>
			</div>
			<div class = "col-lg-2">
				<h4>COMPANY</h4>
				<a class='anchor' class='anchor' href="#">Contact Us</a><br>
				<a class='anchor' href="#">About Us</a><br>
				<a class='anchor' href="#">Extension Developer</a>
			</div>
			<div class = "col-lg-2">
				<h4>SUPPORT</h4>
				<a class='anchor' href="#">Community Forum</a><br>
				<a class='anchor' href="#">Dedicated Suppport</a><br>
				<a class='anchor' href="#">Opencart Partners</a><br>
				<a class='anchor' href="#">Market Place Support</a><br>
				<a class='anchor' href="#">Migrate To OpenCart</a>
			</div>
			<div class = "col-lg-2">
				<h4 class=>RESOURCES</h4>
				<a class='anchor' href="#">OpenCart Blog</a><br>
				<a class='anchor' href="#">OpenCart Documentaion</a><br>
				<a class='anchor' href="#">Opencart Books</a><br>
				<a class='anchor' href="#">Github Bug Tracker</a><br>
				<a class='anchor' href="#">Developer</a><br>
			</div>
			<div class = "col-lg-4">
				<h4>NEWS LETTER</h4>
				<span>Subscribe to our newsletters and stay informed of new releases and other OpenCart events.</span>
				<div style = 'padding-top:10px'>
					<div style="background-color:white; border-radius:4px">

                        <form action="#">
						<input type = 'text' name = 'subscribeEmail' style = 'padding-left:10px; border:none;color: black; height:40px; width: 76%;border-radius: 4px;' placeholder = 'Enter your email Address'>
						<button type = 'submit' style = 'height:38px; width:77px; border: none;    border-radius: 3px; background-color:#3385ff;'>Subscribe</button>
                        </form>
					</div>
				</div>
			</div>
		</div>
		<div class = "container row" style = 'margin-top:10px'>
			<div class = "col-md-9">
				<img style = ''src = "opencart-logo-white.png">
				<span >&copy;Copyright 2018 OpenCart </span>
			</div>
			<div class = "col-md-1">
			<a class='anchor' href ='https://www.facebook.com/opencart/?ref=aymt_homepage_panel'>Facebook</a>
			</div>
			<div class = "col-md-1">
			<a class='anchor' href ='https://plus.google.com/communities/100924307882406968084'>GooglePlus</a>
			</div>
			<div class = "col-md-1">
			<a class='anchor' href = 'https://twitter.com/opencart'>Twitter</a>
			</div>
		</div>
	</div>
</body>
</html>
