<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <div class="container">

        <h3>Compose Email</h3>
        {{msg}}
        <form [formGroup]="displayform" method="POST" action="send">
            <div class="form-group">
          <p>
            <label>Name:</label>
            <input type="text" name="name" formControlName="name" [(ngModel)]="displayform.name" style="border-style: groove;margin-left: 8.8%;width: 30%;
            border-radius: 5px;">
          </p>
          <p>
            <label>Company:</label>
            <input type="text" name="company" formControlName="company" [(ngModel)]="displayform.company" style="border-style: groove;margin-left: 6.6%;width: 30%;
            border-radius: 5px;">
          </p>
          <p>
            <label>Email Address:</label>
            <input type="email" name="email" formControlName="email" [(ngModel)]="displayform.email" style="border-style: groove;margin-left: 3.8%;width: 30%;
            border-radius: 5px;">
          </p>
          <p>
            <label>Phone Number:</label>
            <input type="text" name="phone" formControlName="phone" [(ngModel)]="displayform.phone" style="border-style: groove;margin-left: 3%;width: 30%;
            border-radius: 5px;">
          </p>
          <p class="full">
            <label>Message:</label>
            <textarea name="message" formControlName="message" [(ngModel)]="displayform.message" rows="5" style="border-style: groove;margin-left: 7.2%;width: 40%;
            border-radius: 5px;"></textarea>
          </p>
            <button (click)="displayevent()" type="submit">Send</button>
          </div>
        </form>
  </div>
</body>
</html>
