
<html>
  <head>
    <title> CompleteForm</title>
  </head>
  <body text="black" style=" background-color: grey;">
    <h1 style=" background-color: black;">
      <center>Registration Form</center>
    </h1>
      
      
    
    <center>
      <table border="1" cellpadding="49" cellsapcing="0">
        <tbody>
          <tr style="background-color: #ced1a9;">
            <th><i>
                <u>
                  <p align="right" style="margin-top: -3px; color:red;"><a href="reg1.html"> LOGIN</a></p>
                </u></i></th>
            <th>
              <p align="right" style="margin-top: -3px;"><a href="puglogin.pug"><i>
                    <u>REGISTER</u></i></a></p>
            </th>
          </tr>
        </tbody>
      </table>
      <table border="0" cellpadding="70" cellsapcing="0">
        <tbody>
          <tr style="border-radius:15px;">
            <td>
              <form action="ds" method="POST">
                <p style="color:black;font-size: 20px;background-color: antiquewhite;">login</p>
                <p>
                  <label>Enter your Email id:<br/>
                    <input type="text"  required name="username"/>
                  </label>
                </p>
                <p>
                  <label>Enter the Password:<br/>
                    <input type="password" name="mypass" />
                  </label>
                </p>
                <label>
                  <p align="left">
                    <label>
                      <input type="checkbox" name="act" value="one"/><b>Remember me</b>
                    </label><b> </b>
                  </p><b>
                    <p align="right" style="margin-top: -33px;"><a href="/users/password/new">Forgot your password?</a></p>
                    <div>
                      <center>
                        <input type="submit" value="SIGN UP" style="color:  black;background-color: #ced1a9;width: 315px;      height: 47px;"/>
                      </center>
                    </div></b>
                </label>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      </center>
  </body>
</html>