
<div class="py-5">
	<div class="row">
	  <div class="col-md-6 mx-auto">
		<span class="anchor" id="formLogin"></span>
  
		<!-- form card login -->
		<div class="card rounded-0">
		  <div class="card-header">
			<h3 class="mb-0">Login</h3>
		  </div>
		  <div class="card-body">
			<form [formGroup]="loginform" action="login" method="POST">
			  <div class="form-group">
          <input type="text" formControlName="uName"  class="form-control" [(ngModel)]="userModel.uName"
          placeholder="Username" style="height: 48px;width: 60%;border-radius: 8px;border-style: groove;margin-left: 20%; " required><br>
          <input type="password" formControlName="uPassword" class="form-control" [(ngModel)]="userModel.uPassword"
          placeholder="Password"style="height: 48px;width: 60%;border-radius: 8px;border-style: groove;margin-left: 20%;" required>
  
          <button (click)="PostLogin()" class="button button1" style="margin-left: 40%;width:25%;
            margin-top: 29px;border-radius: 5px;margin-bottom: 25px;"><a routerLink="/dashboard">LOG IN</a></button>
			  
          </div>
			</form>
		  </div>
		  <!--/card-block-->
		</div>
		<!-- /form card login -->
  
	  </div>
  
  
	</div>
  </div>

