<!DOCTYPE html>
<html>
<head>
	<title>Sign Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="js/angular.js"></script>
</head>

<style>
    
    input[type="submit"]{ background: #31ff17; border: 0; cursor: pointer; color: #3e3d3d;width:20%;margin-bottom: 20px;}
    input[type="submit"]:hover{ background: #38af29; transition: .6s; }
    
    .inp
    {
        color: #3e3d3d;
        font-family:sans-serif;
    }
    body
    {
        background:url(3.jpg);
        font-family: 'Titillium Web', sans-serif;
        background-size:cover;
    }
    
    .header
	{   font-family: fantasy;
        font-weight:50;
        font-size: 40px;
		text-align:center;
        margin-top: 30px;
	    letter-spacing: 3px;
	}
  
	.head1
	{   font-family: monospace;
		text-align:center;
	
	}
	.head2
	{
		text-align:center;

	}
	
	.body1
	{
		margin-top: 92px;
		box-shadow: 1px 2px 8px 8px; 
        color: #fff;
        background-color: dimgrey;
        transition: .5s ease;
	}
  
    .form 
    {
        padding: 40px;
        max-width: 600px;
        margin: 40px auto;
        border-radius: 4px;
        transition: .5s ease;
    }

    .body1:hover 
    {
        opacity: 1;
        transition-duration: 0.1s;
	   box-shadow: 0px 0px 40px 16px ;
	}
    ::placeholder{color: #9b8e8e;}

</style>

<body >

  <div class="container-fluid body1" style="width:42%;">  
  <h3 class="header">Register</h3><br><hr/>
      
<form name="myForm" ng-app="myForm" method="POST" class="head1" action="/register"  ng-controller="validateCtrl" novalidate>
  
  <div class="row">
    <div class="col-sm-3 head2">Name :</div>
    <div class="col-sm-3"><input type="text" class="inp" name="firstname" placeholder="Fullname"required ng-model="firstname" ></div>
    <span ng-show="myForm.firstname.$touched && myForm.firstname.$invalid"style="color: red;">First name is required.</span>
  </div><br>

  <div class="row">
    <div class="col-sm-3 head2">Username :</div>
    <div class="col-sm-3"><input type="text" class="inp" name="username" required ng-model="username"></div>
      <span class="col-sm-6 " ng-show="myForm.username.$touched && myForm.username.$invalid" style="color: red;">Username is required.</span>
  </div><br>

  <div class="row">
    <div class="col-sm-3 head2">Gender :</div>
    <div class="col-sm-3">
	<input type="radio" class="inp" name="gender" value="male" checked> Male<br>
	<input type="radio" class="inp" name="gender" value="female"      > Female<br></div>
  </div><br>
    
	<div class="row">
    <div class="col-sm-3 head2">ContactNumber:</div>
	<div class="col-sm-3"><input type="tel" placeholder="10-digit MobNo." class="inp" maxlength="10" pattern="[0-9]{10}" />
	</div>
        
	</div><br>
	
	<div class="row">
    <div class="col-sm-3 head2">Enter email :</div>
    <div class="col-sm-3"><input type="email" class="inp" name="email" ng-model="email"  placeholder="example@mail.com" required></div>
        <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
        <span ng-show="myForm.email.$error.required">Email is required.</span>
        <span ng-show="myForm.email.$error.email">Invalid email address.</span>
        </span> 
	</div><br>
    
    <div class="row">
    <div class="col-sm-3 head2">Password :</div>
    <div class="col-sm-3">
        <input type="password"  class="myForm-control inp" name="Password" id="Password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/" ng-model="User.Password" ng-minlength="8" ng-class="submitted?'ng-dirty':''" required />
                <br/>
        <span class="error "style="color:red" ng-show=" (myForm.Password.$dirty || submitted) && myForm.Password.$error.required">Required</span>
<span class="error"style="color:red" ng-show=" (myForm.Password.$dirty || submitted) && myForm.Password.$error.minlength">Minimum 8 characters</span>
        <span class="success"style="color:red" ng-show=" (myForm.Password.$dirty || submitted) && myForm.Password.$error.pattern">Invalid</span>

	<!--	<input type="password" name="pass" class="inp myForm.control"  ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/" ng-minlength="8" required  >
        <span  ng-show=" myForm.pass.$dirty&& myForm.pass.$error.required">Required</span>
        <span  ng-show=" myForm.pass.$dirty&& myForm.pass.$error.minlength">Minimum 8 characters</span>
        <span  ng-show=" myForm.pass.$dirty&& myForm.pass.$error.pattern">Invalid</span>-->
	</div>
	</div><br>
	
	<div class="checkbox head1">
      <label><input type="checkbox" class="inp" name="terms" class="head2">I accept the Terms and Conditions</label>
    </div>
	 
      
      <center>     
                <input  type="submit" class="inp" value="Submit"  
                     ng-disabled="myForm.$invalid">
      </center>

      
</form>
</div>
    
<script>
var app = angular.module('myForm', []);
    
app.controller('validateCtrl', function($scope) {
    $scope.user = '';
    $scope.email = '';
});
</script>
    
</body>
</html>
