doctype html
html
	head
		title Sign-In Form
		
		meta(name='viewport', content='width=device-width, initial-scale=1')
		
		script(src='bootstrap.min.js')

		style
			include style.css
			include bootstrap.min.css
	body
		.container-fluid.body1(style='width:60%;')
			h3.head1 Login
			br
			form(method='POST')
				.row
					.col-sm-6.head2 username :
					.col-sm-6
						input.inp(type='text', name='username',required)
				br
				.row
					.col-sm-6.head2 Password :
					.col-sm-6
						input.inp(type='password', name='pass', title='Password must be 8 characters including 1 uppercase letter, 1 lowercase letter and numeric characters', required, pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}')
				br
				.checkbox.head1
					label
						input.head2(type='checkbox', name='remember')
						|  Remember me
				p.head1
					input(type='submit', value='Sign up')
