doctype html
html
	head
		title Registration Form		
		
		script(src='bootstrap.min.js')

		style
			include style.css
			include bootstrap.min.css
	body
		.container-fluid.body1
			h3.header Login
			br
			hr
			form.head1(name='myForm', method='POST', action='/register')
				.row
					.col-sm-3.head2 Name :
					.col-sm-3
						input.inp(type='text', name='firstname', placeholder='Fullname', required)
				br
				.row
					.col-sm-3.head2 Username :
					.col-sm-3
						input.inp(type='text', name='username', required)
				br
				.row
					.col-sm-3.head2 Gender :
					.col-sm-3
						input.inp(type='radio', name='gender', value='male', checked='')
						|  Male
						br
						input.inp(type='radio', name='gender', value='female')
						|  Female
						br
				br
				.row
					.col-sm-3.head2 ContactNumber:
					.col-sm-3
						input.inp(type='tel', placeholder='10-digit MobNo.', maxlength='10', pattern='[0-9]{10}')
				br
				.row
					.col-sm-3.head2 Enter email :
					.col-sm-3
						input.inp(type='email', name='email', placeholder='example@mail.com', required)
				br
				.row
					.col-sm-3.head2 Password :
					.col-sm-3
						input#Password.myForm-control.inp(type='password', name='Password', title='Password must be 8 characters including 1 uppercase letter, 1 lowercase letter and numeric characters', required, pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}')
						br
				br
				.checkbox.head1
					label
						input.inp(type='checkbox', name='terms')
						| I accept the Terms and Conditions
				center
					input.inp(type='submit', value='Submit')
