html
	head
		title Login form
		link(type='text/css', rel='stylesheet', href='P4.css')
	body
		.signupbox
			img.d(src='face.png')
			h1 Login
			form(method='POST', action='/login')
				p User Name 
				input(type='text', name='UserName', placeholder='Enter Username', required='')
				p Password
				input(type='password', name='Password', placeholder='Enter password', required='')
				.lower
					input(type='checkbox', checked='')
					label I agree to the terms and conditions
				input(type='submit', name='', value='Confirm')
