html
  head
    title SIgnUp form
    link(rel='stylesheet', type='text/css', href='reg.css')
  body
    .signupbox
      img.icon(src='icon.png')
      h1 Signup
      form(method='POST', action='/register')
        p First Name 
        input(type='text', name='uFirstName', placeholder='Enter Username', required='')
        p Last Name 
        input(type='text', name='uLastName', placeholder='Enter Username')
        p Email
        input(type='email', name='uemail', placeholder='Enter Email')
        p Password
        input(type='password', name='', placeholder='Enter password', required='')
        .lower
          input(type='checkbox')
          label I agree to the terms and conditions
        input(type='submit', name='', value='Confirm')
