<input id="warn" type="text" name="warn"  [(ngModel)]="warnMessege"><br/>

<div>
  <label><button type="button" class="btn btn-primary btn-sm" id="warn1" (click)="addWarn()">Warning</button></label>

</div>
<p *ngFor="let mes of warnMessag" id="warn2">{{mes}}</p>


