<!DOCTYPE html>
<html>
<head>
	<title>Sign Form</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
	.head1
	{
		text-align:center;
		

	}

	.head2
	{
		text-align:center;
	}
	.body1
	{
		margin-top: 92px;
		box-shadow: 1px 0px 7px 3px #ececec;
		
	}
</style>

<body>
<div class="container-fluid body1" style="width:60%;    background-color: aquamarine;">
  <h4 class="head1" >Register</h4><br>
  <form method="POST" action="/user" enctype='multipart/form-data' >
  
  <div class="row">
    <div class="col-sm-6 head2">First name :</div>
    <div class="col-sm-6"><input type="text" required name="firstname"></div>
  </div><br>



    
	<div class="row">
    <div class="col-sm-6 head2">Password :</div>
    <div class="col-sm-6">
		<input type="password" name="pass" title="Password must be 8 characters including 1 uppercase letter, 1 lowercase letter and numeric characters" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" >

	</div>
	</div><br>
	<!--<div class="row">
    <div class="col-sm-6 head2">RePass :</div>
    <div class="col-sm-6">
		<input type="password" name="pass" title="Password must be 8 characters including 1 uppercase letter, 1 lowercase letter and numeric characters" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" >

	</div>
	</div><br>-->
	
	
	
	<div class="row">
    <div class="col-sm-6 head2">Enter email :</div>
    <div class="col-sm-6"><input type="email" name="email" pattern="[^ @]*@[^ @]*" required placeholder="Enter your email"></div>
	</div><br>
	
	<input type="file" name="ipage" accept="image/*"  />
	<p class="head1"><input type="submit" value="Register"></p>
</form>
</div>
</body>
</html>