* {
    box-sizing: border-box;
}


.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

/*header part*/

ol, ul {
list-style: none;
}
.abc{
display: inline-block;
padding: 20px 0 20px;
vertical-align: middle;
}
a:hover, a:focus, a:active {
color: rgb(6, 63, 6);
text-decoration: none;
}
a {
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-decoration: none;
transition: color 0.1s, background-color 0.1s;
}
a {
position: relative;
display: block;
padding: 16px 0;
margin: 0 12px;
letter-spacing: 1px;
font-size: 20px;
line-height: 16px;
font-weight: 900;
text-transform: uppercase;
transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
color: #000;
}
a::before {
content: '';
display: block;
position: absolute;
bottom: 3px;
left: 0;
height: 3px;
width: 100%;
background-color: rgb(19, 177, 19);
transform-origin: right top;
transform: scale(0, 1);
transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
background-color: #000;
}
a:hover::before, a:focus::before {
transform-origin: left top;
transform: scale(1, 1);
}
.s{
position: sticky;

}
.trial{

border: 0px solid black;
text-align: right;
padding-right: 5px;
margin-right: 45px;
}
.aa{
font-size: 15px;
display: inline-block;
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;

}


input[type=submit]:hover{
text-decoration:underline;
}
.logo{
    padding: 22px;
    padding-right: 30px;
}

.class1{

background-color: #2e3339;
font-weight: 400;
font-size: 16px;
cursor: default;
color: #eeeded;
padding: 10px;
font-size: 14px;
font-family: Roboto,sans-serif;

}
.class2{
width: .5rem;

    color: #999;
font-size:12px;
}
.class3{
text-align:center;
}
.class3{
text-align:center;
}
.class4{
display: inline-block;
height: 28px;
width: 28px;
margin-left: 5px;
padding: 0;
background: url(//static.naukimg.com/s/5/100/i/socialSharing.png) repeat-y;
color: #0074ad;
text-decoration: none;
}

.container-fluid.footerColor {
background-color: #2e3339;
}

button.btn.btn-fb {
background: #3b5998;
color: white;
}
button.btn.btn-tw {
background: #00acee;
color: white;
}

button.btn.btn-gplus {
background:#dd4b39;
color: white;
}

button.btn.btn-li{
background: #0e76a8;
color: white;
}
