<html>
    <head>
        <meta charset="utf-8">
    <title>register</title>
    <style>
        body{
            padding:0;
            margin:0;
            background: #262626;
        }
        
        section
        {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height:400px;
            width: 1200px;
            background: #000;
            box-shadow: 0 25px 30px rgba(0,0,0,.5);
            display: flex;
        }
        
        .content1{
            width: calc(50% - 50px);
            height: 100%;
            background: #000;
            box-sizing: border-box;
            padding: 30px 50px;
            font-family: sans-serif;
            color: #fff;
            
        }
        .content2{
           width: calc(50% + 50px);
            height: 100%;
            background: white;
            box-sizing: border-box;
            border-left: 100px solid #000;
            border-bottom: 400px solid transparent;
            background-position: -100px -150px;
            background-image: url("download.png") no-repeat;
            
        }
        
        form{
            color: white;
        }
    
        
        
        </style>

        
      <!--  <script type="text/javascript">
		function Validate()
		{
			var x=document.getElementById("email1").value;
			var y=document.getElementById("email2").value;
			 if(x!==y)
			{
				window.alert("Emails are not matching. Enter same email 2 times");
				return false;
			}
			else
			return true;
		}
	</script>
-->
    
    
    
    
    
    
    
    
    
    </head>
    
    
    
    
    
    
    
    
    
    
<body>
    
    
    
    
    <!--
    <script type="text/javascript">
         function generateCaptcha()
         {
             var alpha = new Array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z');
             var i;
             for (i=0;i<4;i++){
               var a = alpha[Math.floor(Math.random() * alpha.length)];
               var b = alpha[Math.floor(Math.random() * alpha.length)];
               var c = alpha[Math.floor(Math.random() * alpha.length)];
               var d = alpha[Math.floor(Math.random() * alpha.length)];
              }
            var code = a + '' + b + '' + '' + c + '' + d;
            document.getElementById('mainCaptcha').value = code
          }
          function CheckValidate(){
              var string1 = removeSpaces(document.getElementById('mainCaptcha').value);
              var string2 = removeSpaces(document.getElementById('textEntered').value);
              if (string1 == string2){
        
        alert("Form is validated Successfully");
                return true;
              }
              else{       
         alert("Please enter a valid captcha.");
                return false;
          
              }
          }
          function removeSpaces(string){
            return string.split(' ').join('');
          }
      </script>    
    
    
    -->
    
    
    
    
  <!--  <img src="download.png" height="85px"/>-->
    
    
    
   <section>
        <div class="content1"> <img src="download.png" height="85px" 
    style="margin-top: 112px;
    width: 469px;
    height: 142px;
"/></div>
       
       
       
       <!-- <form action="LoginSucces.html" method="post" style="margin-left: -181px;">
    <h2>Login</h2>

    <label for="email"><b>Email</b></label><br>
    <input type="email" placeholder="Enter Email" name="email" required><br>

    <label for="psw"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="psw" required><br><br>
        
       <input type="submit" value="submit" />            

<!--   <button type="submit" onclick="checkValidate();">Login</button>
                    
               <input type="text" id="mainCaptcha" placeholder="please refresh to get capche"readonly="readonly"/>
                  <input type="button" value="Refresh" onclick="generateCaptcha();" /> <br><br>    
                    

                    <input type="text" id="textEntered" placeholder="type capcha text" style="margin-left: 0px;"/><br><br>   
                    <input  type="button" value="login"  onclick="CheckValidate();"/>
                    
                    
                    
  </form>-->
       
       
       
       
       
       
       
       
       
       
        <div class="content2">
            
       <h2>Register</h2>
    <form method="post" action="RegSuccess" enctype="multipart/form-data" style="color: black;">
    Fullname:<br>
    <input type="text" placeholder="fullname" name="fullname" size="25" required><br>
    Username:</br>
    <input type="text" placeholder="username" name="userName" size="25" required><br>
    Email:<br>
    <input type="text" placeholder="email"  name="email" size="25" required><br>
    Email confirmation:<br>
    <input type="text" placeholder="email confirmation" name="emailconfirmation" size="25" required><br>
    Password:<br>
    <input type="password" placeholder="password" name="pwd" size="25" minlength=8 required><br>
            <input type="file" name="photo">
    <pre><input type="checkbox" checked>i accept the terms and conditions</pre>
         <input type="submit" value="register">

    
</form>
       
       </div>
       
       
       
       
       
       
       
       
       
       
       
       
    
    
    </section>
    
    
    
    
    
    </body>


</html>