<html>
    <head><meta charset="utf-8"/>
        <title>welcome</title>
        <link rel="stylesheet" type="text/css" href="loginStyle.css"/>
    </head>
    <body>
        <section>
            <div class="content1"></div>
            <form name="myform" method="POST" style="margin-left: -181px;" action="sucess.html">
                <h2>Login</h2>
                <label for="user"><b>user</b></label>
                <br/><input type="text" placeholder="Enter Email" name="user" required=""/><br/><label for="psw"><b>Password</b></label><br/><input type="password" placeholder="Enter Password" name="psw" required=""/><br/><br/><input type="submit" value="submit"/>
            </form>
            <div class="content2">
                <img src="download.png" height="85px" style="margin-top: 112px;        width: 469px;        height: 142px;        "/></div>
        </section>
   
    
        
        
        
    </body>
</html>