<html>

<head>
<title>Navaratna's </title>
</head>

<body>
<h1><mark><%= kingName %>'s navarathna 's are</mark> </h1>

    <% ratnas.forEach((ratna)=>{ %>
        <h2><%= ratna %></h2>
    <% }); %>

</body>

</html>