
<div>
    <input type="text" class="form-control"  [(ngModel)]="textbox"/> 
    <br/>
     <button type="button" class="btn btn-danger" (click)="AddText()">Add Text</button>
      
     <div class="container" *ngFor="let boxtext of text">
       
        <h4> {{ boxtext }}</h4>
      </div>
  </div>