


<div>
  <input id="text" type="text" class="form-control"
   [(ngModel)]="serverName">
  <!--(input)="onUpdateServername($event)">-->
  </div>


  <button id="butt1" class="btn btn-primary" (click)="onCreateServer()">Add
    user</button>



      <div class="container">
        <app-server [serverName1]='serverName'></app-server>
        <app-server *ngFor="let message of vinays" [serverName1]='message' >

        </app-server>
        </div>
