<h3>SIGN IN</h3>
<form [formGroup]="SignInForm" action="" method="post">
  <label>Username or email</label><br/>
  <input type="text" formControlName="userName" size="30" required><br/>
  <label>Password</label><br/>
  <input type="password" formControlName="password" ng-bind = 'suggestion()' [(ngModel)]='pwd' placeholder="********" size="30" required ><br/>
    <p *ngIf="upperCaseStatus">Uppercase letter missing from the password.</p>
    <p *ngIf="lowerCaseStatus">Lowercase letter missing from password.</p>
    <p *ngIf="numberStatus"> Number missing from password.</p>
    <p *ngIf="lengthStatus">Password should be of minimum length 8 characters.</p>
    <input id="signin" type="submit" value="Sign in" size="400" width="50">
</form>