body{
    background-color: dimgray;
    
}
i{
    display: inline;
    color: rgb(95, 148, 148);
    size: 25px;
}
input[type="text"]{
    width: 300px;
    height: 30px;
}
input[type="email"]{
    width: 300px;
    height: 30px;
}
input[type="password"]{
    width: 300px;
    height: 30px;
}
input[type="submit"]{
    width: 150px;
    height: 30px;
    background-color:rgba(205, 224, 28, 0.418);
    border:2px solid;
    border:2px solid #91976d;
    color: rgb(30, 41, 40);
    }
input[type="reset"]{
    width: 150px;
    height: 30px;
    background-color:rgba(205, 224, 28, 0.418);
    border:2px solid #91976d;
    color: rgb(30, 41, 40);
}
input[type="tel"]{
    width: 300px;
    height: 30px;
}
input[type="date"]{
    width: 300px;
    height: 30px;
}
a{
    size: 30px;
}
h1{
    color:rgb(172, 153, 49);
    font-size: 40px;  
}
a:hover{
    color:red;
}
a{
    color:green;
}
