
 
 <div id="main">
 <div class="header">
            <a href="#default" class="logo">Ariba Network</a>
            <div class="header-center">
                <ul>
                    <li>
                        
                            <span class="lightAccountText">Upgrade from light account</span>&nbsp;
                            <a href="https://service.ariba.com/ProfileManagement.aw/ad/upgradeToFullAccount?app=Supplier&amp;editProfileDone=https%3A%2F%2Fservice.ariba.com%2FSupplier.aw%2F128478117%2Faw%3Fawh%3Dr%26awssk%3DxDCNbYOL"
                                class="learnMoreBtn w-btn">
                                <span style="color:#FF9900 ;">Learn More</span></a>
                    </li>
                </ul>
                <br>
                <div class="header-right">
                    <ul>
                        <li>

                            <div class="dropdown">
                                <button class="dropbtn">Company settings
                                    <i class="fa fa-caret-down"></i>
                                </button>&nbsp;
                                <div class="dropdown-content">
                                    <a href="#">Company Profile</a>
                                    <a href="#">Service subscriptions</a>
                                    <hr>
                                    <p style="text-align: center;font-size: 19px;"><b>Account settings</b></p>
                                    <hr>
                                    <a href="#">Customer relationships</a>
                                    <a href="#">Users</a>
                                    <a href="#">Notifications</a>
                                    <a href="#">Account hierarchy</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">
                                    {{name}}
                                    <i class="fa fa-caret-down"></i>
                                </button>&nbsp;
                                <div class="dropdown-content">
                                    <a href="/logout">Logout</a>
                                    <a href="#">My account</a>
                                    <a href="#">My community Profile</a>
                                    <hr>
                                    <p style="text-align: center;font-size: 19px;"><b>Switch</b></p>
                                    <hr>
                                    <a href="#">Link User</a>
                                    <a href="#">Contact Admin</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <button class="dropbtn">Create
                                    <i class="fa fa-caret-down"></i>
                                </button>&nbsp;
                                <div class="dropdown-content">
                                    <a href="/invoicedir">Non-PO</a></div>
                            </div>

                            <a style="cursor:pointer;margin-top: " onclick="openNav()">Help Center &ensp;<i class="fa fa-angle-double-right"
                                    aria-hidden="true"></i></a>&nbsp;
                        </li>
                    </ul>
                </div>

            </div>
        </div>
 <div class='back'>

     <div class="supp-SGNF-mainPanelFooter">
            <div class="ADMainPanelFooterHorizDiv">
                <div>
                    <div class="sgnfooteritem sgnFooterLogo"></div>
                    <div class="sgnfooterwrapper">
                        <span class="sgnfooteritem sgnfooteritemcolor btnSeparator">
                            {{name}} (
                            {{mail}} ) | last visted
                            {{login}} |
                           {{compName}} | AN{{Id}}
                        </span>

                    </div>
                    <div class="sgnfooterwrapper paddingTop5">
                        <span class="sgnfooteritem"><a target="_blank" href="http://www.ariba.com/legal/ariba_privacy_statement.cfm">SAP
                                Ariba Privacy Statement</a></span>
                        <span class="sgnfooteritem"><a target="_blank" href="https://www.ariba.com/legal/security-disclosure">Security
                                Disclosure</a></span>
                        <span class="sgnfooteritem"><a target="new" href="https://service.ariba.com/Authenticator.aw/ad/termsCenter">Terms
                                of Use</a></span>
                        <span class="sgnfootercopyright">© 1996–2018 Ariba, Inc. All rights reserved.</span>
                    </div>
                </div>
            </div>
        </div>   
           
</div>

            

    </div>
<div class='midContent'>
        
       </div>
       <div class='imageClass'>
  <img  class='imageClass' src='assets/images/play.jpg'/>

       </div>
       <div class='tasks'>
        <h4>Tasks</h4>
         <a class="play1" routerLink='/profile'>Update Profile Information &nbsp; <meter value="1" min="0" max="10"></meter>
            </a>
       </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginRight = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginRight = "0";
        }
    </script>