<div>
  <input type="text" class="form-control" [(ngModel)]="serverName"/> <!-- here serverName is an variable-->
   <button type="button" class="btn btn-primary" (click)="onAdd()">Add</button>
    <div class="container" *ngFor="let i of arr">
      <h2>{{ i }}</h2>
    </div>
  </div>