<html>
	<head>
		<link rel="shortcut icon" href="logo.png" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">-->
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            .sidenav {
                height: 100%;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
            }
            .sidenav a, .dropdown-btn {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 20px;
                color: #818181;
                display: block;
                border: none;
                background: none;
                width: 100%;
                text-align: left;
                cursor: pointer;
                outline: none;
            }
            .sidenav a:hover, .dropdown-btn:hover {
                color: #f1f1f1;
            }
            .product:hover{
                    background-color:color: #111;
            }
            .plink:hover{
                background-color: #111;
            }
            .panchor{
                 background-color: #111;
            }
            select{border:1px solid #b9b9b9; padding:0px 15px; width: 100%; height: 36px;border-radius: 3px}
            input{border:1px solid #b9b9b9; padding:0px 15px; width: 100%; height: 36px;border-radius: 3px}
            textarea{border: none; width: 100%; height: 31%;}
        </style>
    </head>
    <body class = 'container-fluid' style="padding-right: 0px;">
        <div class = 'container-fluid' style = 'border-bottom: 1px solid #dcdcdc;'>
            <div class = 'row'>
                <div class = 'col-sm-2 nav navbar-header' style = 'padding-top: 10px;border-right:1px solid #dcdcdc'>
                    <a href="https:www.google.co.in"><img style='width:auto; height:36px' src = 'opencart-logo.png'></a>
                </div>
                <div class = 'col-sm-7'>
                </div>
                <div class = 'col-sm-3'>
                    <ul class="nav navbar-nav navbar-right">
                        <li class = 'dropdown' style="border-left: 1px solid #dcdcdc;">
                            <a href = '#' data-toggle="dropdown" class="dropdown-toggle" style = 'padding: 0px 10px 0px 10px;'><img src = 'profile.png' style = 'border-radius: 22px;'>demo demo
                            <i class="glyphicon glyphicon-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="https://demo.opencart.com/admin/index.php?route=common/profile&amp;user_token=dYwRIdHhwly7zUDcAnhNS91viZVq1DBm"><i class="fa fa-user-circle-o fa-fw"></i> Your Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Stores</li>
                            <li><a href="https://demo.opencart.com/" target="_blank">Your Store</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Help</li>
                            <li><a href="#" target="_blank"><i class="fa fa-opencart fa-fw"></i> OpenCart Homepage</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-file-text-o fa-fw"></i> Documentation</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-comments-o fa-fw"></i> Support Forum</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href ='#' style = 'padding:13px 10px;border-left: 1px solid #dcdcdc;'> <i class = 'glyphicon glyphicon-log-out'></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class = 'container-fluid'>
            <div class = 'row'>
                <div class = 'col-sm-2' style='padding: 0px;'>
                    <div class="sidenav">
                        <div style = 'text-transform: uppercase;padding: 15px 15px 15px 15px;color: #FFFFFF;background: #19222E;display: block;'>
                            <i class = 'glyphicon glyphicon-menu-hamburger'></i> NAVIGATION
                        </div>
                        <a href="#about"><span class="glyphicon glyphicon-dashboard" style="padding-right: 5px;"></span>Dashboard</a>
                        <div class="dropdown product">
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-tags" style="padding-right: 10px;"></i>Category
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" style="background-color: #111;">
                                <li class ='plink'><a class="panchor" href="Products.html">Products</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class = 'col-sm-10' style="padding-left: 0px;padding-right: 0px;">
                    <div class='container-fluid' style="border-bottom: 1px solid #dcdcdc;margin: 15px 0px; padding-bottom: 7px;">
                        <span style= 'font-size: 35px'>Products</span>
                            <span>Home ></span>
                        <span style="color: #1e91cf;">Products</span>
                        <a href = 'Products.ejs' style="float:right; margin: 0px 5px;">
                        <span class="glyphicon glyphicon-share-alt" style="border: 1px solid #38abcc;height: 40px;width: 40px;padding: 12px;border-radius: 3px;color: white;background-color: #e3503e;border-color: #dd3520;"></span>
                        </a>                    
                        <button type="submit" form ='newProductForm' style="float: right;padding: 0px;border: none;background: none;">
                        <span class="glyphicon glyphicon-floppy-disk" style="border: 1px solid #38abcc;height: 40px;width: 40px;padding: 12px;border-radius: 3px;color: white;background-color: #54b7d3;"></span>
                        </button>
                    </div>
                    <div class="container-fluid">
                        <div  style=" border: 1px solid #dcdcdc">
                            <div style="padding:15px; font-size: 20px; border-bottom: 1px solid #dcdcdc; background: #f6f6f6">
                                <span class='glyphicon glyphicon-pencil' style="padding-right: 10px;"></span>Add Product
                            </div>
                            <div style='padding:15px;'>
                                <form id='newProductForm' action ='updatedProductsPage' method="post" enctype="multipart/form-data">
                                    <ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist" style="    margin-bottom: 15px;">
                                        <li>
                                            <a class="nav-link" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="home-just" aria-selected="true">General</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="profile-just" aria-selected="false">Data</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="contact-just" aria-selected="false">image</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="link-tab" data-toggle="tab" href="#link" role="tab" aria-controls="contact-justt" aria-selected="false">Link</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="" data-toggle="tab" href="#attribute" role="tab" aria-controls="contact-justt" aria-selected="false">Attribute</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="option-tab" data-toggle="tab" href="#option" role="tab" aria-controls="contact-justt" aria-selected="false">option</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="recurring-tab" data-toggle="tab" href="#recurring" role="tab" aria-controls="contact-justt" aria-selected="false">Recurring</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="discount-tab" data-toggle="tab" href="#discount" role="tab" aria-controls="contact-justt" aria-selected="false">Discount</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="special-tab" data-toggle="tab" href="#special" role="tab" aria-controls="contact-justt" aria-selected="false">Special</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="reward-tab" data-toggle="tab" href="#reward" role="tab" aria-controls="contact-justt" aria-selected="false">Reward</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="seo-tab" data-toggle="tab" href="#seo" role="tab" aria-controls="contact-justt" aria-selected="false">SEO</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="design-tab" data-toggle="tab" href="#design" role="tab" aria-controls="contact-justt" aria-selected="false">Design</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content card pt-5 active" id="myTabContentJust">
                                        <div class="tab-pane fade" id="general" role="tabpanel" aria-labelledby="general-div">
                                            <div class='row' style="padding: 20px 0px; border-bottom: 1px solid #dcdcdc;">
                                                <label class="col-sm-2">Product Name</label>
                                                <div class='col-sm-10'><input type='text' name='productName' placeholder="Product Name"></div>
                                            </div>
                                            <div class='row' style="padding: 20px 0px 0px 0px;">
                                                <label class='col-sm-2'>Description</label>
                                                    <div class="col-sm-10">
                                                         <div style="border:1px solid #b9b9b9; padding:5px 15px; border-radius: 3px;">
                                                    <textarea name='description' placeholder="Enter the description..."></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="data" role="tabpanel" aria-labelledby="data-div">
                                            <div class='row' style="padding: 20px 0px; border-bottom: 1px solid #dcdcdc;">
                                                <label class="col-sm-2">Model</label>
                                                <div class='col-sm-10'><input type='text' name='model' placeholder="Model"></div>
                                            </div>
                                            <div class='row' style="padding: 20px 0px; border-bottom: 1px solid #dcdcdc;">
                                                <label class="col-sm-2">Price</label>
                                                <div class='col-sm-10'><input type='text' name='price' placeholder="Price"></div>
                                            </div>
                                            <div class='row' style="padding: 20px 0px; border-bottom: 1px solid #dcdcdc;">
                                                <label class="col-sm-2">Quantity</label>
                                                <div class='col-sm-10'><input type='text' name='quantity' placeholder="Price"></div>
                                            </div>
                                            <div class='row' style="padding: 20px 0px; border-bottom: 1px solid #dcdcdc;">
                                                <label class="col-sm-2">Dimensions(LxHxW)</label>
                                                <div class="col-sm-10">
                                                    <div class="row">
                                                        <div class='col-sm-4'><input type='text' name='length' placeholder="Length"></div>
                                                        <div class='col-sm-4'><input type='text' name='height' placeholder="Height"></div>
                                                        <div class='col-sm-4'><input type='text' name='width' placeholder="Width"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='row' style="padding: 20px 0px; border-bottom: 1px solid #dcdcdc;">
                                                <label class="col-sm-2">Length Class</label>
                                                <div class='col-sm-10'>
                                                    <select name='lengthClass'>
                                                        <option value="mts">Meter</option>
                                                        <option value="cm">Centimeter</option>
                                                        <option value="inch">Inch</option>
                                                        <option value="mm">Millimeter</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class='row' style="padding: 20px 0px; border-bottom: 1px solid #dcdcdc;">
                                                <label class="col-sm-2">Weight</label>
                                                <div class='col-sm-10'><input type='text' name='weight' placeholder="Weight"></div>
                                            </div>
                                            <div class='row' style="padding: 20px 0px; border-bottom: 1px solid #dcdcdc;">
                                                <label class="col-sm-2">Weight Class</label>
                                                <div class='col-sm-10'>
                                                    <select name='weightClass'>
                                                        <option value="kg">Kilogram</option>
                                                        <option value="oz">Ounce</option>
                                                        <option value="lbs">Pound</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class='row' style="padding: 20px 0px; border-bottom: 1px solid #dcdcdc;">
                                                <label class="col-sm-2">Status</label>
                                                <div class='col-sm-10'>
                                                    <select name='status'>
                                                        <option value="Enabled">Enabled</option>
                                                        <option value="Disabled">Disabled</option>                                             
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-div">
                                            <div class='row' style="padding: 20px 0px; border-bottom: 1px solid #dcdcdc;">
                                                <div class="col-sm-2 labels">
                                                    <label>Image</label>
                                                </div>
                                                <div class='col-sm-10'><input type='file' name='image' accept="image/*"></div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="link" role="tabpanel" aria-labelledby="link-div">
                                            <p>Link</p>
                                        </div>
                                        <div class="tab-pane fade" id="attribute" role="tabpanel" aria-labelledby="attribute-div">
                                            <p>Attribute</p>
                                        </div>
                                        <div class="tab-pane fade" id="option" role="tabpanel" aria-labelledby="option-div">
                                            <p>Option</p>
                                        </div>
                                        <div class="tab-pane fade" id="recurring" role="tabpanel" aria-labelledby="recurring-div">
                                            <p>Recurring</p>
                                        </div>
                                        <div class="tab-pane fade" id="discount" role="tabpanel" aria-labelledby="discount-div">
                                            <p>Discount</p>
                                        </div>
                                        <div class="tab-pane fade" id="special" role="tabpanel" aria-labelledby="special-div">
                                            <p>Special</p>
                                        </div>
                                        <div class="tab-pane fade" id="reward" role="tabpanel" aria-labelledby="reward-div">
                                            <p>Reward.</p>
                                        </div>
                                        <div class="tab-pane fade" id="seo" role="tabpanel" aria-labelledby="seo-div">
                                            <p>SEO</p>
                                        </div>
                                        <div class="tab-pane fade" id="design" role="tabpanel" aria-labelledby="design-div">
                                            <p>Design</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>