<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Calendar</a>
    </div>
  </div>
</nav>


<div class="bg">
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">

			<form [formGroup]="eventPage" action="/event" >
				<div class="form-group">
				<label>Event Title*</label>
				<input type="text" name="eventName" formControlName="eventName" class="form-control"  [(ngModel)]='model.eventName' />

			</div>

				<div class="form-group">
					<label>Event Description*</label>
				 <input type="text"  formControlName="eventDesc" class="form-control" [(ngModel)]='model.eventDesc' />
				</div>

        <div class="form-group">
        <label>Date*</label>
        <input type="datetime-local" name="eventDate" formControlName="eventDate" class="form-control"  [(ngModel)]='model.eventDate' />
      </div>

      <div class="form-group">
      <label>Upload File*</label>
      <input type="file" name="eventFile" formControlName="eventFile" class="form-control"  [(ngModel)]='model.eventFile' accept="image/*" />

    </div>
				<div class="form-group">
                        <button [disabled]="loading" type="submit" class="btn btn-danger" (click)="event()">Submit</button>
                    </div>
			</form>
		</div>
	</div>
</div>
