body{
    background-color:white;
    margin:0;

}
nav{
    width:100%;
    height:44px;
    background-color:orange;
    line-height: 80px;
    

}
nav ul{
    float: Left;
    margin-right: 30px;
    margin-top:-18px;
    font-size:15;
}
nav ul li a{
    text-decoration: none;
    color:white;
    padding: 30px;
}

nav ul li{
    list-style-type: none;
display:inline-block;
transition: 0.8s all;
}
.b1 nav li a:hover
{background-color:#ddd;

}
.b1{
    margin-top: 0px;
}
.b1 ul{
    font-size:20;
}
.dropbtn {
    background-color: whitesmoke;
    color:blue;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn1 {
    background-color: brown;
    color:black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left:-10px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}
.container
{  margin-left:43px;
    width:330px;
    border:1px solid black;
    height:167px;
    background-color: #f1f1f1;
}
.container1
{margin-left:379px;
    margin-top:-168px;
    width:330px;
    border:1px solid black;
    height:167px;
    background-color: #f1f1f1;
}
.container2
{margin-left:715px;
    width:330px;
    border:1px solid black;
    height:166px;
    margin-top:-169px;
    background-color: #f1f1f1;
}
.container3
{margin-left:1052px;
    margin-top:-168px;
    width:330px;
    border:1px solid black;
    height:167px;
    background-color: #f1f1f1;
}
.container button {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:70px;
}
.container1 button {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:70px;
}
.container2 button {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:70px;
}
.container3 button {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:70px;
}
