<!DOCTYPE html>
<html>
<head>
	<title>Sign Form</title>
  
</head>

<style>

	
	
	.div1
	{
		margin-top: 92px;
		box-shadow: 1px 0px 7px 3px #ececec;
		    color: black;
		    background: #3e3d3d
	}
	body
	{
	     background: #ecf1f4
	}
	input
	{
	    margin-right:200px;
	    width: 100%;
	    background: none;
	    border: 1px solid #fff; 
	    border-radius: 3px;
	    padding: 6px 50px; 
	    box-sizing: border-box;
	    margin-bottom: 20px; 
	    font-size: 16px;
	    color: #fff;
	}
</style>


<body>

<div class="div1" style="width:35%;height:80%;margin-left:400px;">
  
  <h1 style="margin-left:160px;">Login</h1><br>
  <form method="POST" action="/login">
  
  <div margin-right="100px;">
   
    <div><input type="text" required name="username" placeholder="Username"></div>
  </div><br>
   
	<div class="row">
    <div><input type="text" required name="username" placeholder="Password"></div>
	</div><br>
	<input type="submit" value="Login" style="background:black;">
</form>
</div>
</body>
</html>