<html>

<head>
<title>Navaratnas </title>
</head>

<body>
<h1><i> Navaratnas present in  <%= kingName %>'s kingdom</i></h1>

    <% ratnas.forEach((person)=>{ %>
        <p><%= person %></p>
    <% }); %>

</body>

</html>