
<div>
    <label>ObjectType</label>
    <div>
        <select [(ngModel)]="object">
            <option *ngFor="let x of objectData" [value]="x.name">{{x.name}}
            </option>

        </select>

    </div>
</div>


<div *ngIf="object ==='Person'" name="object.name">
    <div>
        <label> Person Name</label>
        <input type="text" class="form-control" [(ngModel)]="model.personName" required/>
    </div>
    <div>
        <label>Type of Calendar</label>
        <input type="text" class="form-control" [(ngModel)]="model.typeOfCalendar" required/>
    </div>

    <div>
        <label>Birth Date</label>
        <input type="date" class="form-control" [(ngModel)]="model.birthDate" required/>
    </div>

    <div>
        <label>Death date</label>
        <input type="date" class="form-control"  [(ngModel)]="model.deathDate" required/>
    </div>
    <div>
        <label>Address</label>
        <input type="text" class="form-control" [(ngModel)]="model.address" required/>
    </div>
    <div>
        <button type="button" (click)="submitPersonData()">Submit</button>
    </div>
</div>
<div *ngIf="object ==='Sport'" name="object.name">
    <label> Type of Calendar </label>
    <input type="text" class="form-control" [(ngModel)]="model.calender" required/>

    <div>
        <label>Type of Sport</label>

        <input type="text" class="form-control" [(ngModel)]="model.sportType" required/>
    </div>
    <div>
        <label>Name of Sport</label>
        <input type="text" class="form-control" [(ngModel)]="model.sportname" required/>
    </div>
    <div>
        <button type="button" (click)="submitSportData()">Submit</button>
    </div>
</div>
<div *ngIf="object ==='Time'" name="object.name">

    <label> Type of Calendar</label>
    <input type="text" class="form-control" [(ngModel)]="model.calender" required/>

    <div>
        <label>Day</label>
        <input type="text" class="form-control"  [(ngModel)]="model.day" required/>
    </div>
    <div>
        <label>Month</label>
        <input type="text" class="form-control" [(ngModel)]="model.month" required/>
    </div>
    <div>
        <label>Year</label>
        <input type="text" class="form-control" [(ngModel)]="model.year" required/>
    </div>
    <div>
        <button type="button" (click)="submitTimeData()">Submit</button>
    </div>
</div>


<div *ngIf="object ==='Event'" name="object.name">

    <label> Event Name</label>
    <input type="text" class="form-control" [(ngModel)]="model.eventName" required/>

    <div>
        <label>Type of Calendar</label>
        <input type="text" class="form-control"  [(ngModel)]="model.calender" required/>
    </div>
    <div>
        <label>Event Start</label>
        <input type="text" class="form-control" [(ngModel)]="model.eventStart" required/>
    </div>
    <div>
        <label>Event End</label>
        <input type="text" class="form-control" [(ngModel)]="model.eventEnd" required/>
    </div>
    <div>
        <button type="button" (click)="submitEventData()">Submit</button>
    </div>
</div>



<div *ngIf="object ==='Location'" name="object.name">

    <label> Type of Calendar</label>
    <input type="text" class="form-control" [(ngModel)]="model.calender" required/>

    <div>
        <label>Type of Location</label>
        <input type="text" class="form-control"  [(ngModel)]="model.locationType" required/>
    </div>
    <div>
        <label>Name of Location</label>
        <input type="text" class="form-control" [(ngModel)]="model.locationName" required/>
    </div>
    
    <div>
        <button type="button" (click)="submitLocationData()">Submit</button>
    </div>
</div>