html
  head
    link(rel='shortcut icon', href='gitlogo.jpg', type='image/jpg')
    title Git Lab
    script(src='./angular.js')
    style.
      .country
      {
      text-indent: 4px;
      height: 34px;
      width: 52px;
      border: 2px solid black;
      border-radius: 8px;
      }
      div
      {
      padding: 2px;
      }
      h3
      {
      text-shadow: 2px 2px 5px purple;
      }
      a
      {
      text-decoration:none;
      font-size:17px;
      }
      table
      {
      border:1;
      }
      option
      {
      width: 20px;  height: 30px;
      border-color: 2px solid black;
      }
      label
      {
      color:black;
      font-size:17px;
      <!--text-shadow:1px 1px 3px purple;-->
      }
      #input
      {
      width:350px;
      outline: 1px brown;
      box-shadow:2px 2px 5px purple;
      }
      body
      {
      background-color:white;
      }
      h1
      {
      color:white;
      border-radius:8px;
      background-color:purple;
      }
      td
      {
      background-color:white;
      }
      input
      {
      border-radius:8px;
      border: 2px solid black;
      padding:8px;
      argin:"left";
      size:30;
      }
      input[type=submit]:hover
      {
      font-weight:bold;
      box-shadow:3px 3px 3px purple;
      width: 220px;  height: 35px;
      background-color:purple;
      color:white;
      align:middle;
      }
      input[type=submit]
      {
      width: 220px;  height: 35px;
      background-color:purple;
      color:white;
      font-size:18px;
      }
      input[type=email]:invalid:not(:focus)
      {
      outline: 1px solid purple;
      }
    script(type='text/javascript').
      var Validate = function()
      {
      var x=document.getElementById("email1").value;
      var y=document.getElementById("email2").value;
      var p=document.getElementById("pw").value;
      console.log("password="+p);
      var num="";
      var upp="";
      var low="";
      for(let i=0;i<p.length;i++)
      {
      var char=p.charAt(i);
      var number=parseInt(char);
      console.log(char);
      if(!(isNaN(number)) && num!=="")
      {
      num="junk";
      console.log(num);
      }
      if(char >= 'A' && char <= 'Z' && upp!=="")
      {
      upp="junk";
      console.log(upp);
      }
      if(char >= 'a' && char <= 'z' && low!=="")
      {
      low="junk";
      console.log(low);
      }
      }
      if(x!==y)
      {
      console.log("Emails are matching");
      window.alert("Emails are not matching. Enter same email 2 times");
      return false;
      }
      if(p.length<8)
      {
      window.alert("The password should have a minimum of 8 characters");
      return false;
      }
      if(upp!=="")
      {
      window.alert("The password should have atleast 1 Uppercase letter");
      return false;
      }
      if(low!=="")
      {
      window.alert("The password should have atleast 1 Lowercase letter");
      return false;
      }
      else
      return true;
      }
    script.
      angular.module('app',[]).controller('appcontroller', function($scope){
      $scope.objectt={};
      $scope.objectt.password="";
      $scope.objectt.suggestion=function()
      {
      var num="1 number. ";
      var upp="1 UpperCase. ";
      var low="1 LowerCase. ";
      var least="minimum 8 characters.";
      if((typeof $scope.objectt.password)==="string")
      {
      for(let i=0;i<$scope.objectt.password.length;i++)
      {
      var char=$scope.objectt.password.charAt(i);
      var number=parseInt(char);
      if(!(isNaN(number)) && num!=="")
      {
      num="";
      }
      if(char >= 'A' && char <= 'Z' && upp!=="")
      {
      upp="";
      }
      if(char >= 'a' && char <= 'z' && low!=="")
      {
      low="";
      }
      }
      if($scope.objectt.password.length>=8)
      {
      least="";
      }
      if((num+upp+low+least).length>0)
      {return num+upp+low+least+ " missing.";}
      else
      return "";
      }
      else
      {
      if((num+upp+low+least).length>0)
      {return num+upp+low+least+ " missing.";}
      else
      return "";
      }
      }
      });
  body(ng-app='app')
    div(align='center')
      img(src='gitlogo.jpg', alt='Git Lab Logo', align='middle', height='50px', width='50px')
    h1.head1(align='center') GitLab!
    table(align='center', width='70%')
      tbody
        tr
          td(valign='top')
            #input
              h3 SIGN IN
              form(action='LoginSuccess.html', method='post')
                label Username or email
                br
                input(type='text', name='user', size='30', required='')
                br
                label Password
                br
                input(type='password', name='pwd', placeholder='********', size='30', required='')
                br
                input(type='checkbox', name='remember me', value='yes')
                | Remember me
                br
                a(href='PasswordReset.html') Forgot your password?
                br
                input#signin(type='submit', value='Sign in', size='400', width='50')
          td
            #input(ng-controller='appcontroller')
              h3 REGISTER
              form(action='RegistrationSuccess.html', method='post', onsubmit='return Validate();')
                label(for='fname') Full name
                br
                input(type='text', name='name', size='30')
                br
                label Username
                br
                input(type='text', name='userName', size='30', required='')
                br
                label Email
                br
                input#email1(type='email', placeholder='example@gmail.com', name='email1', size='30', required='')
                br
                label Email confirmation
                br
                input#email2(type='email', name='email2', placeholder='example@gmail.com', size='30', required='')
                br
                label Phone number
                br
                select.country(name='code')
                  option(value='+91', name='countryCode') +91
                  option(value='+92', name='countryCode') +92
                  option(value='+93', name='countryCode') +93
                  option(value='+94', name='countryCode') +94
                  option(value='+95', name='countryCode') +95
                  option(value='+96', name='countryCode') +96
                input(type='text', style='width: 203px;', name='phone', minlength='10', maxlength='10', pattern='[0-9]{10}', size='21.5', title='Enter the numbers only', required='')
                br
                // onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                label Password
                br
                input#pw(type='password', ng-model='objectt.password', name='pwd', placeholder='********', size='30', required='')
                br
                span {{objectt.suggestion()}}
                br
                input(type='checkbox', name='terms', value='yes')
                | I accept the 
                a(href='terms.html')  Terms of service and Privacy policy. 
                br
                input(type='checkbox', name='updates', value='yes', font-size='17px')
                | I'd like to receive updates via email about GitLab.
                br
                input(type='submit', value='Register', size='30')
    //
      <span>{{objectt.suggestion()}}</span><br>