<div [style.border]='divColor' [style.margin-bottom]='mgn' [style.padding]='pdng'>
<p>
  component2 works!
</p>
<input type = checkbox (click)='changeColor()'><label>Click on check box to change the color...</label>
<h2 [style.color]='colour'>Danger!!!</h2>

<label>Enter your Danger text here...</label><br>
<input type="text" class='form-control' [(ngModel)]='inputText'>

<input type="button" value='Add' (click)='display()'>

<div *ngFor='let text of textArray'>
  <h2>{{text}}</h2>
</div>
</div>