<input id="text1" type="text" name="email1"  [(ngModel)]="serverMessege"><br/>

<div>
  <label><button type="button" class="btn btn-primary btn-sm" id='butn1' (click)="addServer()">Add Server</button></label>
</div>
<app-server  *ngFor="let mes of serverName" [serName]='mes'></app-server>