<p>
  index-component works!
</p>
<div class="bg-img" style="background-image: url(assets/images/download.jpg); width: 100%; height: 100%">
  <div class="container">
    <div class="topnav">
      <a href="/home">Home</a>
      <a href="/overAll">OverAllevents</a>
      <a href="/Edit">Edit</a>
      <a routerLink="/login">Login</a>

    </div>
  </div>
</div>