<!DOCTYPE html>


<html>

    
    <head>
        <title>Sign Up</title>
    </head>
    
    <style>
    
        
        body{background: #ecf1f4; font-family: sans-serif;}
        
        .form-wrap{align:center;width: 320px; background: #3e3d3d;padding: 40px 20px;padding: 40px 20px;margin-left:500px;margin-top:50px;}
        h1{text-align: center; color: #fff; font-weight: normal; margin-bottom: 20px;}
        
        input{width: 100%; background: none; border: 1px solid #fff; border-radius: 3px; padding: 6px 15px; box-sizing: border-box; margin-bottom: 20px; font-size: 16px; color: #fff;}
        
       .button{ margin: 4px 120px;}
      
       a{color:red;margin-left:140px;}

       

        
    
    </style>

    <body>
    
        <div class="form-wrap">
        
            <form action="register" method="POST" enctype="multipart/form-data">
            
                <h1>Sign Up</h1>
                <input type="text" name="myname" placeholder="Name">
                <input type="text" name="myemail" placeholder="Username">
                <input type="email" name="myconemail" placeholder="Email">
                <input type="password" name="mypass1" placeholder="Password">
                <input type="password" placeholder="Confirm Password">
		<input type="file" name="userImage" placeholder="file">
                <button class="button">Sign Up</button>
                <p align=center>Already Registered?</p>
                <a href="login.html">Login</a>
            
            </form>
        
        </div>
    
    
    
    </body>



</html>