<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        
        * {
            box-sizing: border-box;
        }
        
         body {
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: whitesmoke;
                }
       
        
        .columns {
            float: left;
            width: 33.3%;
            padding: 8px;
        }
        
        .price {
            list-style-type: none;
            border: 1px solid #eee;
            margin: 0;
            padding: 0;
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }
        
        .price:hover {
            box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
        }
        
        .price .header {
            background-color: #111;
            color: white;
            font-size: 25px;
        }
        
        .price li {
            border-bottom: 1px solid #eee;
            padding: 20px;
            text-align: center;
        }
        
        .price .grey {
            background-color: #eee;
            font-size: 20px;
        }
        
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
        }
        
        @media only screen and (max-width: 600px) {
            .columns {
                width: 100%;
            }
        }

        /*header part*/

ol, ul {
    list-style: none;
}
.abc{
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
a:hover, a:focus, a:active {
    color: rgb(6, 63, 6);
    text-decoration: none;
}
a {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(19, 177, 19);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: #000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
.s{
    position: sticky;
   
}
.trial{

border: 0px solid black;
text-align: right;
padding-right: 5px;
margin-right: 45px;
}
.aa{
    font-size: 15px;
   display: inline-block;
 background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 

}


input[type=submit]:hover{
    text-decoration:underline;
}
.logo{
            padding: 22px;
            padding-right: 30px;
        }

.class1{

background-color: #2e3339;
  font-weight: 400;
font-size: 16px;
cursor: default;
color: #eeeded;
    padding: 10px;
    font-size: 14px;
        font-family: Roboto,sans-serif;
      
}
.class2{
width: .5rem;

            color: #999;
font-size:12px;
}
.class3{
text-align:center;
}
.class3{
text-align:center;
}
.class4{
display: inline-block;
height: 28px;
width: 28px;
margin-left: 5px;
padding: 0;
background: url(//static.naukimg.com/s/5/100/i/socialSharing.png) repeat-y;
    color: #0074ad;
text-decoration: none;
}

.container-fluid.footerColor {
background-color: #2e3339;
}

button.btn.btn-fb {
background: #3b5998;
color: white;
}
button.btn.btn-tw {
background: #00acee;
color: white;
}

button.btn.btn-gplus {
background:#dd4b39;
 color: white;
}

button.btn.btn-li{
background: #0e76a8;
 color: white;
}

        
        .logindiv{
            display:subgrid;
            background-color: rgb(9, 63, 9);
                padding: 29px;
                color: white;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size:40px;
                margin-bottom: 2%;
                padding:2%;
        }
        .abc{
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}


        </style>

</head>
<body>
         <div style="float:right;">
                <p>Trial / Subscription expired?</p>
                <p><a class="aa" href="login.ejs">login</a><span>    </span><a class="aa" href="register.ejs">register</a></p>
           </div>     
            <br>
            <br>
            <div class="fixed-top" style="padding:22px;padding-right: 30px;top:0px;width: 100%">
                    <img src="web-logo..png">
        <nav>
                <ul>
                  <li class="abc"><a href="#">Features</a></li>
                  <li class="abc"><a href="#">Pricing</a></li>
                  <li class="abc"><a href="#">Download</a></li>
                  <li class="abc"><a href="#">FAQ</a></li>
                  <li class="abc"><a href="#">Contact US</a></li>
                </ul>
</nav>
</div>
    
    
               <div class="logindiv">
    <h1><p>Cannot login  <%=reg%> Please Login again or Register</p></h1>
    </div>



<!--corosel-->

		<!--footer-->  
		  <footer class="fixed-bottom" style="padding-top: 132px;">
                <nav >
                
                <div>
                
                <div class="container-fluid footerColor">
                <div class="col-sm-3 class1 class3" >
                <p >Information</p>
                <p class="class2" style="margin-left:127px;">
                AboutUs<br><br>
                Terms&Conditions<br><br>
                PrivacyPolicy<br><br>
                CareerswithUs<br><br>
                Sitemap<br><br>
                </p>
                
                </div>
                <div class="col-sm-3 class1 ">
                
                <p>Contact us

                
                <p class="class2" style="text-align:justify;">
                JustAppsPvt.Ltd.<br><br>
                ConnaughtPlaceNew<br>Delhi110001<br><br>
                BlockCompanies<br><br>
                support@bookkeeperapp.net<br><br>
                ReportProblem<br><br>
                Blogs<br><br>
                
	
				
				
				
				
                </p>
                </div>
                <div class="col-sm-3 class1">
                <p>	Resources</p>
                <p class="class2" >
                TermsofService<br><br>
                PrivacyPolicy<br><br>
                RefundPolicy<br><br>
                License<br><br>
                
                
                </p>
                
                </div>
                <div class="col-sm-3 class1">
                <p>Employers</p>
                <div>
                <div class="class2" >
                PostJobs<br><br>
                AccessDatabase<br><br>
                RecruitersfromUSA,call<br><br>
                TollFree#18665573340<br><br>
                
                <a style="padding-bottom:5px;     vertical-align: middle;
                    width: 17px;" target="_blank">FollowUs</a>
                    </div>
                <div class="row">
                <!--Facebook-->
                    
                    <button type="button" ><a class="aa btn btn-fb" href="https://en-gb.facebook.com/login/" target="_blank"><i class="fa fa-facebook"></i></a></button>
                <!--Twitter-->
                    <button type="button"><a class=" btn btn-fw" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></button>
                <!--Google +-->
                    <button type="button" ><a class=" btn btn-gplus" href="https://plus.google.com/discover" target="_blank"><i class="fa fa-google-plus"></i></a></button>
                <!--Linkedin-->
                    <button type="button" ><a class="btn btn-li" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></button>
                <!--Instagram-->
                
                </div>
                
                </div>
                </div>
                </div>
                </div>
                
                </div>
                </nav>
                </footer> 
</body>
</html>
