<!DOCTYPE html>

<html lang="en" ng-app="liveApp">



<head>

    <meta charset="utf-8">

    <title>register</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

</head>



<body style="width:40%;box-shadow: 1px 0px 7px 3px #ded9d9;margin-left: 30%;">



<h2 style="text-align:center;color:orange;">Register</h2>

<div ng-controller="repeatCtrl" style="padding: 22px;">  

   <form name="liveForm" action="success.html">  

  


  

      <div>  

         <label>First name :</label>  

         <input type="text" required name="firstname"/>  

      </div>  
	<div>  

         <label>Last name :</label>  

         <input type="text" name="lastname" required/>  

      </div>  
	<div class="row">
    <div class="col-sm-1">Gender:</div><br>
    <div class="col-sm-3">
	<input type="radio" name="gender" value="male" checked> Male<br>
	<input type="radio" name="gender" value="female"> Female<br></div>
  </div><br>

	<div>  

         <label>email:</label>
	<input type="email" pattern="[^ @]*@[^ @]*" required placeholder="Enter your email">
	</div>

      <div>  

         <label>Password</label>  

         <input type="password" name="livePass" ng-model="livePass" required class="form-control" style="width:200px;"/>  

      </div>  



      <div>  

         <label>Confirm Password</label>  

         <input type="password" name="repeatPass" ng-model="repeatPass" required compare-to="livePass" class="form-control" style="width:200px;"/>   

         <span class="error text-danger" ng-show="liveForm.repeatPass.$error.compareTo">  

            Passwords don't match.  

         </span>   

      </div><br>

	<input type="submit" value="submit">

   </form>   

</div>



<script type="text/javascript">

  var liveApp = angular.module("liveApp", []); 



  liveApp.controller("repeatCtrl", function ($scope)  

  {  

      $scope.student = {  

          password: "",  

          repeatPassword: ""  

      };  

  });  



  liveApp.directive("compareTo", function ()  

  {  

      return {  

          require: "ngModel",  

          scope:  

          {  

              repeatPassword: "=compareTo"  

          },  

          link: function (scope, element, attributes, paramval)  

          {  

              paramval.$validators.compareTo = function (val)  

              {  

                  return val == scope.repeatPassword;  

              };  

              scope.$watch("repeatPassword", function ()  

              {  

                  paramval.$validate();  

              });  

          }  

      };  

  });  

</script>


<br><br>
</body>

</html>