
<html>
    <head>
    <title>ariba.com - welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
   
    </head>
    
    <body bgcolor="#FFFFFF" >
    <p align="center">&nbsp;</p>
    <div align="center">
      <table width="470" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr> 
          <td rowspan="2"><img src="images/2.gif" width="118" height="124" name="animation"></td>
          <td><a href="/Buyer.aw" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('document.animation','document.animation','an/p/Ariba/DefaultPage/images/animation/buyerball.jpg','#919906752247')"><img src="images/33.jpg" border="0" name="buyerbox" width="228" height="62" alt="Ariba Network Buyer"></a></td>
          <td rowspan="2"><a href="http://www.ariba.com/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('document.animation','document.animation','an/p/Ariba/DefaultPage/images/animation/corpball.jpg','#919906637272')"><img src="images/4.gif" border="0" name="aribalogobox" width="124" height="124" alt="corp.ariba.com"></a></td>
        </tr>
        <tr> 
          <td><a href="/Supplier.aw" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('document.animation','document.animation','an/p/Ariba/DefaultPage/images/animation/supplierball.jpg','#919906767870')"><img src="images/55.jpg" border="0" name="supplierbox" width="228" height="62" alt="Ariba Network Supplier"></a></td>
        </tr>
      </table>
      <br>
    </div>
    <p align="center">&nbsp;</p>
    
    <div align="center">
      <table width="470" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <!-- CAN-7004 WebTrust logo has been updated per legal requirements -->
                <a href="https://cert.webtrust.org/ViewSeal?id=1797" target="webtrust">
                <img border="0" src="images/3.jpg" alt="WebTrust"/>
                </a>
            </td>
        </tr>
      </table>
    </div>
    
    <p align="center">&nbsp;</p>
    <div align="center">
      <table width="470" border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td width="235"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="4">
              <tr> 
                <td> 
                  <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#CC9933">Buyer 
                    Network</font></b></div>
                </td>
              </tr>
              <tr> 
                <td> 
                  <div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><a href="login">buyer.ariba.com</a></font></div>
                </td>
              </tr>
            </table>
          </td>
          <td width="1"><img src="images/6.gif" width="1" height="40"></td>
          <td width="234"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="4">
              <tr> 
                <td> 
                  <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#006699">Supplier 
                    Network</font></b></div>
                </td>
              </tr>
              <tr> 
                <td> 
                  <div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><a href="login">supplier.ariba.com</a> 
                    </font></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    </body>
    </html>
    