<!DOCTYPE html>
<html>
    <head>
        <title>Ariba Home</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/landstyle.css"/>
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" >
        
        
        
    </head>
    <body style="background-color: #10426B !important;">
        <div id="main">
        
        <div id="mySidenav" class="sidenav">
    
    <a style="font-size: 16px;margin-top: 10px;"href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-angle-double-left" > &nbsp;Help Center</i></a>
    <div class="panel1">
     <div class="panel panel-default">
      <div class="panel-heading">
          
         </div>
      <div class="panel-body">
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">I need help accessing a sourcing event</a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">Training sessions with live QnA</a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">Send a PO-based invoice </a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">Why can't I find an event?</a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">Where do I find my Ariba Network ID (ANID) number?</a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">How do I accept a customer-invited trading relationship request?</a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">How do I participate in my buyer's event using an email invitation?</a></span>

        </div>
    </div></div>
    
    <div class="panel2">
    <div class="panel panel-primary">
      <div class="panel-body .faq">
          <span ><a style="margin-top: 15px;margin-bottom: 5px; margin-left: 20px;" >TOP 5 FAQ's</a></span>
        </div>
    </div></div>
  
</div>
        
        
        
        <div class="header">
            <a href="#default" class="logo">Ariba Network</a>
            <div class="header-center">
                <ul>
                    <li><center>
            <span class="lightAccountText">Upgrade from light account</span>&nbsp;
                <a href="https://service.ariba.com/ProfileManagement.aw/ad/upgradeToFullAccount?app=Supplier&amp;editProfileDone=https%3A%2F%2Fservice.ariba.com%2FSupplier.aw%2F128478117%2Faw%3Fawh%3Dr%26awssk%3DxDCNbYOL" class="learnMoreBtn w-btn">
                    <span style="color:#FF9900 ;">Learn More</span></a></center>
                    </li>
                    </ul>
                 <br>
            <div class="header-right">
            <ul>   <li>
                
                  <div class="dropdown">
                    <button class="dropbtn">Company settings 
                        <i class="fa fa-caret-down"></i>
                    </button>&nbsp;
                    <div class="dropdown-content">
                             <a href="#">Company Profile</a>
                            <a href="#">Service subscriptions</a><hr>
                        <p style="text-align: center;font-size: 19px;"><b>Account settings</b></p><hr>
                            <a href="#">Customer relationships</a>
                        <a href="#">Users</a>
                        <a href="#">Notifications</a>
                        <a href="#">Account hierarchy</a>
                    </div>
                </div> 
                <div class="dropdown">
                    <button class="dropbtn"><%=name%>
                        <i class="fa fa-caret-down"></i>
                    </button>&nbsp;
                    <div class="dropdown-content">
                            <a href="#">Logout</a>
                            <a href="#">My account</a>
                            <a href="#">My community Profile</a><hr>
                        <p style="text-align: center;font-size: 19px;"><b>Switch</b></p><hr>
                        <a href="#">Link User</a>
                        <a href="#">Contact Admin</a>
                    </div>
                </div> 
                
           
                
			<a style="cursor:pointer;margin-top: " onclick="openNav()">Help Center  &ensp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>&nbsp;
    </li> </ul>
            </div>
            </div>
        </div>
            
            <div class="white">
                <img class="play" src="images/play.png">
                <a class="play1" href="profile">Update Profile Information</a>
                <a class="link1" href=""></a>           
             </div>
            
            <div class="midcontent">
            <div class="panel panel-default">
      <div class="panel-heading">
          
          
          <h3>Orders, Invoices and Payments</h3>
      	     <div class="frp">
                 <div class="dropdown" >
                    <button class="dropbtn">Users
                        <i class="fa fa-caret-down"></i>
                    </button>&nbsp;
                    <div class="dropdown-content">
                            <a href="#"><input type="checkbox">All customers</a>
                            
                    </div>
                   </div>
                 </div>
      </div>
      <div class="panel-body">
         <div class="container">
            <a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>
          </div>

       
    </div>
      <div class="panel-footer">&nbsp;</div>
    </div>
  </div>
        
        
        <div class="supp-SGNF-mainPanelFooter">
            <div class="ADMainPanelFooterHorizDiv">
                <div>
                    <div class="sgnfooteritem sgnFooterLogo"></div>
                    <div class="sgnfooterwrapper">
                        <span class="sgnfooteritem sgnfooteritemcolor btnSeparator"><%=name%> (<%=mail%>)</span>
                        <span class="sgnfooteritemsize sgnfooteritemcolor btnSeparator paddingRight5"><%=compName%></span>
                        <span class="sgnfooteritemsize sgnfooteritemcolor"><%=Id%></span>
                    </div>
                    <div class="sgnfooterwrapper paddingTop5">
                        <span class="sgnfooteritem"><a target="_blank" href="http://www.ariba.com/legal/ariba_privacy_statement.cfm">SAP Ariba Privacy Statement</a></span>
                        <span class="sgnfooteritem"><a target="_blank" href="https://www.ariba.com/legal/security-disclosure">Security Disclosure</a></span>
                        <span class="sgnfooteritem"><a target="new" href="https://service.ariba.com/Authenticator.aw/ad/termsCenter">Terms of Use</a></span>
                        <span class="sgnfootercopyright">© 1996–2018 Ariba, Inc. All rights reserved.</span>
                    </div>
                </div>
            </div>
        </div>
     
       </div> 
    <script>
        $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginRight = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginRight= "0";
}
</script>    
        
    </body>
    
</html>