<!DOCTYPE html>
<html>
    <head>
        <title>CSS Registration Form</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/default.css"/>
          <link href="css/bootstrap.min.css" rel="stylesheet">
   
           <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </head>
    <body>
        <div id="main">

        <div id="mySidenav" class="sidenav">
    
    <a style="font-size: 16px;margin-top: 10px;"href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-angle-double-left" > &nbsp;Help Center</i></a>
    <div class="panel1">
     <div class="panel panel-default">
      <div class="panel-heading">
          
         </div>
      <div class="panel-body">
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">I need help accessing a sourcing event</a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">Training sessions with live QnA</a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">Send a PO-based invoice </a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">Why can't I find an event?</a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">Where do I find my Ariba Network ID (ANID) number?</a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">How do I accept a customer-invited trading relationship request?</a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">How do I participate in my buyer's event using an email invitation?</a></span>

        </div>
    </div></div>
    <div class="panel2">
    <div class="panel panel-primary">
      <div class="panel-body .faq">
          <span ><a style="margin-top: 15px;margin-bottom: 5px; margin-left: 10px;" >TOP 5 FAQ's</a></span>
        </div>
    </div></div>
  
</div>
        <div class="header">
            <a href="#default" class="logo">Ariba Network</a>
            <div class="header-right">
                
              
            <a href="#"><i class="fa fa-th">&ensp;</i></a>
            <a style="cursor:pointer;margin-top: " onclick="openNav()">Help Center  &ensp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    
            </div>
        </div>
        <div class="container-fluid text-center"> 
            <div class="row content">
        <div class="col-sm-10 text-left">
        <form action="/Register" method="POST" class="register">
            <h1>Register</h1><hr /><br><br>
            <div style="float: right;"><button class="button1">Cancel</button></div>
            <div style="float: right;"><button class="button">Register &raquo;</button></div>
            <h3 style="color:red; font-size: 18px;"><%=msg%></h3>
            <fieldset class="row1">
                <legend>COMPANY DETAILS
                </legend>
                <label class="obinfo" style="margin-left: 640px;">*obligatory fields
                </label>
                <p>
                    <label>Company Name:
                    </label>
                    <input type="text" name="uCompName" required />
                </p>
                <p> <label>Country:
                    </label>
                    <input type="text"  />
                </p>
                <p>
                    <label>Country *
                    </label>
                    <select>
                        <option>
                        </option>
                        <option value="1">United States
                        </option>
                        <option value="2">England
                        </option>
                        <option value="3">India 
                        </option>
                        <option value="4">China
                        </option>
                        <option value="5">Russia
                        </option>
                        <option value="6">Singapore
                        </option>
                        <option value="7">Sri lanka
                        </option>
                        <option value="8">South Africa
                        </option>
                        <option value="9">France
                        </option>
                        <option value="10">Brazil
                        </option>
                        <option value="11">Uruguay
                        </option>
                        <option value="12">Spain
                        </option>
                        <option value="13">Italy
                        </option>
                        <option value="14">Japan
                        </option>
                        <option value="15">Hungary
                        </option>
                    </select>
                </p>
                <p>
                    <label>Address *
                    </label>
                    <input type="text" />
                </p>
                <p>
                    <label>City *
                    </label>
                    <input type="text" class="long" />
                </p>
                <p><label>State *
                    </label>
                    <input type="text" class="long" />
                </p>
                <p><label>Zip *
                    </label>
                    <input type="text" class="long" />
                </p>
                
            </fieldset>
            
            <fieldset class="row2">
                <legend>USER ACCOUNT INFORMATION
                </legend>
                <label class="obinfo">* obligatory fields
                </label>
                
                 <p><label>First Name *
                    </label>
                    <input type="text" name="uFirst" class="long" />
                </p>
                <p><label>Last Name *
                    </label>
                    <input type="text" name="uLast" class="long" />
                </p>
                <p>
                    <label>Email*
                    </label>
                    <input type="email" name="uEmail" required />
                </p>
                <p>
                    <label >User Name *
                    </label>
                    <input type="text" class="long" name="uUserName" required />
                  
                </p>
                <p>
                    <label>Password *
                    </label>
                    <input type="text" class="long" name="uPassword" required/>
                </p>
                <p>
                    <label>Language *
                    </label>
                    <select>
                        <option>
                        </option>
                        <option value="1">English
                        </option>
                        <option value="2">Hindi
                        </option>
                        <option value="3">Kannada
                        </option>
                        <option value="4">French
                        </option>
                        <option value="5">Georgian
                        </option>
                        <option value="6">German
                        </option>
                        <option value="7">Greek
                        </option>
                        <option value="8">Japanese
                        </option>
                        <option value="9">Cuban
                        </option>
                        <option value="10">Chinese
                        </option>
                        <option value="11">Malaysian
                        </option>
                        <option value="12">African
                        </option>
                    </select>
                </p>
                <p>
                    <label >Email Orders To:
                    </label>
                    <input class="long" type="text" />

                </p>
            </fieldset>
            
            <fieldset class="row3">
                <legend>FURTHER INFORMATION
                </legend>
                <label class="obinfo">* obligatory fields
                </label>
                <p>
                    <label>Gender *</label>
                    <input type="radio" value="radio" />
                    <label class="gender">Male</label>
                    <input type="radio" value="radio" />
                    <label class="gender">Female</label>
                </p>
                <p>
                    <label>Birthdate *
                    </label>
                    <select class="date">
                        <option value="1">01
                        </option>
                        <option value="2">02
                        </option>
                        <option value="3">03
                        </option>
                        <option value="4">04
                        </option>
                        <option value="5">05
                        </option>
                        <option value="6">06
                        </option>
                        <option value="7">07
                        </option>
                        <option value="8">08
                        </option>
                        <option value="9">09
                        </option>
                        <option value="10">10
                        </option>
                        <option value="11">11
                        </option>
                        <option value="12">12
                        </option>
                        <option value="13">13
                        </option>
                        <option value="14">14
                        </option>
                        <option value="15">15
                        </option>
                        <option value="16">16
                        </option>
                        <option value="17">17
                        </option>
                        <option value="18">18
                        </option>
                        <option value="19">19
                        </option>
                        <option value="20">20
                        </option>
                        <option value="21">21
                        </option>
                        <option value="22">22
                        </option>
                        <option value="23">23
                        </option>
                        <option value="24">24
                        </option>
                        <option value="25">25
                        </option>
                        <option value="26">26
                        </option>
                        <option value="27">27
                        </option>
                        <option value="28">28
                        </option>
                        <option value="29">29
                        </option>
                        <option value="30">30
                        </option>
                        <option value="31">31
                        </option>
                    </select>
                    <select>
                        <option value="1">January
                        </option>
                        <option value="2">February
                        </option>
                        <option value="3">March
                        </option>
                        <option value="4">April
                        </option>
                        <option value="5">May
                        </option>
                        <option value="6">June
                        </option>
                        <option value="7">July
                        </option>
                        <option value="8">August
                        </option>
                        <option value="9">September
                        </option>
                        <option value="10">October
                        </option>
                        <option value="11">November
                        </option>
                        <option value="12">December
                        </option>
                    </select>
                    <input class="year" type="text" size="4" maxlength="4" ="" />e.g 1976
                </p>
                <div class="infobox"><h2>Tell us more about your business</h2>
                    <p>Ariba will make your company profile, which includes the basic company information, available for new business opportunities to other companies. If you want to hide your company profile, you can do so anytime by editing the profile visibility settings on the Company Profile page after you have finished your registration. 
By clicking the Register button, you expressly acknowledge and give consent to Ariba for your data entered into this system to be transferred outside the European Union, Russian Federation or other jurisdiction where you are located to Ariba and the computer systems on which the Ariba services are hosted (located in various data centers globally), in accordance with the Ariba Privacy Statement, the Terms of Use, and applicable law. 
                    </p>
                    <p>
                        You have the right to access and modify your personal data from within the application, by contacting the Ariba administrator within your organization or Ariba, Inc. This consent shall be in effect from the moment it has been granted and may be revoked by prior written notice to Ariba. If you are a Russian citizen residing within the Russian Federation, You also expressly confirm that any of your personal data entered or modified in the system has previously been captured by your organization in a separate data repository residing within the Russian federation.
                    </p>
                </div>
            </fieldset>
            <fieldset class="row4">
                <legend>Terms and Mailing
                </legend>
                <p class="agreement">
                    <input type="checkbox" value="" checked />
                    <label> I have read and agree to the <a target="new" href="https://service.ariba.com/Authenticator.aw/ad/termsCenter">Sap Privacy Rules</a></label>
                </p>
                <p class="agreement">
                    <input type="checkbox" value="" checked/>
                    <label> I have read and agree to the <a target="new" href="https://service.ariba.com/Authenticator.aw/ad/termsCenter"> Terms of Use</a></label>
                    
                </p>
            </fieldset>
            <div style="float: right;"><button class="button1">Cancel</button></div>
            <div style="float: right;"><button class="button">Register &raquo;</button></div>
            <hr />
            <div class="sgnfooterwrapper paddingTop5">
                <span class="sgnfooteritem">
                    <a target="_blank" href="http://www.ariba.com/legal/ariba_privacy_statement.cfm">SAP Ariba Privacy Statement</a>
                </span>
                <span class="sgnfooteritem"><a target="_blank" href="https://www.ariba.com/legal/security-disclosure">Security Disclosure</a></span>
                <span class="sgnfooteritem"><a target="new" href="https://service.ariba.com/Authenticator.aw/ad/termsCenter">Terms of Use</a></span>
                <span class="sgnfootercopyright">© 1996–2018 Ariba, Inc. All rights reserved.</span></div>
            
        </form>
        <div class="">
         <img class="img" src="images/img.png";>
        </div>
                </div></div></div>
                <script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginRight = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginRight= "0";
}
</script>
       
    </body>
</html>





