<html>
<head>
<title>welcome</title>
    <style>
        .body{
            text-align:center;
        }
        </style>
</head>
<body >
    <div style="float:center;">
<form action="/login"method="POST" >
<label>UserName: </label>
<input type="text"  name="username"/><br><br>
<label>Password:</label>
<input type="password" name="password"/><br><br>
<input type="submit" value="login"/> 
        </form></div>
</body>
</html>
