<!--<p>
  server component shaik!
</p>-->
<!--<button type="button" class="btn btn-success">button</button>-->
<!--<button class="btn btn-primary" (click)="onCreateServer()">Add
  Server</button>

  <input type="text" class="form-control"
(input)="onUpdateServername($event)">
{{ serverName }}-->
  
<h3>Welcome to {{getServerName()}}</h3>

<hr>