
  
    <div >
        <div style="float:right; font-size: 1rem;">
            <p >Trial / Subscription expired?</p>
            <p><a class="aa" href="login">login</a><span> | </span><a class="aa" href="register">register</a></p>
        </div>
        <div style="padding:22px;padding-right: 30px;top:0px;width: 50%">
            <img src="assets/images/web-logo..png">
        </div>
    </div>
    <div class="logindiv">
        Registration
    </div>

<div >
    

            <div >
              <div *ngIf="display">
                You are already registered with us, please <a href="login">Login</a>
              </div>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >

                <div class="form-group" style="width: 45%;">
                        <label>First Name</label>
                        <input  type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" [(ngModel)]="model.firstName" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback e">
                            <div *ngIf="f.firstName.errors.required"style="font-size: 1rem;" >First Name is required</div>
                        </div>
                    </div>

                <div class="form-group" style="    margin-left: 47%; margin-top: -91px;">
                        <label>Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" [(ngModel)]="model.lastName" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback e">
                            <div *ngIf="f.lastName.errors.required"style="font-size: 1rem;" >Last Name is required</div>
                        </div>
                </div>
                <div class="form-group" style=" width:45%; ">
                        <label>TelePhone</label>
                        <input type="text" formControlName="tele" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tele.errors }" [(ngModel)]="model.tele" />
                        <div *ngIf="submitted && f.tele.errors" class="invalid-feedback e">
                            <div *ngIf="f.tele.errors.required" style="font-size: 1rem;" >Tele  is required</div>
                        </div>
                </div>


              <div class="form-group" style="  margin-left: 47%; margin-top: -91px;">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"[(ngModel)]="model.email" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback e">
                            <div *ngIf="f.email.errors.required"style="font-size: 1rem;" >Email is required</div>
                            <div *ngIf="f.email.errors.email"style="font-size: 1rem;" >Email must be a valid email address</div>
                        </div>
                    </div>


                    <div class="form-group" style="   width:45%;">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"[(ngModel)]="model.password" [(ngModel)]="model.confirmPassword"  />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback e">
                            <div *ngIf="f.password.errors.required"style="font-size: 1rem;" >Password is required</div>
                            <div *ngIf="f.password.errors.minlength"style="font-size: 1rem;" >Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 47%; margin-top: -91px;">
                        <label>Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback e">
                            <div *ngIf="f.confirmPassword.errors.required"style="font-size: 1rem;" >Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch"style="font-size: 1rem;" >Passwords must match</div>
                        </div>
                    </div>
                    <div class="form-group" style="width: 45%;">
                        <label>country</label>
                        <div class="form-group">

                        <select id="country" formControlName="country" class="text-input" [(ngModel)]="model.country">
                            <option value="">Select Country</option>
                            <option value="afghanistan">Afghanistan</option>
                            <option value="albania">Albania</option>
                            <option value="algeria">Algeria</option>
                            <option value="american samoa">American Samoa</option>
                            <option value="angola">Angola</option>
                            <option value="anguilla">Anguilla</option>
                            <option value="antarctica">Antarctica</option>
                            <option value="antigua and barbuda">Antigua and Barbuda</option>
                            <option value="argentina">Argentina</option>
                            <option value="armenia">Armenia</option>
                            <option value="aruba">Aruba</option>
                            <option value="australia">Australia</option>
                            <option value="austria">Austria</option>
                            <option value="azerbaijan">Azerbaijan</option>
                            <option value="bahamas">Bahamas</option>
                            <option value="bahrain">Bahrain</option>
                            <option value="bangladesh">Bangladesh</option>
                            <option value="barbados">Barbados</option>
                            <option value="belarus">Belarus</option>
                            <option value="belgium">Belgium</option>
                            <option value="belize">Belize</option>
                            <option value="benin">Benin</option>
                            <option value="bermuda">Bermuda</option>
                            <option value="bhutan">Bhutan</option>
                            <option value="bolivia">Bolivia</option>
                            <option value="bosnia and herzegovina">Bosnia and Herzegovina</option>
                            <option value="botswana">Botswana</option>
                            <option value="bouvet island">Bouvet Island</option>
                            <option value="brazil">Brazil</option>
                            <option value="british indian ocean territory">British Indian Ocean Territory</option>
                            <option value="brunei darussalam">Brunei Darussalam</option>
                            <option value="bulgaria">Bulgaria</option>
                            <option value="burkina faso">Burkina Faso</option>
                            <option value="burundi">Burundi</option>
                            <option value="cambodia">Cambodia</option>
                            <option value="cameroon">Cameroon</option>
                            <option value="canada">Canada</option>
                            <option value="cape verde">Cape Verde</option>
                            <option value="caribbean netherlands ">Caribbean Netherlands </option>
                            <option value="cayman islands">Cayman Islands</option>
                            <option value="central african republic">Central African Republic</option>
                            <option value="chad">Chad</option>
                            <option value="chile">Chile</option>
                            <option value="china">China</option>
                            <option value="christmas island">Christmas Island</option>
                            <option value="cocos (keeling) islands">Cocos (Keeling) Islands</option>
                            <option value="colombia">Colombia</option>
                            <option value="comoros">Comoros</option>
                            <option value="congo">Congo</option>
                            <option value="congo, democratic republic of">Congo, Democratic Republic of</option>
                            <option value="cook islands">Cook Islands</option>
                            <option value="costa rica">Costa Rica</option>
                            <option value="croatia">Croatia</option>
                            <option value="cuba">Cuba</option>
                            <option value="curacao">Curacao</option>
                            <option value="cyprus">Cyprus</option>
                            <option value="czech republic">Czech Republic</option>
                            <option value="denmark">Denmark</option>
                            <option value="djibouti">Djibouti</option>
                            <option value="dominica">Dominica</option>
                            <option value="dominican republic">Dominican Republic</option>
                            <option value="ecuador">Ecuador</option>
                            <option value="egypt">Egypt</option>
                            <option value="el salvador">El Salvador</option>
                            <option value="equatorial guinea">Equatorial Guinea</option>
                            <option value="eritrea">Eritrea</option>
                            <option value="estonia">Estonia</option>
                            <option value="ethiopia">Ethiopia</option>
                            <option value="falkland islands">Falkland Islands</option>
                            <option value="faroe islands">Faroe Islands</option>
                            <option value="fiji">Fiji</option>
                            <option value="finland">Finland</option>
                            <option value="france">France</option>
                            <option value="french guiana">French Guiana</option>
                            <option value="french polynesia">French Polynesia</option>
                            <option value="french southern territories">French Southern Territories</option>
                            <option value="gabon">Gabon</option>
                            <option value="gambia">Gambia</option>
                            <option value="georgia">Georgia</option>
                            <option value="germany">Germany</option>
                            <option value="ghana">Ghana</option>
                            <option value="gibraltar">Gibraltar</option>
                            <option value="greece">Greece</option>
                            <option value="greenland">Greenland</option>
                            <option value="grenada">Grenada</option>
                            <option value="guadeloupe">Guadeloupe</option>
                            <option value="guam">Guam</option>
                            <option value="guatemala">Guatemala</option>
                            <option value="guernsey">Guernsey</option>
                            <option value="guinea">Guinea</option>
                            <option value="guinea-bissau">Guinea-Bissau</option>
                            <option value="guyana">Guyana</option>
                            <option value="haiti">Haiti</option>
                            <option value="heard and mcdonald islands">Heard and McDonald Islands</option>
                            <option value="honduras">Honduras</option>
                            <option value="hong kong">Hong Kong</option>
                            <option value="hungary">Hungary</option>
                            <option value="iceland">Iceland</option>
                            <option value="india">India</option>
                            <option value="indonesia">Indonesia</option>
                            <option value="iran">Iran</option>
                            <option value="iraq">Iraq</option>
                            <option value="ireland">Ireland</option>
                            <option value="isle of man">Isle of Man</option>
                            <option value="israel">Israel</option>
                            <option value="italy">Italy</option>
                            <option value="jamaica">Jamaica</option>
                            <option value="japan">Japan</option>
                            <option value="jersey">Jersey</option>
                            <option value="jordan">Jordan</option>
                            <option value="kazakhstan">Kazakhstan</option>
                            <option value="kenya">Kenya</option>
                            <option value="kiribati">Kiribati</option>
                            <option value="kuwait">Kuwait</option>
                            <option value="kyrgyzstan">Kyrgyzstan</option>
                            <option value="latvia">Latvia</option>
                            <option value="lebanon">Lebanon</option>
                            <option value="lesotho">Lesotho</option>
                            <option value="liberia">Liberia</option>
                            <option value="libya">Libya</option>
                            <option value="liechtenstein">Liechtenstein</option>
                            <option value="lithuania">Lithuania</option>
                            <option value="luxembourg">Luxembourg</option>
                            <option value="macau">Macau</option>
                            <option value="macedonia">Macedonia</option>
                            <option value="madagascar">Madagascar</option>
                            <option value="malawi">Malawi</option>
                            <option value="malaysia">Malaysia</option>
                            <option value="maldives">Maldives</option>
                            <option value="mali">Mali</option>
                            <option value="malta">Malta</option>
                            <option value="marshall islands">Marshall Islands</option>
                            <option value="martinique">Martinique</option>
                            <option value="mauritania">Mauritania</option>
                            <option value="mauritius">Mauritius</option>
                            <option value="mayotte">Mayotte</option>
                            <option value="mexico">Mexico</option>
                            <option value="micronesia, federated states of">Micronesia, Federated States of</option>
                            <option value="moldova">Moldova</option>
                            <option value="monaco">Monaco</option>
                            <option value="mongolia">Mongolia</option>
                            <option value="montenegro">Montenegro</option>
                            <option value="montserrat">Montserrat</option>
                            <option value="morocco">Morocco</option>
                            <option value="mozambique">Mozambique</option>
                            <option value="myanmar">Myanmar</option>
                            <option value="namibia">Namibia</option>
                            <option value="nauru">Nauru</option>
                            <option value="nepal">Nepal</option>
                            <option value="new caledonia">New Caledonia</option>
                            <option value="new zealand">New Zealand</option>
                            <option value="nicaragua">Nicaragua</option>
                            <option value="niger">Niger</option>
                            <option value="nigeria">Nigeria</option>
                            <option value="niue">Niue</option>
                            <option value="norfolk island">Norfolk Island</option>
                            <option value="northern mariana islands">Northern Mariana Islands</option>
                            <option value="north korea">North Korea</option>
                            <option value="norway">Norway</option>
                            <option value="oman">Oman</option>
                            <option value="pakistan">Pakistan</option>
                            <option value="palau">Palau</option>
                            <option value="palestinian territory, occupied">Palestinian Territory, Occupied</option>
                            <option value="panama">Panama</option>
                            <option value="papua new guinea">Papua New Guinea</option>
                            <option value="paraguay">Paraguay</option>
                            <option value="peru">Peru</option>
                            <option value="philippines">Philippines</option>
                            <option value="pitcairn">Pitcairn</option>
                            <option value="poland">Poland</option>
                            <option value="portugal">Portugal</option>
                            <option value="puerto rico">Puerto Rico</option>
                            <option value="qatar">Qatar</option>
                            <option value="reunion">Reunion</option>
                            <option value="romania">Romania</option>
                            <option value="russian federation">Russian Federation</option>
                            <option value="rwanda">Rwanda</option>
                            <option value="saint-martin (france)">Saint-Martin (France)</option>
                            <option value="saint-martin (pays-bas)">Saint-Martin (Pays-Bas)</option>
                            <option value="saint barth?my">Saint Barth?my</option>
                            <option value="saint helena">Saint Helena</option>
                            <option value="saint kitts and nevis">Saint Kitts and Nevis</option>
                            <option value="saint lucia">Saint Lucia</option>
                            <option value="saint vincent and the grenadines">Saint Vincent and the Grenadines</option>
                            <option value="samoa">Samoa</option>
                            <option value="san marino">San Marino</option>
                            <option value="sao tome and principe">Sao Tome and Principe</option>
                            <option value="saudi arabia">Saudi Arabia</option>
                            <option value="senegal">Senegal</option>
                            <option value="serbia">Serbia</option>
                            <option value="seychelles">Seychelles</option>
                            <option value="sierra leone">Sierra Leone</option>
                            <option value="singapore">Singapore</option>
                            <option value="slovakia (slovak republic)">Slovakia (Slovak Republic)</option>
                            <option value="slovenia">Slovenia</option>
                            <option value="solomon islands">Solomon Islands</option>
                            <option value="somalia">Somalia</option>
                            <option value="south africa">South Africa</option>
                            <option value="south georgia and the south sandwich islands">South Georgia and the South
                                Sandwich Islands</option>
                            <option value="south korea">South Korea</option>
                            <option value="south sudan">South Sudan</option>
                            <option value="spain">Spain</option>
                            <option value="sri lanka">Sri Lanka</option>
                            <option value="st. pierre and miquelon">St. Pierre and Miquelon</option>
                            <option value="sudan">Sudan</option>
                            <option value="suriname">Suriname</option>
                            <option value="svalbard and jan mayen islands">Svalbard and Jan Mayen Islands</option>
                            <option value="swaziland">Swaziland</option>
                            <option value="sweden">Sweden</option>
                            <option value="switzerland">Switzerland</option>
                            <option value="syria">Syria</option>
                            <option value="taiwan">Taiwan</option>
                            <option value="tajikistan">Tajikistan</option>
                            <option value="tanzania">Tanzania</option>
                            <option value="thailand">Thailand</option>
                            <option value="the netherlands">The Netherlands</option>
                            <option value="timor-leste">Timor-Leste</option>
                            <option value="togo">Togo</option>
                            <option value="tokelau">Tokelau</option>
                            <option value="tonga">Tonga</option>
                            <option value="trinidad and tobago">Trinidad and Tobago</option>
                            <option value="tunisia">Tunisia</option>
                            <option value="turkey">Turkey</option>
                            <option value="turkmenistan">Turkmenistan</option>
                            <option value="turks and caicos islands">Turks and Caicos Islands</option>
                            <option value="tuvalu">Tuvalu</option>
                            <option value="uand islands">Uand Islands</option>
                            <option value="uganda">Uganda</option>
                            <option value="ukraine">Ukraine</option>
                            <option value="united arab emirates">United Arab Emirates</option>
                            <option value="united kingdom">United Kingdom</option>
                            <option value="united states">United States</option>
                            <option value="united states minor outlying islands">United States Minor Outlying Islands</option>
                            <option value="uruguay">Uruguay</option>
                            <option value="uzbekistan">Uzbekistan</option>
                            <option value="vanuatu">Vanuatu</option>
                            <option value="vatican">Vatican</option>
                            <option value="venezuela">Venezuela</option>
                            <option value="vietnam">Vietnam</option>
                            <option value="virgin islands (british)">Virgin Islands (British)</option>
                            <option value="virgin islands (u.s.)">Virgin Islands (U.S.)</option>
                            <option value="wallis and futuna islands">Wallis and Futuna Islands</option>
                            <option value="western sahara">Western Sahara</option>
                            <option value="yemen">Yemen</option>
                            <option value="zambia">Zambia</option>
                            <option value="zimbabwe">Zimbabwe</option>
                        </select></div>
                
                
                    </div>

                    <div class="form-group" style="margin-left: 47%; margin-top: -91px;">
                        <label>Gst</label>
                        <input  type="text" formControlName="gst" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" [(ngModel)]="model.gst" />
                        <div *ngIf="submitted && f.gst.errors" class="invalid-feedback e">
                            <div *ngIf="f.gst.errors.required"style="font-size: 1rem;" >gst is required</div>
                        </div>
                    </div>


                    <div  style="    
    width: 221px;
    margin-left: 155px;">
                        <button  (click)="submitPersonData()">Register</button>
                    </div>
                </form>
               </div>





</div>