.c1{
height: 36px;
width: auto;
}
.c2{
	background-color:white;
}
.c3{
	background-color:black;
	height:200px;
	color:white;
	text-align:center;
}
.cont{
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}