<div *ngIf='dispLogin'>
	<button (click)='getLogin()'>Login</button>
</div>
<div *ngIf='dispLogout'>
	<button (click)='logout()'>Logout</button>
</div>
<div class = 'container' style="border: 1px solid">
	<span class="alert-danger" style="border-radius:3px"> Notification bar </span><br>
<!--<div style="width:30%">
		<label>Today's Events</label><br>
	</div> -->
	<div *ngIf='validRole'>
		<label>overlapping Events</label><br>
		<span *ngFor ='let overlapping of overlappingData'>The {{overlapping._id}} <b>{{overlapping.title}}</b> with <b>{{overlapping.userName}}</b> is overlapping with your already existing event.<button class="updateButton" (click)='getUpdateForm(overlapping._id)'>Update</button><br></span>
	</div>
</div>
<div class="container" *ngIf='dispUpdateForm' style="border: 1px solid; padding: 5px">
	<form [formGroup]='updateForm' (ngSubmit)='updateEvent()'>
		Enter the new start Time<input class="form-control" type="datetime-local" formControlName='startTime'><br>
		Enter the new end Time<input class='form-control' type="datetime-local" formControlName='endTime'><br>
		<input type="submit" value="Update">
	</form>
</div>
<div class="container-fluid">
	<button *ngIf='eventButton' (click)='displayAddEvent()'>Create Event</button>
	<div class="container">
		<div style="width: 30%" *ngIf = 'show'>
			<form [formGroup]='eventForm'  enctype="multipart/form-data"><!-- (ngSubmit)='addEvent()' -->
			Add Title<input class="form-control" type= 'text' formControlName='title' placeholder="Add title"><br>
			Manager username<input class="form-control" type="text" formControlName='manager' placeholder="Manager username"><br>
			start Time<input class="form-control" type="datetime-local" formControlName='startTime'><br>
			end Time<input class="form-control" type="datetime-local" formControlName='endTime'><br>
			Upload the appropriate file<input class="form-control" type="file" (change)='listener($event)' formControlName="file"><br>
			<button type = 'submit'>Add event</button>
			</form>
		</div><br>
	</div>
</div>
<div class="container-fluid">
	<div>
		<span *ngIf='message'>No events are Scheduled.</span>
		<div class="row">
			<div class="col-sm-3" *ngFor ='let event of eventsData'>
				<span><b>{{event.title}}</b></span><br>
				<label>Start Time:</label><br>
				<span>{{event.startTime}}</span><br>
				<label>End Time:</label><br>
				<span>{{event.endTime}}</span><br>
			</div>
		</div>
	</div>
</div>
<!-- <table class="table">
	<tbody>
		<tr>
			<th>Sun</th>
			<th>Mon</th>
			<th>Tue</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
			<th>Sat</th>
		</tr>
		<tr>

		</tr>
	</tbody>
</table> -->
<!-- {{date(overlapping.startTime).toString().split('G')[0]}} -->