.col-sm-3{
	border: 1px solid #dcdcdc;
	margin: 5px;
}
label{
	margin: 0px;
	font-size: 13px;
}
span{
}
.updateButton{
    border: none;
    background: none;
    text-decoration: none;
    color: red;
}