<ngb-carousel>
  <ng-template ngbSlide>
    <img src="assets/images/11.JPG" alt="Random first slide">
    <div class="carousel-caption">
     </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/12.JPG" alt="Random second slide">
    <div class="carousel-caption">
    
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/13.JPG" alt="Random third slide">
    <div class="carousel-caption">
     
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/14.JPG" alt="Random fourth slide">
    <div class="carousel-caption">
     
    </div>
  </ng-template>
</ngb-carousel>