.box{
      
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
   
}
.form-control {
    font-family: 'Times New Roman', Times, serif;
    width: 35%;
    font-size: 2rem;
    
}
h2 {
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label
{
    
font-weight: 890em;
}
small{
    float: right;
}