<div class="box">
  <div class="panel panel-primary">
      <div class="panel-heading">
          <h2 class="panel-title">Registration Form</h2>
        </div>
<div class="panel-body">

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" [class.is-invalid]="userName.invalid && userName.touched" formControlName="userName" class="form-control">
      <div *ngIf="userName.invalid && userName.touched">
        <small appMyDirective class="text-danger" *ngIf="!!userName.errors?.required">Username is required</small>
        <small appMyDirective class="text-danger" *ngIf="!!userName.errors?.minlength">Username must be at least 3 characters</small>
        
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" [class.is-invalid]="email.invalid && email.touched" formControlName="email" class="form-control">
      <div *ngIf="email.invalid && email.touched"> 
      <small appMyDirective class="text-danger" *ngIf="!!email.errors?.required">-Email is required</small>
      <small appMyDirective class="text-danger" *ngIf="!email.valid ">-Email is invalid</small>
      </div>
      
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" [class.is-invalid]="password.invalid && password.touched" formControlName="password" class="form-control">
      <div *ngIf="password.invalid && password.touched">
          <small appMyDirective class="text-danger" *ngIf="!!password.errors?.required">password is required</small>
          <small appMyDirective class="text-danger" *ngIf="!!password.errors?.minlength">password must be at least 8 characters</small>
          
        </div>
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" [class.is-invalid]="!!registrationForm.errors?.misMatch" formControlName="confirmPassword" class="form-control">
      <small appMyDirective class="text-danger" *ngIf="!!registrationForm.errors?.misMatch">Passwords do not match</small>
    </div>

   
    <button class="btn btn-primary" [disabled]="!registrationForm.valid" type="submit">Register</button>
    <button (click)="patchData()" class="btn btn-secondary " type="button">Patch Data</button>
  
  </form>



  {{registrationForm.status | json}}
  {{registrationForm.value | json}}

 </div>
</div>
</div>
