<div class="bg">
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h3>LOGIN</h3>
			<form [formGroup]="loginPage" action="/login" (ngSubmit)="onSubmit()">
				<div class="form-group">
				<label>Enter User Name*</label>
				<input type="text" name="userName" formControlName="userName" class="form-control" [ngClass]="{'is-invalid':submitted && f.userName.errors}" [(ngModel)]='model.userName' />
				<div *ngIf="submitted && f.userName.errors" class="invalid-feedback e">
				<div class="errors" *ngIf="f.userName.errors.required">Username is required</div>
				</div>
			</div>
				<div class="form-group">
					<label>Enter Password*</label>
				 <input type="password"  formControlName="userPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors }" [(ngModel)]='model.userPassword' />
                    <div *ngIf="submitted && f.userPassword.errors" class="invalid-feedback e">
                         <div class="errors" *ngIf="f.userPassword.errors.required">Password is required</div>
      			<div class="errors" *ngIf="f.userPassword.errors.minlength">Password must be at least 6 characters</div>
                        </div>
				</div>
				<div class="form-group">
                        <button [disabled]="loading" type="submit" class="btn btn-danger" (click)="login()">LOGIN</button>
                    </div>
			</form>
		</div>
	</div>
</div>
