<!DOCTYPE html>
<html lang="en">
<head>
  <title>store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .s1
  {
	background-color: #f5f5f7;
  }
  .s2
  {
	width:90%;
	margin-left:50px;
  }
  .s3
  {
	width:78%;
  }
  .s4
  {
	float: right;
    margin-top: -29px;
    width: 71px;
  }
  .s5
  {
	background-color: #363636;
	color:white;
  }
  .s6
  {
	    height: 44px;
  }
  .s7
  {
      box-shadow: -1px 3px 12px -2px #cac6c6;
  }
  .s8
  {
	background-color: #e2dede;
    width: 211px;
    margin-left: 1px;
    height: 36px;
  }
  .s9
  {
	    margin-top: 10px;
  }
  .s10
  {
	    margin-top: 13px;
  }
  .s11
  {
	font-size: 19px;
	padding: 0px 4px;
  }
  .s12
  {
	    height: 37px;
  }
  .s13
  {
	    height: 420px;
  }
  .s14
  {
      background-color: #229ac8;
    border-radius: 4px;
    border: 1px solid #229ac8;
    color: white;
    height: 36px;
    width: 110px;
  }
  .navbar-inverse 
  {
    background-color: #0a9fe4;
	border:none;
  }
  .navbar-inverse .navbar-nav>li>a 
  {
    color: #f7f4f4;
  }
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
	}

	.price {
	  color: grey;
	  font-size: 22px;
	}

	.card button {
	  border: none;
	  outline: 0;
	  padding: 12px;
	  color: white;
	  background-color: #000;
	  text-align: center;
	  cursor: pointer;
	  width: 100%;
	  font-size: 18px;
	}

	.card button:hover 
	{
	  opacity: 0.7;
	}
	table, th, td 
	{
		border: 1px solid black;
		border-collapse: collapse;
	}
	th, td 
	{
		padding: 5px;
		text-align: left;    
	}
	
	table#t01 
	{
		width: 100%;    
		background-color: #f1f1c1;
	}
  </style>
  
</head>
<body class="s2">

<div class="container s1">
  <div class="row s6">
		<div class="col-sm-9"><strong>$</strong></div>
		<div class="col-sm-3 s10">
			<i class="fa fa-phone s11"></i>
			<i class="fa fa-user s11"></i>
			<i class="fa fa-heart s11"></i>
			<i class="fa fa-shopping-cart s11"></i>
			<i class="fa fa-shopping-cart s11"></i>
		</div>
  </div>
</div><br>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3"><a href=""><h2>Your Store</h2></a></div>
		<div class="col-sm-5"><input type="text" placeholder="Search.." class="form-control s3">
			<button type="submit" class="s4"><i class="fa fa-search" ></i></button>
		</div>
			
	</div>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Desktops<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
		 <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Laptops and Nootebooks<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
		 <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Components<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Tablets</a></li>
        <li><a href="#">Software</a></li>
		<li><a href="#">Phones and PDA's</a></li>
        <li><a href="#">Cameras</a></li>
		
      </ul>
    </div>
  </div>
</nav>
</div>

<table class="table table-bordered">
    <tr>
    <th>Image</th>
    <th>Product Name</th>
    <th>Model</th>
    <th>Unit Price</th>
    <th>Total</th>
  </tr>
<tbody>
<% productsArray.forEach((product)=>{ %>
    <tr>
    <% var x=0;%>
    <td style="text-align: center;"> <img style='height:44px; width: 44px' src = <%=product.image %> >	</td>
    <td><%= product.productName %></td>
    <td><%= product.model %></td>
    <td style="text-align:right">&#8377; <%= product.price %></td>
    <td style="text-align:right">&#8377; <%= product.price*quantityArray[x] %></td>
        <% x+=1 %>
  </tr>
    <% }); %>
</tbody>
</table><br><br><br>
<div class="row">
    <div class="col-sm-4 col-sm-offset-8">
    <% var stp=0,gst=0,vat=0,tp=0 %>
    <% productsArray.forEach((product)=>{ %>
    <% var q=0;%>
    <% stp=stp+(product.price*quantityArray[q]) %>
    <% q+=1 %>
    <% }); %>
    <% gst=Math.round((stp/100)*15) %>
    <% vat=Math.round((stp/100)*8) %>
<table class="table table-bordered">
  <tr>
    <th style="text-align:right"><label>Sub-Total </label>:</th>
    <td style="text-align:right">&#8377;<%= stp %></td> 
  </tr>
  <tr>
      <th style="text-align:right"><label>GST (15%) :</label></th>
        <td style="text-align:right">&#8377; <%= gst %></td>
  </tr>
  <tr>
    <th style="text-align:right"><label>VAT (8%) :</label></th>
    <td style="text-align:right">&#8377; <%= vat %></td>
   
  </tr>
  <tr>
    <th style="text-align:right"><label>Total :</label></th>
    <td style="text-align:right">&#8377; <%= stp+gst+vat %></td>
   
  </tr>
</table><br>
    </div>
    </div>    
<div class='pull-right'>
    <form action="checkout" method="post">
        <input class="s14" type='submit' value="Checkout">
        </form>
    </div>
		<div class = 'container' style = 'text-align:center;height: 22%;'>
			<a href = '#'>opencart</a>
			&copy;2009-2018 All Rights Reserved.
		</div>
</body>
</html>
