<!DOCTYPE html>
<html>
	<head>
		<title>Footer</title>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<style>
			.footerBody
			{
			background-color:#242d37;
			color:#fff;
			}
			.anchor
			{
			text-decoration: none;
			color:white;
			text-decoration: none;
			}
			.anchor:hover
			{
			text-decoration: none;
			color:#01afe8;
			}
		</style>
	</head>
	<body class = "footerBody">
	<div class =" container container-fluid" style = 'padding-top: 50px;'>
		<div class="container row">
			<div class = "col-lg-2">
				<h4>OPEN CART</h4>
				<a class='anchor' href="#">Features</a><br>
				<a class='anchor' href="#">OpenCart Cloud</a><br>
				<a class='anchor' href="#">ShowCase</a><br>
				<a class='anchor' href="#">Demo</a><br>
				<a class='anchor' href="#">Download</a><br>
				<a class='anchor' href="#">marketplace</a><br>
				<a class='anchor' href="#">Login</a>
			</div>
			<div class = "col-lg-2">
				<h4>COMPANY</h4>
				<a class='anchor' class='anchor' href="#">Contact Us</a><br>
				<a class='anchor' href="#">About Us</a><br>
				<a class='anchor' href="#">Extension Developer</a>
			</div>
			<div class = "col-lg-2">
				<h4>SUPPORT</h4>
				<a class='anchor' href="#">Community Forum</a><br>
				<a class='anchor' href="#">Dedicated Suppport</a><br>
				<a class='anchor' href="#">Opencart Partners</a><br>
				<a class='anchor' href="#">Market Place Support</a><br>
				<a class='anchor' href="#">Migrate To OpenCart</a>
			</div>
			<div class = "col-lg-2">
				<h4 class=>RESOURCES</h4>
				<a class='anchor' href="#">OpenCart Blog</a><br>
				<a class='anchor' href="#">OpenCart Documentaion</a><br>
				<a class='anchor' href="#">Opencart Books</a><br>
				<a class='anchor' href="#">Github Bug Tracker</a><br>
				<a class='anchor' href="#">Developer</a><br>
			</div>
			<div class = "col-lg-4">
				<h4>NEWS LETTER</h4>
				<span>Subscribe to our newsletters and stay informed of new releases and other OpenCart events.</span>
				<div style = 'padding-top:10px'>
					<div style="background-color:white; border-radius:4px">
						<input type = 'text' name = 'subscribeEmail' style = 'padding-left:10px; border:none; height:40px; width: 76%;border-radius: 4px;' placeholder = 'Enter your email Address'>
						<button type = 'button' style = 'height:38px; width:77px; border: none;    border-radius: 3px; background-color:#3385ff;' >Subscribe</button>
					</div>
				</div>
			</div>
		</div>
		<div class = "container row" style = 'margin-top:10px'>
			<div class = "col-md-9">
				<img style = ''src = "opencart-logo-white.png">
				<span >&copy;Copyright 2018 OpenCart </span>
			</div>
			<div class = "col-md-1">
			<a class='anchor' href ='https://www.facebook.com/opencart/?ref=aymt_homepage_panel'>Facebook</a>
			</div>
			<div class = "col-md-1">
			<a class='anchor' href ='https://plus.google.com/communities/100924307882406968084'>GooglePlus</a>
			</div>
			<div class = "col-md-1">
			<a class='anchor' href = 'https://twitter.com/opencart'>Twitter</a>
			</div>
		</div>
	</div>
	</body>
</html>