<html>
	<head>
		<title>OpenCart</title>
		<link rel="shortcut icon" href="logo.png" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../Java Script/bootstrap.min.js">
		<meta name="viewport" content="width=device-width, initial-scale=1">-->
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
			.img-responsive {
			    display: block;
			    max-width: 100%;
			    height: auto;
				}
			h2 {
			text-align: center;
			}
			.middle {
			  height: 100%;
			  width: 100%;
			  transition: .5s ease;
			  opacity: 0;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  -ms-transform: translate(-50%, -50%);
			  text-align: center;
			}
			.text {
			  background-color:black;
			  text-decoration:none;
			  color: white;
			  font-size: 16px;
			  padding: 34% 32px;
			  display: block;
			  height: 100%;
    		  width: 100%;
			}
			.text:hover{
			text-decoration:none;
			color:white;
			}
			.middle:hover {
			opacity:0.7;
			}
		</style>
		<style>
			.footerBody
			{
			background-color:#242d37;
			color:#fff;
			}
			.anchor
			{
			text-decoration: none;
			color:white;
			text-decoration: none;
			}
			.anchor:hover
			{
			text-decoration: none;
			color:#01afe8;
			}
		</style>
	</head>
	<body>
		<div class = 'container container-fluid' style = '    position: sticky;padding-top: 10px;'>
			<div class = 'row'>
				<div class = 'col-sm-2 nav navbar-header' style = 'padding-top: 10px;'>
					<a href="https:www.google.co.in"><img style='width:auto; height:36px' src = 'opencart-logo.png'></a>
				</div>
				<div class = 'col-sm-8 navbar'>
					    <ul class="nav navbar-nav">
					      <li><a href="#" style = 'padding:10px;'>FEATURES</a></li>
					      <li><a href="#" style = 'padding:10px;'>DEMO</a></li>
					      <li><a href="#" style = 'padding:10px;'>MARKET PLACE</a></li>
					      <li><a href="#" style = 'padding:10px;'>BLOG</a></li>
					      <li><a href="#" style = 'padding:10px;'>SHOWCASE</a></li>
						  <li class="dropdown">
						  <a href="#" data-toggle="dropdown" class="dropdown-toggle" style = 'padding:10px;'>RESOURCES<b class="caret"></b></a>
						    <ul class="dropdown-menu">
						      <li><a href="#" style = 'padding:5px 20px;'>DOWNLOAD</a></li>
						      <li><a href="#" style = 'padding:5px 20px;'>OPENCART CLOUD</a></li>
						      <li><a href="#" style = 'padding:5px 20px;'>OPENCART PARTNERS</a></li>
						      <li><a href='#' style = 'padding:5px 20px;'>COMMUNITY FORUMS</a></li>
						      <li><a href='#' style = 'padding:5px 20px;'>OPENCART DOCUMENT</a></li>
						      <li><a href='#' style = 'padding:5px 20px;'>OPENCART BOOKS</a></li>
						      <li><a href='#' style = 'padding:5px 20px;'>GITHUB BUG TRACKER</a></li>
						      <li><a href='#' style = 'padding:5px 20px;'>DEVELOPER</a></li>
						    </ul>
						  </li>
				</div>
				<div class = 'col-sm-2' style = 'padding: 0px;'>
					<ul class = 'nav navbar-nav' style = ''>
						<li><a href = 'Login.ejs' style = 'padding:10px;'>LOGIN</a></li>
						<li><a href = 'Register.ejs' style = 'border: 1px solid;border-radius: 3px;padding:10px'>REGISTER</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class = 'container-fluid' style = 'background-image: url("background.jpg");color: #fff; height: 250px; padding-top: 3%;margin-bottom: 4%;'>
			<div class = 'container'>
				<h1 style = 'text-align: center; font-size: 40px;'> Opencart Demonstration</h1>
				<p style = 'text-align: center; font-size: 24px;'>You can try OpenCart without having to install by clicking on one of the demo links below for the frontend and adminstration demo.
				</p>
			</div>
		</div>
		<div class = 'container-fluid' >
			<div class = 'container'>
			<div class = 'row'>
				<div class = 'col-lg-6 storeFront'>
					<h2>Store Front</h2>
					<img class = 'img-responsive' src = 'store-front.png' >
					<div class="middle">
					    <a href = 'Login.ejs' class="text">OPEN STORE FRONT</a>
					</div>
				</div>
				<div class = 'col-lg-6'>
					<h2>Administration</h2>
					<img class = 'img-responsive' src = 'store-admin.png'>
					<div class="middle">
						<a href = 'Admin-Login.ejs' class="text">VIEW ADMINISTRATION<br> LOGIN & PASSWORD: <i>demo</i></a>
					</div>
				</div>
			</div>
			</div>
		</div>
        <div class ="container-fluid footerBody" style = 'padding : 50px 10px; margin: 70px 0 0;'>
		<div class="container row">
			<div class = "col-lg-2">
				<h4>OPEN CART</h4>
				<a class='anchor' href="#">Features</a><br>
				<a class='anchor' href="#">OpenCart Cloud</a><br>
				<a class='anchor' href="#">ShowCase</a><br>
				<a class='anchor' href="#">Demo</a><br>
				<a class='anchor' href="#">Download</a><br>
				<a class='anchor' href="#">marketplace</a><br>
				<a class='anchor' href="#">Login</a>
			</div>
			<div class = "col-lg-2">
				<h4>COMPANY</h4>
				<a class='anchor' class='anchor' href="#">Contact Us</a><br>
				<a class='anchor' href="#">About Us</a><br>
				<a class='anchor' href="#">Extension Developer</a>
			</div>
			<div class = "col-lg-2">
				<h4>SUPPORT</h4>
				<a class='anchor' href="#">Community Forum</a><br>
				<a class='anchor' href="#">Dedicated Suppport</a><br>
				<a class='anchor' href="#">Opencart Partners</a><br>
				<a class='anchor' href="#">Market Place Support</a><br>
				<a class='anchor' href="#">Migrate To OpenCart</a>
			</div>
			<div class = "col-lg-2">
				<h4 class=>RESOURCES</h4>
				<a class='anchor' href="#">OpenCart Blog</a><br>
				<a class='anchor' href="#">OpenCart Documentaion</a><br>
				<a class='anchor' href="#">Opencart Books</a><br>
				<a class='anchor' href="#">Github Bug Tracker</a><br>
				<a class='anchor' href="#">Developer</a><br>
			</div>
			<div class = "col-lg-4">
				<h4>NEWS LETTER</h4>
				<span>Subscribe to our newsletters and stay informed of new releases and other OpenCart events.</span>
				<div style = 'padding-top:10px'>
					<div style="background-color:white; border-radius:4px">

                        <form action="#">
						<input type = 'text' name = 'subscribeEmail' style = 'padding-left:10px; border:none;color: black; height:40px; width: 76%;border-radius: 4px;' placeholder = 'Enter your email Address'>
						<button type = 'submit' style = 'height:38px; width:77px; border: none;    border-radius: 3px; background-color:#3385ff;'>Subscribe</button>
                        </form>
					</div>
				</div>
			</div>
		</div>
		<div class = "container row" style = 'margin-top:10px'>
			<div class = "col-md-9">
				<img style = ''src = "opencart-logo-white.png">
				<span >&copy;Copyright 2018 OpenCart </span>
			</div>
			<div class = "col-md-1">
			<a class='anchor' href ='https://www.facebook.com/opencart/?ref=aymt_homepage_panel'>Facebook</a>
			</div>
			<div class = "col-md-1">
			<a class='anchor' href ='https://plus.google.com/communities/100924307882406968084'>GooglePlus</a>
			</div>
			<div class = "col-md-1">
			<a class='anchor' href = 'https://twitter.com/opencart'>Twitter</a>
			</div>
		</div>
	</div>
	</body>
</html>