<html>
	<head>
		<link rel="shortcut icon" href="logo.png" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">-->
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
            .sidenav {
                height: 100%;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
            }
            .sidenav a, .dropdown-btn {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 20px;
                color: #818181;
                display: block;
                border: none;
                background: none;
                width: 100%;
                text-align: left;
                cursor: pointer;
                outline: none;
            }
            .sidenav a:hover, .dropdown-btn:hover {
                color: #f1f1f1;
            }
            .product:hover{
                    background-color:color: #111;
            }
            .plink:hover{
                background-color: #111;
            }
            .panchor{
                 background-color: #111;
            }
            .filter{
                padding:15px 0px;
                border-bottom: 1px solid #dcdcdc;
            }
            .FilterInput{
                 width: 100%;
                height: 36px;
                border-radius: 3px;
                border:1px solid #b9b9b9;
                padding: 8px 15px;
            }
            .FilterBtn{
                float: right;
                height: 36px;
                width: 70px;
                background: white;
                border: 1px solid #b9b9b9;
                border-radius: 3px;
            }
            .FilterBtn:hover{
                    color: #666;
                    background-color: #d4d4d4;
                    border-color: #9d9d9d;
            }
            .heading{ padding:0px;margin: 0px; }
            .productAttribute{border: 1px solid #dcdcdc; padding: 10px 15px;}
            input[type='checkbox'] {margin-bottom:3px;}
            .checkBoxDiv {padding: 10px 27px; border:1px solid #dcdcdc}
            .anchorGlyphs { border: 1px solid #38abcc;height: 40px;width: 40px;padding: 12px;border-radius: 3px;color: white;background-color: #e3503e;}
            .quantitySpan {margin-top: 13px; display: inline-block;}
        </style>
</head>
<body class = 'container-fluid'>
	<div class = 'container-fluid' style = 'border-bottom: 1px solid #dcdcdc;'>
		<div class = 'row'>
			<div class = 'col-sm-2 nav navbar-header' style = 'padding-top: 10px;border-right:1px solid #dcdcdc'>
				<a href="https:www.google.co.in"><img style='width:auto; height:36px' src = 'opencart-logo.png'></a>
			</div>
			<div class = 'col-sm-7'>
			</div>
			<div class = 'col-sm-3'>
				<ul class="nav navbar-nav navbar-right">
					<li class = 'dropdown' style="border-left: 1px solid #dcdcdc;">
						<a href = '#' data-toggle="dropdown" class="dropdown-toggle" style = 'padding: 0px 10px 0px 10px;'><img src = 'profile.png' style = 'border-radius: 22px;'>demo demo
						<i class="glyphicon glyphicon-chevron-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="https://demo.opencart.com/admin/index.php?route=common/profile&amp;user_token=dYwRIdHhwly7zUDcAnhNS91viZVq1DBm"><i class="fa fa-user-circle-o fa-fw"></i> Your Profile</a></li>
						<li role="separator" class="divider"></li>
						<li class="dropdown-header">Stores</li>
						<li><a href="https://demo.opencart.com/" target="_blank">Your Store</a></li>
						<li role="separator" class="divider"></li>
						<li class="dropdown-header">Help</li>
						<li><a href="#" target="_blank"><i class="fa fa-opencart fa-fw"></i> OpenCart Homepage</a></li>
						<li><a href="#" target="_blank"><i class="fa fa-file-text-o fa-fw"></i> Documentation</a></li>
						<li><a href="#" target="_blank"><i class="fa fa-comments-o fa-fw"></i> Support Forum</a></li>
						</ul>
					</li>
					<li>
						<a href ='#' style = 'padding:13px 10px;border-left: 1px solid #dcdcdc;'> <i class = 'glyphicon glyphicon-log-out'></i>Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class = 'container-fluid'>
		<div class = 'row'>
			<div class = 'col-sm-2' style='padding: 0px;'>
                <div class="sidenav">
                    <div style = 'text-transform: uppercase;padding: 15px 15px 15px 15px;color: #FFFFFF;background: #19222E;display: block;'>
                        <i class = 'glyphicon glyphicon-menu-hamburger'></i> NAVIGATION
                    </div>
                    <a href="#about"><span class="glyphicon glyphicon-dashboard" style="padding-right: 5px;"></span>Dashboard</a>
                    <div class="dropdown product">
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-tags" style="padding-right: 10px;"></i>Category
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="background-color: #111;">
                            <li class ='plink'><a class="panchor" href="Products.ejs">Products</a></li>
                        </ul>
                    </div>
                </div>
			</div>
			<div class = 'col-sm-10'>
                <div class='container-fluid' style="border-bottom: 1px solid #dcdcdc;margin: 15px 0px;">
                    <span style= 'font-size: 35px'>Products</span>
                        <span>Home ></span>
                    <span style="color: #1e91cf;">Products</span>
                    <a href = '#Add' style="float:right; margin: 0px 5px;">
                    <span class="glyphicon glyphicon-trash anchorGlyphs" style="border-color: #dd3520;"></span>
                    </a>                    
                    <a href = '#' style="float:right;">
                    <span class="glyphicon glyphicon-copy anchorGlyphs" style="background-color: #54b7d3;"></span>
                    </a>
                    <a href = 'AddProduct.ejs' style="float:right; margin: 0px 5px;">
                    <span class="glyphicon glyphicon-plus anchorGlyphs" style="background-color: #54b7d3;"></span>
                    </a>
                </div>     
                <div class="row">
                    <div class="col-sm-9 container">
                        <div style="border: 1px solid #dcdcdc; padding: 0px;">
                             <div style="padding: 12px;background: #f6f6f6;border-bottom: 1px solid #dcdcdc;font-size: 18px;">
                                  <span class = '	glyphicon glyphicon-th-list' style="padding-right: 5px;"></span>Product List
                            </div>
                            <div id="productsList" >
                                  <table class="table table-bordered">
                                      <tr>
                                        <th><input type="checkbox"></th>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Model</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                      </tr>
                                    <tbody>
                                    <% products.forEach((product)=>{ %>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                        <td style="text-align: center;"> <img style='height:44px; width: 44px' src = <%=product.image %> > </td>
                                        <td> <span class = 'quantitySpan'> <%= product.productName %> </span></td>
                                            <td> <span class = 'quantitySpan'><%= product.model %> </span></td>
                                            <td style="text-align: right;">
                                                <span style="text-decoration: line-through;"> &#8377; <%= product.price %></span><br>
                                                <span class="text-danger"> &#8377; <%= Math.round(product.price-((product.price/100)*(Math.random()*20)))%></span>
                                            </td>
                                            <td style="text-align: right;"><span class="label label-success quantitySpan"><%= product.quantity %></span></td>
                                            <td> <span class = 'quantitySpan'> <%= product.status %> </span> </td>
                                            <td style="text-align: center;">
                                            <a href = '#'>
                                            <span class="glyphicon glyphicon-pencil anchorGlyphs" style="background-color: #54b7d3;"></span>
                                                </a>
                                            </td>
                                      </tr>
                                <% }); %>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 container">
                        <div style="border: 1px solid #dcdcdc; padding: 15px; background-color: #f6f6f6;">
                            <span class="glyphicon glyphicon-filter" style:" padding-left:8px"></span>
                            Filter
                        </div>
                        <div style="padding: 15px; border: 1px solid #dcdcdc;">
                            <form action="#" method="post">
                                <div class="filter">
                                    <label>Product Name</label><br>
                                    <input class="FilterInput" type="text" placeholder="Product name">
                                </div>
                                <div class="filter">
                                    <label>Model</label><br>
                                    <input class="FilterInput" type="text" placeholder="Model">
                                </div>
                                <div class="filter">
                                    <label>Price</label><br>
                                    <input class="FilterInput" type="text" placeholder="Price">
                                </div>
                                <div class="filter">
                                    <label>Quantity</label><br>
                                    <input class="FilterInput" type="text" placeholder="Quantity">
                                </div>
                                <div class="filter">
                                    <label>Status</label><br>
                                    <select class="FilterInput" type="text" placeholder="Status">
                                        <option>Enabled</option>
                                        <option>Disabled</option>
                                    </select>
                                </div>
                                <div style=" padding: 15px 0px;">
                                    <button class='FilterBtn' type="submit"><span class="glyphicon glyphicon-filter" style:" padding-left:8px; padding-right:5px;"></span>Filter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>