<h1>Show events</h1>

<p>{{messege}}</p>
<div class="container-fluid">
<div class="row">
<div class="col-sm-3"*ngFor="let i of eventsData" style="margin:5px; border:1px solid black;" >
	<br>

	<span><b>{{i.eventName}}</b></span><br>
				<label>Start Time:</label><br>
				<span>{{i.eventStartTime}}</span><br>
				<label>End Time:</label><br>
				<span>{{i.eventEndTime}}</span><br>
				<button type="button" class="btn btn-info">Edit</button>



</div>
</div>
</div>


