<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="style.css" rel="stylesheet">
    <script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
    <style>
   


      .btn-default {
    color: #fff;
    background-color: #333333;
    border-color: #333333;
}
.main-color-bg {
    background-color: #333333 !important;
    border-color: #333333 !important;
    color: #ffffff !important;
}
      </style>
    
    <header id="header">
        <table>
      <tr>
      
            <th>
            <h1><span class="glyphicon glyphicon-home" aria-hidden="true"></span></h1>
          </th><th>
            <div class="dropdown create">
              <span class="btn btn-default dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                SALES
                <span class="caret"></span>
              </span>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Home</a></li>
                <li><a href="#">Accounts</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Oppurtunities</a></li>             
                <li><a href="#">Leads</a></li>           
                  
                  
              </div>
            </div>
          </th>
          <th>
            <div class="dropdown create">
              <span class="btn btn-default dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                MARKETING
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Accounts</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Leads</a></li>
                <li><a href="#">Compares</a></li>
                <li><a href="#">Targets</a></li>
                <li><a href="#">Contacts-Lists</a></li>
                <li><a href="#">Add Post</a></li>
                <li><a href="#">Add User</a></li>
              </ul>
            </div>
          </th>
          <th>
            <div class="dropdown create">
              <span class="btn btn-default dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                SUPPORT
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Home</a></li>
                  <li><a href="#">Accounts</a></li>
                  <li><a href="#">Contacts</a></li>
                  <li><a href="#">Cases</a></li>
              </ul>
            </div>
          </th>
          <th>
            <div class="dropdown create">
              <span class="btn btn-default dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                ACTIVITIES
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Home</a></li>
                  <li><a href="#">Calender</a></li>
                  <li><a href="#">Calls</a></li>
                  <li><a href="#">Meetings</a></li>
                  <li><a href="#">Emails</a></li>
                  <li><a href="#">Tasks</a></li>
                  <li><a href="#">Notes</a></li>
              </ul>
            </div>
          </th>
          
          <th>
            <div class="dropdown create">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                COLLABORATION
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Home</a></li>
                  <li><a href="#">Emails</a></li>
                  <li><a href="#">Documents</a></li>
                  <li><a href="#">Projects</a></li>
              </ul>
            </div>
          </th>
          <th>
            <div class="dropdown create">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                ALL
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Home</a></li>
                  <li><a href="#">Accounts</a></li>
                  <li><a href="#">Contacts</a></li>
                  <li><a href="#">Oppurtunities</a></li>
                  <li><a href="#">Leads</a></li>
                  <li><a href="#">Quotes</a></li>
                  <li><a href="#">Calender</a></li>
                  <li><a href="#">Documents</a></li>
                  <li><a href="#">Emails</a></li>
                  <li><a href="#">Spots</a></li>
                  <li><a href="#">Campaigns</a></li>
                  <li><a href="#">CALLS</a></li>
                  <li><a href="#">Meetings</a></li>
                  <li><a href="#">Tasks</a></li>
                  <li><a href="#">Notes</a></li>
                  <li><a href="#">Invoices</a></li>
                  <li><a href="#">Contracts</a></li>
                  <li><a href="#">Cases</a></li>
                  <li><a href="#">Targets</a></li>
                  <li><a href="#">Targets-Lists</a></li>
                  <li><a href="#">Projects</a></li>
                  <li><a href="#">Project-Templates</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Location</a></li>
                  <li><a href="#">Products</a></li>
                  <li><a href="#">Product-Categories</a></li>
                  <li><a href="#">PDF-Templates</a></li>
                  <li><a href="#">Maps</a></li>
                  <li><a href="#">Maps-Markes</a></li>
                  <li><a href="#">Maps-Areas</a></li>
                  <li><a href="#">Maps-Address Cache</a></li>
                  <li><a href="#">Reports</a></li>
                  <li><a href="#">Workflow</a></li>
                  <li><a href="#">Knowledge Base</a></li>
                  <li><a href="#">KB-Categories</a></li>
                  <li><a href="#">Email-Template</a></li>
                  <li><a href="#"></a></li>
              </ul>
            </div>
          </th>
          <th>
            <div class="dropdown create">
              <span class="btn btn-default dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Create
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="createAccounts">Create Accounts</a></li>
                  <li><a href="createContacts">Create Contents</a></li>
                  <li><a href="#">Create Oppurtunities</a></li>
                  <li><a href="#">Create Leads</a></li>
                  <li><a href="#">Create Documents</a></li>
                  <li><a href="#">Create Calls</a></li>
                  <li><a href="#">Create Tasks</a></li>
              </ul>
            </div>
          </th>
          
          <th>
            <div class="dropdown create">
              <span class="btn btn-default dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Setting
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="profile1">Profile</a></li>
                  <li><a href="#">Employees</a></li>
                  <li><a href="#">Support Forum</a></li>
                  <li><a href="/login">Logout</a></li>
              </ul>
            </div>
          </th>
          
        
      </tr>
        </table>
    </header>

    <section id="breadcrumb">
      <div class="container">
        <ol class="breadcrumb" style="width: 130%;margin-left: -15.6%;">
          <li class="active">Dashboard</li>
        </ol>
      </div>
    </section>

    <section id="main">
      <div class="container">
        <div class="row" style="width: 133%;margin-left: -194px;">
          <div class="col-md-3">
            <div class="list-group">
              <a href="index.html" class="list-group-item active main-color-bg">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
              </a>
              <a href="dashboardpage" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Pages <span class="badge">12</span></a>
              <a href="dashboardpost" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Posts <span class="badge">33</span></a>
              <a href="dashboarduser" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users <span class="badge">203</span></a>
            </div>

            
          </div>
          <div class="col-md-9">
            <!-- Website Overview -->
            <div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Website Overview</h3>
              </div>
              <div class="panel-body">
                <div class="col-md-3">
                  <div class="well dash-box">
                    <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 203</h2>
                    <h4>Users</h4>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="well dash-box">
                    <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 12</h2>
                    <h4>Pages</h4>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="well dash-box">
                    <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 33</h2>
                    <h4>Posts</h4>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="well dash-box">
                    <h2><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> 12,334</h2>
                    <h4>Visitors</h4>
                  </div>
                </div>
              </div>
              </div>

              <!-- Latest Users -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Latest Users</h3>
                </div>
                <div class="panel-body">
                  <table class="table table-striped table-hover">
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Joined</th>
                      </tr>
                      <tr>
                        <td>Jill Smith</td>
                        <td>jillsmith@gmail.com</td>
                        <td>Nov 12, 2018</td>
                      </tr>
                      <tr>
                        <td>Eve Jackson</td>
                        <td>ejackson@yahoo.com</td>
                        <td>Nov 13, 2018</td>
                      </tr>
                      <tr>
                        <td>John Doe</td>
                        <td>jdoe@gmail.com</td>
                        <td>Nov 13, 2018</td>
                      </tr>
                      <tr>
                        <td>Stephanie Landon</td>
                        <td>landon@yahoo.com</td>
                        <td>Nov 14, 2018</td>
                      </tr>
                      <tr>
                        <td>Mike Johnson</td>
                        <td>mjohnson@gmail.com</td>
                        <td>Nov 15, 2018</td>
                      </tr>
                    </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <div>
      <span > <%=reg%></span>
      
  </div>


   

    <footer id="footer">
      <p>Copyright AdminStrap, &copy; 2017</p>
    </footer>

    <!-- Modals -->

    <!-- Add Page -->
    <div class="modal fade" id="addPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Page</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Page Title</label>
          <input type="text" class="form-control" placeholder="Page Title">
        </div>
        <div class="form-group">
          <label>Page Body</label>
          <textarea name="editor1" class="form-control" placeholder="Page Body"></textarea>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Published
          </label>
        </div>
        <div class="form-group">
          <label>Meta Tags</label>
          <input type="text" class="form-control" placeholder="Add Some Tags...">
        </div>
        <div class="form-group">
          <label>Meta Description</label>
          <input type="text" class="form-control" placeholder="Add Meta Description...">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>

  <script>
     CKEDITOR.replace( 'editor1' );
 </script>





</body>
</html>
