<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SuiteCRM</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="bootsnav.css">
                
    <link rel="stylesheet" type="text/css" href="footer.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="bootsnav.js"></script>
    <style>
        /*nav bar style*/

        nav.navbar.bootsnav {
            border: none;
            background: none;
            margin-bottom: 40px;
            margin-right: 100px;

        }


        nav.navbar.bootsnav ul.nav>li {
            margin-right: 20px;
        }

        nav.navbar.bootsnav ul.nav>li>a {
            padding: 10px 20px;
            border-radius: 0;
            color: #fdefcf;
            text-transform: uppercase;
            margin-top: 40px;


            position: relative;
            transition: all 0.3s ease 0s;


        }
         
        .dropdown-menu {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1000;
          display: none;
          float: left;
          min-width: 10rem;
          padding: 0.5rem 0;
          margin: 0.125rem 0 0;
          font-size: 1rem;
          color: #212529;
          text-align: left;
          list-style: none;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 0.25rem;
        }



        nav.navbar.bootsnav ul.nav>li.dropdown>a {
            padding: 10px 25px 10px 15px;
        }

        nav.navbar.bootsnav ul.nav>li>a:hover,
        nav.navbar.bootsnav ul.nav>li.on> {
            color: #fdefcf;
        }


        nav.navbar.bootsnav ul.nav>li>a>span:before {
            content: "";
            width: 0;
            height: 3px;
            background: #fdefcf;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            transition: all 0.3s ease 0s;
        }


        nav.navbar.bootsnav ul.nav>li:hover>a>span:before {
            width: 50%;
            animation: bounce 1.5s 0.3s ease-out infinite;
        }



        nav.navbar.bootsnav ul.nav>li.active>a>span:before,
        nav.navbar.bootsnav ul.nav>li.on>a>span:before {
            width: 50%;
            left: 25%;
        }



        nav.navbar.bootsnav ul.nav>li.dropdown>a.dropdown-toggle:after {
            position: absolute;
            top: 10px;
            right: 10px;
            margin: 0 0 0 7px;

        }




        nav.navbar.bootsnav ul.nav>li.dropdown>ul {
            top: 120%;
            transition: all 0.8s ease 0s;
        }


        nav.navbar.bootsnav ul.nav>li.dropdown.on>ul {

            top: 110%;

        }

        .dropdown-menu.multi-dropdown {
            position: absolute;
            left: -100% !important;
        }

        nav.navbar-bootsnav li.dropdown ul.dropdown-menu {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border: none;
            border-radius: 20px;

        }

        nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content li {
            font-size: 14px;
            color: white;
        }

        nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title {
            font-size: 16px;
            font-weight: bold;
            color: #1a4b6d;
        }


        @keyframes boucne {
            0% {
                left: 0;
            }
            48% {
                left: 50%;
            }
            50% {
                left: 50%;
            }

            98% {
                left: 0%;
            }
            100% {
                left: 0%;
            }
        }

        /*nav bar style end*/

        /*button style*/

        .button1 {
            background-color: #f08377;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        /*button style end*/

        /*transparenr box style*/

        body,
        .blurred-bg-container .content {
            margin: 0;
            background-color: #747474;

        }

        .blurred-bg-container {
            background: url(back.jpg);
            height: 100vh;
            /* =h */
            background-size: cover;
        }

        .blurred-bg-container .content {
            background: inherit;
            width: 40%;
            /* =cw */
            height: 50%;
            /* =ch */
            border-radius: 8px;
            box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 65%;
            /* =ct */
            left: 35%;
            /* =cl */
            transform: translate(-50%, -50%);
            overflow: hidden;
            opacity: 0.8;
        }

        .blurred-bg-container .text {
            padding: 50px;
            background: #747474;
            color: white;
            height: 100%;
            box-sizing: border-box;
            /* so that padding is included in height */
        }

        .blurred-bg-container .blur {
            background: inherit;
            height: 50vh;
            /* h */
            width: 166.667%;
            /* (100/cw) x 100% */
            left: 0;
            top: 0;
            transform: translate( -10%,
            -30%);
            /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
            filter: blur(20px);
            z-index: -1;
        }

        /*transparenr box style end*/

        /* hover buttonvstyle*/

        .button5 {
            background-color: #f08377;
            border: none;

            color: white;
            padding: 2px 85px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
        }


        .button5 {
            font-size: 35px;
        }

        /* hover button style end*/

        .buttonn {
            background-color: #f08377;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
        }


        .button34 {
            font-size: 16px;
        }


        /* login1 box code*/

        .login-box {
            margin-top: 80%;
            width: 245px;
            height: 307px;
            background: #f5f5f5;
            color: #fff;
            top: 50%;
            right: 65%;
            position: absolute;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            padding: 70px 30px;
        }

        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: -50px;
            left: calc(50% - 50px);
        }

        h1 {
            margin: 0;
            padding: 0 0 20px;
            text-align: center;
            font-size: 20px;
        }

        .login-box p {
            margin: 0;
            padding: 0;
            font-size: 17px;
        }

        .login-box input {
            width: 100%;
            margin-bottom: 20px;
        }

        .login-box input[type="text"],
        input[type="password"] {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }

        .login-box input[type="submit"] {
            border: none;
            outline: none;
            height: 40px;
            background: #f08377;
            color: #fff;
            font-size: 18px;

        }

        .login-box input[type="submit"]:hover {
            cursor: pointer;
            background: #39dc79;
            color: #000;
        }

        .login-box a {
            text-decoration: none;
            font-size: 14px;
            color: #fff;
        }

        .login-box a:hover {
            color: #39dc79;
        }

        /*login1 box code ended*/

        /* login2 box code*/

        .login-box2 {
            margin-top: 80%;
            width: 245px;
            height: 307px;
            background: #f5f5f5;
            color: #fff;
            top: 50%;
            left: 38%;
            position: absolute;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            padding: 70px 30px;
            margin-left: 2%;
        }

        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: -50px;
            left: calc(50% - 50px);
        }

        h1 {
            margin: 0;
            padding: 0 0 20px;
            text-align: center;
            font-size: 20px;
        }

        .login-box2 p {
            margin: 0;
            padding: 0;
            font-size: 17px;
        }

        .login-box2 input {
            width: 100%;
            margin-bottom: 20px;
        }

        .login-box2 input[type="text"],
        input[type="password"] {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }

        .login-box2 input[type="submit"] {
            border: none;
            outline: none;
            height: 40px;
            background: #f08377;
            color: #fff;
            font-size: 18px;

        }

        .login-box2 input[type="submit"]:hover {
            cursor: pointer;
            background: #39dc79;
            color: #000;
        }

        .login-box2 a {
            text-decoration: none;
            font-size: 14px;
            color: #fff;
        }

        .login-box2 a:hover {
            color: #39dc79;
        }

        /*login2 box code ended*/

        /* login3 box code*/

        .login-box3 {
            margin-top: 80%;
            width: 245px;
            height: 307px;
            background: #f5f5f5;
            color: #fff;
            top: 50%;
            left: 59%;
            position: absolute;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            padding: 70px 30px;
            margin-left: 2%;
        }

        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: -50px;
            left: calc(50% - 50px);
        }

        h1 {
            margin: 0;
            padding: 0 0 20px;
            text-align: center;
            font-size: 20px;
        }

        .login-box3 p {
            margin: 0;
            padding: 0;
            font-size: 17px;
        }

        .login-box3 input {
            width: 100%;
            margin-bottom: 20px;
        }

        .login-box3 input[type="text"],
        input[type="password"] {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }

        .login-box3 input[type="submit"] {
            border: none;
            outline: none;
            height: 40px;
            background: #f08377;
            color: #fff;
            font-size: 18px;

        }

        .login-box3 input[type="submit"]:hover {
            cursor: pointer;
            background: #39dc79;
            color: #000;
        }

        .login-box3 a {
            text-decoration: none;
            font-size: 14px;
            color: #fff;
        }

        .login-box3 a:hover {
            color: #39dc79;
        }

        /*login3 box code ended*/

        /* login3 box code*/

        .login-box4 {
            margin-top: 80%;
            width: 245px;
            height: 307px;
            background: #f5f5f5;
            color: #fff;
            top: 50%;
            left: 80%;
            position: absolute;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            padding: 70px 30px;
            margin-left: 2%;
        }

        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: -50px;
            left: calc(50% - 50px);
        }

        h1 {
            margin: 0;
            padding: 0 0 20px;
            text-align: center;
            font-size: 20px;
        }

        .login-box4 p {
            margin: 0;
            padding: 0;
            font-size: 17px;
        }

        .login-box4 input {
            width: 100%;
            margin-bottom: 20px;
        }

        .login-box4 input[type="text"],
        input[type="password"] {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }

        .login-box4 input[type="submit"] {
            border: none;
            outline: none;
            height: 40px;
            background: #f08377;
            color: #fff;
            font-size: 18px;

        }

        .login-box4 input[type="submit"]:hover {
            cursor: pointer;
            background: #39dc79;
            color: #000;
        }

        .login-box4 a {
            text-decoration: none;
            font-size: 14px;
            color: #fff;
        }

        .login-box4 a:hover {
            color: #39dc79;
        }

        /*login4 box code ended*/
        /*div style*/
        /*button hover style*/
  .button {
    color: red;
    padding:3% 5.25%;
    text-align:block;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #f08377; 
    color: white; 
    border: 2px solid #f08377;
}

.button1:hover {
    background-color: #ff1a1a;
    color: white;
}

/*button hover style end*/

        /*div style ended*/
    </style>
</head>

<body style="background-color: white;">

    <div class="container" style="margin-left: 6.8%;width: 83.7%;">
        <div class="row" style="background-color:#534d64;margin-right:-157px;margin-left:-117px;">

            <div class="col-md-12">

                <nav class="navbar navbar-default navbar-mobile bootsnav on">

                    <div class="navbar-header" style="margin-right:50px;">
                        <div>
                            <img src="suite.png" style="margin-top:40px;margin-left:50px;" />
                        </div>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">

                            <ul class="dropdown-menu animated">
                                <li>
                                    <a href="#">Custom Menu</a>
                                </li>
                                <li>
                                    <a href="#">Custom Menu</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>
                                    <ul class="dropdown-menu animated">
                                        <li>
                                            <a href="#">Custom Menu</a>
                                        </li>
                                        <li>
                                            <a href="#">Custom Menu</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>
                                            <ul class="dropdown-menu multi-dropdown animated" >
                                                <li>
                                                    <a href="#">Custom Menu</a>
                                                </li>
                                                <li>
                                                    <a href="#">Custom Menu</a>
                                                </li>
                                                <li>
                                                    <a href="#">Custom Menu</a>
                                                </li>
                                                <li>
                                                    <a href="#">Custom Menu</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Custom Menu</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Custom Menu</a>
                                </li>
                                <li>
                                    <a href="#">Custom Menu</a>
                                </li>
                                <li>
                                    <a href="#">Custom Menu</a>
                                </li>
                                <li>
                                    <a href="#">Custom Menu</a>
                                </li>
                            </ul>
                            </li>
                            <!--Mega menu code-->
                            <li class="dropdown megamenu-fw">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solutions
                                    <span></span>
                                </a>
                                <ul class="dropdown-menu megamenu-content animated" role="menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Role</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li>
                                                            <a href="#">Sales</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Marketing</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Service</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">IT</a>
                                                        </li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- end col-3 -->
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Business type</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li>
                                                            <a href="#">Enterprise</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">SMB</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Non profit</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Startups</a>
                                                        </li>
                                                       
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- end col-3 -->
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Industry</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li>
                                                            <a href="#">Finance</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Manufacturing</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Health care</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Retail</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Travel</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Public Sector</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Need</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li>
                                                            <a href="#">Compare with Salesforce</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Compare with Microsoft Dynamics</a>
                                                        </li>
                                                       
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- end col-3 -->
                                        </div>
                                        <!-- end row -->
                                    </li>
                                </ul>
                            </li>
                            <!-- End of mega menu code-->
                            <!--Mega menu code-->
                            <li class="dropdown megamenu-fw">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Enterprise
                                    <span></span>
                                </a>
                                <ul class="dropdown-menu megamenu-content animated" role="menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Suited Assured</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li>
                                                            <a href="#">The Total Care package for SuiteCRM that includes extensive support, indensnities, warranties and performance guarentees. </a>
                                                        </li>
                                                       
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- end col-3 -->
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">SuiteCRM Services</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li>
                                                            <a href="#">Support Plans</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">SuiteCRM : On Demand</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Consultancy and Solutions Design</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Customisation</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Migrations</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Trainings</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">SuiteCRM master classes</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Recordings</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- end col-3 -->
                                            
                                            <!-- end col-3 -->
                                        </div>
                                        <!-- end row -->
                                    </li>
                                </ul>
                            </li>
                            <!-- End of mega menu code-->


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="Pages">Join the project
                                    <span></span>
                                </a>
                                <ul class="dropdown-menu animated">
                                    <li>
                                        <a href="#">Participate</a>
                                    </li>
                                    <li>
                                        <a href="#">Always Open Source</a>
                                    </li>
                                                                        <li>
                                        <a href="#">Github</a>
                                    </li>
                                   
                                </ul>
                            </li>

                            <li class="dropdown megamenu-fw">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources
                                    <span></span>
                                </a>
                                <ul class="dropdown-menu megamenu-content animated" role="menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Responses</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li>
                                                            <a href="#">Forum</a>
                                                        </li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- end col-3 -->
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Documentation</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li>
                                                            <a href="#">User Guide</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Developers Guide</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Administrators Guide</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Community Guide</a>
                                                        </li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- end col-3 -->
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Road Map</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li>
                                                            <a href="#">Road Map</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">LTS</a>
                                                        </li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Add Ons</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li>
                                                            <a href="#">Translations</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Store</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Outlook Plugin</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">SuiteCRM Joomla!</a>
                                                        </li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- end col-3 -->
                                        </div>
                                        <!-- end row -->
                                    </li>
                                </ul>
                            </li>
                            <!--Mega menu code-->

                            <li class="dropdown megamenu-fw">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About
                                    <span></span>
                                </a>
                                <ul class="dropdown-menu megamenu-content animated" role="menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">About Us</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li>
                                                            <a href="#">Facts and Numbers</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Sales Agility</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Jobs</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Partners</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Login</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- end col-3 -->
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Newsroom</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li>
                                                            <a href="#">News</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Events</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Case Studies</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Press</a>
                                                        </li>
                                                       
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- end col-3 -->
                                            <div class="col-menu col-md-3">
                                                <h6 class="title">Contact us</h6>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li>
                                                            <a href="#">Contact us</a>
                                                        </li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                            <!-- end col-3 -->
                                        </div>
                                        <!-- end row -->
                                    </li>
                                </ul>
                            </li>
                            <!-- End of mega menu code-->


                            <a href="index"><button class="button1" style="margin-top:35px;margin-left:20px;border-radius:5px;">Demo</button></a>
                            <button class="button1" style="margin-top:35px;margin-left:10px;border-radius:5px;">Download</button>




                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    </div>
    <div class="blurred-bg-container">
        <div class="content" style="width: 40%;height: 360px;margin-left: -9%;">
            <div class="text" style="margin-top: -7%">
                <div style="margin-left:6px;margin-top:1px;font-size:35px;">
                    <h1 style="text-align: center;font-size: 35px;">SuiteCRM, the best choice for your Open Source needs
                    </h1>
                </div>
                <p style="margin-left:30px;margin-top:8px;font-size:20px;">As powerful as Salesforce and Dynamics with greater technology independence and customisation</p>
                <button class="button button5" style="margin-left: 6.2%;width: 93%;;">Contact Us</button>
            </div>


            <div class="blur"></div>
        </div>
    </div>
    <div style="background-color:  #f5f5f5;">
        <div style="margin-top: 0%;margin-left: 40%;">
            <br>
            <br>
            <a href="#">
                <img src="icon1.png" />
            </a>
            <a href="#" style="font-size:40px;color:#f08377;margin-bottom:30px;">
                <u>SuiteCRM</u>
            </a>
        </div>
        <div style="margin-top: 1%;margin-left: 38%;">
            <p>
                <b>Maximise the benefits</b>
            </p>
            <p>Access to real expert user and technical support.</p>



        </div>
        <div style="margin-top: 2%;margin-left: 36%;">
            <button class="buttonn button34" style="margin-top: -2%;">CHOOSE YOUR BEST SUPPORT PACKAGE</button>
        </div><br>
    <br>
    </div>
    <br>
    <br>
    
    <hr>
    <div>
        <h1 style="text-align: center;font-size: 30px;">Features</h1>
        <div>
            <div class="login-box">
                <img src="hand1.jpg" class="avatar">

                <form>
                    <h1 style="color:black;">Sales</h1>
                    <p style="color:#747474;">Provides your sales agents with a clear overview of their leads, allowing them to detect new oppurtunities
                        and close deals easier and faster.</p>


                    <div style="margin-top:4.2%;margin-left:-30px;width:132.4%;">
                        <input type="submit" name="submit" value="Export">
                    </div>

                </form>


            </div>

            <div class="login-box2">
                <img src="graph.jpg" class="avatar">

                <form>
                    <h1 style="color:black;">Marketing</h1>
                    <p style="color:#747474;">Improve marketing grow the interest in your product or service and provide sales with better leads.</p>


                    <div style="margin-top:55px;margin-left:-31px;width:133.45%;">
                        <input type="submit" name="submit" value="Export">
                    </div>

                </form>


            </div>

            <div class="login-box3">
                <img src="thumb.png" class="avatar">

                <form>
                    <h1 style="color:black;">Service</h1>
                    <p style="color:#747474;">Deliver the best service to your customers with less effort, while gaining new insights with customized
                        reports.</p>


                    <div style="margin-top:55px;margin-left:-31px;width:133.5%;">
                        <input type="submit" name="submit" value="Export">
                    </div>

                </form>


            </div>
            <div class="login-box4">
                <img src="setting.png" class="avatar">

                <form>
                    <h1 style="color:black;">IT</h1>
                    <p style="color:#747474;">Easy implementation and powerful admin tools will engage the IT department.
                        </p>


                    <div style="margin-top:55px;margin-left:-30px;width:132.5%;">
                        <input type="submit" name="submit" value="Export">
                    </div>

                </form>
            </div>

        </div>
       
    </div>
    <div style="margin-top: 42%;">
    <div style="background-color:#747474;height:370px;width:100%;">
		<div style="height: 50%;"><img src="sa1.jpg" style="margin-left:100px;width:40%;height:370px;"></div>
		<div><img src="assured.png" style="width:auto;height:100px;margin-left:68%;margin-top:-14%;"></div>
		<div  style="margin-left: 56%;margin-top: -3%;;"><p>Designed for compliance driven organisations, SuiteASSURED delivers the freedoms,<br> quality and innovation of open source AND the security, warranties and indemnities of<br> proprietary software. It’s the total care package for SuiteCRM!</p></div>
		</div>
		 <div style="margin-left: 68.2%;border-radius: 2px;margin-top: -8%;"><button class="button button1" ><a href="#" style="color:white;text-decoration:none;">READ MORE</a></button></div>
</div><br><br>
<hr style="color:black;">
        <h1 style="text-align: center;font-size: 30px;">Join the over 4 million people using SuiteCRM!</h1>

       <div><img src="suite4.png" style="width:100%"></div>

<hr>

       <h1 style="text-align: center;font-size: 30px;">As featured in</h1>


       <div><img src="suite5.png" style="width:100%"></div>


    
       <div class="fusion-footer" style="background: #363839">
						
	<footer role="contentinfo" class="fusion-footer-widget-area fusion-widget-area" style="  width: 72%;margin-left: 13.5%;margin-top: 5%;">
		<div class="fusion-row">
			<div class="fusion-columns fusion-columns-4 fusion-widget-area" style="">
				
																									<div class="fusion-column col-lg-3 col-md-3 col-sm-3">
							<section id="nav_menu-2" class="fusion-footer-widget-column widget widget_nav_menu"><h4 class="widget-title">Solutions</h4><div class="menu-footer-solutions-container"><ul id="menu-footer-solutions" class="menu"><li id="menu-item-1099" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1099"><a href="https://suitecrm.com/solutions/role/sales/">Sales</a></li>
<li id="menu-item-1100" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1100"><a href="https://suitecrm.com/solutions/role/marketing/">Marketing</a></li>
<li id="menu-item-1098" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1098"><a href="https://suitecrm.com/solutions/role/service/">Service</a></li>
<li id="menu-item-1102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102"><a href="https://suitecrm.com/solutions/compare-with-salesforce/">Compare with Salesforce</a></li>
<li id="menu-item-448" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-448"><a href="https://suitecrm.com/solutions/compare-with-microsoft-dynamics/">Compare with Microsoft Dynamics</a></li>
</ul></div><div style="clear:both;"></div></section>																					</div>
																										<div class="fusion-column col-lg-3 col-md-3 col-sm-3">
							<section id="nav_menu-4" class="fusion-footer-widget-column widget widget_nav_menu"><h4 class="widget-title">Resources</h4><div class="menu-footer-resources-container"><ul id="menu-footer-resources" class="menu"><li id="menu-item-434" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-434"><a href="https://suitecrm.com/download/">Download</a></li>
<li id="menu-item-645" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-645"><a href="http://docs.suitecrm.com/user">User Guide</a></li>
<li id="menu-item-647" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-647"><a href="http://docs.suitecrm.com/developer">Developer Guide</a></li>
<li id="menu-item-646" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-646"><a href="http://docs.suitecrm.com/admin">Administrator Guide</a></li>
<li id="menu-item-1338" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1338"><a href="https://github.com/salesagility/SuiteCRM">GitHub</a></li>
</ul></div><div style="clear:both;"></div></section>																					</div>
																										<div class="fusion-column col-lg-3 col-md-3 col-sm-3">
							<section id="nav_menu-3" class="fusion-footer-widget-column widget widget_nav_menu"><h4 class="widget-title">Interact</h4><div class="menu-footer-interact-container"><ul id="menu-footer-interact" class="menu"><li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a href="https://suitecrm.com/demo/">Demo</a></li>
<li id="menu-item-648" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-648"><a href="https://suitecrm.com/suitecrm/forum">Forum</a></li>
<li id="menu-item-828" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-828"><a href="https://suitecrm.com/join-the-project/participate/">Participate</a></li>
<li id="menu-item-433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-433"><a href="https://suitecrm.com/about/about-us/contact/">Contact</a></li>
<li id="menu-item-650" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-650"><a href="https://suitecrm.com/suitecrm/download/index.php?option=com_users&amp;view=registration&amp;Itemid=1292">Login</a></li>
</ul></div><div style="clear:both;"></div></section>																					</div>
																										<div class="fusion-column fusion-column-last col-lg-3 col-md-3 col-sm-3">
							<section id="nav_menu-5" class="fusion-footer-widget-column widget widget_nav_menu"><h4 class="widget-title">About</h4><div class="menu-footer-about-container"><ul id="menu-footer-about" class="menu"><li id="menu-item-441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-441"><a href="https://suitecrm.com/about/about-us/salesagility/">SalesAgility</a></li>
<li id="menu-item-442" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-63 current_page_item menu-item-442"><a href="https://suitecrm.com/enterprise/suiteassured/">SuiteAssured</a></li>
<li id="menu-item-443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-443"><a href="https://suitecrm.com/about/about-us/facts-and-numbers/">Facts and Numbers</a></li>
<li id="menu-item-445" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-445"><a href="https://suitecrm.com/about/newsroom/case-studies/">Case Studies</a></li>
<li id="menu-item-446" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-446"><a href="https://suitecrm.com/about/newsroom/news/">News</a></li>
</ul></div><div style="clear:both;"></div></section>																					</div>
																											
				<div class="fusion-clearfix"></div>
			</div>
			</div> <!-- fusion-columns -->
		</div> <!-- fusion-row -->
	</footer> <!-- fusion-footer-widget-area -->

	
	<footer id="footer" class="fusion-footer-copyright-area fusion-footer-copyright-center">
		<div class="fusion-row">
			<div class="fusion-copyright-content">

				<div class="fusion-copyright-notice">
		<div>
		© 2018 SalesAgility. <a href="https://suitecrm.com/suitecrm/git/SuiteCRM_Services_And_Hosting_Agreement.pdf" title="Terms and Conditions">Terms and Conditions</a>  |  <a href="https://suitecrm.com/trademark/" title="Trademark Policy">Trademark Guidelines</a>  |  <a href="https://suitecrm.com/suitecrm/git/SuiteCRM_Security_Policy.pdf" title="Security Policy">Security Policy</a>  |  <a href="https://suitecrm.com/privacy-policy/" title="Privacy Policy">Privacy Policy</a>. Various trademarks held by their respective owners.
<a title="Contact Us" href="https://suitecrm.com/about/about-us/contact/" class="contact_us_footer">Contact Us</a>	</div>
</div>
<div class="fusion-social-links-footer">
	<div class="fusion-social-networks"><div class="fusion-social-networks-wrapper"><a class="fusion-social-network-icon fusion-tooltip fusion-twitter fusion-icon-twitter" style="color:#ffffff;" href="https://twitter.com/suitecrm" target="_blank" rel="noopener noreferrer" data-placement="top" data-title="Twitter" data-toggle="tooltip" title="" data-original-title="Twitter"><span class="screen-reader-text">Twitter</span></a><a class="fusion-social-network-icon fusion-tooltip fusion-linkedin fusion-icon-linkedin" style="color:#ffffff;" href="https://www.linkedin.com/groups/SuiteCRM-SugarCRM-fork-5181751" target="_blank" rel="noopener noreferrer" data-placement="top" data-title="LinkedIn" data-toggle="tooltip" title="" data-original-title="LinkedIn"><span class="screen-reader-text">LinkedIn</span></a><a class="fusion-social-network-icon fusion-tooltip fusion-googleplus fusion-icon-googleplus" style="color:#ffffff;" href="https://plus.google.com/101394766763600062506" target="_blank" rel="noopener noreferrer" data-placement="top" data-title="Google+" data-toggle="tooltip" title="" data-original-title="Google+"><span class="screen-reader-text">Google+</span></a><a class="fusion-social-network-icon fusion-tooltip fusion-facebook fusion-icon-facebook" style="color:#ffffff;" href="https://www.facebook.com/suitecrm" target="_blank" rel="noopener noreferrer" data-placement="top" data-title="Facebook" data-toggle="tooltip" title="" data-original-title="Facebook"><span class="screen-reader-text">Facebook</span></a><a class="fusion-social-network-icon fusion-tooltip fusion-youtube fusion-icon-youtube" style="color:#ffffff;" href="https://www.youtube.com/channel/UC3WFmIPV-hMb5Kbs0COxiiQ" target="_blank" rel="noopener noreferrer" data-placement="top" data-title="YouTube" data-toggle="tooltip" title="" data-original-title="YouTube"><span class="screen-reader-text">YouTube</span></a></div></div></div>

			</div> <!-- fusion-fusion-copyright-content -->
		</div> <!-- fusion-row -->
	</footer> <!-- #footer -->
				</div>
</body>

</html>