<html>
  <head>
  	  <title>Navaratnam</title>
  	</head>
  	<body>
  		<form action='/login'  method='POST'>
  			<input type='text' name='uName' placeholder="Enter Name" /><br/><br/>
  			<input type='password' name='uPassword' placeholder="Enter password"/><br/><br/>
  			<input type='submit' value='Log-in' style="text-align: center;"/>
  		</form>
  	</body>
</html>