<html>
	<head>
		<title>Dashboard</title>
		<link rel="shortcut icon" href="logo.png" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">-->
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
            .sidenav {
                height: 100%;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
            }
            .sidenav a, .dropdown-btn {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 20px;
                color: #818181;
                display: block;
                border: none;
                background: none;
                width: 100%;
                text-align: left;
                cursor: pointer;
                outline: none;
            }
            .sidenav a:hover, .dropdown-btn:hover {
                color: #f1f1f1;
            }
            .active {
                color: white;
            }
            .dropdown-container {
                display: none;
                background-color: #262626;
                padding-left: 8px;
            }
            .fa-caret-down {
                float: right;
                padding-right: 8px;
            }
            .product:hover{
                    background-color:color: #111;
            }
            .plink:hover{
                background-color: #111;
            }
            .panchor{
                 background-color: #111;
            }
            .glyphSpan{
                border: 1px solid #38abcc;
                height: 40px;
                width: 40px;
                padding: 12px;
                border-radius: 3px;
                color: white;
                background-color: #54b7d3;
            }
        </style>
</head>
<body class = 'container-fluid'>
	<div class = 'container-fluid' style = 'border-bottom: 1px solid #dcdcdc;'>
		<div class = 'row'>
			<div class = 'col-sm-2 nav navbar-header' style = 'padding-top: 10px;border-right:1px solid #dcdcdc'>
				<a href="https:www.google.co.in"><img style='width:auto; height:36px' src = 'opencart-logo.png'></a>
			</div>
			<div class = 'col-sm-7'>
			</div>
			<div class = 'col-sm-3'>
				<ul class="nav navbar-nav navbar-right">
					<li class = 'dropdown' style="border-left: 1px solid #dcdcdc;">
						<a href = '#' data-toggle="dropdown" class="dropdown-toggle" style = 'padding: 0px 10px 0px 10px;'><img src = 'profile.png' style = 'border-radius: 22px;'>demo demo
						<i class="glyphicon glyphicon-chevron-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#"><i class="fa fa-user-circle-o fa-fw"></i> Your Profile</a></li>
						<li role="separator" class="divider"></li>
						<li class="dropdown-header">Stores</li>
						<li><a href="" target="_blank">Your Store</a></li>
						<li role="separator" class="divider"></li>
						<li class="dropdown-header">Help</li>
						<li><a href="#" target="_blank"><i class="fa fa-opencart fa-fw"></i> OpenCart Homepage</a></li>
						<li><a href="#" target="_blank"><i class="fa fa-file-text-o fa-fw"></i> Documentation</a></li>
						<li><a href="#" target="_blank"><i class="fa fa-comments-o fa-fw"></i> Support Forum</a></li>
						</ul>
					</li>
					<li>
						<a href ='/Empty1' style = 'padding:13px 10px;border-left: 1px solid #dcdcdc;'> <i class = 'glyphicon glyphicon-log-out'></i>Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class = 'container-fluid' style="padding-right: 0px;">
		<div class = 'row'>
			<div class = 'col-sm-2' style='padding: 0px;'>
                <div class="sidenav">
                    <div style = 'text-transform: uppercase;padding: 15px 15px 15px 15px;color: #FFFFFF;background: #19222E;display: block;'>
                        <i class = 'glyphicon glyphicon-menu-hamburger'></i> NAVIGATION
                    </div>
                    <a href="Dashboard"><span class="glyphicon glyphicon-dashboard" style="padding-right: 5px;"></span>Dashboard</a>
                    <div class="dropdown product">
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-tags" style="padding-right: 10px;"></i>Category
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="background-color: #111;">
                            <li class ='plink'><a class="panchor" href="Products">Products</a></li>
                        </ul>
                    </div>
                </div>
			</div>
			<div class = 'col-sm-10' style="padding-right: 0px;padding-left: 0px;">
                <div class='container-fluid' style="border-bottom: 1px solid #dcdcdc;margin: 15px 0px;">
                    <span style= 'font-size: 35px'>Dashboard</span>
                        <span>Home ></span>
                    <span style="color: #1e91cf;">Dashboard</span>
                    <a href = '#' style="float:right">
                    <span class="glyphicon glyphicon-cog" style="border: 1px solid #38abcc;height: 40px;width: 40px;padding: 12px;border-radius: 3px;color: white;background-color: #54b7d3;"></span>
                    </a>
                </div>
                <div class='container-fluid' style="">
                    <div class="row">
                        <div class="col-sm-3">
                            <div style = 'color: white; background-color: #1b80c2'>
                                <div style="padding: 5px 10px; background-color: #005DF0;">
                                    TOTAL ORDERS
                                    <span class="glyphicon glyphicon-triangle-top" style="float: right">50%</span>
                                </div>
                                <div style="padding: 15px;">
                                    <i class="glyphicon glyphicon-shopping-cart" style="font-size: 50px;"></i>
                                    <h1 style="float: right; margin-top: 5px;">3K</h1>
                                </div>
                                <div style="padding: 4px 10px; background-color: #005DBF;">
                                    <a href="#" style="color: white">View More...</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div style = 'color: white; background-color: #1b80c2'>
                                <div style="padding: 5px 10px; background-color: #005DF0;">
                                    TOTAL SALES
                                    <span class="glyphicon glyphicon-triangle-top" style="float: right">53%</span>
                                </div>
                                <div style="padding: 15px;">
                                    <i class="glyphicon glyphicon-credit-card" style="font-size: 50px;"></i>
                                    <h1 style="float: right; margin-top: 5px;">6.9M</h1>
                                </div>
                                <div style="padding: 4px 10px; background-color: #005DBF;">
                                    <a href="#" style="color: white">View More...</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div style = 'color: white; background-color: #1b80c2'>
                                <div style="padding: 5px 10px; background-color: #005DF0;">
                                    TOTAL CUSTOMERS
                                    <span class="glyphicon glyphicon-triangle-top" style="float: right">-10%</span>
                                </div>
                                <div style="padding: 15px;">
                                    <i class="glyphicon glyphicon-user" style="font-size: 50px;"></i>
                                    <h1 style="float: right; margin-top: 5px;">23.6K</h1>
                                </div>
                                <div style="padding: 4px 10px; background-color: #005DBF;">
                                    <a href="#" style="color: white">View More...</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div style = 'color: white; background-color: #1b80c2'>
                                <div style="padding: 5px 10px; background-color: #005DF0;">
                                    PEOPLE ONLINE
                                </div>
                                <div style="padding: 15px;">
                                    <i class="	glyphicon glyphicon-user" style="font-size: 50px;"></i>
                                    <h1 style="float: right; margin-top: 5px;">0</h1>
                                </div>
                                <div style="padding: 4px 10px; background-color: #005DBF;">
                                    <a href="#" style="color: white">View More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="border: 1px solid #dcdcdc; margin-top: 1%;width: 74%;">
                        <div style="padding: 12px;background: #f6f6f6;border-bottom: 1px solid #dcdcdc;font-size: 18px;">
                            <span class = 'glyphicon glyphicon-shopping-cart;' style="padding-right: 5px;"></span>Latest Orders
                        </div>
                        <div class="cart">
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th>Order Id</th>
                                    <th>Customer</th>
                                    <th>status</th>
                                    <th>Date Added</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                <% ordersList.forEach((order)=>{ %>
                                  <tr>
                                    <td><%= order.orderId %></td>
                                    <td><%= order.customer %></td>
                                    <td><%= order.status %></td>
                                    <td><%= order.date %></td>
                                    <td style="text-align:right">&#8377; <%= order.cost %></td>
                                    <td style="    text-align: center;"> 
                                        <a href='#'>
                                        <span class="glyphicon glyphicon-eye-open glyphSpan"></span>
                                        </a>
                                    </td>
                                  </tr>
                                <% }); %>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</body>
</html>