<html>
    <head>
    <script>
        setTimeout(function(){
       window.location.href = '/Logout';
        }, 0);
        </script>
        <script>
        history.pushState(null, null, document.URL);
window.addEventListener('popstate', function () {
    history.pushState(null, null, document.URL);
});
        </script>
    </head>
<body>
Please wait....    
    
</body>    
</html>