

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="index.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top">
<div class="container c2">

	<div class="navbar-header">
		<button type="button" data-toggle="collapse" data-target="#navbar-collapse-header" class="navbar-toggle collapsed">
			<span class="icon-bar"></span> <span class="icon-bar"></span> 
			<span class="icon-bar"></span>
		</button>
		<a href="#" class="navbar-brand">
		<img src="img.png" alt="image" class="c1"></a>
	</div>
	
<div class="collapse navbar-collapse" id="navbar-collapse-header">
	<ul class="nav navbar-nav">
	<li><a href="#">Features</a></li>
	<li><a href="#">Demo</a></li>
	<li><a href="#">Marketplace</a></li>
	<li><a href="#">Blog</a></li>
	<li><a href="#">Showcase</a></li>
	<li class="dropdown"><a href="#" data-toggle="dropdown">Resources <span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="#">Download</a></li>
		<li><a href="#">OpenCart Cloud</a></li>
		<li><a href="#">OpenCart Partners</a></li>
		<li><a href="#">Community Forums</a></li>
		<li><a href="#">OpenCart Documentation</a></li>
		<li><a href="#">OpenCart Books</a></li>
		<li><a href="#">Github Bug Tracker</a></li>
		<li><a href="#">Developer</a></li>
	</ul>
	</li>
	<li class="visible-xs"><a href="#">Login</a></li>
	<li class="visible-xs"><a href="#">Register</a></li>
	</ul>
	<div class="navbar-right hidden-xs">
		<a href="#" class="btn btn-link navbar-btn">Login</a> 
		<a href="#" class="btn btn-black navbar-btn">Register</a>
	</div>
</div>
</div>
</nav><br><br>

<div class="container c3"><br><br><br><h3><b>Login to your OpenCart account</b></h3></div>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
		<h3><b>Login</b></h3><br>
			<form action="/success" method="post">
				<div class="form-group">
				  <label for="email">Email:</label>
				  <input type="email" class="form-control" id="email" placeholder="Enter email" name="eemail">
				</div>
				<div class="form-group">
				  <label for="pwd">Password:</label>
				  <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
				</div>
				<div class="form-group form-check">
				  <label class="form-check-label">
					<input class="form-check-input" type="checkbox" name="remember"> Remember me
				  </label>
				</div>
				<input type="submit" value="submit" style="background-color: #01afe8;"/>
				<a href="">Forgot your password?</a>
			</form>
		</div>
		<div class="col-sm-6">
			<h3><b>Do not have an account?</b></h3>
			<br>
			<p><a href="">Create an OpenCart account</a>
				By creating an account with our store, 
				you will be able to download more features 
				through marketplace, uploading showcase 
				and become Partner and Seller.
			</p><br>
			<div class="cont">
				<img src="img1.jpg" alt="Snow">
					<div class="centered">
							Looking for professional support for your project?
							OpenCart now offers dedicated technical support.
							<a href="">Learn more about Dedicated Support</a>
					</div>
			</div>
		</div>
	</div><br><br>
</div>



</body>
</html>
