<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <style>
	.r1
	{
		font-size:17px;
	    color: #4cce0a;
	}
	.reg1
	{
		margin-left: 78px;
	}
	.c1
	{
		height: 36px;
		width: auto;
	}
	.reg2
	{
		height: 74px;
	}
	.reg3
	{
		box-shadow: 2px -3px 7px -3px #cac6c6;
		background-color: whitesmoke;
	}
	.reg4
	{
		background-color: #08a0da;
		border: 1px solid #08a0da;
		color: white;
	}
	.navbar-default
	{
		background-color:white;
	}
	.reg5
	{
		width:95%;
	}
	.reg6
	{
		width:89%;
	}
  </style>
  
</head>
<body style="width:90%;">

<nav class="navbar navbar-default navbar-fixed-top reg2">
<div class="container c2">

	<div class="navbar-header">
		<button type="button" data-toggle="collapse" data-target="#navbar-collapse-header" class="navbar-toggle collapsed">
			<span class="icon-bar"></span> <span class="icon-bar"></span> 
			<span class="icon-bar"></span>
		</button>
		<a href="#" class="navbar-brand">
		<img src="img.png" alt="image" class="c1"></a>
	</div>
	
<div class="collapse navbar-collapse" id="navbar-collapse-header">
	<ul class="nav navbar-nav">
	<li><a href="#">Features</a></li>
	<li><a href="#">Demo</a></li>
	<li><a href="#">Marketplace</a></li>
	<li><a href="#">Blog</a></li>
	<li><a href="#">Showcase</a></li>
	<li class="dropdown"><a href="#" data-toggle="dropdown">Resources <span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="#">Download</a></li>
		<li><a href="#">OpenCart Cloud</a></li>
		<li><a href="#">OpenCart Partners</a></li>
		<li><a href="#">Community Forums</a></li>
		<li><a href="#">OpenCart Documentation</a></li>
		<li><a href="#">OpenCart Books</a></li>
		<li><a href="#">Github Bug Tracker</a></li>
		<li><a href="#">Developer</a></li>
	</ul>
	</li>
	<li class="visible-xs"><a href="">Login</a></li>
	<li class="visible-xs"><a href="#">Register</a></li>
	</ul>
	<div class="navbar-right hidden-xs">
		<form action="/login" method="post"><input type="submit" value="Login"/></form>
		<a href="#" class="btn btn-black navbar-btn">Register</a>
	</div>
</div>
</div>
</nav><br><br><br>


<div class="container-fluid"><br>
  <div class="row">
    <div class="col-sm-7 reg1">
		<h3>Register for OpenCart account</h3>
		<form action="/reg" method="post">
			<div class="form-group">
				<label for="input-username">Username</label>
				<input type="text" name="username" required placeholder="Username" id="input-username" class="form-control reg5">
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group required">
						<label class="control-label" for="input-firstname">First Name</label>
							<input type="text" name="firstname" required value="" placeholder="First Name" id="input-firstname" class="form-control reg6">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group required">
						<label class="control-label" for="input-lastname">Last Name</label>
						<input type="text" name="lastname" value="" placeholder="Last Name" id="input-lastname" class="form-control reg6">
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label for="input-email">E-Mail</label>
				<input type="text" name="email" value="" required placeholder="E-Mail" id="input-email" class="form-control reg5">
			</div>
			
			<div class="form-group required">
				<label class="control-label" for="input-country">Country</label>
				<select name="country_id" id="input-country" class="form-control reg5">
				<option value=""></option>
				<option value="1">Afghanistan</option>
				<option value="238">Zambia</option>
				<option value="239">Zimbabwe</option>
				</select>
			</div>
			
			<div class="form-group">
				<label for="input-password">Password</label>
					<input type="password" required name="password" value="" id="input-password" class="form-control reg5">
			</div>
			<input type="submit" value="register" class="reg4"/>
		</form>
	</div><br>
    <div class="col-sm-4 reg3">
		<h3>Why join OpenCart.com?</h3><hr>
			<p><i class="fa fa-check r1"> </i>  You will be in good hands. More than 350 <br>000+ live stores<br><br>
			<i class="fa fa-check r1"> </i>  You will have access to 13 000+ Modules and<br> themes in the<a href=""> OpenCart Marketplace.</a><br><br>
			<i class="fa fa-check r1"> </i>  Post questions to the <a href="">OpenCart Community<br> forum </a>where we have more than 110 000<br> registered members<br><br>
			<i class="fa fa-check r1"> </i>  Get a free subscription to our newsletter<br><br>
			<i class="fa fa-check r1"> </i>  You can apply for an OpenCart Developer<br> account <a href="">here.</a><br><br></p>
	</div>
  </div>
</div>

</body><br><br>
</html>
