<html>
<head>
 <title> CompleteForm</title>
</head>
<body background="bg2.png" text="black">
 <h1 style=" background-color: black;"><center>Registration Form</h1>

     <center><table border="0" cellpadding="10" cellsapcing="0" >
         <tr>
 <td><form action="register" method="POST" enctype="multipart/form-data">

 <p style="color:black;font-size: 20px;background-color: antiquewhite">REGISTER</p>
 <p>
 <label>USERNAME:<br>
 <input type = "text" name = "myname" size = "25" maxlength = "25" /></label><br><br>
 <label>EMAIL:  <br> 
 <input type = "text" name = "myemail" size = "25" maxlength = "25" /></label><br><br>
 <label>CONFIRM EMAIL:<br>
 <input type = "text" name = "myconemail" size = "25" maxlength = "25" /></label><br><br>
 <label>PASSWORD:<br>
 <input type = "password" name = "mypass" size = "25" maxlength = "25" /></label><br>
  <label>must take only 8 characters</label>
 <label>User Image:<br>
<input type="file" name='userImage' placeholder="Select
file"/>
<br/>
     
 </p>
   <label><input type="checkbox" name="terms_opt_in" id="terms_opt_in" value="1" ><label for="terms_opt_in">I accept the <a target="_blank" href="/-/users/terms">Terms of Service and Privacy Policy</a>
</label></label><br> 
    <label> <input type="checkbox" value="1" name="new_user[email_opted_in]" id="new_user_email_opted_in"><label for="new_user_email_opted_in">I'd like to receive updates via email about GitLab.</label></label><br><br>
     
     
      <div>
<center><input type="submit" value="REGISTER" style="
    color: black;
    background-color: #ced1a9;width: 315px;
height: 47px;">
     </div><br>
     <p align="right" style="margin-top: 3px;"><a href="reg1.html" style="color: navy;"> Back to login....</a></p><br></td></tr><br>
         </table>
             </form>
         <table border="0" cellpadding="10" cellsapcing="0" >
        <tr><th>For more information</th>
        <th><a href="https://www.gmail.com/"><img src="gmail.png" align="right" height=20 width=20></a></th>
        <th><a href="https://www.fb.com/"><img src="fb.png" align="right" height=20 width=20></a></th>
        <th><a href="https://www.twitter.com/"><img src="twitter.png" align="right" height=20 width=20></a></th>
        <th><a href="https://www.linkedin.com/"><img src="link.png" align="right" height=20 width=20></a></th>
        </tr>
    </table>
     
         </body>
         </html>