<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
    <style>
   


      .btn-default {
    color: #fff;
    background-color: #333333;
    border-color: #333333;
}
.main-color-bg {
    background-color: #333333 !important;
    border-color: #333333 !important;
    color: #ffffff !important;
}
      </style>
    
    <header id="header">
        <table>
      <tr>
      
            <th>
            <h1><span class="glyphicon glyphicon-home" aria-hidden="true"></span></h1>
          </th><th>
            <div class="dropdown create">
              <span class="btn btn-default dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                SALES
                <span class="caret"></span>
              </span>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Home</a></li>
                <li><a href="#">Accounts</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Oppurtunities</a></li>             
                <li><a href="#">Leads</a></li>           
                  
                  
              </div>
            </div>
          </th>
          <th>
            <div class="dropdown create">
              <span class="btn btn-default dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                MARKETING
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Accounts</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Leads</a></li>
                <li><a href="#">Compares</a></li>
                <li><a href="#">Targets</a></li>
                <li><a href="#">Contacts-Lists</a></li>
                <li><a href="#">Add Post</a></li>
                <li><a href="#">Add User</a></li>
              </ul>
            </div>
          </th>
          <th>
            <div class="dropdown create">
              <span class="btn btn-default dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                SUPPORT
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Home</a></li>
                  <li><a href="#">Accounts</a></li>
                  <li><a href="#">Contacts</a></li>
                  <li><a href="#">Cases</a></li>
              </ul>
            </div>
          </th>
          <th>
            <div class="dropdown create">
              <span class="btn btn-default dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                ACTIVITIES
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Home</a></li>
                  <li><a href="#">Calender</a></li>
                  <li><a href="#">Calls</a></li>
                  <li><a href="#">Meetings</a></li>
                  <li><a href="#">Emails</a></li>
                  <li><a href="#">Tasks</a></li>
                  <li><a href="#">Notes</a></li>
              </ul>
            </div>
          </th>
          
          <th>
            <div class="dropdown create">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                COLLABORATION
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Home</a></li>
                  <li><a href="#">Emails</a></li>
                  <li><a href="#">Documents</a></li>
                  <li><a href="#">Projects</a></li>
              </ul>
            </div>
          </th>
          <th>
            <div class="dropdown create">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                ALL
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Home</a></li>
                  <li><a href="#">Accounts</a></li>
                  <li><a href="#">Contacts</a></li>
                  <li><a href="#">Oppurtunities</a></li>
                  <li><a href="#">Leads</a></li>
                  <li><a href="#">Quotes</a></li>
                  <li><a href="#">Calender</a></li>
                  <li><a href="#">Documents</a></li>
                  <li><a href="#">Emails</a></li>
                  <li><a href="#">Spots</a></li>
                  <li><a href="#">Campaigns</a></li>
                  <li><a href="#">CALLS</a></li>
                  <li><a href="#">Meetings</a></li>
                  <li><a href="#">Tasks</a></li>
                  <li><a href="#">Notes</a></li>
                  <li><a href="#">Invoices</a></li>
                  <li><a href="#">Contracts</a></li>
                  <li><a href="#">Cases</a></li>
                  <li><a href="#">Targets</a></li>
                  <li><a href="#">Targets-Lists</a></li>
                  <li><a href="#">Projects</a></li>
                  <li><a href="#">Project-Templates</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Location</a></li>
                  <li><a href="#">Products</a></li>
                  <li><a href="#">Product-Categories</a></li>
                  <li><a href="#">PDF-Templates</a></li>
                  <li><a href="#">Maps</a></li>
                  <li><a href="#">Maps-Markes</a></li>
                  <li><a href="#">Maps-Areas</a></li>
                  <li><a href="#">Maps-Address Cache</a></li>
                  <li><a href="#">Reports</a></li>
                  <li><a href="#">Workflow</a></li>
                  <li><a href="#">Knowledge Base</a></li>
                  <li><a href="#">KB-Categories</a></li>
                  <li><a href="#">Email-Template</a></li>
                  <li><a href="#"></a></li>
              </ul>
            </div>
          </th>
          <th>
            <div class="dropdown create">
              <span class="btn btn-default dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Create
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="createAccounts">Create Accounts</a></li>
                  <li><a href="createContacts">Create Contents</a></li>
                  <li><a href="#">Create Oppurtunities</a></li>
                  <li><a href="#">Create Leads</a></li>
                  <li><a href="#">Create Documents</a></li>
                  <li><a href="#">Create Calls</a></li>
                  <li><a href="#">Create Tasks</a></li>
              </ul>
            </div>
          </th>
          
          <th>
            <div class="dropdown create">
              <span class="btn btn-default dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Setting
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="profile1">Profile</a></li>
                  <li><a href="#">Employees</a></li>
                  <li><a href="#">Support Forum</a></li>
                  <li><a href="/login">Logout</a></li>
              </ul>
            </div>
          </th>
          
        
      </tr>
        </table>
    </header>

    </ul>
<a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
</div>




    <section id="breadcrumb">
      <div class="container"> 
        <ol class="breadcrumb" style="width: 130%;margin-left: -15.6%;">
          <li><a href="index.html">Dashboard</a></li>
          <li class="active">Users</li>
        </ol>
      </div>
    </section>

    <section id="main">
      <div class="container">
        <div class="row" style="width: 133%;margin-left: -194px;">
          <div class="col-md-3">
            <div class="list-group">
              <a href="index.html" class="list-group-item active main-color-bg">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
              </a>
              <a href="dashboardpage" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Pages <span class="badge">12</span></a>
              <a href="dashboardpost" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Posts <span class="badge">33</span></a>
              <a href="dashboarduser" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users <span class="badge">203</span></a>
            </div>

            
          </div>
          <div class="col-md-9">
            <!-- Website Overview -->
            <div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Users</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                      <div class="col-md-12">
                          <input class="form-control" type="text" placeholder="Filter Users...">
                      </div>
                </div>
                <br>
                <table class="table table-striped table-hover">
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Imagers</th>
                        <th>Joined</th>
                        <th></th>
                      </tr>.
                    <% reg1.forEach((item)=>{ %>  
                    <tr>              
                        <td><h4><%=item.myname2 %></h4></td>
                        <td><h4><%=item.mypass2 %></h4></td>
                       <td> <img style='height:44px; width: 44px' src =<%=item.photoPath %> >	</td>
                        <td id="demo"></td>
                        <script>
                        var today = new Date();
                        var dd = today.getDate();

                        var mm = today.getMonth()+1; 
                        var yyyy = today.getFullYear();
                        if(dd<10) 
                            {
                                dd='0'+dd;
                            } 

                        if(mm<10) 
                        {
                            mm='0'+mm;
                        } 
                            today = mm+'-'+dd+'-'+yyyy;
                            document.getElementById("demo").innerHTML = today;
                    </script>
                    
                        <td><a class="btn btn-default" href="#">Edit</a> <a class="btn btn-danger" href="delete">Delete</a></td>
                    </tr>
                    <% }); %>
                      
                    </table>
              </div>
              </div>

          </div>
        </div>
      </div>
    </section>





</body>
</html>
