<h1>Show event lists</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-3" *ngFor="let i of eventname" style="margin:2px;border:1px solid black">
    <br>

        <span><b>title</b></span><br>
        <span>{{i.title}}</span><br>

        <span><b>Start Date:</b></span><br>
				<span>{{i.start}}</span><br>

        <span><b>End Date:</b></span><br>
        <span>{{i.end}}</span><br>

        <button class="btn-btn-primary" (click)="deleteEvent(i._id)">Delete</button>

</div>
</div>
</div>
