<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <style>
    body {
      background-color: #f5f5f5;
      margin: 0;
      font-size: 28px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .header {
      background-color: #534d64;
      padding: 30px;
      text-align: center;
    }

    #navbar {
      overflow: hidden;
      background-color: #534d64;
      padding: 10px 2% 10px 2%;
    }
    * {box-sizing: border-box;}

   .button {
    color: red;
    padding:0.7% 9.6%;
    text-align:block;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #F08377;
    color: white;
    border: 2px solid;
}

.button1:hover {
    background-color: #bec8d0;
    color: white;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ddd;
   color: black;
   text-align: left;
}



  </style>
</head>

<body style="bgcolor:#534d;">





  <div id="navbar">
    <img src="assets/img/1b.png" alt="" style="width:12%;">

  </div>
<div>
  <img src="assets/img/1b.png" style="padding: 10% 45%;width:104%;">
</div>
{{messege}}
<div class="form-group">
    <form class="form-signin" [formGroup]="loginForm" action="login" method="POST">
  <div class="input-group" style="width: 445px;margin-left:85px;margin-top:-100px;">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="text" type="text" class="form-control" formControlName="userName" [(ngModel)]="model.userName" name="uName"  placeholder="Username" style="height: 58px;" required>
    </div><br>

    <div class="input-group" style="width: 445px;margin-left: 85px;margin-top: -3px;">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="password" type="password" class="form-control" formControlName="userPassword" [(ngModel)]="model.userPassword" name="uPassword" placeholder="Password"style="height: 58px;" required>
    </div>
    <br>



    <div style="margin-top: -2%;"><button class="button button1" (click)="login()" style="margin-left: 85px;margin-top: 29px;border-radius: 5px;margin-bottom: 25px;"><a href="/dashboarduser">LOG IN</a></button></div>


  </form> </div><br>
  <div class="footer">
    <pre style="font-family:TimesNewRoman;">&copy; Supercharged by SuiteCRM    &copy; Powered by SugarCRM</pre>

  </div>

</body>

</html>
