<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: whitesmoke;
                }
                select{
                    width: 100%;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    display: inline-block;
                    border: 1px solid #d2cece;
                    box-shadow: 4px 2px 13px -3px #cac6c6;
                     border-radius: 7px;
                     background-color: white;
                }

                * {
                    box-sizing: border-box;
                }

                .container {
                    padding: 16px;
                    background-color: white;
                }

                input[type=text], input[type=password] {
                    width: 100%;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    display: inline-block;
                    border: 1px solid #d2cece;
                    box-shadow: 4px 2px 13px -3px #cac6c6;
                     border-radius: 7px;

                }

                input[type=text]:focus, input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }



                input[type=number] {
                    width: 100%;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    display: inline-block;
                    border: 1px solid #d2cece;
                    box-shadow: 4px 2px 13px -3px #cac6c6;
                     border-radius: 7px;

                }

                input[type=number]:focus, input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }


                hr {
                    border: 1px solid #f1f1f1;
                    margin-bottom: 25px;
                }

                .registerbtn {
                    background-color: rgb(216, 213, 213);
                    color: black;
                    padding: 16px 20px;
                    margin: 19px 0;
                    border: none;
                    cursor: pointer;
                    width: 100%;
                    opacity: 0.9;
                    border: 1px solid rgba(162, 163, 167, .1);
    background-color: #abaeb2;
    font-size:16px;
                }

                .registerbtn:hover {
                    opacity: 1;
                }


                a {
                    color: dodgerblue;
                }


                .signin {
                    background-color: #f1f1f1;
                    text-align: center;
                }
.aa{
    font-size: 15px;
   display: inline-block;
 background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;

}



a {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 0px 0;
    margin: 1px 3px;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
/*a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(19, 177, 19);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}*/
a:active::before {
    background-color: #000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
.logindiv{
            display:subgrid;
            background-color: rgb(9, 63, 9);
                padding: 29px;
                color: white;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size:40px;
                margin-bottom: 2%;
                padding:2%;
        }
        .abc{
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
<!--footer-->


.class1{

background-color: #2e3339;
  font-weight: 400;
font-size: 16px;
cursor: default;
color: #eeeded;
    padding: 10px;
    font-size: 14px;
        font-family: Roboto,sans-serif;

}
.class2{
width: .5rem;

            color: #999;
font-size:12px;
}
.class3{
text-align:center;
}
.class3{
text-align:center;
}
.class4{
display: inline-block;
height: 28px;
width: 28px;
margin-left: 5px;
padding: 0;
background: url(//static.naukimg.com/s/5/100/i/socialSharing.png) repeat-y;
    color: #0074ad;
text-decoration: none;
}

.container-fluid.footerColor {
background-color: #2e3339;
}

button.btn.btn-fb {
background: #3b5998;
color: white;
}
button.btn.btn-tw {
background: #00acee;
color: white;
}

button.btn.btn-gplus {
background:#dd4b39;
 color: white;
}

button.btn.btn-li{
background: #0e76a8;
 color: white;
}


                </style>

</head>

<body>
    <div class="container-fluid">
        <div style="float:right;">
            <p>Trial / Subscription expired?</p>
            <p><a class="aa" href="login">login</a><span> | </span><a class="aa" href="register">register</a></p>
        </div>
        <div class="fixed-top" style="padding:22px;padding-right: 30px;top:0px;width: 100%">
            <img src="images/web-logo..png"></div>
    </div>
    <div class="logindiv">
        Login
    </div>

    <form action="/sucess" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" placeholder="Enter Email" name="email1" required></div>
            </div>
            <div class="row">

                <div class="col-sm-6"><input type="password" id="pwd" placeholder="Enter Password" name="pwd1" required>
                    <input type="checkbox" onclick="myFunction()">Show Password </div>
            </div>



            <div class="col-sm-4"><input class="registerbtn" type="submit" value="Login" /> </div>
            <div class="col-sm-4"></div>
        </div>
    </form>

    <!--footer-->
    <footer class="fixed-bottom">
        <nav>

            <div>

                <div class="container-fluid footerColor">
                    <div class="col-sm-3 class1 class3">
                        <p>Information</p>
                        <p class="class2" style="margin-left:127px;">
                            AboutUs<br><br>
                            Terms&Conditions<br><br>
                            PrivacyPolicy<br><br>
                            CareerswithUs<br><br>
                            Sitemap<br><br>
                        </p>

                    </div>
                    <div class="col-sm-3 class1 ">

                        <p>Contact us


                            <p class="class2" style="text-align:justify;">
                                JustAppsPvt.Ltd.<br><br>
                                ConnaughtPlaceNew<br>Delhi110001<br><br>
                                BlockCompanies<br><br>
                                support@bookkeeperapp.net<br><br>
                                ReportProblem<br><br>
                                Blogs<br><br>






                            </p>
                    </div>
                    <div class="col-sm-3 class1">
                        <p> Resources</p>
                        <p class="class2">
                            TermsofService<br><br>
                            PrivacyPolicy<br><br>
                            RefundPolicy<br><br>
                            License<br><br>


                        </p>

                    </div>
                    <div class="col-sm-3 class1">
                        <p>Employers</p>
                        <div>
                            <div class="class2">
                                PostJobs<br><br>
                                AccessDatabase<br><br>
                                RecruitersfromUSA,call<br><br>
                                TollFree#18665573340<br><br>

                                <!--  <a style="padding-bottom:5px;     vertical-align: middle;
                    width: 17px;" target="_blank">FollowUs</a>
                    </div>
                <div class="row">
                <button type="button" class="btn btn-fb"><i class="fa fa-facebook"></i></button>
                <button type="button" class="btn btn-tw"><i class="fa fa-twitter"></i></button>
                <button type="button" class="btn btn-gplus"><i class="fa fa-google-plus"></i></button>
                <button type="button" class="btn btn-li"><i class="fa fa-linkedin"></i></button>
                -->



                                <a style="padding-bottom:5px;     vertical-align: middle;
                    width: 17px;"
                                    target="_blank">FollowUs</a>
                            </div>
                            <div class="row">
                                <!--Facebook-->

                                <button type="button"><a class="aa btn btn-fb" href="https://en-gb.facebook.com/login/"><i
                                            class="fa fa-facebook" target="_blank"></i></a></button>
                                <!--Twitter-->
                                <button type="button"><a class=" btn btn-fw" href="https://twitter.com/" target="_blank"><i
                                            class="fa fa-twitter"></i></a></button>
                                <!--Google +-->
                                <button type="button"><a class=" btn btn-gplus" href="https://plus.google.com/discover"
                                        target="_blank"><i class="fa fa-google-plus"></i></a></button>
                                <!--Linkedin-->
                                <button type="button"><a class="btn btn-li" href="https://www.linkedin.com/" target="_blank"><i
                                            class="fa fa-linkedin"></i></a></button>
                                <!--Instagram-->





                            </div>

                        </div>
                    </div>
                </div>
            </div>

            </div>
        </nav>
    </footer>

    <script>
        function myFunction() {
            var x = document.getElementById("pwd");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

</body>

</html>
