
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
    background-color:#f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  padding: 10px 16px;
  background: white;
  color: white;
   box-shadow: 5px 2px 8px 2px #ddd;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
a:hover{
    color: red;
}
* {box-sizing: border-box;}

   .button {
    color: #666;
    padding:0.7% 25%;
    text-align:block;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #b41c4f;
    color: white;
    border: 2px solid;
}

.button1:hover {
    background-color: #666;
    color: white;
}

</style>




<div class="header" id="myHeader" style="background-color:#747474">
  <a href="index"><img src="assets/img/1b.png" alt="" style="width:12%" ></a>
</div>
<div>
<br>
<br>
<hr>
</div>
<div>
    <p style="margin-left:30px;">Already have an account? <a href="login">Login here</a></p>
</div>
<div style="margin-left:600px; "><p style="color:gray;"><b>User Registration</b></p></div>
    <form [formGroup]="registerform" action="register" method="POST">
    <div class = "form-group">
    <p>Name*</p><br>
    <input type="text" formControlName="username" class= "form-control" [(ngModel)]="userModel.username" style="padding: 10px 250px;" required/>
    <p>Username*</p><br>
    <input type="text" formControlName="name" class= "form-control" [(ngModel)]="userModel.name"  style="padding: 10px 250px;" required/>
    <p>Email Address*</p><br>
    <input type="text" formControlName="email" class= "form-control" [(ngModel)]="userModel.email"  style="padding: 10px 250px;" required/>
    <p>Confirm Email Address*</p><br>
    <input type="text" formControlName="confirmationemail" class= "form-control" [(ngModel)]="userModel.confirmationemail" style="padding: 10px 250px;" required/>
    <p>Password*</p><br>
    <input type="password" formControlName="password" class= "form-control" [(ngModel)]="userModel.password" style="padding: 10px 250px;" required/>
    <p>Confirm Password*</p><br>
    <input type="password" formControlName="confirmationPassword" [(ngModel)]="userModel.confirmationPassword" class= "form-control" style="padding: 10px 250px;" required/>





<div style="margin-left:50px;">
<br>
<br>

  <p style="margin-left:50%;font-size:25px;color:#747474;">Fields</p>
  <p>I've read and accept the Private Policy*</p>

  <br>
  <br>
  <br>

      <div style="margin-top: -2%;"><button (click)="postProfile()" class="button button1" style="margin-left:0px;border-radius: 5px;margin-bottom:25px;"><a routerLink="/login" style="color:white;"><u>Sign up</u></a></button></div>
	  <p style="font-size:17px;">For further details on our data protection policy, including how we use and store your details or our policies regarding the collection, use or disclosure of your personal data please <a href="#">click here</a>

</p>


</div>
</div>
</form>





