<input id="error" type="text" name="error"  [(ngModel)]="someMessege"><br/>

<div>
  <label><button type="button" class="btn btn-primary btn-sm" id="error1" (click)="addErr()">Error</button>
  </label>
</div>
<p *ngFor="let er of errMes" id="error2">{{er}}</p>
