doctype html

html
  head    
    style.
      body {
      font-family: Arial, Helvetica, sans-serif;
      background-color:  #ED1C21;
      }
      * {box-sizing: border-box}
      input[type=text], input[type=password],input[type=email] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #ff9090;
      }
      input[type=text]:focus, input[type=password]:focus, input[type=email]:focus  {
      background-color: #ddd;
      outline: none;
      }
      hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
      }
      /* Set a style for all buttons */
      button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
      }
      button:hover {
      opacity:1;
      }
      /* Extra styles for the cancel button */
      .cancelbtn {
      padding: 14px 20px;
      background-color: #f44336;
      }
      /* Float cancel and signup buttons and add an equal width */
      .cancelbtn, .signupbtn {
      margin-left: 25%;
      width: 50%;
      }
      /* Add padding to container elements */
      .container {
      padding: 16px;
      width: 50%;
      margin-left: 25%;
      }
      .clearfix::after {
      content: "";
      clear: both;
      display: table;
      }
      @media screen and (max-width: 300px) {
      .cancelbtn, .signupbtn {
      width: 100%;
      }
      }
  
  body
    div
      form(action='success.html', style='border:1px solid #ccc')
        .container(style='background-color:white;')
          h1 Log in
          p Please enter the correct username and password to login.
          hr

          label(for='Username')
            b Username
          input(type='text', placeholder='Enter Username', name='Username', required='')
          label(for='email')
            b Email
          input(type='email', placeholder='Enter Email', name='email', required='')
          label(for='psw')
            b Password
          input(type='password', ng-model='obj.password', placeholder='Enter Password', name='psw', required='')
          span(style='background-color: yellow;') 
          br
          br
          br
          label
            input(type='checkbox', checked='checked', name='remember', style='margin-bottom:15px')
            |  Remember me
          p
            | By creating an account you agree to our 
            a(href='#', style='color:dodgerblue') Terms & Privacy
            | .
        .clearfix
          button.signupbtn(type='submit') Login
