doctype html
html
  head
    title Sign Form
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(type='text/javascript', src='https://gc.kis.v2.scr.kaspersky-labs.com/39B118C6-7317-C54B-B93E-81804D7D26A2/main.js', charset='UTF-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      .head1
      {
      text-align:center;
      }
      .head2
      {
      text-align:center;
      }
      .body1
      {
      margin-top: 92px;
      box-shadow: 1px 0px 7px 3px #ececec;
      }
  body
    .container-fluid.body1(style='width:60%;    background-color:chocolate;')
      h4.head1 Register
      br
      form(method='POST', action='/register')
        .row
          .col-sm-6.head2 First name :
          .col-sm-6
            input(type='text', required='', name='firstname')
        br
        .row
          .col-sm-6.head2 Last name :
          .col-sm-6
            input(type='text', name='lastname')
        br
        .row
          .col-sm-6.head2 Gender :
          .col-sm-6
            input(type='radio', name='gender', value='male', checked='')
            |  Male
            br
            input(type='radio', name='gender', value='female')
            |  Female
            br
        br
        .row
          .col-sm-6.head2 Password :
          .col-sm-6
            input(type='password', name='pass', title='Password must be 8 characters including 1 uppercase letter, 1 lowercase letter and numeric characters', required='', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}')
        br
      
        .row
          .col-sm-6.head2 PhoneNumber :
          .col-sm-6
            input(type='tel')
        br
        .row
          .col-sm-6.head2 Enter email :
          .col-sm-6
            input(type='email', pattern='[^ @]*@[^ @]*', required='', placeholder='Enter your email')
        br
        .checkbox.head1
          label
            input.head2(type='checkbox', name='terms')
            |  Terms and Conditions applied
        p.head1
          input(type='submit', value='Register')
