<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

  <title>Editable Invoice in JavaScrip</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <link rel='stylesheet' type='text/css' href='css/style.css' />
  <!--<script type='text/javascript' src='jquery-1.3.2.min.js'></script>
  <script type='text/javascript' src='js/custom.js'></script>-->


  <link rel="stylesheet" type="text/css" href="css/bill1.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>




  <style>
    body {
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: whitesmoke;
                }
                select{
                    width: 21% important;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    display: inline-block;
                    border: 1px solid #d2cece;
                    box-shadow: 4px 2px 13px -3px #cac6c6;
                     border-radius: 7px;
                     background-color: white;
                }

                * {
                    box-sizing: border-box;
                }

                .container {
                    padding: 16px;
                    background-color: white;
                }

                input[type=text], input[type=password] {
                    width: 100%;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    display: inline-block;
                    border: 1px solid #d2cece;
                    box-shadow: 4px 2px 13px -3px #cac6c6;
                     border-radius: 7px;

                }

                input[type=text]:focus, input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }



                input[type=number] {
                    width: 100%;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    display: inline-block;
                    border: 1px solid #d2cece;
                    box-shadow: 4px 2px 13px -3px #cac6c6;
                     border-radius: 7px;

                }

                input[type=number]:focus, input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }


                hr {
                    border: 1px solid #f1f1f1;
                    margin-bottom: 25px;
                }

                .registerbtn {
                    background-color: rgb(216, 213, 213);
                    color: black;
                    padding: 16px 20px;
                    margin: 19px 0;
                    border: none;
                    cursor: pointer;
                    width: 100%;
                    opacity: 0.9;
                    border: 1px solid rgba(162, 163, 167, .1);
    background-color: #abaeb2;
    font-size:16px;
                }

                .registerbtn:hover {
                    opacity: 1;
                }


                a {
                    color: dodgerblue;
                }


                .signin {
                    background-color: #f1f1f1;
                    text-align: center;
                }
.aa{
    font-size: 15px;
   display: inline-block;
 background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;

}



a {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 0px 0;
    margin: 1px 3px;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
/*a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(19, 177, 19);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}*/
a:active::before {
    background-color: #000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);

}
         .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #286701;
}



.logindiv{
            display:subgrid;
            background-color: rgb(9, 63, 9) ;
                padding: 29px;
                color: white;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size:40px;
                margin-bottom: 2%;
                padding:2%;
        }
        .abc{
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
<!--footer-->


.class1{

background-color: #2e3339;
  font-weight: 400;
font-size: 16px;
cursor: default;
color: #eeeded;
    padding: 10px;
    font-size: 14px;
        font-family: Roboto,sans-serif;

}
.class2{
width: .5rem;

            color: #999;
font-size:12px;
}
.class3{
text-align:center;
}
.class3{
text-align:center;
}
.class4{
display: inline-block;
height: 28px;
width: 28px;
margin-left: 5px;
padding: 0;
background: url(//static.naukimg.com/s/5/100/i/socialSharing.png) repeat-y;
    color: #0074ad;
text-decoration: none;
}

.container-fluid.footerColor {
background-color: #2e3339;
}

button.btn.btn-fb {
background: #3b5998;
color: white;
}
button.btn.btn-tw {
background: #00acee;
color: white;
}

button.btn.btn-gplus {
background:#dd4b39;
 color: white;
}

button.btn.btn-li{
background: #0e76a8;
 color: white;
}


                </style>










</head>

<body>

  <div class="container-fluid">
    <div style="float:right;">
      <p>Trial / Subscription expired?</p>
      <!-- <p>Welcome </p>-->
      <p><a class="aa" href="/logout">logout</a></p>
    </div>

    <div class="fixed-top" style="padding:22px;padding-right: 30px;top:0px;width: 100%">
      <img src="images/web-logo..png"></div>
  </div>
  <div class="logindiv">
    Welcome
  </div>




  <div class="container">

    <ul class="nav nav-pills">
      <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
      <li><a data-toggle="pill" href="#menu1">Profile</a></li>
      <li><a data-toggle="pill" href="#menu2">Transaction</a></li>
      <!-- <li><a data-toggle="pill" href="#menu3">Receipt</a></li>-->
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>NAMASTEEE</p>
      </div>
      <div id="menu1" class="tab-pane fade">


        <div class="logindiv" style="padding:0%;font-size:29px;">
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h4 style="text-align:center"> UserName/Email:
              <%=email%>
            </h4>
          </div>
          <div class="col-sm-10"></div>
        </div>
        <hr>
        <form action="/update" method="POST">
          <div class="row">

            <div class="col-sm-2">
              <h4 style="text-align:center"> FirstName*</h4>
            </div>
            <div class="col-sm-10"><input type="text" name="sname" value='<%=Fname%>' required></div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <h4 style="text-align:center"> LastName*</h4>
            </div>
            <div class="col-sm-10"><input type="text" name='slname' value='<%=Lname%>' required></div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <h4 style="text-align:center">Country*</h4>
            </div>
            <div class="col-sm-10"><input type="text" name='scountry' value='<%=country%>' required></div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <h4 style="text-align:center">Phone*</h4>
            </div>
            <div class="col-sm-10"><input type="text" name="stele" value='<%=tele%>' required></div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <h4 style="text-align:center">GSTIN:</h4>
            </div>
            <div class="col-sm-10"><input type="text" name="sgst" value='<%=gst%>' required></div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <h4 style="text-align:center">Password</h4>
            </div>
            <div class="col-sm-10"><input type="text" name="spass" value='<%=password%>' required></div>

          </div>
          <div class="row">
            <div class="col-sm-3"></div>

            <div class="col-sm-3"><input class="registerbtn" type="submit" value="Update Profile" /> </div>
            <div class="col-sm-6"></div>
          </div>

        </form>

      </div>

      <div id="menu2" class="tab-pane fade">
        <h3>Transaction</h3>



        <body ng-app="invoicing" ng-controller="InvoiceCtrl">
          <div class="container" width="800px" id="invoice">
            <div class="row">
              <div class="col-xs-12 heading">
                INVOICE
              </div>
            </div>
            <div class="row branding">
              <div class="col-xs-6">
                <div class="invoice-number-container">
                  <label for="invoice-number">Invoice #</label><input type="text" id="invoice-number" placeholder="Invoice number"
                    ng-model="invoice.invoice_number" />
                </div>
              </div>
              <div class="col-xs-6 logo-container">
                <input type="file" id="imgInp" />
                <img ng-hide="logoRemoved" id="company_logo" ng-src="{{ logo }}" alt="please edit your logo" width="300" />
                <div>
                  <div class="noPrint" ng-hide="printMode">
                    <a ng-click="editLogo()" href>Edit Logo</a>
                    <a ng-click="toggleLogo()" id="remove_logo" href>{{ logoRemoved ? 'Show' : 'Hide' }} logo</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row infos">
              <div class="col-xs-6">
                <div class="input-container"><input placeholder="Customer Name" type="text" ng-model="invoice.customer_info.name" /></div>
                <div class="input-container"><input placeholder="weblink" type="text" ng-model="invoice.customer_info.web_link" /></div>
                <div class="input-container"><input placeholder="customer address 1" type="text" ng-model="invoice.customer_info.address1" /></div>
                <div class="input-container"><input type="text" placeholder="cutomer address 2" ng-model="invoice.customer_info.address2" /></div>
                <div class="input-container"><input type="text" placeholder="Postal" ng-model="invoice.customer_info.postal" /></div>
                <div class="input-container" data-ng-hide='printMode'>
                  <select ng-model='currencySymbol' ng-options='currency.symbol as currency.name for currency in availableCurrencies'></select>
                </div>
              </div>
              <div class="col-xs-6 right">
                <div class="input-container"><input placeholder="Company Name" type="text" ng-model="invoice.company_info.name" /></div>
                <div class="input-container"><input type="text" placeholder="company Weblink" ng-model="invoice.company_info.web_link" /></div>
                <div class="input-container"><input type="text" placeholder="company address1" ng-model="invoice.company_info.address1" /></div>
                <div class="input-container"><input type="text" placeholder="company address2" ng-model="invoice.company_info.address2" /></div>
                <div class="input-container"><input type="text" placeholder="company Postal" ng-model="invoice.company_info.postal" /></div>
              </div>
            </div>
            <div class="items-table">
              <div class="row header">
                <div class="col-xs-1">&nbsp;</div>
                <div class="col-xs-5">Description</div>
                <div class="col-xs-2">Quantity</div>
                <div class="col-xs-2">Cost {{currencySymbol}}</div>
                <div class="col-xs-2 text-right">Total</div>
              </div>
              <div class="row invoice-item" ng-repeat="item in invoice.items" ng-animate="'slide-down'">
                <div class="col-xs-1 remove-item-container">
                  <a href ng-hide="printMode" ng-click="removeItem(item)" class="btn btn-danger">[X]</a>
                </div>
                <div class="col-xs-5 input-container">
                  <input ng-model="item.description" placeholder="Description" />
                </div>
                <div class="col-xs-2 input-container">
                  <input ng-model="item.qty" value="1" size="4" ng-required ng-validate="integer" placeholder="Quantity" />
                </div>
                <div class="col-xs-2 input-container">
                  <input ng-model="item.cost" value="0.00" ng-required ng-validate="number" size="6" placeholder="Cost" />
                </div>
                <div class="col-xs-2 text-right input-container">
                  {{item.cost * item.qty | currency: currencySymbol}}
                </div>
              </div>
              <div class="row invoice-item">
                <div class="col-xs-12 add-item-container" ng-hide="printMode">
                  <a class="btn btn-primary" href ng-click="addItem()">[+]</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-10 text-right">Sub Total</div>
                <div class="col-xs-2 text-right">{{invoiceSubTotal() | currency: currencySymbol}}</div>
              </div>
              <div class="row">
                <div class="col-xs-10 text-right">Tax(%): <input ng-model="invoice.tax" ng-validate="number" style="width:43px"></div>
                <div class="col-xs-2 text-right">{{calculateTax() | currency: currencySymbol}}</div>
              </div>
              <div class="row">
                <div class="col-xs-10 text-right">Grand Total:</div>
                <div class="col-xs-2 text-right">{{calculateGrandTotal() | currency: currencySymbol}}</div>
              </div>
            </div>
            <div class="row noPrint actions">
              <a href="#" class="btn btn-primary" ng-show="printMode" ng-click="printInfo()" target="_blank">Print</a>
              <a href="#" class="btn btn-primary" ng-click="clearLocalStorage()">Reset</a>
              <a href="#" class="btn btn-primary" ng-hide="printMode" ng-click="printMode = true;">Turn On Print Mode</a>
              <a href="#" class="btn btn-primary" ng-show="printMode" ng-click="printMode = false;">Turn Off Print Mode</a>
            </div>
          </div>

          <div ng-hide="printMode" class="copy noPrint">

          </div>



          <!--  <div id="menu3" class="tab-pane fade">
      <h3>Receipt</h3>
      <p>yet to be done </p>
    </div>-->
      </div>
    </div>
</body>

</html>
