<!DOCTYPE html>
<html ng-app="Registration">

<head>

    <meta charset="utf-8">

    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

</head>
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}


input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}


.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}


.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}


.container {
    padding: 16px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

.form-control {
    display: block;
    width: 60%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
	}



</style>

<body>
    <div ng-controller="repeatCtrl">
        <form name="RegForm">
            <div class="container">
                <h1>Sign Up</h1>
                <p>welcome</p>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" pattern="[^ @]*@[^ @]*" required>

                <div><label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="Pass" ng-model="Pass" required class="form-control"
                        required>
                </div>
                <label for="psw-repeat"><b>Repeat Password</b></label>
                <div> <input type="password" placeholder="Repeat Password" name="repeatPass" ng-model="repeatPass"
                        compare-to="Pass" required class="form-control" required>
                    <span class="error text-danger" ng-show="RegForm.repeatPass.$error.compareTo">

                        Passwords din't match.

                    </span></div>

                <label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                </label>



                <div class="clearfix">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">

        var Registration = angular.module("Registration", []);



        Registration.controller("repeatCtrl", function ($scope) {

            $scope.student = {

                password: "",

                repeatPassword: ""

            };

        });



        Registration.directive("compareTo", function () {

            return {

                require: "ngModel",

                scope:

                {

                    repeatPassword: "=compareTo"

                },

                link: function (scope, element, attributes, paramval) {

                    paramval.$validators.compareTo = function (val) {

                        return val == scope.repeatPassword;

                    };

                    scope.$watch("repeatPassword", function () {

                        paramval.$validate();

                    });

                }

            };

        });

    </script>

</body>

</html>