html
  head
    title SIGNUP/REGISTER
    link(rel='stylesheet', type='text/css', href='signin.css')
    style.
      #border1 {
      border: 10px solid;
      border-radius: 50px;
      border-style: double;
      margin-left: 400px;
      margin-right: 400px;
      padding: 10px;
      color: rgb(190, 106, 106);
      }
      #bor {
      border: 5px solid #fcf8f857;
      border-style: dotted;
      padding: 10px;
      }
      .btn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
      }
  body
    //
      div(align="center")
       img(src="logo.png")
    div(align='center')
      h1#bor(align='center') SIGN IN
    #border1(align='center')
      form#form1(action='/login', method='post')
        table(cellpadding='3')
          tbody
            tr
              td
                h2
                  b
                    u SAMPREETH
            tr
              td
                i Email
            tr
              td
                input(type='email', size='20', autofocus='', bgcolor='powderblue', placeholder='Enter Email Id', required='')
            tr
              td
                i Password
            tr
              td
                input(type='password', size='20', autofocus='', bgcolor='powderblue', minlength='8', placeholder='Enter your password', required='')
                br
                small MinimumLength is 8 characters 
            tr
              td
                input(type='checkbox', name='terms', value='check1')
                small I accept the Terms of Service and Privacy Policy
            tr
              td
                input(type='checkbox', name='accept', value='check2')
                small I'd like to receive updates via email about Free Logo Design.
            tr
              td
                 input(type='submit',value='Login') 
            tr
              td
                a(href='https://www.google.com')
                  | forgot password?
        div
          h4 NOT YET REGISTERED!!!.CLICK DOWN NOW
          h3
            a(href='register.html', target='_blank')
              | REGISTER NOW

