<!DOCTYPE html>
<html>
<head>
<title>
AngularJs validation
</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript">
var app = angular.module('ngpatternApp', []);
app.controller('ngpatternCtrl', function ($scope) {
$scope.sendForm = function () {
$scope.msg = "Form Validated";
};

});

</script>

</head>

<body><p style="color:black;font-size: 20px;background-color: antiquewhite">REGISTER</p>

 <label style="font-size:20px;">USERNAME:<br>
 <input type = "text" ng-model = "register.myname" size = "25" maxlength = "25" /></label><br><br>

 <form name="registerForm1">
        <label style="font-size:20px;">EMAIL:</label><br>
        <input type="email" ng-model="newUser.useremail"  name="useremail" required ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$/" reqiured/>
        <div ng-messages="registerForm1.useremail.$error">
          <br>
          <div style="color:red" ng-show="registerForm1.useremail.$error.required">Required!</div><br>
          
          </div>
      </form>
            <form name="registerForm2">
        <label style="font-size:20px;">CONFIRM EMAIL:</label><br>
        <input type="email" ng-model="newUser.useremail1" name="useremail1" required ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$])[A-Za-z\d$@$]{8,20}$/">
        <div ng-messages="registerForm2.useremail1.$error">
          <br>
          <div style="color:red" ng-show="registerForm2.useremail1.$error.required">Required!</div><br>
          
          </div>
      </form>
    

<div ng-app="ngpatternApp" ng-controller="ngpatternCtrl">



<form name="personForm" novalidate ng-submit="personForm.$valid &&sendForm()">

<label style="font-size:20px;">PASSWORD:</label><br><input type="password" name="pass" ng-model="txtpin" ng-pattern="/^[0-9,a-z,A-Z]{1,10}$/" required />

<span style="color:Red" ng-show="personForm.pass.$error.required"> Required! </span>

<span style="color:Red" ng-show="personForm.pass.$dirty&&personForm.pass.$error.pattern">Only Numbers and character Allowed, Maximum 10 Characters</span>

<br /><br />

<button type="submit"  style="font-size:20px; background-color: azure; padding:20px;"  >Register </button><br /><br />

<span>{{msg}}</span>

</form>

</div>

</body>

</html>