*
{
    margin:0;
    padding:0;
    font-family:"vardana";
}
body
{
    width:100%;
    height: 100vh;
    background-image: url("Pu.png");
    background-size: cover;

}
nav{
    width:100%;
    height:80px;
    background-color: #0001;
    line-height: 80px;
    

}
nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color:white;
    padding: 30px;
}
nav ul li:hover{
    background-color: chartreuse;
}
nav ul li{
    list-style-type: none;
display:inline-block;
transition: 0.8s all;
}