<div>
    <input id="text" type="text" class="form-control"
     [(ngModel)]="serverName">
    <!--(input)="onUpdateServername($event)">-->
    </div>
    <button id="butt1" class="btn btn-primary" (click)="onCreateServer()">Add
  Server</button>
<app-server *ngFor="let i of array1" [sName]='i' ></app-server>
