html
  head
    title  CompleteForm
  body( text='black',style=' background-color: #eaeadc;')
    h1(style=' background-color: black;')
      center Registration Form
    center
      table(border='0', cellpadding='49', cellsapcing='0')
        tbody
          tr(style='background-color: #c6cbf2;')
            th
              i
                u
                  p(align='right', style='margin-top: -3px; color:red;')
                    a(href='reg1.html')  LOGIN
            th
              p(align='right', style='margin-top: -3px;')
                a(href='puglogin.pug')
                  i
                    u REGISTER
      table(border='0', cellpadding='70', cellsapcing='0')
        tbody
          tr(style='background-color: #c6cbf2;')
            td
              form(action=' ')
                p(style='color:black;font-size: 20px;background-color: antiquewhite;') login
                p
                  label
                    | Enter your Email id:
                    br
                    input(type='text', name='myname', size='25', maxlength='25')
                p
                  label
                    | Enter the Password:
                    br
                    input(type='password', name='mypass', size='25', maxlength='25')
                label
                  p(align='left')
                    label
                      input(type='checkbox', name='act', value='one')
                      b Remember me
                    b  
                  b
                    p(align='right', style='margin-top: -33px;')
                      a(href='/users/password/new') Forgot your password?
                    div
                      center
                        input(type='submit', value='SIGN UP', style='color:  black;background-color: #ced1a9;width: 315px;      height: 47px;')
      table(border='0', cellpadding='10', cellsapcing='0')
        tbody
          tr
            th Login using
            th
              a(href='https://www.gmail.com/')
                img(src='gmail.png', align='right', height='20', width='20')
            th
              a(href='https://www.fb.com/')
                img(src='fb.jpg', align='right', height='20', width='20')
            th
              a(href='https://www.twitter.com/')
                img(src='twitter.png', align='right', height='20', width='20')
            th
              a(href='https://www.linkedin.com/')
                img(src='ln.png', align='right', height='20', width='20')
