html
  head
    title  CompleteForm
  body(style='background-color: #eaeadc;' text='black')
    h1(style=' background-color: black;')
      center Registration Form
    center
      br
      table(border='0', cellpadding='10', cellsapcing='0')
        tbody
          tr(style='background-color: #c6cbf2;')
            td
              form(action='')
                p(style='color:black;font-size: 20px;background-color: antiquewhite') REGISTER
                p
                  label
                    | USERNAME:
                    br
                    input(type='text', name='myname', size='25', maxlength='25')
                  br
                  br
                  label
                    | EMAIL:  
                    br
                    input(type='text', name='myemail', size='25', maxlength='25')
                  br
                  br
                  label
                    | CONFIRM EMAIL:
                    br
                    input(type='text', name='myconemail', size='25', maxlength='25')
                  br
                  br
                  label
                    | PASSWORD:
                    br
                    input(type='password', name='mypass', size='25', maxlength='25')
                  br
                  label must take only 8 characters
                label
                  input#terms_opt_in(type='checkbox', name='terms_opt_in', value='1', required='required')
                  label(for='terms_opt_in')
                    | I accept the 
                    a(target='_blank', href='/-/users/terms') Terms of Service and Privacy Policy
                br
                label
                  input#new_user_email_opted_in(type='checkbox', value='1', name='new_user[email_opted_in]')
                  label(for='new_user_email_opted_in') I'd like to receive updates via email about GitLab.
                br
                br
                div
                  center
                    input(type='submit', value='REGISTER', style='\
                    color: black;\
                    background-color: #ced1a9;width: 315px;\
                    height: 47px;')
                br
                p(align='right', style='margin-top: 3px;')
                  a(href='reg1.html', style='color: navy;')  Back to login....
                br
      table(border='0', cellpadding='10', cellsapcing='0')
        tbody
          tr
            th Login Using
            th
              a(href='https://www.gmail.com/')
                img(src='gmail.png', align='right', height='20', width='20')
            th
              a(href='https://www.fb.com/')
                img(src='fb.jpg', align='right', height='20', width='20')
            th
              a(href='https://www.twitter.com/')
                img(src='twitter.png', align='right', height='20', width='20')
            th
              a(href='https://www.linkedin.com/')
                img(src='ln.png', align='right', height='20', width='20')
