doctype html
html
    head
       
        script.
            if(window.navigator.geolocation){
              console.log("Geolocation available!")
          }
          else{
              console.warn("Geolocation not available!")
          }

        
        style(type="text/css").
          html, body{
              padding: 0;
              margin: 0;
          }
          a{
            color:red;
          }

    body
        
    - var name = "User Name"
    - var loggedIn = false;
    
    input(type="text", name=username, required=loggedIn)
  
    -
            // JavaScript comment inside the block
            var classes = [
                "general",
                "link",
                "active"
            ];
    a(href="some-link", class=classes)
    
    - var size = "medium"

            img(src=`https://design.google.com/logo-${size}.png` alt="google logo")

            //- Using boolean value.
            input(type='checkbox' checked)
            input(type='checkbox' checked=true)
            input(type='checkbox' checked=false)
            
    input(
            type="text"
            "name"="username"
            'placeholder'="Enter your username"
            readonly=false
            required
        )
        
    img(src!="<code></code>")
    
    p!= "Hello World! I am <b>Pug.js!</b>"
   
    button.btn.btn-sm Click Me
    
    .general.div I am in default tag is `div`.

    // # for the ID
    a#main-link Click Me!

    a.link#main-link Click Me!

    #main-link I am in default tag is `div`.
    
    - var gender = "Other"
            case gender == "MALE"
                when "MALE"
                    p I am male.
                when "FEMALE"
                    p I am female.
                default
                    p I am special.
                
    - var loggedin = false
            unless loggedin
                p
                    a.link(href="some-link") Click to log in
   
   
    ul
        - for (var i = 0; i < 3; i++)
            li= `current value is ${i}`
            
    - var numlist=[13,23,34,5,6];
    ol
        each i in numlist
            li= `current value using for-in is ${i}`

    - var name="John Doe"
        p Hi, My name is #{name.toUpperCase()}.
        
    table
        tr
            th age
            th name
            th place
        tr
            th 12
            th vin
            th bangalore
        
    form
        input#username(name="username", placeholder="user name" required)
        button.btn.btn-primary(type='submit', onclick='myfunc()') sign up.....
    
    
