html
  head
    title Crazy World!
    
    style.
      body{
      background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(image.jpg);
      height=100vh;
      background-size: cover;
      background-position: center;
      }
      .Login-Page{
      width: 360px;
      padding: 3% 0 0;
      margin: auto;
      }
      .form{
      position: relative;
      z-index: 1;
      background: rgba(0,10,10,25);        // white color
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      }
      .form input{
      font-family: "Roboto",sans-serif;
      outline: 1;
      background: #f2f2f2;
      width=100%;
      border:0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
      }
      .form button{
      font-family: "Roboto",sans-serif;
      text-transform: uppercase;                //create button will be in uppercase.
      outline: 0;
      background: #4CAF50;                      //green color for button.
      width=100%;
      border:0;
      padding: 15px;
      color:#FFFFFF;
      font-size: 14px;
      cursor: pointer;
      }
      //add hover effect on the buttons
      .form:hover,..form button:active{
      background: #43A047;
      }
      .form .message{
      margin: 15px 0 0;
      color: black;
      font-size: 12px;
      }
      .form .message{
      color:white;
      text-decoration: none;
      }
      .form .register-form{
      display: none;
      }
  body
    h2(style='background-color:lightgray', align='center') Welcome to crazy world! 
    .Login-Page
      .form
        form.register-form(method='post', action='register_success.html')
          input(type='text', placeholder='user name')
          input(type='email', placeholder='email-id', required='')
          input(type='password', placeholder='password', required='')
          input(type='password', placeholder='conform password', required='')
          input(type='text', placeholder='mobile number')
          br
          a(href='register_success.html')
            button Create
          p.message
            | Already Registered? 
            a(href='#') Login
        form.login-form(method='post', action='login_success.html')
          input(type='text', placeholder='user name', required='')
          input(type='password', placeholder='password', required='')
          button
            a(href='login_success.html') login
          p.message
            | Forgot Password? 
            a(href='www.changepassword.com') Click-here
          p.message
            | Not Registered? 
            a(href='#') Register
    // using jquery for, if i click on register-form it should open same as with login-form
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script.
      $('.message a').click(function(){
      $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
      });
