
        

    <div class="container-fluid">
        <div style="float:right;">
            <p style="font-size: 14px;">Trial / Subscription expired?</p>
            <p><a class="aa" href="login">login</a><span> | </span><a class="aa" href="register">register</a></p>
        </div>
        <div  style="padding:22px;padding-right: 30px;top:0px;width: 50%">
            <img src="assets/images/web-logo..png"></div>
    </div>
    <div class="logindiv">
        Login
    </div>

   <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" placeholder="Enter Email" formControlName="email" required>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-6" >
                    <input type="password"  passwordToggle  placeholder="Enter Password" formControlName="password" required>
                </div>
            </div>
            <div style="    
    width: 221px;
    margin-left: 155px;" >
                <button class="registerbtn" type="submit" >Login</button> 
            </div>
</form>
   
    
