<!DOCTYPE html>
<html>
    <head>
        <title>User Profile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/profilestyle.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" >
    </head>
    <body>
        <div id="main">

<div id="mySidenav" class="sidenav">
    
    <a style="font-size: 16px;margin-top: 10px;"href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-angle-double-left" > &nbsp;Help Center</i></a>
    <div class="panel1">
     <div class="panel panel-default">
      <div class="panel-heading">
          
         </div>
      <div class="panel-body">
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">I need help accessing a sourcing event</a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">Training sessions with live QnA</a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">Send a PO-based invoice </a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">Why can't I find an event?</a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">Where do I find my Ariba Network ID (ANID) number?</a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">How do I accept a customer-invited trading relationship request?</a></span>
          <span><a href="https://uex.ariba.com/auc/front?a_fenb=is&collapsed_by_user=isInSituCollapsed%3Afalse%7CwindowWidth%3A1349%7CwindowHeight%3A657&a_ui=COMBO&appUrl=https%3A//service.ariba.com/Supplier.aw/front&ctxtTags=Misc%3Aresendorder%2Capp%3Aariba.network.service.apps.supplier.Application%2Cpage%3Aariba/network/service/common/supplierapp/SUPMain%2Cactivity%3AView%2CdomainObject%3AHomePage&a_src_page=front&a_src_area=">How do I participate in my buyer's event using an email invitation?</a></span>

        </div>
    </div></div>
    <div class="panel2">
    <div class="panel panel-primary">
      <div class="panel-body .faq">
          <span ><a style="margin-top: 15px;margin-bottom: 5px; margin-left: 10px;" >TOP 5 FAQ's</a></span>
        </div>
    </div></div>
  
</div>
        
        
        
        <div class="header">
            <a href="#default" class="logo">Ariba Network</a>
            <div class="header-right">
              <a href="/logout"><i>Logout</i></a>
                &ensp;
			<a style="cursor:pointer;margin-top: " onclick="openNav()">Help Center  &ensp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    
            </div>
        </div>
     <h3>Company Profile</h3><hr /><br><br>   
        
        
       
        <div class="container"><br/>
    <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Basic">Home</a></li>
    <li><a data-toggle="tab" href="#Business">Business</a></li>
    <li><a data-toggle="tab" href="#menu2">Marketing</a></li>
    <li><a data-toggle="tab" href="#menu3">Contacts</a></li>
  </ul>

  <div class="tab-content">
    <div id="Basic" class="tab-pane fade in active">
         <div class="container-fluid text-center"> 
        <div class="row content">
        <div class="col-sm-6 text-left">
            
        <form action="" class="register">
          <fieldset class="row1">
                <h3>Overview
                </h3><hr/>
                <label class="obinfo" style="margin-left: 640px;">*obligatory fields
                </label>
                <p>
                    <label>Company Name:
                    </label>
                    <input type="text"/>
                </p>
                <p>
                    <label>Other Names,if any:
                    </label>
                    <input type="text" required/>
                </p>
                <p>
                    <label>
                    </label>
                    <input type="text" required/>
                </p>
                <p>
                    <label>Network Id:
                    </label>
                    <input type="text" value="AN01423826071" readonly/>
                    
                </p>
                <p>
                    <label>Short Description:
                    </label>
                    <textarea rows="4" cols="50"></textarea>
                    
                </p>
               <p>
                    <label>Website:
                    </label>
                    <input type="text" required/>
                    
                </p>
              <p>
                    <label>Public Profile:
                    </label>
                    <input type="text" value="http://discovery.ariba.com/profile/AN01423826071"readonly/>
                    
                </p>
                <p>
                    <label>Privacy Statement *:
                    </label>
                    <select>
                        <option >SAP Ariba Privacy Statement
                        </option>
                        <option value="1">Custom Privacy Statement
                        </option>
                        <option value="2">No Privacy Statement
                        </option>
                    </select>
                </p><br><br>
            </fieldset>
            <fieldset class="row1">
              <h3>Address
                </h3><hr/>
                <p>
                    <label>Address *
                    </label>
                    <input type="text" required/>
                </p>
                <p>
                    <label>
                    </label>
                    <input type="text" required/>
                </p>
                <p>
                    <label>
                    </label>
                    <input type="text" required/>
                </p>
                <p>
                    <label>City *
                    </label>
                    <input type="text" class="long" required/>
                </p>
                <p><label>State *
                    </label>
                   <select>
                        <option>
                        </option>
                        <option value="1">Andhra Pradesh
                        </option>
                        <option value="2">Bihar
                        </option>
                        <option value="3">Chattisgarh
                        </option>
                        <option value="4">Delhi
                        </option>
                        <option value="5">GujaratHimachal Prades
                        </option>
                        <option value="6">Himachal Pradesh
                        </option>
                        <option value="7">Karnataka 
                        </option>
                        <option value="8">Kerela
                        </option>
                        <option value="9">Madhya Pradesh
                        </option>
                        <option value="10">Maharashtra
                        </option>
                        <option value="11">Tamil Nadu
                        </option>
                        <option value="12">West Bengal
                        </option>
                    </select>
                </p>
                <p><label>Pincode *
                    </label>
                    <input type="text" class="long" required/>
                </p>
              <br><br><br>
              </fieldset>
            
            <fieldset class="row1">
            <h5><b>Product and Service Categories, Ship-to or Service Locations, and Industries</b></h5><hr/>
             <h6><b>Product and Service Categories	required*</b></h6>   
              <span class="inlineDescriptionText">
                  Enter the products and services your company provides. Postings made by buyers will be matched to you based on the product and service categories you enter below. 
                </span>  <br><br>
              <p>
                    <input type="text" class="long" value="Enter Product and Service Categories" required/>
                </p>
                <div style="float: left;margin-left: 20px;padding-left: 15px;"><button class="buttonadd">ADD</button></div>
                <div style="padding-left: 15px;"></div>-- or -- <a>Browse</a><hr/>
              <h6><b>Ship-to or Service Locations	required</b></h6>   
              <span class="inlineDescriptionText">
                  Enter the locations that your company ships to or serves. If you serve limited locations, enter the locations your company serves below. If you have global capabilities, browse and select "Global." For example: a services company might only serve the US, but a goods manufacturer may ship globally. 
                </span>  <br><br>
              <p>
                    <input type="text" class="long" value="Enter Product and Service Categories" required/>
                </p>
                  <div style="float: left;margin-left: 20px;padding-left: 15px;"><button class="buttonadd">ADD</button></div>
                <div style="padding-left: 15px;"></div>-- or -- <a>Browse</a>  
                <hr/>
                <h4>Company Keywords:</h4>
                 <span class="inlineDescriptionText">
                  Enter the keywords to make your company more discoverable.
                </span>
                <p>
                  <input type="text" class="long" value="Enter Keywords" required/>   
                </p>
            <div style="float: left;margin-left: 20px;padding-left: 15px;"><button class="buttonadd">ADD</button></div>
            </fieldset>
            
            
            </form>
            </div>
              <div class="sidenavi">
            
        
            <label>Public Profile</label>
            <hr>
           <a>Commodities</a>
            <a>Short Description</a>
           <a>Website</a>
           <a>Annual Revenue</a>
            <a>Certifications</a>
           <a>D-U-N-S Number</a>
            <a>Business Type</a>
            <a>Industries</a>
            <a>Company Description</a>
            <a>Company Logo</a>
                </div>
            
            
             </div>
                   </div>
      
    </div>
    <div id="Business" class="tab-pane fade">
        <div class="container-fluid text-center"> 
        <div class="row content">
        <div class="col-sm-10 text-left">
        <form action="" class="register" style="margin-left: -2px;" >
      <fieldset class="row2">
          <h3>Business Information</h3><hr/>
           <p>
                    <label>Year Founded:
                    </label>
                    <input type="text" required/>
                </p>
                <p>
                    <label>No. of Employees:
                    </label>
                    <input type="text" required/>
                </p>
                <p>
                    <label><b>Annual Revenue</b>:
                    </label>
                    <input type="text" required/>
                </p>
                <p>
                    <label>Stock Symbol:
                    </label>
                    <input type="text" class="long" required/>
                </p><br><br><hr/>
          
           <h3>Financial Information</h3><hr/>
          <p><label>Supplier Legal Form
                    </label>
                   <select>
                        <option>
                        </option>
                        <option value="1">Corporation
                        </option>
                        <option value="2">Sole Proprietorship
                        </option>
                        <option value="3">Non Profit Organizatiuon
                        </option>
                       <option value="4">Partnership
                        </option>
              </select>
          </p>
           <p>
                    <label>Global Supplier Number:
                    </label>
                    <input type="text" class="long" required/>
                </p>
          <br><br><hr>
          <h3>Tax Information</h3>
          <hr/>
          <p><label>Tax Classification:
                    </label>
                   <select>
                        <option>
                        </option>
                        <option value="1">Adverstisement and Publicity Services
                        </option>
                        <option value="2">Civil Construcytion services
                        </option>
                        <option value="3">Commercial
                        </option>
                       <option value="4">Financial institution
                        </option>
                       <option value="5">Industrial
                        </option>
                       <option value="6">Income tax
                        </option>
                       <option value="5">Rentals
                        </option>
              </select>
          </p>
          <p>
                    <label>Tax Id:
                    </label>
                    <input type="text" class="long" required/>
                </p>
          <p>
                    <label>State Tax Id:
                    </label>
                    <input type="text" class="long" required/>
                </p>
           <p>
                    <label>Regional Tax Id:
                    </label>
                    <input type="text" class="long" required/>
                </p>
          <p>
                    <label>Vat Id:
                    </label>
                    <input type="text" class="long" required/>
                </p>
           <p>
                    <label>Vat Registered:
                    </label>
                    <input type="checkbox" checked>
                </p>
          <p>
                    <label>Tax clearance:
                    </label>
                    <input type="checkbox" checked>
                </p>
           <p>
                    <label>Tax clearance number:
                    </label>
                    <input type="text" class="long" required/>
                </p>
           <p>
                    <label>Tax Expiry Date:
                    </label>
                    <input type="date" class="long" required/>
                </p>
          
          
               
      </fieldset></form></div></div></div>  
            
    </div>
    <div id="menu2" class="tab-pane fade">
        <div class="container-fluid text-center"> 
        <div class="row content">
        <div class="col-sm-10 text-left">
        <form action="" class="register">
      <fieldset class="row2">
      <h3>Standard Profile Features</h3><hr><br><br>
          <h6><b>Social Networking Links</b></h6>  
              <span class="inlineDescriptionText">
                  Add links to your social media channels so that buyers can engage with your company.
                </span> 
          <p>
            <label>
              Facebook.com:
              </label>
          </p>
          <p>
            <label>
              Twitter.com:
              </label><input type="text" class="long" required/>
          </p>
          <p>
            <label>
              linkedin.com:
              </label><input type="text" class="long" required/>
          </p><br><br>
          <hr/>
          <h6><b>Company Description :</b></h6><hr/>
          <span class="inlineDescriptionText">
                 Enter a full company description that gives buying organizations a more complete view of your company than the brief description on the Basic Profile page.
                </span> 
          <p>
            <label>
              
              </label><textarea rows="10" cols="80"></textarea>
          </p>
          <br><br><br><h6><b>Credit and Risk Information from D&B:</b></h6><hr/>
          
            <span class="inlineDescriptionText">
                Add your Dun & Bradstreet credit and risk scores to your posting responses so that buyers can identify you as qualified partner.
                </span> 
          <h6><b>Credit and Risk Information from D&B:</b></h6><input type="text" class="long" required/><hr/>
          
          <h3>Standard Profile Features</h3><hr><br><br>
           
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
        <h6><b>Activate Premium Profile Features</b></h6>
       <span class="inlineDescriptionText">
                The information below is not displayed on your profile until you upgrade to the Advantage Package on Ariba Discovery. 
               Sign Up here to set up your marketing presence on Ariba Discovery and maximize your visibility.
                </span> 
        
      
      </div>
  </div>
</div>
          <h6><b>Company Logo:</b></h6><hr>
        <span class="inlineDescriptionText">
                	Upload your logo to appear with your company description. Logos must be a .gif file with a maximum width of 250 pixels, a maximum height of 250 pixels and a maximum size of 200 kB.
                </span>
        <p>
            <label>Logo
            </label>
            <input type="file" required>
        </p>

          
        
    </fieldset></form></div></div></div>
    </div>
    <div id="menu3" class="tab-pane fade">
        <div class="container-fluid text-center"> 
        <div class="row content">
        <div class="col-sm-10 text-left">
        <form action="" class="register">
      <fieldset class="row2">
      <h3>Company Contact Information</h3><hr>
          <p>
              <label>Email:
              </label>
                    <input type="email" class="long" required/>
        </p>
        <p>
            <label>Phone No. *:
            </label>
                    <input type="text" class="long" maxlength=10; required/>
        </p>
          <p>
            <label>Fax:
            </label>
                    <input type="text" class="long" maxlength=10; required/>
        </p>
            </fieldset></form></div></div></div>
      
    </div>
  </div>
</div>
        
        
        
        
        
        
        
        
        
        <div class="container-fluid text-center"> 
            <div class="row content">
        <div class="col-sm-10 text-left">
        <form action="" class="register">         
            <div style="float: right;"><button class="button1">Cancel</button></div>
            <div style="float: right;"><button class="button">Save &raquo;</button></div>
            <hr />
            <div class="sgnfooterwrapper paddingTop5">
                <span class="sgnfooteritem">
                    <a target="_blank" href="http://www.ariba.com/legal/ariba_privacy_statement.cfm">SAP Ariba Privacy Statement</a>
                </span>
                <span class="sgnfooteritem"><a target="_blank" href="https://www.ariba.com/legal/security-disclosure">Security Disclosure</a></span>
                <span class="sgnfooteritem"><a target="new" href="https://service.ariba.com/Authenticator.aw/ad/termsCenter">Terms of Use</a></span>
                <span class="sgnfootercopyright">© 1996–2018 Ariba, Inc. All rights reserved.</span></div>
            
        </form>
      
                </div></div></div>
        
       </div>
        
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginRight = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginRight= "0";
}
</script>
       
    </body>
</html>





