
<div class="divBack">

<ul class="topul">
		<li class="topli"><a class="toplia"></a><img src="assets/images/1.png" style="height: 35px; margin-top: 0px;margin-left: 60px;"></li>
		<li class="topli" style=" font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue, Helvetica, Arial, Verdana, sans-serif; font-size: 23px; margin-left: 40px"><a
			 class="toplia"></a>Orders & Invoices</li>
		
		<li class="topli" style=" font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue, Helvetica, Arial, Verdana, sans-serif; font-size: 10px; margin-left: 10px;margin-top: 10px;">
			<a class="toplia"></a>Powered by Ariba Network </li>
                                                                                                                                        		
		<li class="topli"><a class="toplia"><i class="fa fa-th" aria-hidden="true" style="margin-top: 20px;margin-left: 500px;font-size: 20px;">&ensp;</i></a></li>
		<li class="topli" style="font-size:14px;margin-top: 10px;color: #199DE0;">Help Center &ensp;
			<i class="fa fa-angle-double-right" aria-hidden="true"></i>
		</li>
	</ul>
<div class="ca" style="width: 500px;
    float: right;
    margin-right: 100px;
    margin-top: 100px;">
<carousel class='text-center'>
  <slide>
    <img class="img-main-carousel" src="assets/images/11.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img  class="img-main-carousel" src="assets/images/12.png" alt="second slide" 
    style="display: block; width: 100%;">
  </slide>
  <slide>
    <img  class="img-main-carousel" src="assets/images/13.png" alt="third slide" 
    style="display: block; width: 100%;">
  </slide>
</carousel>
</div>
             
			<div class="card">
				<div class="card-header">
					<h3>Supllier Login</h3>
					<div class="d-flex justify-content-end social_icon">

					</div>
				</div>
				<p style="color:red;font-size=10px;">
					{{messege}}
				</p>
				<div class="card-body">
					<div class="form-group">
					<form action="/login" [formGroup]="loginForm" method="POST">
						<div class="input-group form-group" style="font-size: 16px;">

							<input type="text" class="form-control" formControlName="userName" name='uuName' placeholder="username" [(ngModel)]="model.userName" required>

						</div>
						<div class="input-group form-group" style="font-size:larger;">

							<input type="password" name='uuPassword' formControlName="userPassword" 
							class="form-control" placeholder="password" [(ngModel)]="model.userPassword" required>
						</div>
						<div class="row align-items-center remember">
							<input type="checkbox">Remember Me
						</div>
						<div class="form-group">
							<br /> <input type="submit" value="Login" (click)="loginData()" class="btn float-left login_btn">
						</div>
					</form>
				</div>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-left links">
						Having trouble in Logging in??
					</div>
					<div class="d-flex justify-content-left" style="color: White;font: 18px Arial;margin-top: 28px;">
						New to Ariba?</div>
					<div class="d-flex justify-content-left" style="color: white; font-size: 15px;">
						<a routerLink="/register" style=" color: #f2ae43 !important;font: Arial;font-size: 14px;">Register</a>
						&ensp;&nbsp;   or &nbsp;  &ensp;
						<a style=" color: #f2ae43 !important;font: Arial;font-size: 14px;"  >Learn More</a>
					</div>

				</div>
			

		</div>
		<div style="margin-top: 170px;margin-left: 5%; color: #199de0;text-decoration: none;font-weight: 200;font-size: 13px;">Supported
			browser and plugins </div>
		<div><img src="assets/images/3.jpg" style="height: 48px;width: 35px; float: right;margin-top: -10px;"></div>
		<div><img src="assets/images/3.png" style="margin-left: 5%"></div>
		<div style="margin-left: 5%;color: #969696;font-size: 13px;font-family: 'Arial'">&copy 1996–2018 Ariba, Inc. All
			rights reserved.
			<a style="color:#199de0">&ensp;SAP Ariba Privacy Statement</a>
			<a style="color:#199de0">&ensp;Security Disclosure</a>
			<a style="color:#199de0">&ensp;Terms of Use</a>
		</div>
	</div>


