html
  head
    meta(charset='utf-8')
    title welcome
    link(rel='stylesheet', type='text/css', href='loginStyle.css')
  body
    section
      .content1
      form(method='POST', style='margin-left: -181px;')
        h2 Login
        label(for='email')
          b Email
        br
        input(type='email', placeholder='Enter Email', name='email', required='')
        br
        label(for='psw')
          b Password
        br
        input(type='password', placeholder='Enter Password', name='psw', required='')
        br
        br
        input(type='submit', value='submit')
      .content2
        img(src='download.png', height='85px', style='margin-top: 112px;\
        width: 469px;\
        height: 142px;\
        ')
