html
  head
    meta(charset='utf-8')
    title register
    link(rel='stylesheet', type='text/css', href='registerStyle.css')
  body
    section
      .content1
        img(src='download.png', height='85px', style='margin-top: 112px;\
        width: 469px;\
        height: 142px;')
      .content2
        h2 Register
        form(method='post', action='/register', style='color: black;')
          | Fullname:
          br
          input(type='text', placeholder='fullname', name='fullname', size='25', required='')
          br
          |     Username:
          br
          input(type='text', placeholder='username', name='username', size='25', required='')
          br
          |            email:
          br
          input(type='email', name='emailID', ng-model='email', placeholder='Enter an Email ID', required='', style='width: 207px;')
          br
          |             Password:
          br
          input(type='password', name='pass', ng-model='passWord', required='', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}', style='width: 207px;')
          br
          input(type='checkbox', checked='')
          | i accept the terms and conditions
          br
          input(type='submit', value='register')
