<html>

    <head>
    <title>SIgnUp form</title>
<link rel="stylesheet" type="text/css" href="reg.css"/></head>
 <body>
        <div class="signupbox">
         <img src="icon.png" class="icon"/>
          <h1>Signup</h1>
                <form  method="post"  enctype="multipart/form-data" action='/landing'>
                     <p>First Name </p>
                     <input type="text" name="uFirstName" placeholder="Enter Username" required>
                     <p>Last Name </p>
                     <input type="text" name="uLastName" placeholder="Enter Username">
                     <p>Email</p>
                     <input type="email" name="uemail"  placeholder="Enter Email">
                     <p>Password</p>
                     <input type="password" name="uPassword" placeholder="Enter password"   required>
                     <P>Choose Image</P>
                     <input type="file" name="uProfile" placeholder="Choose Image" accept="image/*" required><br/><br/>
                     
                     
                      <input type="submit" name=""value="Confirm">
                  </form>
                  
        </div> 
 </body>     
</html>