body
{
    margin:0;
    padding:0;
    background-image: url("pub.png");
    background-size: cover;
    background-position: center;
    font-family:sans-serif;
}
.signupbox
{
    width:354px;
    height: 428px;
    background: #000;
    color:#fff;
    top:  50%;
    left: 50%;
    position: absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.d
{
    width:100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:-50px;
    left: calc(50% - 50px);
}
h1{
    margin:0;
    padding:0 0 20px;
    text-align: center;
    font-size: 22px;
}
.signupbox p{
    margin: o;
    padding:0;
    font-weight: bold;}
    .signupbox input{
        width: 100%;
        margin-bottom: 20px;
    }


.signupbox input[type="text"]
{border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 25px;
    color: #fff;
    font-size: 16px;
}
.signupbox input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 25px;
    color: #fff;
    font-size: 16px;

}
.signupbox input[type="submit"]{
    border:none;
    outline: none;
    height:39px;
    background:#0000ff;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;}
    .signupbox input[type="number"]{
        background: transparent;
    outline: none;
    height: 25px;
    color: #fff;
    font-size: 16px;
}
.lower input[type="checkbox"]
{width:20;
position: relative;
height:12;


}
.lower label{
    font-size: 12;
    font-family: initial;
    
}
.signupbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #008000;
    color: #000;
}

    