

<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
    <link href="/css/bootstrap.min.css" rel="stylesheet">
   
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
		<ul class="topul">
                <li class="topli"><a class="toplia"></a><img src="images/1.png" style="height: 35px; margin-top: 0px;margin-left: 60px;"></li>
                <li class="topli" style=" font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue, Helvetica, Arial, Verdana, sans-serif; font-size: 23px; margin-left: 40px"><a class="toplia" ></a>Orders & Invoices</li>
            </li>
			<li class="topli" style=" font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue, Helvetica, Arial, Verdana, sans-serif; font-size: 10px; margin-left: 10px;margin-top: 10px;"><a class="toplia" ></a>Powered by Ariba Network </li>
		</li>
		<li class="topli"><a class="toplia" ><i class="fa fa-th" aria-hidden="true" style="margin-top: 20px;margin-left: 500px;font-size: 20px;">&ensp;</i></li>
			<li class="topli" style="font-size:14px;margin-top: 10px;color: #199DE0;">Help Center &ensp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
		</ul> 
	
<div class="container-fluid" >
	<div>
		<div id="myCarousel" class="carousel slide" data-ride="carousel" style="float: right;">
				<!-- Indicators -->
				<ol class="carousel-indicators">
				  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				  <li data-target="#myCarousel" data-slide-to="1"></li>
				  <li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
			
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
				  <div class="item active">
					<img src="images/14.jpg" alt="Los Angeles" style="width:100%;">
				  </div>
			
				  <div class="item">
					<img src="images/13.jpg" alt="Chicago" style="width:100%;">
				  </div>
				
				  <div class="item">
					<img src="images/12.jpg" alt="New york" style="width:100%;">
				  </div>
				  <div class="item">
						<img src="images/11.jpg" alt="New york" style="width:100%;">
					  </div>
				</div>
			</div>
			
			  </div>
	<div >
		<div class="card">
			<div class="card-header">
				<h3 >Supllier Login</h3>
				<div class="d-flex justify-content-end social_icon">
					
				</div>
			</div>
			<p style="color:red;font-size=10px;"><%=msg%></p>
			<div class="card-body">
				<form action="/login" method="POST">
					<div class="input-group form-group" style="font-size: 16px;">
						
						<input type="text" class="form-control" name='uuName' placeholder="username" required>
						
					</div>
					<div class="input-group form-group" style="font-size:larger;">
						
						<input type="password" name='uuPassword'class="form-control" placeholder="password" required>
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
							<br/>	<input type="submit" value="Login" class="btn float-left login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-left links">
					Having trouble in Logging in??
				</div>
				<div class="d-flex justify-content-left" style="color: White;font: 18px Arial;margin-top: 28px;">
				New to Ariba?</div> 
				<div class="d-flex justify-content-left" style="color: white; font-size: 15px;">
				<a href="register" style=" color: #f2ae43 !important;font: Arial;font-size: 14px;">Register</a>
				&ensp; or &ensp;
				 <a style=" color: #f2ae43 !important;font: Arial;font-size: 14px;">Learn More</a>
			</div>
			
			</div>
		</div>
		
	</div>
	<div style="margin-top: 170px;margin-left: 5%; color: #199de0;text-decoration: none;font-weight: 200;font-size: 13px;">Supported browser and plugins </div>
	<div><img src="images/3.jpg" style="height: 48px;width: 35px; float: right;margin-top: -20px;"></div>
	<div><img src="images/3.png" style="margin-left: 5%"></div>
	<div style="margin-left: 5%;color: #969696;font-size: 13px;font-family: 'Arial'">&copy 1996–2018 Ariba, Inc. All rights reserved.
		 <a style="color:#199de0">&ensp;SAP Ariba Privacy Statement</a>
		 <a style="color:#199de0">&ensp;Security Disclosure</a>
		 <a style="color:#199de0">&ensp;Terms of Use</a>
		</div>
</div>
<div>
		
</div>

</body>


</html>