<h2>Welcome {{userName}}</h2>


<button type="button" class="btn btn-success" (click)="addEvent()">Add Event</button>
<div class="container-fluid">
	<div style="margin-left:30px;" *ngIf='show' >
<form [formGroup]="eventForm" enctype="multipart/form-data" >

	<div class="row">
  <div class="col-xs-4 form-group">
    <label for="exampleInputEmail1">Add Title:</label>
    <input type="text" class="form-control" formControlName="eventName"  aria-describedby="emailHelp" placeholder="Enter Event Title"  required>
    <p style="font-size:13px; color:red;">Interesting Events.</p>
</div>
</div>
<div class="row">
  <div class="col-xs-4  form-group">
    <label for="exampleInputPassword1">Select Start Date and Time</label>
    <input type="datetime-local" placeholder="Select Date"  formControlName="eventStartTime"  value="" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-xs-4  form-group">
    <label for="exampleInputPassword1">Select End Date and Time</label>
    <input type="datetime-local" placeholder="Select Date"  formControlName="eventEndTime"  value=""class="form-control" 
     >
  </div>
</div>


<div class="row">
  <div class="col-xs-4  form-group">
    <label for="avatar">Choose a Event picture:</label>
    <input type="file" id="avatar" formControlName="avatar" class="form-control"accept="image/*">
  </div>
</div>
 <button type="submit" class="btn btn-primary" (click)="eventData()">Add</button>
</form>
</div>
</div>

	
