#text1{

  width:18%;
  height:35px;
  border-style: groove;
  background-color: aquamarine;
 }


#butt2{
 background-color: black;
 color:white;
 width:8%;
 height:60px;
}

#aa2{
  background-color: blanchedalmond;
  color: black;
}

#aa3{
  background-color:cornflowerblue;
  color:black;
}
