<div>
  <input id="text1" type="text" class="form-control"
   [(ngModel)]="serverName">
  <!--(input)="onUpdateServername($event)">-->
  </div>
  <button  id="butt2" class="btn btn-primary" (click)="onCreateServer1()">Add
    Error</button>

  <h3 id="aa2">{{ serverName }}</h3>
  <div class="container">
    <div *ngFor="let vinay of vinays">
      <h2 id="aa3">{{vinay}}</h2>
    </div>
    </div>

