<div style="float: left;">
   <input type="text" class="form-control" [(ngModel)]="serverName"/>
   <button class="btn btn-primary" (click)="onAddError()">AddError</button>
    
   <div class="container" *ngFor="let server of servers">
     <h2> {{server}}</h2>
     </div>

  </div>