<div [style.border]='divColor' [style.margin-bottom]='mgn' [style.padding]='pdng'>
<p>
  component1 works!
</p>
<input type = checkbox (click)='changeColor()'><span>Click on checkbox to change the color....</span>
<h2 [style.color]='colour'>Warning!!!</h2><br>

<label>Enter your Warning text here...</label><br>
<input type="text" class='form-control' [(ngModel)]='inputText'>

<input type="button" value='Add' (click)='display()'>

<div *ngFor='let text of textArray'>
  <h2>{{text}}</h2>
</div>
</div>