<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>profile page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: whitesmoke;
    }
    select{
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: 1px solid #d2cece;
        box-shadow: 4px 2px 13px -3px #cac6c6;
         border-radius: 7px;
         background-color: white;
    }

    * {
        box-sizing: border-box;
    }

    .container {
        padding: 16px;
        background-color: white;
    }






    input[type=number] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: 1px solid #d2cece;
        box-shadow: 4px 2px 13px -3px #cac6c6;
         border-radius: 7px;

    }

    input[type=number]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }


    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

        input[type=text], input[type=password] {
                    width: 50%;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    display: inline-block;
                    border: 1px solid #d2cece;
                    box-shadow: 4px 2px 13px -3px #cac6c6;
                     border-radius: 7px;

                }

                input[type=text]:focus, input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }


    .logindiv{
            display:subgrid;
            background-color: rgb(9, 63, 9);
                padding: 29px;
                color: white;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size:40px;
                margin-bottom: 2%;
                padding:2%;
        }
        .registerbtn {
                    background-color: rgb(216, 213, 213);
                    color: black;
                    padding: 16px 20px;
                    margin: 19px 0;
                    border: none;
                    cursor: pointer;
                    width: 100%;
                    opacity: 0.9;
                    border: 1px solid rgba(162, 163, 167, .1);
    background-color: #abaeb2;
    font-size:16px;
                }

                .class1{

                background-color: #2e3339;
                  font-weight: 400;
                font-size: 16px;
                cursor: default;
                color: #eeeded;
                    padding: 10px;
                    font-size: 14px;
                        font-family: Roboto,sans-serif;

                }
                .class2{
                width: .5rem;

                            color: #999;
                font-size:12px;
                }
                .class3{
                text-align:center;
                }
                .class3{
                text-align:center;
                }
                .class4{
                display: inline-block;
                height: 28px;
                width: 28px;
                margin-left: 5px;
                padding: 0;
                background: url(//static.naukimg.com/s/5/100/i/socialSharing.png) repeat-y;
                    color: #0074ad;
                text-decoration: none;
                }

                .container-fluid.footerColor {
                background-color: #2e3339;
                }

                button.btn.btn-fb {
                background: #3b5998;
                color: white;
                }
                button.btn.btn-tw {
                background: #00acee;
                color: white;
                }

                button.btn.btn-gplus {
                background:#dd4b39;
                 color: white;
                }

                button.btn.btn-li{
                background: #0e76a8;
                 color: white;
                }

    </style>
</head>
<body>


  <div class="container-fluid">
    <div style="float:right;">
             <p>Trial / Subscription expired?</p>
           <!-- <p>Welcome </p>-->
             <p><a class="aa" href="login.ejs">logout</a></p>
        </div>

        <div class="fixed-top" style="padding:22px;padding-right: 30px;top:0px;width: 100%">
             <img src="web-logo..png"></div>
        </div>
        <div class="logindiv">
             Welcome
             </div>




  <div class="container">

<ul class="nav nav-pills">
 <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
 <li><a data-toggle="pill" href="#menu1">Profile</a></li>
 <li><a data-toggle="pill" href="#menu2">Transaction</a></li>
 <li><a data-toggle="pill" href="#menu3">Receipt</a></li>
</ul>
<br>

<div class="tab-content">
 <div id="home" class="tab-pane fade in active">
   <h3>HOME</h3>
   <p>NAMASTEEE</p>
 </div>
 <div id="menu1" class="tab-pane fade">


   <div class="logindiv" style="padding:0%;font-size:29px;">
     Profile
       </div>
       <div class="row">
               <div class="col-sm-2">
                  <h4 style="text-align:center"> UserName/Email: <%= data.username%></h4>
               </div>
                   <div class="col-sm-10"><input type="text" style="border:hidden;box-shadow:none"  name="username" required></div>
             </div>
             <hr>
             <div class="row">
                   <div class="col-sm-2">
                      <h4 style="text-align:center"> FirstName*</h4>
                   </div>
                       <div class="col-sm-10"><input type="text" value='<%=data.Fname%>' required></div>
                 </div>
                 <div class="row">
                       <div class="col-sm-2">
                          <h4 style="text-align:center"> LastName*</h4>
                       </div>
                           <div class="col-sm-10"><input type="text" value='<%=data.Lname%>' required></div>
                     </div>
                     <div class="row">
                           <div class="col-sm-2">
                              <h4 style="text-align:center">Country*</h4>
                           </div>
                               <div class="col-sm-10"><input type="text" value='<%=data.country%>' required></div>
                         </div>
                     <div class="row">
                           <div class="col-sm-2">
                              <h4 style="text-align:center">Phone*</h4>
                           </div>
                               <div class="col-sm-10"><input type="text" value='<%=data.tele%>' required></div>
                         </div> <div class="row">
                               <div class="col-sm-2">
                                  <h4 style="text-align:center">GSTIN:</h4>
                               </div>
                                   <div class="col-sm-10"><input type="text" value='<%=data.gst%>' required></div>
                                   <div class="row">
                                           <div class="col-sm-3"></div>

                                           <div class="col-sm-3"><input class="registerbtn" type="submit" value="Update Profile" /> </div>
                                         <div class="col-sm-6"></div>
                                         </div>

















 </div>
 <div id="menu2" class="tab-pane fade">
   <h3>Transaction</h3>

   <div class="logindiv">
       Invoice
       </div>

 <div class="container-fluid" style="margin-top:22px;">
 <form action="">
 <div class="row">
   <div class="col-sm-7" style="box-shadow:-1px 1px 4px 1px #cac6c6;">
   <h4 style="text-align:center;color:rgb(9, 63, 9);">ORDER FORM</h4><hr><br><br>
   <div class="row">
     <div class="col-sm-2">
       Customer<br><br>
       Address<br><br><br>
       Order Lines
     </div>
     <div class="col-sm-4">
       <input type="text" value="" id="Customer" style="width:145px;" required><br><br>
       <input type="text" value="" id="Address" style="width:145px;" required><br><br>
       <button type="button"  onclick="myFunction()" style="background-color:#1E6A36;color:white;border:2px solid #1E6A36;">Add Line</button>
     </div>
     <div class="col-sm-2">
       Order No<br><br>
       OrderDate
     </div>
     <div class="col-sm-3">
       <button id="randomNumber" onclick="randomNum(6)" style="background-color:#1E6A36;color:white;border:2px solid #1E6A36;">gen</button><input type="text" value="" id="OrderNo" style="width:80px;"><br><br>
       <input type="date" value="" id="OrderDate" style="width:145px;" required><br><br>
       <button type="button" onclick="myDeleteFunction()" style="background-color:#1E6A36;color:white;border:2px solid #1E6A36;">Clear Order</button>
     </div>
    </div><br><br>

    <div class="row" style="background-color:#eef3f7;width:99%;margin-left:0px;">
     <div class="col-sm-1" style="color: #1E6A36;margin-left:-1%;">LNo</div>
     <div class="col-sm-2" style="color: #1E6A36;margin-left:-3%;">Product</div>
     <div class="col-sm-3" style="color: #1E6A36;margin-left:-4%;">Item Code</div>
     <div class="col-sm-2" style="color: #1E6A36;margin-left:-3%;">Cost</div>
     <div class="col-sm-2" style="color: #1E6A36;margin-left:-2%;">Quantity</div>
     <div class="col-sm-2" style="color: #1E6A36;margin-left:-4%;">Total</div>
   </div>

   <table id="myTable">
     <tr>
     <td style="width:40px;">1</td>
     <td>
       <select id="item" onchange="func()">
         <option value="100">select</option>
         <option id="laptop" value="200" name="laptop">laptop</option>
         <option value="300">book</option>
         <option value="400">tab</option>
         <option value="500">bag</option>
       </select>
     </td>
     <td><input type="text" value="ufsc152" style="width:150px;"/></td>
     <td><input type="number" value="" id="cost" style="width:150px;"/></td>
     <td><input type="number" min="1" max="5" value="" id="qty" onclick="func()" style="width:80px;"/></td>
     <td><input type="number" value="" id="total" style="width:100px;"></td>
     </tr>

   </table>
   <br>


   <div class="row" style="float:right;">
     Order Total      <button type="button" onclick="disp()" style="margin-bottom:12px;background-color:#1E6A36;color:white;border:2px solid #1E6A36;">Display</button><br/>
   </div>

 </div>
   <div class="col-sm-5" style="box-shadow: 4px 2px 13px -3px #cac6c6;">
   <h4 style="text-align:center;color:#1E6A36;">INVOICE</h4><hr><br>
   <p id="showCName" style="color: #b1abab;"></p>
   <p id="showCAdd" style="color: #b1abab;"></p>
   <p id="showCOrderDate" style="color: #b1abab;"></p>
   <p id="showCProduct" style="color: #b1abab;"></p>
   <p id="showCCost" style="color: #b1abab;"></p>
   <p id="showCQuantity" style="color: #b1abab;"></p>
   <p id="showCTotal" style="color: #b1abab;"></p>
 </div>
 </div>
 </form>
 </div>

 <script>
 var count=2;
 function myFunction() {

   var table = document.getElementById("myTable");
   var row = table.insertRow(0);

   var cell1 = row.insertCell(0);
   var cell2 = row.insertCell(1);
 var cell3 = row.insertCell(2);
   var cell4 = row.insertCell(3);
 var cell5 = row.insertCell(4);
 var cell6 = row.insertCell(5);

   cell1.innerHTML = count++;
   cell2.innerHTML = '<select id="item" onchange="func()"><option value="100">select</option><option value="200">item1</option><option value="300">item2</option></select>';
 cell3.innerHTML = '<input type="text" value="ufsc152" style="width:150px;"/>';
   cell4.innerHTML = '<input type="number" value="" id="cost" style="width:150px;"/>';
 cell5.innerHTML = '<input type="number" min="1" max="5" value="" id="qty" onclick="func()" style="width:80px;"/>';
 cell6.innerHTML = '<input type="number" value="" id="total" style="width:100px;">';
 }

 function func(){
   var productName=document.getElementById("item").selectedIndex;
   var productValue=document.getElementsByTagName("option")[productName].value;
   document.getElementById("cost").value=productValue;

   var quant=document.getElementById("qty").value;
   var tot=productValue*quant;

   document.getElementById("total").value=tot;
 }

 function myDeleteFunction() {
 document.getElementById("myTable").deleteRow(0);
 }

 function disp(){
 var cust=document.getElementById("Customer").value;
 document.getElementById("showCName").innerHTML="<b>Customer Name : </b>"+cust;

 var add=document.getElementById("Address").value;
 document.getElementById("showCAdd").innerHTML="<b>Customer Address : </b>"+add;

 var odrDate=document.getElementById("OrderDate").value;
 document.getElementById("showCOrderDate").innerHTML="<b>Ordered Date : </b>"+odrDate;

 var cst=document.getElementById("cost").value;
 document.getElementById("showCCost").innerHTML="<b>cost : </b>"+cst;
 //var d=document.getElementById('item');
 //d.getElementById('laptop');

 var qn=document.getElementById("qty").value;
 document.getElementById("showCQuantity").innerHTML="<b>quantity : </b>"+qn;

 var tt=document.getElementById("total").value;
 document.getElementById("showCTotal").innerHTML="<b>Total : </b>"+tt;

 //	var itemRead=document.getElementById("item").value;
 //document.getElementById("showCProduct").innerHTML="<hr><b>Product Name : </b>"+itemRead;
 }

 function randomNum(count1){
 var chars = 'acdefhiklmnoqrstuvwxyz0123456789'.split('');
 var result = '';
 for(var i=0; i<count1; i++){
   var x = Math.floor(Math.random() * chars.length);
   result += chars[x];
 }
 //console.log(result);
 //var r=document.getElementById("randomNumber").value;
 document.getElementById("OrderNo").setAttribute('value',result);
 //console.log(document.getElementById("OrderNo"));
 }
 </script>






  <div id="page-wrap">
 <textarea id="header">INVOICE</textarea>

 <div id="identity">

         <textarea id="address">
           Dhaka science lab , suvastu Arcade
     Phone: 01687493421
   </textarea>
 </div>

 <div style="clear:both"></div>
 <div id="customer">
         <table id="meta">
             <tr>
                 <td class="meta-head">Invoice #</td>
                 <td><textarea>001</textarea></td>
             </tr>
             <tr>
                  <td class="meta-head">Date</td>
                <!-- <td><textarea id="date">August 12, 2018</textarea></td>-->
                 <td id="demo"></td>
                 <script>
                     var today = new Date();
                     var dd = today.getDate();

                     var mm = today.getMonth()+1;
                     var yyyy = today.getFullYear();
                     if(dd<10)
                         {
                             dd='0'+dd;
                         }

                     if(mm<10)
                     {
                         mm='0'+mm;
                     }
                         today = mm+'-'+dd+'-'+yyyy;
                         document.getElementById("demo").innerHTML = today;
                 </script>
             </tr>

          </table>

 </div>

 <table id="items">

   <tr>
       <th>Item</th>
       <th>Description</th>
       <th>Unit Cost</th>
       <th>Quantity</th>
       <th>Price</th>
   </tr>

   <tr class="item-row">
       <td class="item-name"><div class="delete-wpr"><textarea>Web Updates</textarea><a class="delete" href="javascript:;" title="Remove row">X</a></div></td>
       <td class="description"><textarea>Monthly web updates for </textarea></td>
       <td><textarea class="cost">650.00</textarea></td>
       <td><textarea class="qty">1</textarea></td>
       <td><span class="price">650.00</span></td>
   </tr>


   <tr id="hiderow">
     <td colspan="5"><a id="addrow" href="javascript:;" title="Add a row">Add an Item</a></td>
   </tr>

   <tr>
       <td colspan="2" class="blank"> </td>
       <td colspan="2" class="total-line">Subtotal</td>
       <td class="total-value"><div id="subtotal">650.00</div></td>
   </tr>
   <tr>
       <td colspan="2" class="blank"> </td>
       <td colspan="2" class="total-line">Total</td>
       <td class="total-value"><div id="total">650.00</div></td>
   </tr>
 </table>

 <div id="terms">
   <h5>BOOK KEEPER</h5>

 </div>

</div>













 </div>
 <div id="menu3" class="tab-pane fade">
   <h3>Receipt</h3>
   <p>yet to be done </p>
 </div>
</div>
</div>

<!--
/*mycode*/ -->

</body>
</html>
