<html>


<head>
<title>Navaratna's </title>
</head>

<body>
<h1> Navaratna's of <mark><%= kingName %></mark> </h1>

    <% ratnas.forEach((ratna)=>{ %>
        <h2><%= ratna %></h2>
    <% }); %>

</body>

</html>