<html>
    <head>
        <meta charset="utf-8">
    <title>register</title>
    <style>
        body{
            padding:0;
            margin:0;
            background: #262626;
        }
        
        section
        {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height:400px;
            width: 1200px;
            background: #000;
            box-shadow: 0 25px 30px rgba(0,0,0,.5);
            display: flex;
        }
        
        .content1{
            width: calc(50% - 50px);
            height: 100%;
            background: #000;
            box-sizing: border-box;
            padding: 30px 50px;
            font-family: sans-serif;
            color: #fff;
            
        }
        .content2{
           width: calc(50% + 50px);
            height: 100%;
            background: white;
            box-sizing: border-box;
            border-left: 100px solid #000;
            border-bottom: 400px solid transparent;
            background-position: -100px -150px;
            background-image: url("download.png") no-repeat;
            
        }
        
        form{
            color: white;
        }
        
        .err {
            font:13px Verdana;
            color:Red;
        }
        
        
        
        </style>

        <script src="angular.js"></script>
      
    
</head>
    
    
    
    
    
    
    <body>
    
    
    
    
    
    
    
    
   <section>
        <div class="content1"> <img src="download.png" height="85px" 
    style="margin-top: 112px;
    width: 469px;
    height: 142px;"/></div>
       
       
       
    <div class="content2">
            
       <h2>Register</h2>
    <form method="post" action="/register" style="color: black;">
    Fullname:<br>
    <input type="text" placeholder="fullname" name="fullname" size="25" required><br>
    Username:<br>
    <input type="text" placeholder="username" name="username" size="25" required><br>
        
  <div ng-app="myApp" 
        ng-controller="myController">

        <form name="form">
           email:<br> <input type="email" name="emailID" 
                ng-model="email"
                placeholder="Enter an Email ID" required style="width: 207px;"/>

           <span class="err" ng-show="form.emailID.$error.email">
                Not a valid Email
            </span>
         
            <marquee><p><mark>{{email}}</mark></p></marquee> 
            
            
            Password:<br><input type="password" name="pass"
                                ng-model="passWord"
                                required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" style="width: 207px;" />

             <!-- <span class="err" ng-show="form.pass.$error.passWord">
                Not a valid password
            </span>-->
            
           <marquee><p><mark>{{passWord}}</mark></p></marquee> 
            <input type="checkbox" checked>i accept the terms and conditions
            <p>
                <input type="submit" ng-disabled="form.$invalid || !passWord" />
            </p>
            
            
            
        </form>
    </div>
        </form></div>
       </section>
    </body>
<script>
    angular.module("myApp", [])
        .controller('myController', ['$scope', function ($scope) {
            if($scope.emailID=='/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/')
                return true;
            else{
                if($scope.pass=='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}')
                return true;
           }
        } ]);
</script>
    
    
    
</html>