




        
        
    
   <section>
       <div class="content1"> <h1><span
    style="margin-top: 112px;
    width: 469px;
    height: 142px; font-size: 120px">Register</span></h1></div>
        
    <div class="content2">
            
       <h2>Register</h2>
    
            

        
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" method="post" action="/succes" style="line-height: 0px">
    <div class="form-group">
      <label style="color:black;">Username</label><br>
      <input type="text" [class.is-invalid]="userName.invalid && userName.touched" formControlName="userName" class="form-control" >
      <!--<small style="color:red;" [class.d-none]="userName.valid || userName.untouched">Username is required</small>-->
      <div *ngIf="userName.invalid && userName.touched">
        <small appMyDirective style="color:red;" *ngIf="!!userName.errors?.required">Username is required</small>
        <small appMyDirective style="color:red;" *ngIf="!!userName.errors?.minlength">Username must be at least 3 characters</small>
        <small appMyDirective style="color:red;" *ngIf="!!userName.errors?.forbiddenName">'{{!!userName.errors?.forbiddenName.value}}' username not allowed</small>
      </div>
    </div>

    <div class="form-group">
      <label style="color:black;">Password</label><br>
      <input type="password" formControlName="password" class="form-control" required>
    </div>

    <div class="form-group">
      <label style="color:black;">Confirm Password</label><br>
      <input type="password" [class.is-invalid]="!!registrationForm.errors?.misMatch" formControlName="confirmPassword" class="form-control" required>
      <small appMyDirective class="text-danger" *ngIf="!!registrationForm.errors?.misMatch">Passwords do not match</small>
    </div>

    <div class="form-group">
      <label style="color:black;">Email</label><br>
      
      <input type="email" [class.is-invalid]="email.invalid && email.touched" formControlName="email" class="form-control" >
     
      <small appMyDirective style="color:red;" *ngIf="!email.valid">--Email is invalid</small>
      <small appMyDirective style="color:red;" *ngIf="!email.untouched">Email is required</small>
      
    </div>
 <button class="btn btn-primary" [disabled]="!registrationForm.valid" type="submit">Register</button>
    

  </form>

        <p>overAll Status is   <span style="color:red">{{registrationForm.status | json}}</span> </p>
        
    </div>
       </section>
     

   
   
    
    
