
        body{
            padding:0;
            margin:0;
            background: #262626;
        }
        
        section
        {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height:400px;
            width: 1200px;
            background: #000;
            box-shadow: 0 25px 30px rgba(0,0,0,.5);
            display: flex;
        }
        
        .content1{
            width: calc(50% - 50px);
            height: 100%;
            background: #000;
            box-sizing: border-box;
            padding: 30px 50px;
            font-family: sans-serif;
            color: #fff;
            
        }
        .content2{
           width: calc(50% + 50px);
            height: 100%;
            background: white;
            box-sizing: border-box;
            border-left: 100px solid #000;
            border-bottom: 400px solid transparent;
            background-position: -100px -150px;
           /* background-image: url("download.png") no-repeat;*/
            
        }
        
        form{
            color: white;
        }
        
        .err {
            font:13px Verdana;
            color:Red;
        }
        