#text{

  width:18%;
  height:35px;
  border-style: groove;
  background-color: aquamarine;
 }

#butt1{
 background-color: black;
 color:white;
 width:8%;
 height:60px;
}

#aa{
  background-color: blanchedalmond;
  color:black;
}

#aa1{
  background-color:cornflowerblue;
  color:black;
}


