
  <div>
    <input id="text" type="text" class="form-control"
     [(ngModel)]="serverName">
    <!--(input)="onUpdateServername($event)">-->
    </div>
    <button id="butt1" class="btn btn-primary" (click)="onCreateServer()">Add
      Warning</button>

    <h3 id="aa">{{ serverName }}</h3>
    <div class="container">
      <div *ngFor="let vinay of vinays" >
        <h2 id="aa1">{{vinay}}</h2>
      </div>
      </div>



