<html>
<head></head>
<body>
	<form action="/user" method="post">
		name : <input type="text" name="uname"/><br>
		email : <input type="email" name="uemail"/><br>
		password : <input type="password" name="upass"/><br>
		choose file : <input type="file" name="ufile"/><br>
		<input type="submit" value="submit">
	</form>
</body>
</html>