<ul>
  <li>
    <a class="nav-link" routerLink="object">Object</a>

    
  </li>
  <li>
    <a class="nav-link" routerLink="relationship">RelationShip</a>
  </li>
</ul>

<router-outlet></router-outlet>