<!DOCTYPE html>
<html lang="en">
<head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
                body {
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: whitesmoke;
                }
                select{
                    width: 100%;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    display: inline-block;
                    border: 1px solid #d2cece;
                    box-shadow: 4px 2px 13px -3px #cac6c6;
                     border-radius: 7px;
                     background-color: white;
                }
                
                * {
                    box-sizing: border-box;
                }
                
                .container {
                    padding: 16px;
                    background-color: white;
                }
                
                input[type=text], input[type=password] {
                    width: 100%;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    display: inline-block;
                    border: 1px solid #d2cece;
                    box-shadow: 4px 2px 13px -3px #cac6c6;
                     border-radius: 7px;
                 
                }
                
                input[type=text]:focus, input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }
                


                input[type=number] {
                    width: 100%;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    display: inline-block;
                    border: 1px solid #d2cece;
                    box-shadow: 4px 2px 13px -3px #cac6c6;
                     border-radius: 7px;
                 
                }
                
                input[type=number]:focus, input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }

                
                hr {
                    border: 1px solid #f1f1f1;
                    margin-bottom: 25px;
                }
                
                .registerbtn {
                    background-color: rgb(216, 213, 213);
                    color: black;
                    padding: 16px 20px;
                    margin: 19px 0;
                    border: none;
                    cursor: pointer;
                    width: 100%;
                    opacity: 0.9;
                    border: 1px solid rgba(162, 163, 167, .1);
    background-color: #abaeb2;
    font-size:16px;
                }
                
                .registerbtn:hover {
                    opacity: 1;
                }
                
                
                a {
                    color: dodgerblue;
                }
                
                
                .signin {
                    background-color: #f1f1f1;
                    text-align: center;
                }
                .aa{
    font-size: 15px;
   display: inline-block;

}



a {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 0px 0;
    margin: 1px 3px;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
/*a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(19, 177, 19);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}*/
a:active::before {
    background-color: #000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
.logindiv{
            display:subgrid;
            background-color: rgb(9, 63, 9);
                padding: 29px;
                color: white;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size:40px;
                margin-bottom: 2%;
                padding:2%;
        }
        .abc{
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}

<!--footer-->


.class1{

background-color: #2e3339;
  font-weight: 400;
font-size: 16px;
cursor: default;
color: #eeeded;
    padding: 10px;
    font-size: 14px;
        font-family: Roboto,sans-serif;
      
}
.class2{
width: .5rem;

            color: #999;
font-size:12px;
}
.class3{
text-align:center;
}
.class3{
text-align:center;
}
.class4{
display: inline-block;
height: 28px;
width: 28px;
margin-left: 5px;
padding: 0;
background: url(//static.naukimg.com/s/5/100/i/socialSharing.png) repeat-y;
    color: #0074ad;
text-decoration: none;
}

.container-fluid.footerColor {
background-color: #2e3339;
}

button.btn.btn-fb {
background: #3b5998;
color: white;
}
button.btn.btn-tw {
background: #00acee;
color: white;
}

button.btn.btn-gplus {
background:#dd4b39;
 color: white;
}

button.btn.btn-li{
background: #0e76a8;
 color: white;
}

                </style>
    	<script type="text/javascript">  
function matchpass(){  
	var firstpassword=document.f1.pwd.value;  
	var secondpassword=document.f1.pswrepeat.value;  
	  
	if(firstpassword==secondpassword){  
	return true;  
	}  
	else{  
	alert("password must be same!");  
	return false;  
	}  
	}  
</script>  

  
</head>
<body>
        <div class="container-fluid">
            <div style="float:right;">
                <p>Trial / Subscription expired?</p>
                <p><a class="aa" href="login.ejs">login</a><span> | </span><a class="aa" href="register.ejs">register</a></p>
           </div>
           <div class="fixed-top" style="padding:22px;padding-right: 30px;top:0px;width: 100%">
                <img src="web-logo..png"></div>
           </div>
           <div class="logindiv">
                Registration
                </div>

               <form name="f1" action="/RegSuccess" method="post" onsubmit="return matchpass();"> 
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
        <input  type="text" placeholder="Enter Email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" name="UserName" required></div>
        <div class="col-sm-6"><input type="text" pattern="[0-9]{10}" placeholder="Enter telephone" name="tele" required></div>  
  </div>
  <div class="row">
        
        <div class="col-sm-6"><input type="password" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="pwd" required></div>
        <div class="col-sm-6"><input type="password" placeholder="Repeat Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="pswrepeat" required></div>
      </div>
      <div class="row">
            <div class="col-sm-6">
                <input  type="text" placeholder="Enter First Name" pattern="[A-Za-z0-9]+" name="fname" required></div>
            <div class="col-sm-6">
                <input  type="text" placeholder="Enter Last Name" pattern="[A-Za-z0-9]+" name="lname" required></div>
          </div>
          <div class="row">
                <div class="col-sm-6">
                        <div class="form-group">
                                
                                <select id="country" name="country" class="text-input">
                                        <option value="">Select Country</option>
                                        <option value="afghanistan">Afghanistan</option>
                                        <option value="albania">Albania</option>
                                        <option value="algeria">Algeria</option>
                                        <option value="american samoa">American Samoa</option>
                                        <option value="angola">Angola</option>
                                        <option value="anguilla">Anguilla</option>
                                        <option value="antarctica">Antarctica</option>
                                        <option value="antigua and barbuda">Antigua and Barbuda</option>
                                        <option value="argentina">Argentina</option>
                                        <option value="armenia">Armenia</option>
                                        <option value="aruba">Aruba</option>
                                        <option value="australia">Australia</option>
                                        <option value="austria">Austria</option>
                                        <option value="azerbaijan">Azerbaijan</option>
                                        <option value="bahamas">Bahamas</option>
                                        <option value="bahrain">Bahrain</option>
                                        <option value="bangladesh">Bangladesh</option>
                                        <option value="barbados">Barbados</option>
                                        <option value="belarus">Belarus</option>
                                        <option value="belgium">Belgium</option>
                                        <option value="belize">Belize</option>
                                        <option value="benin">Benin</option>
                                        <option value="bermuda">Bermuda</option>
                                        <option value="bhutan">Bhutan</option>
                                        <option value="bolivia">Bolivia</option>
                                        <option value="bosnia and herzegovina">Bosnia and Herzegovina</option>
                                        <option value="botswana">Botswana</option>
                                        <option value="bouvet island">Bouvet Island</option>
                                        <option value="brazil">Brazil</option>
                                        <option value="british indian ocean territory">British Indian Ocean Territory</option>
                                        <option value="brunei darussalam">Brunei Darussalam</option>
                                        <option value="bulgaria">Bulgaria</option>
                                        <option value="burkina faso">Burkina Faso</option>
                                        <option value="burundi">Burundi</option>
                                        <option value="cambodia">Cambodia</option>
                                        <option value="cameroon">Cameroon</option>
                                        <option value="canada">Canada</option>
                                        <option value="cape verde">Cape Verde</option>
                                        <option value="caribbean netherlands ">Caribbean Netherlands </option>
                                        <option value="cayman islands">Cayman Islands</option>
                                        <option value="central african republic">Central African Republic</option>
                                        <option value="chad">Chad</option>
                                        <option value="chile">Chile</option>
                                        <option value="china">China</option>
                                        <option value="christmas island">Christmas Island</option>
                                        <option value="cocos (keeling) islands">Cocos (Keeling) Islands</option>
                                        <option value="colombia">Colombia</option>
                                        <option value="comoros">Comoros</option>
                                        <option value="congo">Congo</option>
                                        <option value="congo, democratic republic of">Congo, Democratic Republic of</option>
                                        <option value="cook islands">Cook Islands</option>
                                        <option value="costa rica">Costa Rica</option>
                                        <option value="croatia">Croatia</option>
                                        <option value="cuba">Cuba</option>
                                        <option value="curacao">Curacao</option>
                                        <option value="cyprus">Cyprus</option>
                                        <option value="czech republic">Czech Republic</option>
                                        <option value="denmark">Denmark</option>
                                        <option value="djibouti">Djibouti</option>
                                        <option value="dominica">Dominica</option>
                                        <option value="dominican republic">Dominican Republic</option>
                                        <option value="ecuador">Ecuador</option>
                                        <option value="egypt">Egypt</option>
                                        <option value="el salvador">El Salvador</option>
                                        <option value="equatorial guinea">Equatorial Guinea</option>
                                        <option value="eritrea">Eritrea</option>
                                        <option value="estonia">Estonia</option>
                                        <option value="ethiopia">Ethiopia</option>
                                        <option value="falkland islands">Falkland Islands</option>
                                        <option value="faroe islands">Faroe Islands</option>
                                        <option value="fiji">Fiji</option>
                                        <option value="finland">Finland</option>
                                        <option value="france">France</option>
                                        <option value="french guiana">French Guiana</option>
                                        <option value="french polynesia">French Polynesia</option>
                                        <option value="french southern territories">French Southern Territories</option>
                                        <option value="gabon">Gabon</option>
                                        <option value="gambia">Gambia</option>
                                        <option value="georgia">Georgia</option>
                                        <option value="germany">Germany</option>
                                        <option value="ghana">Ghana</option>
                                        <option value="gibraltar">Gibraltar</option>
                                        <option value="greece">Greece</option>
                                        <option value="greenland">Greenland</option>
                                        <option value="grenada">Grenada</option>
                                        <option value="guadeloupe">Guadeloupe</option>
                                        <option value="guam">Guam</option>
                                        <option value="guatemala">Guatemala</option>
                                        <option value="guernsey">Guernsey</option>
                                        <option value="guinea">Guinea</option>
                                        <option value="guinea-bissau">Guinea-Bissau</option>
                                        <option value="guyana">Guyana</option>
                                        <option value="haiti">Haiti</option>
                                        <option value="heard and mcdonald islands">Heard and McDonald Islands</option>
                                        <option value="honduras">Honduras</option>
                                        <option value="hong kong">Hong Kong</option>
                                        <option value="hungary">Hungary</option>
                                        <option value="iceland">Iceland</option>
                                        <option value="india">India</option>
                                        <option value="indonesia">Indonesia</option>
                                        <option value="iran">Iran</option>
                                        <option value="iraq">Iraq</option>
                                        <option value="ireland">Ireland</option>
                                        <option value="isle of man">Isle of Man</option>
                                        <option value="israel">Israel</option>
                                        <option value="italy">Italy</option>
                                        <option value="jamaica">Jamaica</option>
                                        <option value="japan">Japan</option>
                                        <option value="jersey">Jersey</option>
                                        <option value="jordan">Jordan</option>
                                        <option value="kazakhstan">Kazakhstan</option>
                                        <option value="kenya">Kenya</option>
                                        <option value="kiribati">Kiribati</option>
                                        <option value="kuwait">Kuwait</option>
                                        <option value="kyrgyzstan">Kyrgyzstan</option>
                                        <option value="latvia">Latvia</option>
                                        <option value="lebanon">Lebanon</option>
                                        <option value="lesotho">Lesotho</option>
                                        <option value="liberia">Liberia</option>
                                        <option value="libya">Libya</option>
                                        <option value="liechtenstein">Liechtenstein</option>
                                        <option value="lithuania">Lithuania</option>
                                        <option value="luxembourg">Luxembourg</option>
                                        <option value="macau">Macau</option>
                                        <option value="macedonia">Macedonia</option>
                                        <option value="madagascar">Madagascar</option>
                                        <option value="malawi">Malawi</option>
                                        <option value="malaysia">Malaysia</option>
                                        <option value="maldives">Maldives</option>
                                        <option value="mali">Mali</option>
                                        <option value="malta">Malta</option>
                                        <option value="marshall islands">Marshall Islands</option>
                                        <option value="martinique">Martinique</option>
                                        <option value="mauritania">Mauritania</option>
                                        <option value="mauritius">Mauritius</option>
                                        <option value="mayotte">Mayotte</option>
                                        <option value="mexico">Mexico</option>
                                        <option value="micronesia, federated states of">Micronesia, Federated States of</option>
                                        <option value="moldova">Moldova</option>
                                        <option value="monaco">Monaco</option>
                                        <option value="mongolia">Mongolia</option>
                                        <option value="montenegro">Montenegro</option>
                                        <option value="montserrat">Montserrat</option>
                                        <option value="morocco">Morocco</option>
                                        <option value="mozambique">Mozambique</option>
                                        <option value="myanmar">Myanmar</option>
                                        <option value="namibia">Namibia</option>
                                        <option value="nauru">Nauru</option>
                                        <option value="nepal">Nepal</option>
                                        <option value="new caledonia">New Caledonia</option>
                                        <option value="new zealand">New Zealand</option>
                                        <option value="nicaragua">Nicaragua</option>
                                        <option value="niger">Niger</option>
                                        <option value="nigeria">Nigeria</option>
                                        <option value="niue">Niue</option>
                                        <option value="norfolk island">Norfolk Island</option>
                                        <option value="northern mariana islands">Northern Mariana Islands</option>
                                        <option value="north korea">North Korea</option>
                                        <option value="norway">Norway</option>
                                        <option value="oman">Oman</option>
                                        <option value="pakistan">Pakistan</option>
                                        <option value="palau">Palau</option>
                                        <option value="palestinian territory, occupied">Palestinian Territory, Occupied</option>
                                        <option value="panama">Panama</option>
                                        <option value="papua new guinea">Papua New Guinea</option>
                                        <option value="paraguay">Paraguay</option>
                                        <option value="peru">Peru</option>
                                        <option value="philippines">Philippines</option>
                                        <option value="pitcairn">Pitcairn</option>
                                        <option value="poland">Poland</option>
                                        <option value="portugal">Portugal</option>
                                        <option value="puerto rico">Puerto Rico</option>
                                        <option value="qatar">Qatar</option>
                                        <option value="reunion">Reunion</option>
                                        <option value="romania">Romania</option>
                                        <option value="russian federation">Russian Federation</option>
                                        <option value="rwanda">Rwanda</option>
                                        <option value="saint-martin (france)">Saint-Martin (France)</option>
                                        <option value="saint-martin (pays-bas)">Saint-Martin (Pays-Bas)</option>
                                        <option value="saint barth?my">Saint Barth?my</option>
                                        <option value="saint helena">Saint Helena</option>
                                        <option value="saint kitts and nevis">Saint Kitts and Nevis</option>
                                        <option value="saint lucia">Saint Lucia</option>
                                        <option value="saint vincent and the grenadines">Saint Vincent and the Grenadines</option>
                                        <option value="samoa">Samoa</option>
                                        <option value="san marino">San Marino</option>
                                        <option value="sao tome and principe">Sao Tome and Principe</option>
                                        <option value="saudi arabia">Saudi Arabia</option>
                                        <option value="senegal">Senegal</option>
                                        <option value="serbia">Serbia</option>
                                        <option value="seychelles">Seychelles</option>
                                        <option value="sierra leone">Sierra Leone</option>
                                        <option value="singapore">Singapore</option>
                                        <option value="slovakia (slovak republic)">Slovakia (Slovak Republic)</option>
                                        <option value="slovenia">Slovenia</option>
                                        <option value="solomon islands">Solomon Islands</option>
                                        <option value="somalia">Somalia</option>
                                        <option value="south africa">South Africa</option>
                                        <option value="south georgia and the south sandwich islands">South Georgia and the South Sandwich Islands</option>
                                        <option value="south korea">South Korea</option>
                                        <option value="south sudan">South Sudan</option>
                                        <option value="spain">Spain</option>
                                        <option value="sri lanka">Sri Lanka</option>
                                        <option value="st. pierre and miquelon">St. Pierre and Miquelon</option>
                                        <option value="sudan">Sudan</option>
                                        <option value="suriname">Suriname</option>
                                        <option value="svalbard and jan mayen islands">Svalbard and Jan Mayen Islands</option>
                                        <option value="swaziland">Swaziland</option>
                                        <option value="sweden">Sweden</option>
                                        <option value="switzerland">Switzerland</option>
                                        <option value="syria">Syria</option>
                                        <option value="taiwan">Taiwan</option>
                                        <option value="tajikistan">Tajikistan</option>
                                        <option value="tanzania">Tanzania</option>
                                        <option value="thailand">Thailand</option>
                                        <option value="the netherlands">The Netherlands</option>
                                        <option value="timor-leste">Timor-Leste</option>
                                        <option value="togo">Togo</option>
                                        <option value="tokelau">Tokelau</option>
                                        <option value="tonga">Tonga</option>
                                        <option value="trinidad and tobago">Trinidad and Tobago</option>
                                        <option value="tunisia">Tunisia</option>
                                        <option value="turkey">Turkey</option>
                                        <option value="turkmenistan">Turkmenistan</option>
                                        <option value="turks and caicos islands">Turks and Caicos Islands</option>
                                        <option value="tuvalu">Tuvalu</option>
                                        <option value="uand islands">Uand Islands</option>
                                        <option value="uganda">Uganda</option>
                                        <option value="ukraine">Ukraine</option>
                                        <option value="united arab emirates">United Arab Emirates</option>
                                        <option value="united kingdom">United Kingdom</option>
                                        <option value="united states">United States</option>
                                        <option value="united states minor outlying islands">United States Minor Outlying Islands</option>
                                        <option value="uruguay">Uruguay</option>
                                        <option value="uzbekistan">Uzbekistan</option>
                                        <option value="vanuatu">Vanuatu</option>
                                        <option value="vatican">Vatican</option>
                                        <option value="venezuela">Venezuela</option>
                                        <option value="vietnam">Vietnam</option>
                                        <option value="virgin islands (british)">Virgin Islands (British)</option>
                                        <option value="virgin islands (u.s.)">Virgin Islands (U.S.)</option>
                                        <option value="wallis and futuna islands">Wallis and Futuna Islands</option>
                                        <option value="western sahara">Western Sahara</option>
                                        <option value="yemen">Yemen</option>
                                        <option value="zambia">Zambia</option>
                                        <option value="zimbabwe">Zimbabwe</option>									
                                        </select></div></div>
                <div class="col-sm-6">
                    <input  type="text" placeholder="GSTIN:" name="gst"></div>
              </div>
              <div class="row">
                    <div class="col-sm-6">
                        <input  type="text" placeholder="Referral Code" name="ref" ></div>
              </div>
          <div class="row">
              <div class="col-sm-4"></div>
           
              <div class="col-sm-4"><input class="registerbtn" type="submit" value="Register" /> </div>
            <div class="col-sm-4">
                <div>
                    <div>user: <span id="user"></span></div>
                    <div>chatbot: <span id="chatbot"></span></div>
                    <div><input id="input" type="text" placeholder="say anything..." autocomplete="off"/></div>
                </div>
                <script type="text/javascript">
                var trigger = [
                    ["hi","hey","hello"], 
                    ["how are you", "how is life", "how are things"],
                    ["what are you doing", "what is going on"],
                    ["how old are you"],
                    ["who are you", "are you human", "are you bot", "are you human or bot"],
                    ["who created you", "who made you"],
                    ["your name please",  "your name", "may i know your name", "what is your name"],
                    ["i love you"],
                    ["happy", "good"],
                    ["bad", "bored", "tired"],
                    ["help me", "tell me story", "tell me joke"],
                    ["ah", "yes", "ok", "okay", "nice", "thanks", "thank you"],
                    ["bye", "good bye", "goodbye", "see you later"],
                    ["bk","book keeper","what is book keeper"]
                ];
                var reply = [
                    ["Hi","Hey","Hello"], 
                    ["Fine", "Pretty well", "Fantastic"],
                    ["Nothing much", "About to go to sleep", "Can you guest?", "I don't know actually"],
                    ["I am 1 day old"],
                    ["I am just a bot", "I am a bot. What are you?"],
                    ["Kani Veri", "My God"],
                    ["I am nameless", "I don't have a name"],
                    ["I love you too", "Me too"],
                    ["Have you ever felt bad?", "Glad to hear it"],
                    ["Why?", "Why? You shouldn't!", "Try watching TV"],
                    ["I will", "What about?"],
                    ["Tell me a story", "Tell me a joke", "Tell me about yourself", "You are welcome"],
                    ["Bye", "Goodbye", "See you later"],
                    ["A application whose job is to keep records of the financial affairs of a business."]
                ];
                var alternative = ["Haha...", "Eh..."];
                document.querySelector("#input").addEventListener("keypress", function(e){
                    var key = e.which || e.keyCode;
                    if(key === 13){ //Enter button
                        var input = document.getElementById("input").value;
                        document.getElementById("user").innerHTML = input;
                        output(input);
                    }
                });
                function output(input){
                    try{
                        var product = input + "=" + eval(input);
                    } catch(e){
                        var text = (input.toLowerCase()).replace(/[^\w\s\d]/gi, ""); //remove all chars except words, space and 
                        text = text.replace(/ a /g, " ").replace(/i feel /g, "").replace(/whats/g, "what is").replace(/please /g, "").replace(/ please/g, "");
                        if(compare(trigger, reply, text)){
                            var product = compare(trigger, reply, text);
                        } else {
                            var product = alternative[Math.floor(Math.random()*alternative.length)];
                        }
                    }
                    document.getElementById("chatbot").innerHTML = product;
                    speak(product);
                    document.getElementById("input").value = ""; //clear input value
                }
                function compare(arr, array, string){
                    var item;
                    for(var x=0; x<arr.length; x++){
                        for(var y=0; y<array.length; y++){
                            if(arr[x][y] == string){
                                items = array[x];
                                item =  items[Math.floor(Math.random()*items.length)];
                            }
                        }
                    }
                    return item;
                }
                function speak(string){
                    var utterance = new SpeechSynthesisUtterance();
                    utterance.voice = speechSynthesis.getVoices().filter(function(voice){return voice.name == "Agnes";})[0];
                    utterance.text = string;
                    utterance.lang = "en-US";
                    utterance.volume = 1; //0-1 interval
                    utterance.rate = 1;
                    utterance.pitch = 2; //0-2 interval
                    speechSynthesis.speak(utterance);
                }
                </script>
            </div>
            </div>
</div>
</form>
<footer class="fixed-bottom">
    <nav >
    
    <div>
    
    <div class="container-fluid footerColor">
    <div class="col-sm-3 class1 class3" >
    <p >Information</p>
    <p class="class2" style="margin-left:127px;">
    AboutUs<br><br>
    Terms&Conditions<br><br>
    PrivacyPolicy<br><br>
    CareerswithUs<br><br>
    Sitemap<br><br>
    </p>
    
    </div>
    <div class="col-sm-3 class1 ">
    
    <p>Contact us

    
    <p class="class2" style="text-align:justify;">
    JustAppsPvt.Ltd.<br><br>
    ConnaughtPlaceNew<br>Delhi110001<br><br>
    BlockCompanies<br><br>
    support@bookkeeperapp.net<br><br>
    ReportProblem<br><br>
    Blogs<br><br>
    

    
    
    
    
    </p>
    </div>
    <div class="col-sm-3 class1">
    <p>	Resources</p>
    <p class="class2" >
    TermsofService<br><br>
    PrivacyPolicy<br><br>
    RefundPolicy<br><br>
    License<br><br>
    
    
    </p>
    
    </div>
    <div class="col-sm-3 class1">
    <p>Employers</p>
    <div>
    <div class="class2" >
    PostJobs<br><br>
    AccessDatabase<br><br>
    RecruitersfromUSA,call<br><br>
    TollFree#18665573340<br><br>
    
 <!--  <a style="padding-bottom:5px;     vertical-align: middle;
        width: 17px;" target="_blank">FollowUs</a>
        </div>
    <div class="row">
    <button type="button" class="btn btn-fb"><i class="fa fa-facebook"></i></button>
    <button type="button" class="btn btn-tw"><i class="fa fa-twitter"></i></button>
    <button type="button" class="btn btn-gplus"><i class="fa fa-google-plus"></i></button>
    <button type="button" class="btn btn-li"><i class="fa fa-linkedin"></i></button>
    -->
        
        
        
         <a style="padding-bottom:5px;     vertical-align: middle;
        width: 17px;" target="_blank">FollowUs</a>
        </div>
    <div class="row">
    <!--Facebook-->
        
        <button type="button" ><a class="aa btn btn-fb" href="https://en-gb.facebook.com/login/"><i class="fa fa-facebook" target="_blank"></i></a></button>
    <!--Twitter-->
        <button type="button"><a class=" btn btn-fw" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></button>
    <!--Google +-->
        <button type="button" ><a class=" btn btn-gplus" href="https://plus.google.com/discover" target="_blank"><i class="fa fa-google-plus"></i></a></button>
    <!--Linkedin-->
        <button type="button" ><a class="btn btn-li" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></button>
    <!--Instagram-->
        
        
        
        
        
    </div>
    
    </div>
    </div>
    </div>
    </div>
    
    </div>
    </nav>
    </footer> 
</body>
</html>
