<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  {{ title }}...
  </h1>
 </div>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Angular Reactive Form Validation</h3>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" style="margin-left:100px;margin-top:20px;" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" [(ngModel)]="model.firstName" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback e">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" style="margin-left:100px;margin-top:20px;" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" [(ngModel)]="model.lastName"/>
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback e">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" style="margin-left:130px;margin-top:20px;" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"[(ngModel)]="model.email" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback e">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" style="margin-left:110px;margin-top:20px;" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"[(ngModel)]="model.password" [(ngModel)]="model.confirmPassword"  />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback e">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" style="margin-left:50px;margin-top:20px;" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback e">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" style="margin-top:20px;" (click)="submitPersonData()">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
