body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(image.jpg);//to make background dark color.
    height=100vh;                                          //100vh is 100% of the viewport.
    background-size: cover;                              //full view of background image.
    background-position: center;                         // for position.
    
}

.Login-Page{
    width: 360px;
    padding: 3% 0 0;     
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    background: rgba(0,10,10,25);        // white color 
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    }

.form input{
    font-family: "Roboto",sans-serif;
    outline: 1;
    background: #f2f2f2;
    width=100%;
    border:0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box; 
    font-size: 14px;
}

.form button{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;                //create button will be in uppercase.
    outline: 0;
    background: #4CAF50;                      //green color for button.
    width=100%;
    border:0;
    padding: 15px;
    color:#FFFFFF;
    font-size: 14px;
    cursor: pointer;
}


//add hover effect on the buttons
.form:hover,..form button:active{
    background: #43A047;
}

.form .message{
    margin: 15px 0 0;
    color: black;
    font-size: 12px;
}

.form .message{
    color:white;
    text-decoration: none;
}

.form .register-form{
    display: none;
}




