<!DOCTYPE html>
<html>
    <head>
            <script src="./angular.js"></script>
<style>
body {
    font-family: Arial, Helvetica, sans-serif;
   background-color:  white;
}
* {box-sizing: border-box}


input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ff9090;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus  {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
margin-left: 25%;
  width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
    width: 50%;
  margin-left: 25%;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
</style>









</head>
<body>
        <div >
<form action="userSchema" method="POST" enctype="multipart/form-data" style="border:1px solid #ccc">
  <div class="container" style="background-color:white;">
    <h1>Register here</h1>
    
    <hr>
    <label for="Username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="Username" required>

    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>
    

    <label for="psw"><b>Password</b></label>
    <input type="password"placeholder="Enter Password" name="psw" required>
    <span style="background-color: yellow;"></span><br>
  
    <label for="fileupload"> Select a file to upload&ensp;</label>
    <input name="image" type="file" name="fileupload" value="fileupload" id="fileupload">
     

<br/>
    
    <br>
    
    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>
    
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
</div>
    <div class="clearfix">
     
      <button type="submit"  class="signupbtn">Register</button>
    </div>
  </div>
</form>

</body>
</html>
