<html>
    <head>
        <meta charset="utf-8">
    <title>register</title>
    <style>
        body{
            padding:0;
            margin:0;
            background: #262626;
        }
        
        section
        {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height:400px;
            width: 1200px;
            background: #000;
            box-shadow: 0 25px 30px rgba(0,0,0,.5);
            display: flex;
        }
        
        .content1{
            width: calc(50% - 50px);
            height: 100%;
            background: #000;
            box-sizing: border-box;
            padding: 30px 50px;
            font-family: sans-serif;
            color: #fff;
            
        }
        .content2{
           width: calc(50% + 50px);
            height: 100%;
            background: white;
            box-sizing: border-box;
            border-left: 100px solid #000;
            border-bottom: 400px solid transparent;
            background-position: -100px -150px;
            background-image: url("download.png") no-repeat;
            
        }
        
        form{
            color: white;
        }
        
        .err {
            font:13px Verdana;
            color:Red;
        }
        
        
        
        </style>

        <script src="angular.js"></script>
      
    
</head>    
    
    <body>
    
        <div ng-app="myModule" 
        ng-controller="formController">
    
    
   <section>
        <div class="content1"> <img src="download.png" height="85px" 
    style="margin-top: 112px;
    width: 469px;
    height: 142px;"/></div>
        
    <div class="content2">
            
       <h2>Register</h2>
    <form name="myform" method="post" action="/register" style="color: black;">
        <table border="0">
            
    Fullname:<br>
    <input type="text" placeholder="fullName" name="fullName" ng-model="fullName" ng-minlength="3" ng-maxlength="15" required><br>
        <span style="color: red">
            <span ng-show="myform.fullName.$error.required">full name is required</span>
            <span ng-show="myform.fullName.$error.minlength">full name is to short!!!!</span>
            <span ng-show="myform.fullName.$error.maxlength">full name is too long!!!!</span>
        </span>
        <br>
                
        
    Username:<br>
    <input type="text" placeholder="username" name="userName" ng-model="userName" size="25" required><br>
        <span style="color: red">
            <span ng-show="myform.userName.$error.required">user name is required</span>
        </span>
  
            
      <br>         
            email:<br>
    <input type="email" placeholder="username" name="email" ng-model="email" size="25" required><br>
        <span style="color: red">
            <span ng-show="myform.email.$error.required">email is required</span>
            <span ng-show="myform.email.$error.email">invalid email</span>
        </span>
  
            
      <br>
        
        Password:<br>
    <input type="password" placeholder="password" name="pass" ng-model="pass" ng-minlength="3" ng-maxlength="5" required><br>
        <span style="color: red">
            <span ng-show="myform.pass.$error.required">password is required</span>
            <span ng-show="myform.pass.$error.minlength">password is to short!!!!</span>
            <span ng-show="myform.pass.$error.maxlength">password is too long!!!!</span>
        </span>
            
      <br>
            <input type="checkbox" checked>i accept the terms and conditions
       <br>
                <button ng-click="reset()">reset</button>
                
               <!-- <input type="submit" ng-disabled="form.$invalid || !passWord" />-->
                <button ng-disabled="myform.firstName.$invalid || myform.userName.$invalid || myform.email.$invalid || myform.password.$invalid" ng-click="submit()">submit</button>

        </table>
            
            
        </form>
    </div>
       </section>
        </div>
</body>

    
    <script>
   
    
    var app=angular.module("myModule",[]);
    app.controller('formController',function($scope){
        $scope.reset=function(){
            $scope.fullName="";
            $scope.userName="";
            $scope.email="";
            $scope.pass="";
        }
    });
</script>
        
    
    
</html>