<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	
	<title>Editable Invoice in JavaScrip</title>
     
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     
       
	
	<link rel='stylesheet' type='text/css' href='style.css' />
	<script type='text/javascript' src='jquery-1.3.2.min.js'></script>
	<script type='text/javascript' src='custom.js'></script>
     
     
     
     
     
     
     
     <style>
                body {
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: whitesmoke;
                }
                select{
                    width: 100%;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    display: inline-block;
                    border: 1px solid #d2cece;
                    box-shadow: 4px 2px 13px -3px #cac6c6;
                     border-radius: 7px;
                     background-color: white;
                }
                
                * {
                    box-sizing: border-box;
                }
                
                .container {
                    padding: 16px;
                    background-color: white;
                }
                
                input[type=text], input[type=password] {
                    width: 100%;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    display: inline-block;
                    border: 1px solid #d2cece;
                    box-shadow: 4px 2px 13px -3px #cac6c6;
                     border-radius: 7px;
                 
                }
                
                input[type=text]:focus, input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }
                


                input[type=number] {
                    width: 100%;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    display: inline-block;
                    border: 1px solid #d2cece;
                    box-shadow: 4px 2px 13px -3px #cac6c6;
                     border-radius: 7px;
                 
                }
                
                input[type=number]:focus, input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }

                
                hr {
                    border: 1px solid #f1f1f1;
                    margin-bottom: 25px;
                }
                
                .registerbtn {
                    background-color: rgb(216, 213, 213);
                    color: black;
                    padding: 16px 20px;
                    margin: 19px 0;
                    border: none;
                    cursor: pointer;
                    width: 100%;
                    opacity: 0.9;
                    border: 1px solid rgba(162, 163, 167, .1);
    background-color: #abaeb2;
    font-size:16px;
                }
                
                .registerbtn:hover {
                    opacity: 1;
                }
                
                
                a {
                    color: dodgerblue;
                }
                
                
                .signin {
                    background-color: #f1f1f1;
                    text-align: center;
                }
.aa{
    font-size: 15px;
   display: inline-block;
 background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 

}



a {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 0px 0;
    margin: 1px 3px;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
/*a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(19, 177, 19);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}*/
a:active::before {
    background-color: #000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
.logindiv{
            display:subgrid;
            background-color: rgb(9, 63, 9);
                padding: 29px;
                color: white;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size:40px;
                margin-bottom: 2%;
                padding:2%;
        }
        .abc{
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
<!--footer-->


.class1{

background-color: #2e3339;
  font-weight: 400;
font-size: 16px;
cursor: default;
color: #eeeded;
    padding: 10px;
    font-size: 14px;
        font-family: Roboto,sans-serif;
      
}
.class2{
width: .5rem;

            color: #999;
font-size:12px;
}
.class3{
text-align:center;
}
.class3{
text-align:center;
}
.class4{
display: inline-block;
height: 28px;
width: 28px;
margin-left: 5px;
padding: 0;
background: url(//static.naukimg.com/s/5/100/i/socialSharing.png) repeat-y;
    color: #0074ad;
text-decoration: none;
}

.container-fluid.footerColor {
background-color: #2e3339;
}

button.btn.btn-fb {
background: #3b5998;
color: white;
}
button.btn.btn-tw {
background: #00acee;
color: white;
}

button.btn.btn-gplus {
background:#dd4b39;
 color: white;
}

button.btn.btn-li{
background: #0e76a8;
 color: white;
}


                </style>
  
     
     
     
     
     
     
     
     
     
 </head>
 <body>
     
     <div class="container-fluid">
       <div style="float:right;">
                <p>Trial / Subscription expired?</p>
               <p>Welcome  <%=reg%></p>
                <p><a class="aa" href="login.ejs">logout</a></p>
           </div>
         
           <div class="fixed-top" style="padding:22px;padding-right: 30px;top:0px;width: 100%">
                <img src="web-logo..png"></div>
           </div>
           <div class="logindiv">
                Transaction
                </div>

     
     
     
     
     
 	<div id="page-wrap">
 		<textarea id="header">INVOICE</textarea>
		
		<div id="identity">
		
            <textarea id="address">
            	Dhaka science lab , suvastu Arcade
				Phone: 01687493421
			</textarea>
 		</div>
		
		<div style="clear:both"></div>
		<div id="customer">
            <table id="meta">
                <tr>
                    <td class="meta-head">Invoice #</td>
                    <td><textarea>001</textarea></td>
                </tr>
                <tr>
                     <td class="meta-head">Date</td>
                   <!-- <td><textarea id="date">August 12, 2018</textarea></td>-->
                    <td id="demo"></td>
                    <script>
                        var today = new Date();
                        var dd = today.getDate();

                        var mm = today.getMonth()+1; 
                        var yyyy = today.getFullYear();
                        if(dd<10) 
                            {
                                dd='0'+dd;
                            } 

                        if(mm<10) 
                        {
                            mm='0'+mm;
                        } 
                            today = mm+'-'+dd+'-'+yyyy;
                            document.getElementById("demo").innerHTML = today;
                    </script>
                </tr>
             
             </table>
		
		</div>
		
		<table id="items">
		
		  <tr>
		      <th>Item</th>
		      <th>Description</th>
		      <th>Unit Cost</th>
		      <th>Quantity</th>
		      <th>Price</th>
		  </tr>
		  
		  <tr class="item-row">
		      <td class="item-name"><div class="delete-wpr"><textarea>Web Updates</textarea><a class="delete" href="javascript:;" title="Remove row">X</a></div></td>
		      <td class="description"><textarea>Monthly web updates for </textarea></td>
		      <td><textarea class="cost">650.00</textarea></td>
		      <td><textarea class="qty">1</textarea></td>
		      <td><span class="price">650.00</span></td>
		  </tr>
	
		  
		  <tr id="hiderow">
		    <td colspan="5"><a id="addrow" href="javascript:;" title="Add a row">Add an Item</a></td>
		  </tr>
		  
		  <tr>
		      <td colspan="2" class="blank"> </td>
		      <td colspan="2" class="total-line">Subtotal</td>
		      <td class="total-value"><div id="subtotal">650.00</div></td>
		  </tr>
		  <tr>
 		      <td colspan="2" class="blank"> </td>
		      <td colspan="2" class="total-line">Total</td>
		      <td class="total-value"><div id="total">650.00</div></td>
		  </tr>
		</table>
		
		<div id="terms">
		  <h5>BOOK KEEPER</h5>
		 
		</div>
	
	</div>
	
</body>
 </html> 