<!DOCTYPE html>

<html lang="en" ng-app="RegApp">



<head>

    <meta charset="utf-8">

    <title>Register</title>
	  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

</head>
<style>body{font-family:"Arial";background-color:#E2E2DC}</style>
    <style>
      .username.ng-valid {
          background-color: lightgreen;
      }
      .username.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .username.ng-dirty.ng-invalid-minlength {
          background-color: yellow;
      }
 
      .email.ng-valid {
          background-color: lightgreen;
      }
      .email.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .email.ng-dirty.ng-invalid-email {
          background-color: yellow;
      }
 
</style>
<style>
	.head1
	{
		text-align:center;
		

	}
	.form-control {
    display: block;
    width: 60%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
	}

	.head2
	{
		text-align:center;
	}
	.body1
	{
	    width: 819px;
 
    margin-left: 223px;
		margin-top: 92px;
		background-color: aquamarine;
		box-shadow: 1px 0px 7px 3px #ececec;
		
	}
</style>




<body >

<div class="body1 ">

  <h2 class="head1" >Register</h2><br>

<div ng-controller="repeatCtrl">  

   <form name="RegForm" action="success.html">  


  <div class="row">
    <div class="col-sm-6 head2">First name :</div>
    <div class="col-sm-6"> <input type="text" ng-model="repeatCtrl.user.username" name="uname" class="username" placeholder="Enter your name" required ng-minlength="3"/>
              <span ng-show="RegForm.$dirty && RegForm.uname.$error.required">This is a required field</span><br/>
			             <span ng-show="RegForm.$dirty && RegForm.uname.$invalid">should have 3 characters</span><br/>
						  <span ng-show="RegForm.$dirty && RegForm.uname.$invalid">This field is invalid </span><br/><br/>
  </div><br>

  
    
      <div>  

	  
	  <div class="row">
    <div class="col-sm-6 head2">Last name :</div>
    <div class="col-sm-6"><input type="text"  required name="lastname"></div>
  </div><br>
  
  <div class="row">
    <div class="col-sm-6 head2">Gender :</div>
    <div class="col-sm-6">
	<input type="radio" name="gender" value="male" checked> Male<br>
	<input type="radio" name="gender" value="female"> Female<br></div>
  </div><br>
  

  
  <div class="row">
    <div class="col-sm-6 head2">Enter email :</div>
    <div class="col-sm-6"><input type="email" ng-model="ctrl.user.email" name="email" class="email" placeholder="Enter your Email" required/>
              <span ng-show="RegForm.$dirty && RegForm.email.$error.required">This is a required field</span><br/>
              <span ng-show="RegForm.$dirty && RegForm.email.$invalid">This field is invalid </span><br/><br/>

	</div>
	</div><br>
	
  <div class="row">
    <div class="col-sm-6 head2 ">Password :</div>
    <div class="col-sm-6 ">
	
         <input type="password" name="Pass" ng-model="Pass" required class="form-control" />  
  </div><br>
  
   <div class="row">
    <div class="col-sm-6 head2">Confirm Password :</div>
    <div class="col-sm-6 ">
	 <input type="password" name="repeatPass" ng-model="repeatPass" required compare-to="Pass" class="form-control" />   

         <span class="error text-danger" ng-show="RegForm.repeatPass.$error.compareTo">  
		 enter password<br>
		 Confirm password<br>

            Passwords din't match.  

         </span>   
        
  </div><br>  
	  <div class="row">
    <div class="col-sm-6 head2">PhoneNumber :</div>
	<div class="col-sm-6"><input type="tel"/>
	</div>
	</div><br>
<p class="head1"><input type="submit" value="Register"></p>

   </form>   

</div>



<script type="text/javascript">

  var RegApp = angular.module("RegApp", []); 



  RegApp.controller("repeatCtrl", function ($scope)  

  {  

      $scope.student = {  

          password: "",  

          repeatPassword: ""  

      };  

  });  



  RegApp.directive("compareTo", function ()  

  {  

      return {  

          require: "ngModel",  

          scope:  

          {  

              repeatPassword: "=compareTo"  

          },  

          link: function (scope, element, attributes, paramval)  

          {  

              paramval.$validators.compareTo = function (val)  

              {  

                  return val == scope.repeatPassword;  

              };  

              scope.$watch("repeatPassword", function ()  

              {  

                  paramval.$validate();  

              });  

          }  

      };  

  });  
  
 

</script>



</body>
</div>
</html>