html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title registration page
    link(rel='stylesheet', type='text/css', href='signin.css')
    style.
      #border1 {
      border: 2px solid;
      border: 10px solid;
      border-style: double;
      border-radius: 50px;
      margin-left: 400px;
      margin-right: 400px;
      padding: 2px;
      color: rgb(246, 175, 175);
      }
      #bor {
      border: 5px solid #fcf8f857;
      border-style: dotted;
      padding: 10px;
      }
  body
    //
      <div align="center" id="bor">
      <img src="logo.png" height="40%">
      </div>
    div(align='center')
      form(action='www.google.com')
        h1#bor(align='center') REGISTRATION
        #border1
          h2
            b
              u SAMPREETH
          div
          div
          div
          div
          div
          div
          div
          div
          div
            h3 Already have an account!!!
            h3
              a(href='login.html') SIGN IN
          table(cellpadding='3')
            tbody
              tr
                td
                  i First Name*
              tr
                td
                  input(type='text', size='20', autofocus='', bgcolor='powderblue', placeholder='Enter your full Name', required='')
              tr
                td
                  i
                    | Last Name*
              tr
                td
                  input(type='text', size='20', autofocus='', bgcolor='powderblue', placeholder='Enter your full Name', required='')
              tr
                td
                  i
                    | DateOfBirth
              tr
                td
                  input(type='date', size='20', autofocus='', bgcolor='powderblue', placeholder='Enter your DateOfBirth', required='')
              tr
                td
                  i
                    | EmailId
              tr
                td
                  input(type='email', size='20', autofocus='', bgcolor='powderblue', placeholder='Enter Email Id', required='')
              tr
                td
                  i
                    | Password
              tr
                td
                  input(type='password', size='20', autofocus='', bgcolor='powderblue', placeholder='Enter password', required='')
              tr
                td
                  i
                    | Mobile Number
              tr
                td
                  input(type='tel', name='MOB', required='', autocomplete='off', placeholder='Mobile')
              tr
                td
                  i
                    | gender
              tr
                td
                  input(type='radio', name='GEN', value='MALE', checked='')
                  i MALE
                  input(type='radio', name='GEN', value='Female')
                  i Female
              tr
                td
                  i
                    | Address
              tr
                td
                  textarea(rows='4', cols='50')
              tr
                td
                  input(type='submit')
                  input(type='reset')

