body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("img11.jpg");
    margin-left: 20px;
}
i{
    display: inline;
    color: rgb(13, 17, 1);
    background-color: rgb(181, 233, 12);
   font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
input[type="email"]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;

}

input[type="submit"]{
    background-color: rgb(175, 165, 76);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    opacity: 0.9;
    width: 150px;
    height: 30px;
    font-size: 20px;
    }
input[type="reset"]{
    background-color: rgb(175, 165, 76);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    opacity: 0.9;
    width: 150px;
    height: 30px;
    font-size: 20px;
}
input[type="tel"]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    
   
}
input[type="date"]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    
}
a{
    size: 30px;
}
h1{
    color:rgb(242, 243, 240);
    font-size: 60px; 
    letter-spacing: 30px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
a:hover{
    color:rgb(114, 114, 231);
    
}
a{
    color:rgb(246, 248, 246);
}
textarea{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    
}
h3{
    color: rgba(204, 72, 72, 0.911);
    font-size: 30px;
    align-content: center;
}
h2{
    color:rgb(185, 240, 6);
    font-size: 30px; 
    letter-spacing: 20px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
small{
    color: rgb(226, 236, 236);
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
