body{
    background-color: #f9fafb;
    height=100vh;                                          //100vh is 100% of the viewport.
    background-size: cover;                              //full view of background image.
    background-position: left;                         // for position.
    font-family: sans-serif
}

.Login-Page{
    width: 360px;
    height: 300px;
    padding: 10% 0 1;     
    margin: auto;
    margin-left: 180px;
}

.form{
    position:relative;
    z-index: 1;
    height: 1000px;
    width: 300px;
    background: white;        // whiteite color 
    max-width: 500px;
    margin: -150 auto 1px;
    margin-bottom: 100px;
    margin-right: 330px;
    padding: 7px;
    text-align: left;
    }
.heading{
    padding-left: 180px;
}

.para{
    padding-left: 180px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.p1{
    padding-left: 20px;
}

.h31{
    padding-left: 18px;
    margin-bottom: 10px;
}

.h31 a{
  margin-left: 30px;
  margin-bottom: 10px;    
}

a{
  margin-left: 30px;    
}

.radio1{
    padding-left: 30px;
}

.checked {
    color: orange;
}

label {
 padding:5px;
 margin:0 25 10px;
 display:block;
 height: 10px;    
}

label:hover {
 background:#eee;
 cursor:pointer;
    height: 10px;
}

.c1{
    width: 360px;
    height: 300px;
    padding: 10% 0 1;     
    margin: auto;
    margin-left: 180px;   
}

.c2{
    position:relative;
    z-index: 1;
    height: 1000px;
    width: 650px;
    background: white;        // whiteite color 
    max-width: 500px;
    margin: -150 auto 1px;
    margin-top: -585px;
    margin-left: 335px;
  
    padding: 7px;
    text-align: left;   
}

.sort-by{
    float: right;
    padding-top: 18px;
    margin-left: 100px;
}

.sort-by .a1{
    padding-right: 50px;
}

.inside1{
    
    width: 360px;
    height: 50px;
    padding: 10% 0 1;     
    margin: auto;
    margin-right: 180px;    
}

.inside2{
    border: 1px solid gray;
    position:relative;
    z-index: 1;
    height: 200px;
    width: 275px;
    background: white;        // whiteite color 
    max-width: 500px;
    margin: -150 auto 1px;
    margin-top: -950px;
    margin-left: -250px;
    padding: 10px;
    text-align: left;
    float:left;
}

.tcsicon{
    padding-left: 20px;
    
}
.b2{
    padding-top: 100px;
    margin-top: 100px;
    padding-left: 10px;
}

.fa fa-map-marker{
    padding-left: 30px;

}

.inside1 a:hover{
    color: blue;
}

.h61{
    margin-right: 10px;
}

.suitcase{
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top: 10px;
}




.inside2 button{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;                //create button will be in uppercase.
    outline: 0;
    background: lightblue;                      //green color for button.
    width=200px;
    width: 500ox;
    border:0;
    padding-right: 100px;
    margin-top: -17px;
    margin-left: 55px;
    padding: 20px;
    color:#FFFFFF;
    font-size: 15px;
    cursor: pointer;
}
.form input{
    font-family: "Roboto",sans-serif;
    outline: 1;
    background: #f2f2f2;
    width=100%;
    border:0;
    margin: 0 0 15px;
    padding: 20px;
    box-sizing: border-box; 
    font-size: 14px;
}


//add hover effect on the buttons
.inside2:hover,..inside2 button:active{
    background: blue;
}

.form .message{
    margin: 15px 0 0;
    color: white;
    font-size: 12px;
}

.form .message{
    color:black;
    text-decoration: none;
}

.form .register-form{
    display: none;
}





.inside11{
    
    width: 360px;
    height: 50px;
    padding: 10% 0 1;     
    margin: auto;
    margin-right: 180px;    
}

.inside22{
    border: 1px solid gray;
    position:relative;
    z-index: 1;
    height: 200px;
    width: 275px;
    background: white;        // whiteite color 
    max-width: 500px;
    margin: -150 auto 1px;
    margin-top: -1135px;
    margin-left: -250px;
    padding: 10px;
    text-align: left;
    float:right;
}

.ctsicon{
    padding-left: 20px;
    
}
.b3{
    height: 300px;
    padding-top: 100px;
    margin-top: 100px;
    padding-left: 10px;
}

.fa fa-map-marker{
    padding-left: 30px;

}

.inside11 a:hover{
    color: blue;
}

.h61{
    margin-right: 10px;
}

.suitcase{
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.inside22 .form22 button{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;                //create button will be in uppercase.
    outline: 0;
    background: lightblue;                      //green color for button.
    width=200px;
    width: 500ox;
    border:0;
    padding-right: 100px;
    margin-top: -17px;
    margin-left: 55px;
    padding: 20px;
    color:#FFFFFF;
    font-size: 15px;
    cursor: pointer;
}

//3rd ----------
.inside111{
    
    width: 360px;
    height: 50px;
    padding: 10% 0 1;     
    margin: auto;
    margin-right: 180px;    
}

.inside222{
    border: 1px solid gray;
    position:relative;
    z-index: 1;
    height: 200px;
    width: 275px;
    background: white;        // whiteite color 
    max-width: 500px;
    margin: -150 auto 1px;
    margin-top: -930px;
    margin-left: -50px;
    margin-right: 495px;
    padding: 10px;
    text-align: left;
    float:right;
}

.hdfcicon{
    padding-left: 20px;
    
}
.b3{
    height: 300px;
    padding-top: 100px;
    margin-top: 100px;
    padding-left: 10px;
}

.fa fa-map-marker{
    padding-left: 30px;

}

.inside11 a:hover{
    color: blue;
}

.h61{
    margin-right: 10px;
}

.suitcase{
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.inside222 .form222 button{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;                //create button will be in uppercase.
    outline: 0;
    background: lightblue;                      //green color for button.
    width=200px;
    width: 500ox;
    border:0;
    padding-right: 100px;
    margin-top: -17px;
    margin-left: 55px;
    padding: 20px;
    color:#FFFFFF;
    font-size: 15px;
    cursor: pointer;
}
//4th ----------------

.inside1111{
    
    width: 360px;
    height: 50px;
    padding: 10% 0 1;     
    margin: auto;
    margin-right: 180px;    
}

.inside2222{
    border: 1px solid gray;
    position:relative;
    z-index: 1;
    height: 200px;
    width: 275px;
    background: white;        // whiteite color 
    max-width: 500px;
    margin: -150 auto 1px;
    margin-top: -930px;
    margin-left: -50px;
    margin-right: 180px;
    padding: 10px;
    text-align: left;
    float:right;
}

.accentureicon{
    padding-left: 20px;
    
}
.b3{
    height: 300px;
    padding-top: 100px;
    margin-top: 100px;
    padding-left: 10px;
}

.fa fa-map-marker{
    padding-left: 30px;

}

.inside1111 a:hover{
    color: blue;
}

.h61{
    margin-right: 10px;
}

.suitcase{
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.inside2222 .form2222 button{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;                //create button will be in uppercase.
    outline: 0;
    background: lightblue;                      //green color for button.
    width=200px;
    width: 500ox;
    border:0;
    padding-right: 100px;
    margin-top: -17px;
    margin-left: 55px;
    padding: 20px;
    color:#FFFFFF;
    font-size: 15px;
    cursor: pointer;
}

//5th-----------------------------

.inside11111{
    
    width: 360px;
    height: 50px;
    padding: 10% 0 1;     
    margin: auto;
    margin-right: 180px;    
}

.inside22222{
    border: 1px solid gray;
    position:relative;
    z-index: 1;
    height: 200px;
    width: 275px;
    background: white;        // whiteite color 
    max-width: 500px;
    margin: -150 auto 1px;
    margin-top: -680px;
    margin-left: -50px;
    margin-right: 180px;
    padding: 10px;
    text-align: left;
    float:right;
}

.neutrinosicon{
    padding-left: 20px;
    
}
.b3{
    height: 300px;
    padding-top: 100px;
    margin-top: 100px;
    padding-left: 10px;
}

.fa fa-map-marker{
    padding-left: 30px;

}

.inside11111 a:hover{
    color: blue;
}

.h61{
    margin-right: 10px;
}

.suitcase{
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.inside22222 .form22222 button{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;                //create button will be in uppercase.
    outline: 0;
    background: lightblue;                      //green color for button.
    width=200px;
    width: 500ox;
    border:0;
    padding-right: 100px;
    margin-top: -17px;
    margin-left: 55px;
    padding: 20px;
    color:#FFFFFF;
    font-size: 15px;
    cursor: pointer;
}

//6th--------------------

.inside111111{
    
    width: 360px;
    height: 50px;
    padding: 10% 0 1;     
    margin: auto;
    margin-right: 180px;    
}

.inside222222{
    border: 1px solid gray;
    position:relative;
    z-index: 1;
    height: 200px;
    width: 275px;
    background: white;        // whiteite color 
    max-width: 500px;
    margin: -150 auto 1px;
    margin-top: -680px;
    margin-left: -20px;
    margin-right: 495px;
    padding: 10px;
    text-align: left;
    float:right;
}

.neutrinosicon{
    padding-left: 20px;
    
}
.b3{
    height: 300px;
    padding-top: 100px;
    margin-top: 100px;
    padding-left: 10px;
}

.fa fa-map-marker{
    padding-left: 30px;

}

.inside111111 a:hover{
    color: blue;
}

.h61{
    margin-right: 10px;
}

.suitcase{
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.inside222222 .form222222 button{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;                //create button will be in uppercase.
    outline: 0;
    background: lightblue;                      //green color for button.
    width=200px;
    width: 500ox;
    border:0;
    padding-right: 100px;
    margin-top: -17px;
    margin-left: 55px;
    padding: 20px;
    color:#FFFFFF;
    font-size: 15px;
    cursor: pointer;
}

.hea{
    text-align: center;
}
