<html>
    <head>
        <title>Crazy World!</title>
        <link rel="stylesheet" type="text/css"  href="style.css">
        <script data-require="jquery@1.11.3" data-semver="1.11.3" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        
        <link rel="stylesheet" href="style.css" />
        <script src="script.js"></script>
    </head>

    <body ng-app="App" ng-controller="demoCtrl">
        <h2 style="background-color:lightgray" align="center">Welcome to crazy world! </h2>
        <div class="Login-Page">
           <div class=form>
               <form  method="post" action="register_success.html"class="register-form" name="registerForm">

                   <input type="text" placeholder="user name"/>
                   <input type="email" placeholder="email-id" required/>
                   <input type="password" placeholder="password" ng-model="newUser.userPassword" name="userPassword" required ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$/" required/>
                     
                   <div ng-messages="registerForm.userPassword.$error">
          <br>
          <div style="color:dodgerblue" ng-show="registerForm.userPassword.$error.required">Required!</div><br>
          <div style="color:orange" ng-show="!registerForm.userPassword.$valid">Password should be at least 8 characters
            long and should contain one number,one character and one special
              character</div></div>
           <div style="color: green" ng-show="registerForm.userPassword.$valid">Perfect password.</div>           
                   <input type="password" placeholder="conform password" required/>
                   <input type="text" placeholder="mobile number"><br>
                   <a href="register_success.html"><button >Register</button></a>
                   <p class="message">Already Registered? <a href="#">Login</a></p>
               </form>

               <form method="post" action="login_success.html"class="login-form">
                   <input type="text" placeholder="user name" required/>
                   <input type="password" placeholder="password" required/>
                   <button><a href="login_success.html">login</a></button>
                   <p class="message" >Forgot Password? <a href="www.changepassword.com">Click-here</a></p>
                   <p class="message" >Not Registered? <a href="#">Register</a></p>
               </form>
            </div>
        </div>

        <!-- using jquery for, if i click on register-form it should open same as with login-form -->


        <script src='https://code.jquery.com/jquery-3.3.1.min.js'>
            </script>
        <script>
          $('.message a').click(function(){
              $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
          });
        </script>
    </body>
</html>