<!DOCTYPE html>

  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

  <script defer src="assets/js/fontawesome.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    body {
      background-color: #f5f5f5;
      margin: 0;
      font-size: 28px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .header {
      background-color: #534d64;
      padding: 30px;
      text-align: center;
    }

    #navbar {
      overflow: hidden;
      background-color: #534d64;
      padding: 10px 2% 10px 2%;
    }
    * {box-sizing: border-box;}

   .button {
    color: red;
    padding:0.7% 9.6%;
    text-align:block;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #F08377;
    color: white;
    border: 2px solid;
}

.button1:hover {
    background-color: #bec8d0;
    color: white;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ddd;
   color: black;
   text-align: left;
}



  </style>




  <div id="navbar">
    <img src="assets/img/1b.png" alt="" style="width:12%;">

  </div>
<div>
  <img src="assets/img/1b.png" style="padding: 10% 45%;width:104%;">
</div>
    <form [formGroup]="loginform" action="login" method="POST">
        <div class="form-group">
    <div class="input-group" style="width: 445px;margin-left: 43%;margin-top:-100px;">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input type="text" formControlName="uName"  class="form-control" [(ngModel)]="userModel.uName" placeholder="Username" style="height: 48px;width: 61%;border-radius: 8px;border-style: groove;" required>
    </div><br>

    <div class="input-group" style="width: 445px;margin-left: 43%;margin-top: -3px;">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input type="password" formControlName="uPassword" class="form-control" [(ngModel)]="userModel.uPassword" placeholder="Password"style="height: 48px;width: 61%;border-radius: 8px;border-style: groove;" required>
    </div>
    <br>



    <div style="margin-top: -2%;"><button (click)="Postlogin()" class="button button1" style="margin-left: 607px;margin-top: 29px;border-radius: 5px;margin-bottom: 25px;"><a routerLink="/dashboard">LOG IN</a></button></div>

</div>
  </form><br>
  <div class="footer">
    <pre style="font-family:TimesNewRoman;">&copy; Supercharged by SuiteCRM    &copy; Powered by SugarCRM</pre>

  </div>

