<html>
<head>
    <title>Login form</title>
    </head>
 <body >
        <div class="signupbox">
            
          <h1>Signup</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
                  <div class="form-group">
                        <label>User Name</label>
                        <input type="text" formControlName="userName" class="form-control" 
                        [ngClass]="{ 'is-invalid': submit && logForm.userName.errors }"
                         [(ngModel)]="model.userName" />
                        <div *ngIf="submit && logForm.userName.errors" class="invalid-feedback e">
                            <div *ngIf="logForm.userName.errors.required" style="color:red;">UserName is required</div>
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="userPassword" class="form-control" [ngClass]="{ 'is-invalid':submit && logForm.userPassword.errors }"
                        [(ngModel)]="model.userPassword"  />
                        <div *ngIf="submit && logForm.userPassword.errors" class="invalid-feedback e">
                            <div *ngIf="logForm.userPassword.errors.required">Password is required</div>
                            <div *ngIf="logForm.userPassword.errors.minlength">Password must be at least 8 characters</div>
                        </div>
                    </div>
                     
                     

                  
                      <div class="form-group">
                        <button class="btn btn-primary" (click)="logData()">Login</button>
                    </div>
                      
                  </form>

                  
        </div> 
         
 </body>     
</html>