
<div class="container-fluid">
    <div style="float:right;">
      <p>Trial / Subscription expired?</p>
      <!-- <p>Welcome </p>-->
      <p><a class="aa" href="/logout">logout</a></p>
    </div>

    <div  style="padding:22px;padding-right: 30px;top:0px;width: 100%">
      <img src="assets/images/web-logo..png"></div>
  </div>
  <div class="logindiv">
    Welcome
  </div>



<mat-tab-group style="font-size:2rem;">
  <mat-tab label="HOME"> 
      <p>NAMASTEEE</p>
  </mat-tab>

  <mat-tab label="Profile"> 
   <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
        <div class="row">

          <div class="col-sm-2">
            <h4 style="text-align:center"> FirstName*</h4>
          </div>
          <div class="col-sm-10"><input type="text" name="sname" value='{{Fname}}' required></div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h4 style="text-align:center"> LastName*</h4>
          </div>
          <div class="col-sm-10"><input type="text" name='slname' value='{{Lname}}' required></div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h4 style="text-align:center">Country*</h4>
          </div>
          <div class="col-sm-10"><input type="text" name='scountry' value='{{country}}' required></div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h4 style="text-align:center">Phone*</h4>
          </div>
          <div class="col-sm-10"><input type="text" name="stele" value='{{tele}}' required></div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h4 style="text-align:center">GSTIN:</h4>
          </div>
          <div class="col-sm-10"><input type="text" name="sgst" value='{{gst}}' required></div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h4 style="text-align:center">Password</h4>
          </div>
          <div class="col-sm-10"><input type="text" name="spass" value='{{password}}' required></div>

        </div>
        <div class="row">
          <div class="col-sm-3"></div>

          <div class="col-sm-3"><input class="registerbtn" type="submit" value="Update Profile" /> </div>
          <div class="col-sm-6"></div>
        </div>

         </form>
   </mat-tab>

  <mat-tab label="Transaction"> Transaction </mat-tab>
</mat-tab-group>

