.component1{
    border: 2px solid red;
    padding: 20px;
}
.btn{
    border-radius:3px;
    height: 28px;
    width: 60px;
    border: 1px solid blue;
    background: blue;
}
input{
    height: 28px;
    border-radius: 3px;
    border: 1px solid black;
    padding: 0px 5px ;
    width: 50%;
}