<p>
  component1 works!
</p>
<div class='component1'>
  <label>Enter the server name and click the server button</label><br>  
  <input type="text" class='form-control' [(ngModel)]='inputText'>
  <button class="btn" type="button" (click)='display()'>Server</button><br><br>
  {{inputText}}

  <h3>Storing input data into services after retreivng the data from services and displaying it. </h3>
  <app-component2 *ngFor="let data of textArray" [inputText]='data'></app-component2>
</div>