<a routerLink="/Index"><button class="btn btn primary">BACK</button></a>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="assets/css/linearicons.css">
    <link rel="stylesheet" type="text/css" href="assets/css/boot.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootsnav.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquerysctipttop.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/jquery.DonutWidget.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="assets/css/footer.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/angular-calendar.css">


<style>

    h3 {
      margin: 0 0 10px;
    }
     div{
       display:flex;
     }
    pre {
      background-color: #f5f5f5;
      padding: 15px;
    }
  </style>

      <button class="btn btn primary" (click)="addEvent()">ADD</button>

      <a routerLink="/login"><button class="btn btn primary" (click)="logout()" style="text-align:right">Logout</button></a>

      <a routerLink="/display"><button class="btn btn primary" >Email Us</button></a>


<form [formGroup]="eventform" action="event" method="POST" enctype="multipart/form-data">
    <div class="form-group">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th> </th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Browser File</th>
          <th>Save</th>
          <th>Remove</th>
        </tr>
      </thead>

      <tbody>
          <tr *ngFor="let event of events; let index = index">

          <td>
            <input
              type="text"
              name="title"
              formControlName="title"
              [(ngModel)]="eventform.title"
              (keyup)="refresh.next()">
          </td>
          <td>


          <td>
            <input
              class="form-control"
              type="text"
              name="start"
              formControlName="start"
              mwlFlatpickr
              [(ngModel)]="eventform.start"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set">
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              name="end"
              formControlName="end"
              mwlFlatpickr
              [(ngModel)]="eventform.end"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set">
          </td>
          <td>
            <input type="file" name="Path" class="form-control" formControlName="Path" [(ngModel)]="eventform.Path">
          </td>

          <td>
              <button (click)="postEvent()" class="btn-btn-danger">SAVE</button>
          </td>
          <td>

            <button
              class="btn btn-danger"
              (click)="events.splice(index, 1); refresh.next()">
              Delete
            </button>
          </td>
        </tr>

      </tbody>

    </table>
    </div>
</form>

<button class="btn btn primary" (click)="getevent()" style="text-align:right">showevent</button>




