body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}
select{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #d2cece;
    box-shadow: 4px 2px 13px -3px #cac6c6;
     border-radius: 7px;
     background-color: white;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 16px;
    background-color: white;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #d2cece;
    box-shadow: 4px 2px 13px -3px #cac6c6;
     border-radius: 7px;

}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}



input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #d2cece;
    box-shadow: 4px 2px 13px -3px #cac6c6;
     border-radius: 7px;

}

input[type=number]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: rgb(216, 213, 213);
    color: black;
    padding: 16px 20px;
    margin: 19px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border: 1px solid rgba(162, 163, 167, .1);
background-color: #abaeb2;
font-size:16px;
}

.registerbtn:hover {
    opacity: 1;
}


a {
    color: dodgerblue;
}


.signin {
    background-color: #f1f1f1;
    text-align: center;
}
.aa{
font-size: 15px;
display: inline-block;
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;

}



a {
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-decoration: none;
transition: color 0.1s, background-color 0.1s;
}
a {
position: relative;
display: block;
padding: 0px 0;
margin: 1px 3px;
letter-spacing: 1px;
font-size: 20px;
line-height: 16px;
font-weight: 900;
text-transform: uppercase;
transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
color: #000;

}
/*a::before {
content: '';
display: block;
position: absolute;
bottom: 3px;
left: 0;
height: 3px;
width: 100%;
background-color: rgb(19, 177, 19);
transform-origin: right top;
transform: scale(0, 1);
transition: color 0.1s,transform 0.2s ease-out;
}*/
a:active::before {
background-color: #000;
}
a:hover::before, a:focus::before {
transform-origin: left top;
transform: scale(1, 1);
}
.logindiv{
display:subgrid;
background-color: rgb(9, 63, 9);
padding: 29px;
color: white;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:40px;
margin-bottom: 2%;
padding:2%;
}
.abc{
display: inline-block;
padding: 20px 0 20px;
vertical-align: middle;
}
<!--footer-->


.class1{

background-color: #2e3339;
font-weight: 400;
font-size: 16px;
cursor: default;
color: #eeeded;
padding: 10px;
font-size: 14px;
font-family: Roboto,sans-serif;

}
.class2{
width: .5rem;

color: #999;
font-size:12px;
}
.class3{
text-align:center;
}
.class3{
text-align:center;
}
.class4{
display: inline-block;
height: 28px;
width: 28px;
margin-left: 5px;
padding: 0;
background: url(//static.naukimg.com/s/5/100/i/socialSharing.png) repeat-y;
color: #0074ad;
text-decoration: none;
}

.container-fluid.footerColor {
background-color: #2e3339;

}

button.btn.btn-fb {
background: #3b5998;
color: white;
}
button.btn.btn-tw {
background: #00acee;
color: white;
}

button.btn.btn-gplus {
background:#dd4b39;
color: white;
}

button.btn.btn-li{
background: #0e76a8;
color: white;
}
